.cp__palette, .cp__select {
  --palettle-input-height: 64px;
  --palettle-container-height: 75vh;

  &-main {
    max-height: var(--palettle-container-height);
    margin: -2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    @screen lg {
      width: var(--ls-main-content-max-width);
    }

    .menu-link {
      transition: none;
      border: none;
      border-radius: unset !important;
    }

    .chosen {
      background-color: var(--ls-quaternary-background-color);
    }

    .command-results-wrap,
    .item-results-wrap,
    .search-results-wrap > div:first-child {
      overflow-x: hidden;
      overflow-y: auto;
      max-height: calc(var(--palettle-container-height) - var(--palettle-input-height));
    }

    .input-wrap {
      height: var(--palettle-input-height);
    }
  }

  &-input {
    padding: 16px;
    font-size: 20px;
    outline: none;
  }

  &-results {
    .tip code {
      white-space: nowrap;
    }
  }
}

html.is-ios {
    .cp__palette-main {
        margin-bottom: 0px;
    }
}

.cards-review .cp__select {
    &-main {
        margin: 0;
        @screen lg {
            width: 240px;
        }
    }

    .input-wrap {
        height: initial;
    }

    &-input {
        padding: 16px;
        font-size: 16px;
    }
}
