#diffs-body {
  textarea {
    color: var(--ls-primary-text-color, #a4b5b6);
  }
}

.cp__diff-file {
  @apply mb-3;
 }

.cp__diff-file-header {
  background-color: var(--ls-secondary-background-color);
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.cp__diff-file-header-content {
  @apply truncate

}

.cp__diff-file-header-type {
  @apply text-sm font-medium ml-2 border rounded px-1;
}
