.cp__diff-file {
    @apply mb-3;

    textarea {
        min-height: 20vh;

        @screen sm {
            min-height: 50vh;
        }
    }
 }

.cp__diff-file-header {
  background-color: var(--ls-secondary-background-color);
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.cp__diff-file-header-content {
    @apply truncate;
    overflow-wrap: break-word;
}

.cp__diff-file-header-type {
  @apply text-sm font-medium ml-2 border rounded px-1;
}
