#draw {
  -webkit-app-region: no-drag;
  overflow: hidden;
}

#draw iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.draw {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.excalidraw-embed .draw {
  position: relative;
}