.cp__file-sync {
  &-indicator {
    --ls-color-file-sync-error: #ff0000;
    --ls-color-file-sync-pending: #ffbb4d;
    --ls-color-file-sync-idle: #04b404;

    a.cloud {
      position: relative;
      opacity: 1 !important;
      cursor: pointer;

      &:active {
        opacity: .5 !important;
      }

      .ti {
        opacity: .5;
      }

      &:hover .ti {
        opacity: .9;
      }

      &.on {
        &:after {
          content: " ";
          position: absolute;
          bottom: 7px;
          right: 2px;
          width: 7px;
          height: 7px;
          background-color: var(--ls-color-file-sync-error);
          border-radius: 100%;
          opacity: 1;
        }

        &.syncing {
          &:after {
            background-color: var(--ls-color-file-sync-pending);
          }
        }

        &.queuing {
          &:after {
            background-color: var(--ls-color-file-sync-pending);
          }
        }

        &.idle {
          &:after {
            background-color: var(--ls-color-file-sync-idle);
          }
        }
      }

      small.full-loading {
        position: absolute;
        transform-origin: center;
        top: 14px;
        right: 0;
        display: flex;
        line-height: 1em;
        overflow: hidden;
        z-index: 2;
        color: var(--ls-color-file-sync-pending);

        > .ti {
          font-size: 11px;
          line-height: 1em;
          font-weight: 500;
        }
      }
    }

    .debug-status {
      position: absolute;
      top: 0;
      right: 0;
      background: #bd0000;
      color: white;
      font-size: 14px;
      padding: 5px 8px;
    }

    .dropdown-wrapper {
      width: 90vw;
      max-height: 80vh;
      overflow: hidden;
      overflow-y: auto;
      position: fixed;
      right: 60px;

      @screen md {
        width: 400px;
        position: absolute;
        right: -10px;
      }

      > .py-1 {
        padding: 0;
      }

      .menu-link {
        white-space: normal;
        word-break: break-all;
      }
    }
  }

  &-page-histories {
    @apply flex;

    width: unset;
    height: 85vh;
    margin: 20px -32px -32px -32px;
    overflow: hidden;
    border-top: 1px solid var(--ls-tertiary-border-color);

    @screen md {
      width: 90vw;
    }

    > h1 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 90%;
    }

    &-left {
      @apply flex h-full;

      visibility: hidden;
      flex-basis: 100%;

      .version-list {
        @apply list-none m-0 h-full;

        overflow-y: auto;
        flex-basis: 30%;
        border-right: 1px solid var(--ls-tertiary-border-color);

        &-item {
          .item-link {
            @apply py-2 px-3;

            border-bottom: 1px solid var(--ls-tertiary-border-color);
            transition: background-color .3s;

            &:hover, &.active {
              background-color: var(--ls-tertiary-background-color);
            }

            &:active {
              opacity: .8;
            }

            > strong {
              display: block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }

      > article {
        @apply flex-1 overflow-hidden h-full;

        /* fix inner content overflow */
        width: 0;

        .raw-content-editor, .extensions__code {
          height: 99.9%;
        }

        .extensions__code-lang {
          display: none;
        }

        .code-editor {
          margin-top: 0;
        }
      }

      @screen md {
        flex-basis: 60%;
      }
    }

    &-right {
      @apply flex-1 h-full hidden pt-4;

      visibility: hidden;
      border-left: 1px solid var(--ls-secondary-border-color);
      padding-left: 30px;
      padding-bottom: 50px;
      overflow-y: auto;

      @screen md {
        display: block;
      }
    }

    &.is-list-ready {
      .cp__file-sync-page-histories {
        &-left, &-right {
          visibility: visible;
        }
      }

      .ready-loading {
        display: none;
      }
    }
  }
}

div[label=modal-page-histories] {
  .panel-content {
    overflow: hidden;
  }
}
