.cp__header {
  @apply shadow z-10 h-12;
  -webkit-app-region: drag;

  padding-right: 1rem;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  background-color: var(--ls-primary-background-color, #fff);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  right: 0;
  user-select: none;
  transition: width 0.3s;

  .it svg {
    transform: scale(0.8);
  }

  .repos {
    .dropdown-wrapper {
      left: unset;
      right: -46px;
      min-width: 14rem;
    }
  }

  &.electron-mac {
    height: 38px;

    .refresh {
      margin: 0;
    }

    #repo-switch {
      display: flex;
      align-items: center;
    }

   

    svg {
      width: 18px;
      height: 18px;
    }

    .navigation svg {
      width: 24px;
      height: 24px;
    }

    .open-button {
      &__inner {
        @apply items-center;

        svg {
          width: 18px;
          height: 18px;
        }
      }
    }

  }
}

.is-electron.is-mac .cp__header {
    padding-left: 72px;
    -moz-transition: padding-left .3s ease-in;
    -o-transition: padding-left  .3s ease-in;
    -webkit-transition: padding-left  .3s ease-in;
    transition: padding-left  .3s ease-in;
}

.cp__header .navigation svg {
    transform: scale(0.7);
}

.is-electron.is-mac.is-fullscreen .cp__header {
    padding-left: 0;
}

.cp__header a, .cp__header svg {
    -webkit-app-region: no-drag;
}

.cp__header-left-menu {
  @apply px-4 mr-4;
  border-right: 1px solid var(--ls-secondary-background-color);
  color: var(--ls-link-text-color);
  display: block;
  height: 100%;
}

.cp__header-left-menu:focus {
  @apply outline-none;
  background: var(--ls-menu-hover-color);
}

.cp__header-logo {
  @apply px-4;
  height: 100%;
}

.cp__header-logo,
.cp__right-menu-button {
  opacity: 0.3;
}

.cp__header-logo {
  display: none;
}

.cp__header-logo:hover,
.cp__right-menu-button:hover {
  opacity: 1;
}

.cp__header-logo-img {
  width: 24px;
  height: 24px;
}

.cp__right-menu-button {
  @apply ml-3;
}

.cp__right-menu-button {
  display: block;
}

@screen sm {
  .cp__header {
    @apply shadow-none;
  }

  .cp__header-left-menu {
    display: none;
  }

  .cp__header-logo {
    display: flex;
    align-items: center;
  }
}

#repo-name {
  @apply md:max-w-none;
  vertical-align: middle;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 7ch;
  color: var(--ls-icon-color, #045591);
}
