.cp__header {
  @apply shadow z-10 h-12;
  -webkit-app-region: drag;

  padding-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 auto;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  right: 0;
  user-select: none;
  line-height: 1;

  > .l {
    width: var(--ls-left-sidebar-width);
    height: 100%;
    align-items: center;
    transition: padding-left .2s;
  }

  > .r {
    align-items: center;
  }

  .it svg {
    transform: scale(0.8);
  }

  a.button {
    margin: 0 4px;
    height: 30px;
    min-width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .5;

    .ti {
      font-size: 20px;
    }
  }

  svg.warning {
    transform: scale(0.6);
    color: red;
  }

  &-tips {
    position: absolute;
    width: 100%;
    padding: 0 0;
    transform: translateY(100%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ls-secondary-background-color);
    box-sizing: border-box;
    margin: 0;
    left: 0;
    top: -2px;
    color: var(--ls-secondary-text-color);

    > p {
      margin: 0;
      display: flex;
      align-items: center;
      font-size: 14px;
    }

    a {
      color: var(--ls-link-text-color) !important;
    }

    a.restart {
      position: relative;
      cursor: pointer !important;
      display: flex;
      align-items: center;

      svg {
        color: currentColor !important;
      }

      > strong {
        display: inline-block;
        padding-left: 2px;
      }
    }
  }
}

.is-electron.is-mac .cp__header {
  > .l {
    padding-left: 78px;
  }
}

.cp__header .navigation svg {
  transform: scale(0.7);
}

.is-electron.is-mac.is-fullscreen .cp__header > .l {
  padding-left: 0;
}

.cp__header a, .cp__header svg {
  -webkit-app-region: no-drag;
}

.cp__header-logo {
  @apply p-2;
}

.cp__header-logo {
  display: none;
}

.cp__header-logo:hover {
  opacity: 1;
}

.cp__header-logo-img {
  width: 24px;
  height: 24px;
}

@screen sm {
  .cp__header {
    @apply shadow-none;
  }

  .cp__header-logo {
    display: block;
  }
}

.cp__header-logo svg {
  transform: scale(0.9);
}

#repo-name {
  display: table-cell;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 15ch;
  height: 14px;
}

a.button {
  padding: 0.25rem;
  opacity: 0.6;
  display: block;
  border-radius: 4px;

  &:hover, &.active {
    opacity: 1;
    background: var(--ls-tertiary-background-color);
  }
}

.is-mac.is-electron :is(.cp__header, .cp__right-sidebar-topbar) :is(button, .button, a) {
  cursor: default !important;
}
