.cp__header {
  @apply shadow z-10 h-12;
  -webkit-app-region: drag;

  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  background-color: var(--ls-primary-background-color, #fff);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  right: 0;
  user-select: none;
  transition: width 0.3s;
  line-height: 1;

  .it svg {
    transform: scale(0.8);
  }

  .repos {
    .dropdown-wrapper {
      left: unset;
      right: -46px;
      min-width: 14rem;
    }
  }

  a.button {
    margin: 0 4px;
  }

  svg.warning {
    transform: scale(0.6);
    color: red;
  }
}

.is-electron.is-mac .cp__header {
    padding-left: 78px;
    -moz-transition: padding-left .3s ease-in;
    -o-transition: padding-left  .3s ease-in;
    -webkit-transition: padding-left  .3s ease-in;
    transition: padding-left  .3s ease-in;
}

.cp__header .navigation svg {
    transform: scale(0.7);
}

.is-electron.is-mac.is-fullscreen .cp__header {
    padding-left: 0;
}

.cp__header a, .cp__header svg {
    -webkit-app-region: no-drag;
}

.cp__header-left-menu {
  @apply px-4 mr-4;
  border-right: 1px solid var(--ls-secondary-background-color);
  color: var(--ls-link-text-color);
  display: block;
  height: 100%;
}

.cp__header-left-menu:focus {
  @apply outline-none;
  background: var(--ls-menu-hover-color);
}

.cp__header-logo {
  @apply p-2;
}

.cp__header-logo {
  display: none;
}

.cp__header-logo:hover {
  opacity: 1;
}

.cp__header-logo-img {
  width: 24px;
  height: 24px;
}

@screen sm {
  .cp__header {
    @apply shadow-none;
  }

  .cp__header-left-menu {
    display: none;
  }

  .cp__header-logo {
    display: block;
  }
}

.cp__header-logo svg {
    transform: scale(0.9);
}

#repo-name {
  vertical-align: middle;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 7ch;
  color: var(--ls-icon-color, #045591);
  height: 14px;
}

a.button {
    padding: 0.25rem;
    opacity: 0.6;
    display: block;
    border-radius: 4px;
}

a.button:hover {
    opacity: 1;
    background: var(--ls-tertiary-background-color);
}

.is-mac.is-electron :is(.cp__header, .cp__right-sidebar-topbar) :is(button, .button, a) {
    cursor: default !important;
}
