#journals {
  textarea {
    word-break: break-word;
    overflow: hidden;
    resize: none;
  }

  .journal-item {
    @apply border-b min-h-[250px] pb-[64px] mb-[38px];

    &:first-child {
      @apply pt-0 min-h-[500px];
    }

    &:last-child {
      @apply border-none;
    }
  }
}
