#journals {
  textarea {
    word-break: break-word;
    overflow: hidden;
    resize: none;
  }

  .journal-item {
    border-top: 1px solid;
    border-top-color: or(--logseq-og-journal-page-rule, --lx-gray-07, --ls-border-color, #738694);
    margin: 24px 0;
    padding: 24px 0;
    min-height: 250px;

    &:first-child {
      padding-top: 0;
      border-top: none;
      min-height: 500px;
    }
  }
}
