.page-references h2 {
  color: var(--ls-title-text-color);
}

.cp__page {
  &-publish-actions {
    background-color: var(--ls-primary-background-color);
    padding: 50px 0;
    margin: -1.5rem;

    > h1 {
      font-size: 18px;
      padding: 15px;
      text-align: center;
    }

    > .it {
      display: flex;
      justify-content: center;
      padding-top: 5px;
      padding-bottom: 5px;

      button {
        width: 90%;
        justify-content: center;
        padding: 15px 0;
      }
    }
  }
}

.cp__vertial-menu-button {
    opacity: 0.3;
    display: block;
}

.cp__vertial-menu-button:hover {
    opacity: 1;
}

.cp__vertial-menu-button svg {
    width: 20px;
    height: 20px;
}
