.page-references h2 {
  color: var(--ls-title-text-color);
}

.cp__page {
  &-publish-actions {
    background-color: var(--ls-primary-background-color);
    padding: 50px 0;
    margin: -1.5rem;

    > h1 {
      font-size: 18px;
      padding: 15px;
      text-align: center;
    }

    > .it {
      display: flex;
      justify-content: center;
      padding-top: 5px;
      padding-bottom: 5px;

      button {
        width: 90%;
        justify-content: center;
        padding: 15px 0;
      }
    }
  }
}

.cp__vertical-menu-button {
    opacity: 60%;
    display: block;
}

.cp__vertical-menu-button:hover {
    opacity: 1;
}

.cp__vertical-menu-button svg {
    width: 20px;
    height: 20px;
}

.graph-filters {
    width: 200px;
    background: var(--ls-secondary-background-color);
}

.graph-filters ul {
    margin-left: 0;
}

.graph-filters li {
    list-style: none;
    margin: 0;
}

.graph-layout {
    background: var(--ls-secondary-background-color);
}

.search-filter-close svg {
    transform: scale(0.7);
}

/* Change to another cursor style if Shift key is active */
[data-active-keystroke*="Shift" i]
:is(.journal-title, .page-title,
    .block-ref, .page-ref, a.tag,
    .bullet-container.cursor) {
  cursor: e-resize;
}
