.property-configure {
    min-width: 32rem;
    padding: 2px;

    .form-input, .form-select {
        line-height: 1rem;
        padding: 0.25rem 0.5rem;
    }
}

.property-value-content {
    cursor: text;
    min-height: 24px;
}

/* .property-value-content:hover { */
/*     background: var(--ls-secondary-background-color); */
/* } */

.ls-block .ls-properties-area, .property-block-container {
    border-left: 1px solid;
    border-left-color: or(--lx-gray-04-alpha, --ls-guideline-color, #ddd) !important;
}

.ls-page-properties > .ls-properties-area > .property-block {
    margin-left: -22px;
}

.ls-block .ls-properties-area {
    margin-left: 0;
}

.ls-block .property-pair, .property-block .property-value, .property-template .property-pair {
    padding-left: 22px;
}

.block-property-value {
    margin-left: 7px;
}

.grid-auto-fit {
    grid-template-columns: repeat(auto-fit, 120px);
}

.ls-properties-area {
    @apply grid gap-2 pt-1;

    .property-pair {
        @apply grid grid-cols-5 gap-1;
        /* grid-template-columns: repeat(auto-fit, 120px); */
    }

    .add-button-link {
        opacity: 0.5;
    }

    tr:nth-child(even), tr:nth-child(odd) {
        background: none;
    }

    .editor-inner {
        padding: 0;
        width: 100%;
    }

    .cp__select-main {
        width: fit-content;
        margin: 0;

        .ui__dropdown-trigger {
            position: absolute;

            .dropdown-wrapper {
                left: 0;
            }
        }
    }

    .cp__select .input-wrap {
        height: auto;
        min-width: 14em;
    }

    .cp__select .input-wrap input.cp__select-input {
        border: none;
    }

    .cp__select .input-wrap input.cp__select-input:focus {
        outline: none;
        box-shadow: none;
    }

    .ls-block {
        margin: 0;
    }

    .property-key a {
        color: var(--ls-primary-text-color);
    }

    .property-key a:hover {
        color: var(--ls-link-text-hover-color);
    }
}

.block-main-container .ls-properties-area {
    margin-top: 0.25em;
}

input.simple-input {
    @apply px-1;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid;
}

input.simple-input:focus {
    box-shadow: none;
}

.page-configure {
    @screen md {
        max-width: 720px;
    }
}

.property-key .bullet-container .bullet, .ls-property-input .bullet-container .bullet {
    background-color: darkgrey;
}

/* TODO:  */
.page-add-tags, .page-tags, .property-select, .ls-property-add {
    .cp__select-main {
        width: fit-content;
        margin: 0;

        .ui__dropdown-trigger {
            position: absolute;

            .dropdown-wrapper {
                left: 0;
            }
        }

        .item-results-wrap {
            max-height: calc(var(--palettle-container-height) - var(--palettle-input-height) - 150px);
        }
    }

    .cp__select .input-wrap {
        height: auto;
        min-width: 14em;
    }

    .cp__select .input-wrap input.cp__select-input {
        border: none;
    }

    .cp__select .input-wrap input.cp__select-input:focus {
        outline: none;
        box-shadow: none;
    }

    .cp__select-input {
        @apply px-4 py-2;
    }
}

.ls-property-add {
    .cp__select-input {
        padding: 0;
    }
}

.property-configure {
    .cp__select-input {
        @apply px-4 py-2;
    }
}

.ls-property-input {
    min-height: 1.5em;
}

.page-title .page-tags {
    font-size: 1em;
    font-weight: 400;
}

a.control-link {
    @apply select-none;
    color: var(--ls-primary-text-color);

    span {
        @apply select-none;
    }
}

.property-key {
    h1.title, h2.title {
        border-bottom: 0;
        padding-bottom: 0;
    }

    h1.title {
        margin-bottom: 1.5rem;
    }

    h2.title {
        margin-bottom: 1rem;
    }
}
