.property-value-content {
  cursor: text;
  min-height: 24px;
}

.ls-properties-area {
    .add-button-link {
        opacity: 0.5;
    }

    tr:nth-child(even), tr:nth-child(odd) {
        background: none;
    }
}

input.simple-input {
    padding-left: 0;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid;
}

input.simple-input:focus {
    box-shadow: none;
}
