#cp__publishing-pj-ct{
 padding: 10px;
 background-color: var(--ls-quaternary-background-color);
}

.cp__publishing-pj{
 padding: 5px;
 margin: 5px;
}

.cp__publishing-pj-name {
 font-size: 25px;
 color: var(--ls-primary-text-color);
}

.cp__publishing-edit{
  font-size: 20px;
  margin-left: 40px;
  opacity: .5;
}

.cp__publishing-edit:hover{
  font-size: 20px;
  margin-left: 40px;
  opacity: .6;
}

.cp__publishing_pj_edit {
  padding: 5px;
  margin: 5px;
}

.cp__publishing-pj-bt {
  margin: 5px 5px;
}

#cp__publishing-project-input{
  border-width: thin;
  padding: 0 10px;
  display: inline-block;
  margin: 5px;
  border-radius: var(--ls-border-radius-low);
  border-color: var(--ls-border-color);
}

#cp__publishing-pg-ct {
  margin-top: 30px;
  padding: 10px;
}