.cp__repo-indicator {
  .sync-content {
    max-height: 80vh;
    overflow: auto;

    p {
      margin: 0.25rem 0;
    }
  }
}

.repo-plus svg {
  display: inline;
  transform: scale(0.7);
}

.ui__dropdown-menu-content {
  &.repos-list {
    @apply px-2;
    @apply min-w-[260px] sm:max-w-[380px] max-h-[70vh];

    .ui__dropdown-menu-item {
      @apply overflow-hidden overflow-ellipsis;
    }
  }
}

.cp__repos-select {
  &-trigger {
    @apply flex items-center p-2 text-sm font-medium rounded-md;

    .repo-switch {
      @apply flex w-[90%] overflow-hidden items-center select-none;
    }

    .repo-text, .repo-name {
      @apply block w-[95%];
    }

    .dropdown-caret {
      @apply relative border-t-gray-09 left-1.5 top-[2px];
    }
  }
}