.cp__repo-indicator {
  .sync-content {
    max-height: 80vh;
    overflow: auto;

    p {
      margin: 0.25rem 0;
    }
  }
}

.repo-plus svg {
  display: inline;
  transform: scale(0.7);
}

.ui__dropdown-menu-content {
  &.repos-list {
    @apply px-2 pb-[210px];
    @apply min-w-[280px] sm:max-w-[320px] max-h-[66vh];

    &[data-mode=db] {
      @apply pb-[130px];
    }

    .ui__dropdown-menu-item {
      @apply overflow-hidden overflow-ellipsis;
    }
  }
}

.cp__repos-select {
  &-trigger {
    @apply flex items-center p-2 text-sm font-medium rounded-md;

    .repo-switch {
      @apply flex w-[90%] overflow-hidden items-center select-none;
    }

    .repo-text, .repo-name {
      @apply flex w-[95%] items-center;

      .ui__icon {
        @apply !mr-0;
      }
    }

    .dropdown-caret {
      @apply relative border-t-gray-09 left-1.5 top-[2px];
    }
  }
}

.cp__repos-quick-actions {
  @apply absolute left-[1px] right-[1px] bottom-[1px] bg-gray-01 px-2 py-3 border-t
  flex flex-col rounded-b overflow-hidden;

  .ui__button {
    @apply w-full !py-4 !justify-start opacity-70 font-medium hover:opacity-90
    items-center gap-1.5 hover:bg-gray-03;
  }
}