html[data-theme=light] {
  .cp__right-sidebar-settings a {
    color: var(--ls-primary-text-color);
  }

  .cp__right-sidebar {
    .block-content {
      --ls-page-inline-code-bg-color: var(--ls-quaternary-background-color);
      --ls-page-blockquote-bg-color: var(--ls-quaternary-background-color);
    }
  }
}

.sidebar-item-list {
  padding-bottom: 150px;
  height: calc(100vh - 48px);
}


html[data-theme=light] a.toggle:hover {
  color: var(--ls-primary-text-color);
}

.cp__header a, .cp__header button, .cp__right-sidebar-topbar button {
    opacity: 1;
    color: or(--logseq-og-header-button-text-color, --lx-gray-11, --ls-header-button-background);
}

.cp__header a:hover, .cp__header button:hover, .cp__right-sidebar-topbar button:hover {
    color: or(--logseq-og-header-button-text-color-hover, --lx-gray-12, --ls-header-button-background);
}

html[data-theme=dark] {
    .cp__header a, .cp__header button, .cp__right-sidebar-topbar button {
        opacity: 0.7;
    }
}
