#search {
  > .inner {
    width: 100%;
    max-width: 100%;

    border-radius: 4px;
  }

  .search-result {
    @apply flex;
  }
}

#search-wrapper {
  transition: .3s;
  padding-right: 12px;
}

.ls-search {
  @apply flex flex-col overflow-auto;

  > .search-results-wrap {
    @apply flex flex-col flex-1 overflow-hidden h-full;

    > .results-inner {
      @apply h-full overflow-y-auto;
    }
  }
}

.search-item svg {
  transform: scale(0.8);
}

.search-results-engines {
  &-tabs {
    @apply flex list-none -mx-2 mb-2 px-2;

    background: var(--ls-primary-background-color);

    > li {
      @apply p-0 m-0 min-w-[150px] flex-1;

      .ui__button {
        @apply w-full h-full justify-center border;

        background: transparent;
        border-radius: 0;
        line-height: 1;
        color: var(--ls-primary-text-color);
      }

      &.is-active .ui__button {
        background: var(--ls-quaternary-background-color);
      }
    }
  }
}