#search {
  > .inner {
    width: 100%;
    max-width: 100%;

    border-radius: 4px;
  }

  .search-result {
    @apply flex;
  }
}

#search-wrapper svg {
    color: var(--ls-search-icon-color, #9fa6b2);
    opacity: 0.6;
    transition: .3s;
}

#search-wrapper:hover svg, #search-wrapper:focus-within svg {
    color: var(--ls-link-text-hover-color, #4b5563);
    opacity: 0.8;
}

#search-wrapper {
    transition: .3s;
    padding-right: 12px;
}

.search-item svg {
    transform: scale(0.8);
}
