.cp__server-indicator {
  @apply flex items-center px-1 rounded-md
  dark:border-gray-500;

  .button.icon {
    width: auto;
    height: auto;
  }
}

.ls-left-sidebar-open {
  .cp__server-indicator {
    @apply ml-[115px];
  }
}