.cp__sidebar-main-content-container {
    position: relative;
    flex: 1 1 65%;
}

.cp__sidebar-main-content {
    padding: 3rem 1.5rem;
    margin: 0 auto;
    max-width: 640px;
}

@media (max-width: 640px) {
    .cp__sidebar-main-content {
        max-width: 100vw;
    }
}

.cp__sidebar-main-content[data-is-full-width="true"] {
    max-width: 100vw;
}

.cp__sidebar-main-content[data-is-global-graph-pages="true"] {
    padding: 0;
}
