svg.add-button {
  display: block;
  width: 20px;
  height: 20px;
  opacity: 0.4;

  > .circle {
    opacity: 0;
  }
}

svg.info {
  fill: var(--ls-primary-text-color);
  transition: fill 200ms ease-in;
}
