.dashboard-card {
  @apply hover:shadow-lg;
  border: 1px solid var(--ls-border-color);
}

.dashboard-card-title {
  color: var(--ls-primary-text-color);
  border-bottom: 1px solid var(--ls-border-color);
  background-color: var(--ls-secondary-background-color);
}

.single-block > :is(.block-content-wrapper, .editor-wrapper) {
  width: 100% !important;
  background-color: var(--ls-secondary-background-color);
  padding: 8px 12px;
  border-radius: 8px;
}

.tl-logseq-cp-container > .page {
  padding: 12px;
}
