.cp__win32-title-bar {
  z-index: 100;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: var(--ls-win32-title-bar-height);
  display: flex;
  justify-content: space-between;
  user-select: none;
  -webkit-app-region: drag;

  > .left-side {
    display: flex;
    align-items: flex-end;

    > .logo {
      width: 50px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }

    > .title {
      font-size: 12px;
    }
  }

  > .right-side {
    display: flex;
    width: 138px;
    -webkit-app-region: no-drag;

    > * {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background: var(--ls-tertiary-background-color);
      }

      &:active {
        background: var(--ls-secondary-background-color);
      }
    }

    > .close {
      &:hover {
        color: #fff;
        background: #c42b1c;
      }

      &:active {
        color: #fff;
        background: #b3271c;
      }
    }
  }
}

.is-win32.is-electron {
  --ls-win32-title-bar-height: 36px;
}
