.cp__win32-title-bar:not(:fullscreen) {
  z-index: var(--ls-z-index-level-5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: var(--ls-win32-title-bar-height);
  background-color: var(--ls-secondary-background-color);
  display: flex;
  justify-content: space-between;
  user-select: none;
  -webkit-app-region: drag;

  >.left-side {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 28px;

    >.logo {
      width: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 4px;
    }
  }

  >.middle {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;

    >span#win32-title-bar-page-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: 0;
    }

    >span#win32-title-bar-logseq-text {
      flex-shrink: 0;
      flex-wrap: nowrap;
    }
  }

  >.right-side {
    display: flex;
    width: 138px;
    -webkit-app-region: no-drag;

    >* {
      color: var(--ls-primary-text-color);
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background: var(--ls-tertiary-background-color);
      }

      &:active {
        background: var(--ls-secondary-background-color);
      }
    }

    >.close {
      &:hover {
        color: #fff;
        background: #c42b1c;
      }

      &:active {
        color: #fff;
        background: #b3271c;
      }
    }
  }
}

.is-win32.is-electron:not(.is-fullscreen) {
  --ls-win32-title-bar-height: 36px;
}