@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-100 bg-logseq-800;
}

.app-container {
  @apply flex-1;
}

.glass-card {
  @apply bg-gradient-to-b from-white/40 to-logseq-800/5 rounded-md animate-in fade-in-0 duration-1000 slide-in-from-bottom-14;

  &-inner {
    @apply backdrop-blur-md bg-logseq-700/50 rounded-md p-3 w-full;

    margin: .5px;
  }
}

.app-logo-link {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("./logo.png");
  background-size: cover;
}

.app-headbar {
  @apply w-full px-6;

  .links-group {
    @apply flex space-x-8;

    a {
      @apply text-gray-300 text-lg hover:text-gray-50;
    }
  }
}

