@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-100 bg-logseq-800;
}

.app-logo-link {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("./logo.png");
  background-size: cover;
}

.app-headbar .links-group {
  @apply flex space-x-8;

  a {
    @apply text-gray-300 text-lg hover:text-gray-50;
  }
}

.app-head-showcase {
  @apply overflow-hidden;

  height: 790px;
  -webkit-font-smoothing: antialiased;

  > .inner {
    padding-top: 60px;
  }

  .item-wrap {
  }

  .text-1 {
    padding-top: 90px;
  }

  .image-2 {
    background-image: url("./header_bg.png");
    background-size: contain;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: 570px;
    background-position-y: -110px;
    background-position-x: -12px;
  }

  .cards-3 {
    @apply absolute;

    width: 500px;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);

    .glass-card {
      &.a {
      }

      &.b, &.c {
        flex-basis: 220px;

        .glass-card-inner {
          @apply flex text-sm;
          min-height: 110px;
        }

        .avatar {
          &-img {
            width: 60px;
            height: 60px;
            border-radius: 100%;
            overflow: hidden;
            background-image: url("./avatar.png");
            background-size: contain;
            text-indent: -999px;
          }
        }

        .info {

        }
      }

      &.c {
        flex: 1;

        .glass-card-inner {
          min-height: 110px;
        }

        .avatar {
          &-img {
            width: 60px;
            height: 84px;
            border-radius: unset;
            overflow: hidden;
            background-image: url("./cover.png");
            background-size: contain;
            text-indent: -999px;
          }
        }

      }
    }
  }

  .actions-4 {
    @apply absolute w-full flex justify-center pt-20 pb-5;

    bottom: 0;

    &:before {
      @apply absolute top-0 left-0 w-full bg-gradient-to-t h-16 from-logseq-800 via-logseq-800;

      content: " ";
    }

    > button {
      position: relative;
      top: -10px;
    }
  }
}

.glass-card {
  @apply bg-gradient-to-b from-white/40 to-logseq-800/5 rounded-md animate-in fade-in-0 duration-1000 slide-in-from-bottom-14;

  &-inner {
    @apply backdrop-blur-md bg-logseq-700/50 rounded-md p-3 w-full;

    margin: .5px;
  }
}

.outliner-list {
  &-demo {

  }

  &-item {
    @apply relative text-sm;

    padding-left: 18px;

    &:before {
      content: "•";
      position: absolute;
      font-size: 26px;
      font-weight: bold;
      left: 0;
      top: 0;
      opacity: .4;
    }

    > .content {
      @apply flex items-center text-logseq-50/90 py-0.5;

      marker {
        @apply font-bold text-gray-500 text-xs inline-block pr-1 opacity-80;
      }

      &.is-todo {
        &:before {
          @apply border border-logseq-100/50 inline-block mr-1 rounded;

          content: " ";
          width: 14px;
          height: 14px;
        }
      }
    }

    > .subs {
      @apply relative pl-0.5 mt-0.5;

      &:before {
        @apply bg-logseq-50 absolute -top-0.5 -bottom-1 rounded opacity-20;

        content: " ";
        width: 4px;
        left: -14px;
      }
    }

    .ref {
      &:before {
        @apply text-gray-200 opacity-20 inline-block pr-0.5;
        content: "[[";
      }

      &:after {
        @apply text-gray-200 opacity-20 inline-block pl-0.5;
        content: "]]";
      }
    }
  }
}

.app-tutorial-showcase {
  min-height: 100vh;

  > .hd {
    letter-spacing: 2px;
  }
}
