:root {
  --rx-amber-01-hsl: 39 70.0% 99.0%;
  --rx-amber-02-hsl: 40 100% 96.5%;
  --rx-amber-03-hsl: 44 100% 91.7%;
  --rx-amber-04-hsl: 43 100% 86.8%;
  --rx-amber-05-hsl: 42 100% 81.8%;
  --rx-amber-06-hsl: 38 99.7% 76.3%;
  --rx-amber-07-hsl: 36 86.1% 67.1%;
  --rx-amber-08-hsl: 35 85.2% 55.1%;
  --rx-amber-09-hsl: 39 100% 57.0%;
  --rx-amber-10-hsl: 35 100% 55.5%;
  --rx-amber-11-hsl: 30 100% 34.0%;
  --rx-amber-12-hsl: 20 80.0% 17.0%;
  --rx-blue-01-hsl: 206 100% 99.2%;
  --rx-blue-02-hsl: 210 100% 98.0%;
  --rx-blue-03-hsl: 209 100% 96.5%;
  --rx-blue-04-hsl: 210 98.8% 94.0%;
  --rx-blue-05-hsl: 209 95.0% 90.1%;
  --rx-blue-06-hsl: 209 81.2% 84.5%;
  --rx-blue-07-hsl: 208 77.5% 76.9%;
  --rx-blue-08-hsl: 206 81.9% 65.3%;
  --rx-blue-09-hsl: 206 100% 50.0%;
  --rx-blue-10-hsl: 208 100% 47.3%;
  --rx-blue-11-hsl: 211 100% 43.2%;
  --rx-blue-12-hsl: 211 100% 15.0%;
  --rx-bronze-01-hsl: 15 30.0% 99.1%;
  --rx-bronze-02-hsl: 17 63.6% 97.8%;
  --rx-bronze-03-hsl: 17 42.1% 95.2%;
  --rx-bronze-04-hsl: 17 35.2% 92.1%;
  --rx-bronze-05-hsl: 17 31.5% 88.2%;
  --rx-bronze-06-hsl: 17 29.0% 83.0%;
  --rx-bronze-07-hsl: 17 26.9% 75.6%;
  --rx-bronze-08-hsl: 17 25.1% 66.5%;
  --rx-bronze-09-hsl: 17 20.0% 54.0%;
  --rx-bronze-10-hsl: 17 18.1% 50.1%;
  --rx-bronze-11-hsl: 15 20.0% 43.1%;
  --rx-bronze-12-hsl: 12 22.0% 21.5%;
  --rx-brown-01-hsl: 30 40.0% 99.1%;
  --rx-brown-02-hsl: 30 50.0% 97.6%;
  --rx-brown-03-hsl: 30 52.5% 94.6%;
  --rx-brown-04-hsl: 30 53.0% 91.2%;
  --rx-brown-05-hsl: 29 52.9% 86.8%;
  --rx-brown-06-hsl: 29 52.5% 80.9%;
  --rx-brown-07-hsl: 29 51.5% 72.8%;
  --rx-brown-08-hsl: 28 50.0% 63.1%;
  --rx-brown-09-hsl: 28 34.0% 51.0%;
  --rx-brown-10-hsl: 27 31.8% 47.6%;
  --rx-brown-11-hsl: 25 30.0% 41.0%;
  --rx-brown-12-hsl: 20 30.0% 19.0%;
  --rx-crimson-01-hsl: 332 100% 99.4%;
  --rx-crimson-02-hsl: 330 100% 98.4%;
  --rx-crimson-03-hsl: 331 85.6% 96.6%;
  --rx-crimson-04-hsl: 331 78.1% 94.2%;
  --rx-crimson-05-hsl: 332 72.1% 91.1%;
  --rx-crimson-06-hsl: 333 67.0% 86.7%;
  --rx-crimson-07-hsl: 335 63.5% 80.4%;
  --rx-crimson-08-hsl: 336 62.3% 72.9%;
  --rx-crimson-09-hsl: 336 80.0% 57.8%;
  --rx-crimson-10-hsl: 336 73.7% 53.5%;
  --rx-crimson-11-hsl: 336 75.0% 47.2%;
  --rx-crimson-12-hsl: 340 65.0% 14.5%;
  --rx-cyan-01-hsl: 185 60.0% 98.7%;
  --rx-cyan-02-hsl: 185 73.3% 97.1%;
  --rx-cyan-03-hsl: 186 70.2% 94.4%;
  --rx-cyan-04-hsl: 186 63.8% 90.6%;
  --rx-cyan-05-hsl: 187 58.3% 85.4%;
  --rx-cyan-06-hsl: 188 54.6% 78.4%;
  --rx-cyan-07-hsl: 189 53.7% 68.7%;
  --rx-cyan-08-hsl: 189 60.3% 52.5%;
  --rx-cyan-09-hsl: 190 95.0% 39.0%;
  --rx-cyan-10-hsl: 191 91.2% 36.8%;
  --rx-cyan-11-hsl: 192 85.0% 31.0%;
  --rx-cyan-12-hsl: 192 88.0% 12.5%;
  --rx-gold-01-hsl: 50 20.0% 99.1%;
  --rx-gold-02-hsl: 47 52.9% 96.7%;
  --rx-gold-03-hsl: 46 38.2% 93.7%;
  --rx-gold-04-hsl: 44 32.7% 90.1%;
  --rx-gold-05-hsl: 43 29.9% 85.7%;
  --rx-gold-06-hsl: 41 28.3% 79.8%;
  --rx-gold-07-hsl: 39 27.6% 71.9%;
  --rx-gold-08-hsl: 36 27.2% 61.8%;
  --rx-gold-09-hsl: 36 20.0% 49.5%;
  --rx-gold-10-hsl: 36 19.8% 45.7%;
  --rx-gold-11-hsl: 36 20.0% 39.0%;
  --rx-gold-12-hsl: 36 16.0% 20.0%;
  --rx-grass-01-hsl: 116 50.0% 98.9%;
  --rx-grass-02-hsl: 120 60.0% 97.1%;
  --rx-grass-03-hsl: 120 53.6% 94.8%;
  --rx-grass-04-hsl: 121 47.5% 91.4%;
  --rx-grass-05-hsl: 122 42.6% 86.5%;
  --rx-grass-06-hsl: 124 39.0% 79.7%;
  --rx-grass-07-hsl: 126 37.1% 70.2%;
  --rx-grass-08-hsl: 131 38.1% 56.3%;
  --rx-grass-09-hsl: 131 41.0% 46.5%;
  --rx-grass-10-hsl: 132 43.1% 42.2%;
  --rx-grass-11-hsl: 133 50.0% 32.5%;
  --rx-grass-12-hsl: 130 30.0% 14.9%;
  --rx-gray-01-hsl: 0 0% 99.0%;
  --rx-gray-02-hsl: 0 0% 97.3%;
  --rx-gray-03-hsl: 0 0% 95.1%;
  --rx-gray-04-hsl: 0 0% 93.0%;
  --rx-gray-05-hsl: 0 0% 90.9%;
  --rx-gray-06-hsl: 0 0% 88.7%;
  --rx-gray-07-hsl: 0 0% 85.8%;
  --rx-gray-08-hsl: 0 0% 78.0%;
  --rx-gray-09-hsl: 0 0% 56.1%;
  --rx-gray-10-hsl: 0 0% 52.3%;
  --rx-gray-11-hsl: 0 0% 43.5%;
  --rx-gray-12-hsl: 0 0% 9.0%;
  --rx-green-01-hsl: 136 50.0% 98.9%;
  --rx-green-02-hsl: 138 62.5% 96.9%;
  --rx-green-03-hsl: 139 55.2% 94.5%;
  --rx-green-04-hsl: 140 48.7% 91.0%;
  --rx-green-05-hsl: 141 43.7% 86.0%;
  --rx-green-06-hsl: 143 40.3% 79.0%;
  --rx-green-07-hsl: 146 38.5% 69.0%;
  --rx-green-08-hsl: 151 40.2% 54.1%;
  --rx-green-09-hsl: 151 55.0% 41.5%;
  --rx-green-10-hsl: 152 57.5% 37.6%;
  --rx-green-11-hsl: 153 67.0% 28.5%;
  --rx-green-12-hsl: 155 40.0% 14.0%;
  --rx-indigo-01-hsl: 225 60.0% 99.4%;
  --rx-indigo-02-hsl: 223 100% 98.6%;
  --rx-indigo-03-hsl: 223 98.4% 97.1%;
  --rx-indigo-04-hsl: 223 92.9% 95.0%;
  --rx-indigo-05-hsl: 224 87.1% 92.0%;
  --rx-indigo-06-hsl: 224 81.9% 87.8%;
  --rx-indigo-07-hsl: 225 77.4% 82.1%;
  --rx-indigo-08-hsl: 226 75.4% 74.5%;
  --rx-indigo-09-hsl: 226 70.0% 55.5%;
  --rx-indigo-10-hsl: 226 58.6% 51.3%;
  --rx-indigo-11-hsl: 226 55.0% 45.0%;
  --rx-indigo-12-hsl: 226 62.0% 17.0%;
  --rx-lime-01-hsl: 85 50.0% 98.7%;
  --rx-lime-02-hsl: 85 66.7% 96.5%;
  --rx-lime-03-hsl: 85 76.0% 92.3%;
  --rx-lime-04-hsl: 84 75.3% 87.5%;
  --rx-lime-05-hsl: 84 71.5% 81.9%;
  --rx-lime-06-hsl: 82 65.0% 74.6%;
  --rx-lime-07-hsl: 79 53.2% 61.8%;
  --rx-lime-08-hsl: 76 61.7% 45.1%;
  --rx-lime-09-hsl: 81 67.0% 50.0%;
  --rx-lime-10-hsl: 80 68.3% 46.9%;
  --rx-lime-11-hsl: 75 80.0% 26.0%;
  --rx-lime-12-hsl: 78 70.0% 11.5%;
  --rx-mauve-01-hsl: 300 20.0% 99.0%;
  --rx-mauve-02-hsl: 300 7.7% 97.5%;
  --rx-mauve-03-hsl: 294 5.5% 95.3%;
  --rx-mauve-04-hsl: 289 4.7% 93.3%;
  --rx-mauve-05-hsl: 283 4.4% 91.3%;
  --rx-mauve-06-hsl: 278 4.1% 89.1%;
  --rx-mauve-07-hsl: 271 3.9% 86.3%;
  --rx-mauve-08-hsl: 255 3.7% 78.8%;
  --rx-mauve-09-hsl: 252 4.0% 57.3%;
  --rx-mauve-10-hsl: 253 3.5% 53.5%;
  --rx-mauve-11-hsl: 252 4.0% 44.8%;
  --rx-mauve-12-hsl: 260 25.0% 11.0%;
  --rx-mint-01-hsl: 165 80.0% 98.8%;
  --rx-mint-02-hsl: 164 88.2% 96.7%;
  --rx-mint-03-hsl: 164 76.6% 93.3%;
  --rx-mint-04-hsl: 165 68.8% 89.5%;
  --rx-mint-05-hsl: 165 60.6% 84.5%;
  --rx-mint-06-hsl: 165 53.5% 76.9%;
  --rx-mint-07-hsl: 166 50.7% 66.1%;
  --rx-mint-08-hsl: 168 52.8% 51.0%;
  --rx-mint-09-hsl: 167 65.0% 66.0%;
  --rx-mint-10-hsl: 167 59.3% 63.1%;
  --rx-mint-11-hsl: 172 72.0% 28.5%;
  --rx-mint-12-hsl: 172 70.0% 12.0%;
  --rx-olive-01-hsl: 110 20.0% 99.0%;
  --rx-olive-02-hsl: 120 16.7% 97.6%;
  --rx-olive-03-hsl: 119 10.1% 95.2%;
  --rx-olive-04-hsl: 118 8.1% 93.0%;
  --rx-olive-05-hsl: 117 7.1% 90.8%;
  --rx-olive-06-hsl: 115 6.4% 88.5%;
  --rx-olive-07-hsl: 114 5.9% 85.4%;
  --rx-olive-08-hsl: 110 5.2% 77.3%;
  --rx-olive-09-hsl: 110 3.5% 55.5%;
  --rx-olive-10-hsl: 111 2.8% 51.7%;
  --rx-olive-11-hsl: 110 3.0% 43.0%;
  --rx-olive-12-hsl: 110 25.0% 9.5%;
  --rx-orange-01-hsl: 24 70.0% 99.0%;
  --rx-orange-02-hsl: 24 83.3% 97.6%;
  --rx-orange-03-hsl: 24 100% 95.3%;
  --rx-orange-04-hsl: 25 100% 92.2%;
  --rx-orange-05-hsl: 25 100% 88.2%;
  --rx-orange-06-hsl: 25 100% 82.8%;
  --rx-orange-07-hsl: 24 100% 75.3%;
  --rx-orange-08-hsl: 24 94.5% 64.3%;
  --rx-orange-09-hsl: 24 94.0% 50.0%;
  --rx-orange-10-hsl: 24 100% 46.5%;
  --rx-orange-11-hsl: 24 100% 37.0%;
  --rx-orange-12-hsl: 15 60.0% 17.0%;
  --rx-pink-01-hsl: 322 100% 99.4%;
  --rx-pink-02-hsl: 323 100% 98.4%;
  --rx-pink-03-hsl: 323 86.3% 96.5%;
  --rx-pink-04-hsl: 323 78.7% 94.2%;
  --rx-pink-05-hsl: 323 72.2% 91.1%;
  --rx-pink-06-hsl: 323 66.3% 86.6%;
  --rx-pink-07-hsl: 323 62.0% 80.1%;
  --rx-pink-08-hsl: 323 60.3% 72.4%;
  --rx-pink-09-hsl: 322 65.0% 54.5%;
  --rx-pink-10-hsl: 322 63.9% 50.7%;
  --rx-pink-11-hsl: 322 75.0% 46.0%;
  --rx-pink-12-hsl: 320 70.0% 13.5%;
  --rx-plum-01-hsl: 292 90.0% 99.4%;
  --rx-plum-02-hsl: 300 100% 98.6%;
  --rx-plum-03-hsl: 299 71.2% 96.4%;
  --rx-plum-04-hsl: 299 62.0% 93.8%;
  --rx-plum-05-hsl: 298 56.1% 90.5%;
  --rx-plum-06-hsl: 296 51.3% 85.8%;
  --rx-plum-07-hsl: 295 48.2% 78.9%;
  --rx-plum-08-hsl: 292 47.7% 70.8%;
  --rx-plum-09-hsl: 292 45.0% 51.0%;
  --rx-plum-10-hsl: 292 50.2% 46.9%;
  --rx-plum-11-hsl: 292 60.0% 42.5%;
  --rx-plum-12-hsl: 291 66.0% 14.0%;
  --rx-purple-01-hsl: 280 65.0% 99.4%;
  --rx-purple-02-hsl: 276 100% 99.0%;
  --rx-purple-03-hsl: 276 83.1% 97.0%;
  --rx-purple-04-hsl: 275 76.4% 94.7%;
  --rx-purple-05-hsl: 275 70.8% 91.8%;
  --rx-purple-06-hsl: 274 65.4% 87.8%;
  --rx-purple-07-hsl: 273 61.0% 81.7%;
  --rx-purple-08-hsl: 272 60.0% 73.5%;
  --rx-purple-09-hsl: 272 51.0% 54.0%;
  --rx-purple-10-hsl: 272 46.8% 50.3%;
  --rx-purple-11-hsl: 272 50.0% 45.8%;
  --rx-purple-12-hsl: 272 66.0% 16.0%;
  --rx-red-01-hsl: 359 100% 99.4%;
  --rx-red-02-hsl: 359 100% 98.6%;
  --rx-red-03-hsl: 360 100% 96.8%;
  --rx-red-04-hsl: 360 97.9% 94.8%;
  --rx-red-05-hsl: 360 90.2% 91.9%;
  --rx-red-06-hsl: 360 81.7% 87.8%;
  --rx-red-07-hsl: 359 74.2% 81.7%;
  --rx-red-08-hsl: 359 69.5% 74.3%;
  --rx-red-09-hsl: 358 75.0% 59.0%;
  --rx-red-10-hsl: 358 69.4% 55.2%;
  --rx-red-11-hsl: 358 65.0% 48.7%;
  --rx-red-12-hsl: 354 50.0% 14.6%;
  --rx-sage-01-hsl: 155 30.0% 98.8%;
  --rx-sage-02-hsl: 150 16.7% 97.6%;
  --rx-sage-03-hsl: 151 10.6% 95.2%;
  --rx-sage-04-hsl: 151 8.8% 93.0%;
  --rx-sage-05-hsl: 151 7.8% 90.8%;
  --rx-sage-06-hsl: 152 7.2% 88.4%;
  --rx-sage-07-hsl: 153 6.7% 85.3%;
  --rx-sage-08-hsl: 154 6.1% 77.5%;
  --rx-sage-09-hsl: 155 3.5% 55.5%;
  --rx-sage-10-hsl: 154 2.8% 51.7%;
  --rx-sage-11-hsl: 155 3.0% 43.0%;
  --rx-sage-12-hsl: 155 24.0% 9.0%;
  --rx-sand-01-hsl: 50 20.0% 99.0%;
  --rx-sand-02-hsl: 60 7.7% 97.5%;
  --rx-sand-03-hsl: 59 6.5% 95.1%;
  --rx-sand-04-hsl: 58 6.1% 92.9%;
  --rx-sand-05-hsl: 57 6.0% 90.7%;
  --rx-sand-06-hsl: 56 5.9% 88.4%;
  --rx-sand-07-hsl: 55 5.9% 85.2%;
  --rx-sand-08-hsl: 51 6.0% 77.1%;
  --rx-sand-09-hsl: 50 2.0% 55.7%;
  --rx-sand-10-hsl: 55 1.7% 51.9%;
  --rx-sand-11-hsl: 50 2.0% 43.1%;
  --rx-sand-12-hsl: 50 6.0% 10.0%;
  --rx-sky-01-hsl: 193 100% 98.8%;
  --rx-sky-02-hsl: 193 100% 97.3%;
  --rx-sky-03-hsl: 193 99.0% 94.7%;
  --rx-sky-04-hsl: 193 91.4% 91.4%;
  --rx-sky-05-hsl: 194 82.0% 86.6%;
  --rx-sky-06-hsl: 194 74.1% 79.5%;
  --rx-sky-07-hsl: 194 72.3% 69.6%;
  --rx-sky-08-hsl: 193 77.9% 53.9%;
  --rx-sky-09-hsl: 193 98.0% 70.0%;
  --rx-sky-10-hsl: 193 87.0% 66.5%;
  --rx-sky-11-hsl: 195 100% 31.5%;
  --rx-sky-12-hsl: 195 100% 13.0%;
  --rx-slate-01-hsl: 206 30.0% 98.8%;
  --rx-slate-02-hsl: 210 16.7% 97.6%;
  --rx-slate-03-hsl: 209 13.3% 95.3%;
  --rx-slate-04-hsl: 209 12.2% 93.2%;
  --rx-slate-05-hsl: 208 11.7% 91.1%;
  --rx-slate-06-hsl: 208 11.3% 88.9%;
  --rx-slate-07-hsl: 207 11.1% 85.9%;
  --rx-slate-08-hsl: 205 10.7% 78.0%;
  --rx-slate-09-hsl: 206 6.0% 56.1%;
  --rx-slate-10-hsl: 206 5.8% 52.3%;
  --rx-slate-11-hsl: 206 6.0% 43.5%;
  --rx-slate-12-hsl: 206 24.0% 9.0%;
  --rx-teal-01-hsl: 165 60.0% 98.8%;
  --rx-teal-02-hsl: 169 64.7% 96.7%;
  --rx-teal-03-hsl: 169 59.8% 94.0%;
  --rx-teal-04-hsl: 169 53.1% 90.2%;
  --rx-teal-05-hsl: 170 47.1% 85.0%;
  --rx-teal-06-hsl: 170 42.6% 77.9%;
  --rx-teal-07-hsl: 170 39.9% 68.1%;
  --rx-teal-08-hsl: 172 42.1% 52.5%;
  --rx-teal-09-hsl: 173 80.0% 36.0%;
  --rx-teal-10-hsl: 173 83.4% 32.5%;
  --rx-teal-11-hsl: 174 90.0% 25.2%;
  --rx-teal-12-hsl: 170 50.0% 12.5%;
  --rx-tomato-01-hsl: 10 100% 99.4%;
  --rx-tomato-02-hsl: 8 100% 98.4%;
  --rx-tomato-03-hsl: 8 100% 96.6%;
  --rx-tomato-04-hsl: 8 100% 94.3%;
  --rx-tomato-05-hsl: 8 92.8% 91.0%;
  --rx-tomato-06-hsl: 9 84.7% 86.3%;
  --rx-tomato-07-hsl: 10 77.3% 79.5%;
  --rx-tomato-08-hsl: 10 71.6% 71.0%;
  --rx-tomato-09-hsl: 10 78.0% 54.0%;
  --rx-tomato-10-hsl: 10 71.5% 50.0%;
  --rx-tomato-11-hsl: 10 82.0% 43.5%;
  --rx-tomato-12-hsl: 10 50.0% 13.5%;
  --rx-violet-01-hsl: 255 65.0% 99.4%;
  --rx-violet-02-hsl: 252 100% 99.0%;
  --rx-violet-03-hsl: 252 96.9% 97.4%;
  --rx-violet-04-hsl: 252 91.5% 95.5%;
  --rx-violet-05-hsl: 252 85.1% 93.0%;
  --rx-violet-06-hsl: 252 77.8% 89.4%;
  --rx-violet-07-hsl: 252 71.0% 83.7%;
  --rx-violet-08-hsl: 252 68.6% 76.3%;
  --rx-violet-09-hsl: 252 56.0% 57.5%;
  --rx-violet-10-hsl: 251 48.1% 53.5%;
  --rx-violet-11-hsl: 250 43.0% 48.0%;
  --rx-violet-12-hsl: 254 60.0% 18.5%;
  --rx-yellow-01-hsl: 60 54.0% 98.5%;
  --rx-yellow-02-hsl: 52 100% 95.5%;
  --rx-yellow-03-hsl: 55 100% 90.9%;
  --rx-yellow-04-hsl: 54 100% 86.6%;
  --rx-yellow-05-hsl: 52 97.9% 82.0%;
  --rx-yellow-06-hsl: 50 89.4% 76.1%;
  --rx-yellow-07-hsl: 47 80.4% 68.0%;
  --rx-yellow-08-hsl: 48 100% 46.1%;
  --rx-yellow-09-hsl: 53 92.0% 50.0%;
  --rx-yellow-10-hsl: 50 100% 48.5%;
  --rx-yellow-11-hsl: 42 100% 29.0%;
  --rx-yellow-12-hsl: 40 55.0% 13.5%;
}

html.dark, html[data-theme=dark] {
  --rx-amber-01-hsl: 36 100% 6.1%;
  --rx-amber-02-hsl: 35 100% 7.6%;
  --rx-amber-03-hsl: 32 100% 10.2%;
  --rx-amber-04-hsl: 32 100% 12.4%;
  --rx-amber-05-hsl: 33 100% 14.6%;
  --rx-amber-06-hsl: 35 100% 17.1%;
  --rx-amber-07-hsl: 35 91.0% 21.6%;
  --rx-amber-08-hsl: 36 100% 25.5%;
  --rx-amber-09-hsl: 39 100% 57.0%;
  --rx-amber-10-hsl: 43 100% 64.0%;
  --rx-amber-11-hsl: 39 90.0% 49.8%;
  --rx-amber-12-hsl: 39 97.0% 93.2%;
  --rx-blue-01-hsl: 212 35.0% 9.2%;
  --rx-blue-02-hsl: 216 50.0% 11.8%;
  --rx-blue-03-hsl: 214 59.4% 15.3%;
  --rx-blue-04-hsl: 214 65.8% 17.9%;
  --rx-blue-05-hsl: 213 71.2% 20.2%;
  --rx-blue-06-hsl: 212 77.4% 23.1%;
  --rx-blue-07-hsl: 211 85.1% 27.4%;
  --rx-blue-08-hsl: 211 89.7% 34.1%;
  --rx-blue-09-hsl: 206 100% 50.0%;
  --rx-blue-10-hsl: 209 100% 60.6%;
  --rx-blue-11-hsl: 210 100% 66.1%;
  --rx-blue-12-hsl: 206 98.0% 95.8%;
  --rx-bronze-01-hsl: 17 10.0% 8.8%;
  --rx-bronze-02-hsl: 15 14.8% 10.6%;
  --rx-bronze-03-hsl: 15 16.3% 14.3%;
  --rx-bronze-04-hsl: 16 17.1% 17.2%;
  --rx-bronze-05-hsl: 16 17.6% 19.6%;
  --rx-bronze-06-hsl: 16 18.1% 22.9%;
  --rx-bronze-07-hsl: 17 18.8% 28.8%;
  --rx-bronze-08-hsl: 17 19.6% 38.0%;
  --rx-bronze-09-hsl: 17 20.0% 54.0%;
  --rx-bronze-10-hsl: 18 24.0% 59.0%;
  --rx-bronze-11-hsl: 18 35.0% 68.5%;
  --rx-bronze-12-hsl: 18 57.0% 94.1%;
  --rx-brown-01-hsl: 22 15.0% 8.7%;
  --rx-brown-02-hsl: 20 28.3% 10.4%;
  --rx-brown-03-hsl: 20 28.0% 14.0%;
  --rx-brown-04-hsl: 21 28.4% 16.5%;
  --rx-brown-05-hsl: 22 28.7% 18.9%;
  --rx-brown-06-hsl: 23 29.0% 22.3%;
  --rx-brown-07-hsl: 25 29.5% 27.8%;
  --rx-brown-08-hsl: 27 30.1% 35.9%;
  --rx-brown-09-hsl: 28 34.0% 51.0%;
  --rx-brown-10-hsl: 28 41.4% 55.8%;
  --rx-brown-11-hsl: 28 60.0% 64.5%;
  --rx-brown-12-hsl: 30 67.0% 94.0%;
  --rx-crimson-01-hsl: 335 20.0% 9.6%;
  --rx-crimson-02-hsl: 335 32.2% 11.6%;
  --rx-crimson-03-hsl: 335 42.5% 16.5%;
  --rx-crimson-04-hsl: 335 47.2% 19.3%;
  --rx-crimson-05-hsl: 335 50.9% 21.8%;
  --rx-crimson-06-hsl: 335 55.7% 25.3%;
  --rx-crimson-07-hsl: 336 62.9% 30.8%;
  --rx-crimson-08-hsl: 336 74.9% 39.0%;
  --rx-crimson-09-hsl: 336 80.0% 57.8%;
  --rx-crimson-10-hsl: 339 84.1% 62.6%;
  --rx-crimson-11-hsl: 341 90.0% 67.3%;
  --rx-crimson-12-hsl: 332 87.0% 96.0%;
  --rx-cyan-01-hsl: 192 60.0% 7.2%;
  --rx-cyan-02-hsl: 192 71.4% 8.2%;
  --rx-cyan-03-hsl: 192 75.9% 10.8%;
  --rx-cyan-04-hsl: 192 79.3% 12.8%;
  --rx-cyan-05-hsl: 192 82.5% 14.6%;
  --rx-cyan-06-hsl: 192 86.6% 16.9%;
  --rx-cyan-07-hsl: 192 92.6% 20.1%;
  --rx-cyan-08-hsl: 192 100% 24.5%;
  --rx-cyan-09-hsl: 190 95.0% 39.0%;
  --rx-cyan-10-hsl: 188 100% 40.0%;
  --rx-cyan-11-hsl: 186 100% 42.2%;
  --rx-cyan-12-hsl: 185 73.0% 93.2%;
  --rx-gold-01-hsl: 44 9.0% 8.3%;
  --rx-gold-02-hsl: 43 14.3% 9.6%;
  --rx-gold-03-hsl: 42 15.5% 13.0%;
  --rx-gold-04-hsl: 41 16.4% 15.6%;
  --rx-gold-05-hsl: 41 16.9% 17.8%;
  --rx-gold-06-hsl: 40 17.6% 20.8%;
  --rx-gold-07-hsl: 38 18.5% 26.4%;
  --rx-gold-08-hsl: 36 19.6% 35.1%;
  --rx-gold-09-hsl: 36 20.0% 49.5%;
  --rx-gold-10-hsl: 36 22.3% 54.5%;
  --rx-gold-11-hsl: 35 30.0% 64.0%;
  --rx-gold-12-hsl: 49 52.0% 93.8%;
  --rx-grass-01-hsl: 146 30.0% 7.4%;
  --rx-grass-02-hsl: 136 33.3% 8.8%;
  --rx-grass-03-hsl: 137 36.0% 11.4%;
  --rx-grass-04-hsl: 137 37.6% 13.7%;
  --rx-grass-05-hsl: 136 38.7% 16.0%;
  --rx-grass-06-hsl: 135 39.6% 19.1%;
  --rx-grass-07-hsl: 134 40.3% 23.8%;
  --rx-grass-08-hsl: 131 40.1% 30.8%;
  --rx-grass-09-hsl: 131 41.0% 46.5%;
  --rx-grass-10-hsl: 131 39.0% 52.1%;
  --rx-grass-11-hsl: 131 43.0% 57.2%;
  --rx-grass-12-hsl: 137 72.0% 94.0%;
  --rx-gray-01-hsl: 0 0% 8.5%;
  --rx-gray-02-hsl: 0 0% 11.0%;
  --rx-gray-03-hsl: 0 0% 13.6%;
  --rx-gray-04-hsl: 0 0% 15.8%;
  --rx-gray-05-hsl: 0 0% 17.9%;
  --rx-gray-06-hsl: 0 0% 20.5%;
  --rx-gray-07-hsl: 0 0% 24.3%;
  --rx-gray-08-hsl: 0 0% 31.2%;
  --rx-gray-09-hsl: 0 0% 43.9%;
  --rx-gray-10-hsl: 0 0% 49.4%;
  --rx-gray-11-hsl: 0 0% 62.8%;
  --rx-gray-12-hsl: 0 0% 93.0%;
  --rx-green-01-hsl: 146 30.0% 7.4%;
  --rx-green-02-hsl: 155 44.2% 8.4%;
  --rx-green-03-hsl: 155 46.7% 10.9%;
  --rx-green-04-hsl: 154 48.4% 12.9%;
  --rx-green-05-hsl: 154 49.7% 14.9%;
  --rx-green-06-hsl: 154 50.9% 17.6%;
  --rx-green-07-hsl: 153 51.8% 21.8%;
  --rx-green-08-hsl: 151 51.7% 28.4%;
  --rx-green-09-hsl: 151 55.0% 41.5%;
  --rx-green-10-hsl: 151 49.3% 46.5%;
  --rx-green-11-hsl: 151 50.0% 53.2%;
  --rx-green-12-hsl: 137 72.0% 94.0%;
  --rx-indigo-01-hsl: 229 24.0% 10.0%;
  --rx-indigo-02-hsl: 230 36.4% 12.9%;
  --rx-indigo-03-hsl: 228 43.3% 17.5%;
  --rx-indigo-04-hsl: 227 47.2% 21.0%;
  --rx-indigo-05-hsl: 227 50.0% 24.1%;
  --rx-indigo-06-hsl: 226 52.9% 28.2%;
  --rx-indigo-07-hsl: 226 56.0% 34.5%;
  --rx-indigo-08-hsl: 226 58.2% 44.1%;
  --rx-indigo-09-hsl: 226 70.0% 55.5%;
  --rx-indigo-10-hsl: 227 75.2% 61.6%;
  --rx-indigo-11-hsl: 228 100% 75.9%;
  --rx-indigo-12-hsl: 226 83.0% 96.3%;
  --rx-lime-01-hsl: 75 55.0% 6.0%;
  --rx-lime-02-hsl: 74 56.8% 7.3%;
  --rx-lime-03-hsl: 78 50.2% 9.9%;
  --rx-lime-04-hsl: 79 50.3% 12.1%;
  --rx-lime-05-hsl: 79 52.6% 14.2%;
  --rx-lime-06-hsl: 78 55.7% 16.7%;
  --rx-lime-07-hsl: 77 59.7% 20.1%;
  --rx-lime-08-hsl: 75 64.8% 24.5%;
  --rx-lime-09-hsl: 81 67.0% 50.0%;
  --rx-lime-10-hsl: 75 85.0% 60.0%;
  --rx-lime-11-hsl: 81 70.0% 43.8%;
  --rx-lime-12-hsl: 84 79.0% 92.6%;
  --rx-mauve-01-hsl: 246 6.0% 9.0%;
  --rx-mauve-02-hsl: 240 5.1% 11.6%;
  --rx-mauve-03-hsl: 241 5.0% 14.3%;
  --rx-mauve-04-hsl: 242 4.9% 16.5%;
  --rx-mauve-05-hsl: 243 4.9% 18.8%;
  --rx-mauve-06-hsl: 244 4.9% 21.5%;
  --rx-mauve-07-hsl: 245 4.9% 25.4%;
  --rx-mauve-08-hsl: 247 4.8% 32.5%;
  --rx-mauve-09-hsl: 252 4.0% 45.2%;
  --rx-mauve-10-hsl: 247 3.4% 50.7%;
  --rx-mauve-11-hsl: 253 4.0% 63.7%;
  --rx-mauve-12-hsl: 256 6.0% 93.2%;
  --rx-mint-01-hsl: 173 50.0% 6.6%;
  --rx-mint-02-hsl: 176 73.0% 7.3%;
  --rx-mint-03-hsl: 175 79.3% 8.9%;
  --rx-mint-04-hsl: 174 84.8% 10.3%;
  --rx-mint-05-hsl: 174 90.2% 11.9%;
  --rx-mint-06-hsl: 173 96.0% 13.8%;
  --rx-mint-07-hsl: 172 100% 16.8%;
  --rx-mint-08-hsl: 170 100% 21.4%;
  --rx-mint-09-hsl: 167 65.0% 66.0%;
  --rx-mint-10-hsl: 163 80.0% 77.0%;
  --rx-mint-11-hsl: 167 70.0% 48.0%;
  --rx-mint-12-hsl: 165 80.0% 94.8%;
  --rx-olive-01-hsl: 110 5.0% 8.6%;
  --rx-olive-02-hsl: 105 7.4% 10.6%;
  --rx-olive-03-hsl: 106 6.4% 13.1%;
  --rx-olive-04-hsl: 106 5.8% 15.3%;
  --rx-olive-05-hsl: 107 5.3% 17.4%;
  --rx-olive-06-hsl: 107 4.9% 19.9%;
  --rx-olive-07-hsl: 108 4.4% 23.6%;
  --rx-olive-08-hsl: 110 3.8% 30.6%;
  --rx-olive-09-hsl: 110 6.0% 42.5%;
  --rx-olive-10-hsl: 111 4.8% 48.2%;
  --rx-olive-11-hsl: 110 5.0% 61.8%;
  --rx-olive-12-hsl: 110 6.0% 93.0%;
  --rx-orange-01-hsl: 30 70.0% 7.2%;
  --rx-orange-02-hsl: 28 100% 8.4%;
  --rx-orange-03-hsl: 26 91.1% 11.6%;
  --rx-orange-04-hsl: 25 88.3% 14.1%;
  --rx-orange-05-hsl: 24 87.6% 16.6%;
  --rx-orange-06-hsl: 24 88.6% 19.8%;
  --rx-orange-07-hsl: 24 92.4% 24.0%;
  --rx-orange-08-hsl: 25 100% 29.0%;
  --rx-orange-09-hsl: 24 94.0% 50.0%;
  --rx-orange-10-hsl: 24 100% 58.5%;
  --rx-orange-11-hsl: 24 100% 62.2%;
  --rx-orange-12-hsl: 24 97.0% 93.2%;
  --rx-pink-01-hsl: 318 25.0% 9.6%;
  --rx-pink-02-hsl: 319 32.2% 11.6%;
  --rx-pink-03-hsl: 319 41.0% 16.0%;
  --rx-pink-04-hsl: 320 45.4% 18.7%;
  --rx-pink-05-hsl: 320 49.0% 21.1%;
  --rx-pink-06-hsl: 321 53.6% 24.4%;
  --rx-pink-07-hsl: 321 61.1% 29.7%;
  --rx-pink-08-hsl: 322 74.9% 37.5%;
  --rx-pink-09-hsl: 322 65.0% 54.5%;
  --rx-pink-10-hsl: 323 72.8% 59.2%;
  --rx-pink-11-hsl: 325 90.0% 66.4%;
  --rx-pink-12-hsl: 322 90.0% 95.8%;
  --rx-plum-01-hsl: 301 20.0% 9.4%;
  --rx-plum-02-hsl: 300 29.8% 11.2%;
  --rx-plum-03-hsl: 298 34.4% 15.3%;
  --rx-plum-04-hsl: 297 36.8% 18.3%;
  --rx-plum-05-hsl: 296 38.5% 21.1%;
  --rx-plum-06-hsl: 295 40.4% 24.7%;
  --rx-plum-07-hsl: 294 42.7% 30.6%;
  --rx-plum-08-hsl: 292 45.1% 40.0%;
  --rx-plum-09-hsl: 292 45.0% 51.0%;
  --rx-plum-10-hsl: 295 50.0% 55.4%;
  --rx-plum-11-hsl: 300 60.0% 62.0%;
  --rx-plum-12-hsl: 296 74.0% 95.7%;
  --rx-purple-01-hsl: 284 20.0% 9.6%;
  --rx-purple-02-hsl: 283 30.0% 11.8%;
  --rx-purple-03-hsl: 281 37.5% 16.5%;
  --rx-purple-04-hsl: 280 41.2% 20.0%;
  --rx-purple-05-hsl: 279 43.8% 23.3%;
  --rx-purple-06-hsl: 277 46.4% 27.5%;
  --rx-purple-07-hsl: 275 49.3% 34.6%;
  --rx-purple-08-hsl: 272 52.1% 45.9%;
  --rx-purple-09-hsl: 272 51.0% 54.0%;
  --rx-purple-10-hsl: 273 57.3% 59.1%;
  --rx-purple-11-hsl: 275 80.0% 71.0%;
  --rx-purple-12-hsl: 279 75.0% 95.7%;
  --rx-red-01-hsl: 353 23.0% 9.8%;
  --rx-red-02-hsl: 357 34.4% 12.0%;
  --rx-red-03-hsl: 356 43.4% 16.4%;
  --rx-red-04-hsl: 356 47.6% 19.2%;
  --rx-red-05-hsl: 356 51.1% 21.9%;
  --rx-red-06-hsl: 356 55.2% 25.9%;
  --rx-red-07-hsl: 357 60.2% 31.8%;
  --rx-red-08-hsl: 358 65.0% 40.4%;
  --rx-red-09-hsl: 358 75.0% 59.0%;
  --rx-red-10-hsl: 358 85.3% 64.0%;
  --rx-red-11-hsl: 358 100% 69.5%;
  --rx-red-12-hsl: 351 89.0% 96.0%;
  --rx-sage-01-hsl: 155 7.0% 8.4%;
  --rx-sage-02-hsl: 150 7.4% 10.6%;
  --rx-sage-03-hsl: 150 6.7% 13.1%;
  --rx-sage-04-hsl: 150 6.4% 15.3%;
  --rx-sage-05-hsl: 150 6.1% 17.4%;
  --rx-sage-06-hsl: 150 5.8% 19.9%;
  --rx-sage-07-hsl: 150 5.5% 23.6%;
  --rx-sage-08-hsl: 150 5.1% 30.6%;
  --rx-sage-09-hsl: 155 6.0% 42.5%;
  --rx-sage-10-hsl: 153 4.8% 48.2%;
  --rx-sage-11-hsl: 155 5.0% 61.8%;
  --rx-sage-12-hsl: 155 6.0% 93.0%;
  --rx-sand-01-hsl: 61 2.0% 8.3%;
  --rx-sand-02-hsl: 60 3.7% 10.6%;
  --rx-sand-03-hsl: 58 3.7% 13.1%;
  --rx-sand-04-hsl: 57 3.6% 15.3%;
  --rx-sand-05-hsl: 56 3.7% 17.4%;
  --rx-sand-06-hsl: 55 3.7% 19.9%;
  --rx-sand-07-hsl: 53 3.7% 23.6%;
  --rx-sand-08-hsl: 50 3.8% 30.6%;
  --rx-sand-09-hsl: 50 4.0% 42.7%;
  --rx-sand-10-hsl: 52 3.1% 48.3%;
  --rx-sand-11-hsl: 50 4.0% 61.8%;
  --rx-sand-12-hsl: 56 4.0% 92.8%;
  --rx-sky-01-hsl: 205 45.0% 8.6%;
  --rx-sky-02-hsl: 202 71.4% 9.6%;
  --rx-sky-03-hsl: 201 74.6% 12.2%;
  --rx-sky-04-hsl: 201 77.4% 14.4%;
  --rx-sky-05-hsl: 200 80.3% 16.5%;
  --rx-sky-06-hsl: 200 84.1% 18.9%;
  --rx-sky-07-hsl: 199 90.2% 22.1%;
  --rx-sky-08-hsl: 198 100% 26.1%;
  --rx-sky-09-hsl: 193 98.0% 70.0%;
  --rx-sky-10-hsl: 192 100% 77.0%;
  --rx-sky-11-hsl: 192 85.0% 55.8%;
  --rx-sky-12-hsl: 198 98.0% 95.8%;
  --rx-slate-01-hsl: 200 7.0% 8.8%;
  --rx-slate-02-hsl: 195 7.1% 11.0%;
  --rx-slate-03-hsl: 197 6.8% 13.6%;
  --rx-slate-04-hsl: 198 6.6% 15.8%;
  --rx-slate-05-hsl: 199 6.4% 17.9%;
  --rx-slate-06-hsl: 201 6.2% 20.5%;
  --rx-slate-07-hsl: 203 6.0% 24.3%;
  --rx-slate-08-hsl: 207 5.6% 31.6%;
  --rx-slate-09-hsl: 206 6.0% 43.9%;
  --rx-slate-10-hsl: 206 5.2% 49.5%;
  --rx-slate-11-hsl: 206 6.0% 63.0%;
  --rx-slate-12-hsl: 210 6.0% 93.0%;
  --rx-teal-01-hsl: 168 48.0% 6.5%;
  --rx-teal-02-hsl: 169 77.8% 7.1%;
  --rx-teal-03-hsl: 170 76.1% 9.2%;
  --rx-teal-04-hsl: 171 75.8% 11.0%;
  --rx-teal-05-hsl: 171 75.7% 12.8%;
  --rx-teal-06-hsl: 172 75.8% 15.1%;
  --rx-teal-07-hsl: 172 76.7% 18.6%;
  --rx-teal-08-hsl: 173 80.2% 23.7%;
  --rx-teal-09-hsl: 173 80.0% 36.0%;
  --rx-teal-10-hsl: 174 83.9% 38.2%;
  --rx-teal-11-hsl: 174 90.0% 40.7%;
  --rx-teal-12-hsl: 166 73.0% 93.1%;
  --rx-tomato-01-hsl: 10 23.0% 9.4%;
  --rx-tomato-02-hsl: 9 44.8% 11.4%;
  --rx-tomato-03-hsl: 8 52.0% 15.3%;
  --rx-tomato-04-hsl: 7 56.3% 18.0%;
  --rx-tomato-05-hsl: 7 60.1% 20.6%;
  --rx-tomato-06-hsl: 8 64.8% 24.0%;
  --rx-tomato-07-hsl: 8 71.2% 29.1%;
  --rx-tomato-08-hsl: 10 80.2% 35.7%;
  --rx-tomato-09-hsl: 10 78.0% 54.0%;
  --rx-tomato-10-hsl: 10 81.7% 59.0%;
  --rx-tomato-11-hsl: 10 85.0% 62.8%;
  --rx-tomato-12-hsl: 10 89.0% 96.0%;
  --rx-violet-01-hsl: 250 20.0% 10.2%;
  --rx-violet-02-hsl: 255 30.3% 12.9%;
  --rx-violet-03-hsl: 253 37.0% 18.4%;
  --rx-violet-04-hsl: 252 40.1% 22.5%;
  --rx-violet-05-hsl: 252 42.2% 26.2%;
  --rx-violet-06-hsl: 251 44.3% 31.1%;
  --rx-violet-07-hsl: 250 46.8% 38.9%;
  --rx-violet-08-hsl: 250 51.8% 51.2%;
  --rx-violet-09-hsl: 252 56.0% 57.5%;
  --rx-violet-10-hsl: 251 63.2% 63.2%;
  --rx-violet-11-hsl: 250 95.0% 76.8%;
  --rx-violet-12-hsl: 252 87.0% 96.4%;
  --rx-yellow-01-hsl: 45 100% 5.5%;
  --rx-yellow-02-hsl: 46 100% 6.7%;
  --rx-yellow-03-hsl: 45 100% 8.7%;
  --rx-yellow-04-hsl: 45 100% 10.4%;
  --rx-yellow-05-hsl: 47 100% 12.1%;
  --rx-yellow-06-hsl: 49 100% 14.3%;
  --rx-yellow-07-hsl: 49 90.3% 18.4%;
  --rx-yellow-08-hsl: 50 100% 22.0%;
  --rx-yellow-09-hsl: 53 92.0% 50.0%;
  --rx-yellow-10-hsl: 54 100% 68.0%;
  --rx-yellow-11-hsl: 48 100% 47.0%;
  --rx-yellow-12-hsl: 53 100% 91.0%;
}
