body[data-page=repo-add],
body[data-page=import] {
  #left-sidebar, #right-sidebar {
    display: none;
  }
}

.cp__onboarding {
  &-setups {
    background-color: var(--ls-primary-background-color);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    height: 100vh;
    overflow-y: auto;

    .as-flex-center {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .inner-card {
      transform: translateY(-60px);

      > h1 {
        font-size: 36px;

        strong {
          color: var(--ls-active-primary-color);
          display: inline-block;
          padding-right: 4px;
          font-weight: normal;
        }
      }

      > h2 {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 40px;
      }

      > article {
        background-color: var(--ls-secondary-background-color);
        width: 1040px;
        height: 510px;
        border-radius: 20px;
        overflow: hidden;

        > section {
          flex: 1;

          &.a {
            background-color: var(--ls-tertiary-background-color);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 75px;

            > strong {
              font-size: 28px;
              padding-bottom: 15px;
              font-weight: 600;
            }

            > small {
              font-size: 20px;
              line-height: 30px;
              padding: 0 95px;
              text-align: center;
            }

            > .choose {
              padding-top: 48px;
              width: 100%;

              i {
                width: 180px;
                height: 120px;
                background-image: url("../img/folder.png");
                background-size: contain;
              }

              .control {
                padding-top: 30px;
                padding-left: 70px;
                padding-right: 70px;
                width: 100%;
              }
            }
          }

          &.b {
            padding: 50px 40px;

            > p {
              width: 100%;

              &:first-child {
                i {
                  width: 42px;
                }

                strong {
                  font-size: 19px;
                  line-height: 1.5em;
                }
              }
            }

            ul {
              margin: 0;
              padding-top: 20px;
              width: 100%;

              > li {
                list-style: none;
                margin-bottom: 8px;
                height: 40px;
                display: flex;

                &.hr {
                  height: 1px;
                  border-bottom: 1px solid var(--ls-border-color);
                  margin: 20px 0px;
                  opacity: 0.6;
                }

                > i {
                  width: 48px;
                  background-image: url(../img/folder.png);
                  background-size: contain;
                  background-repeat: no-repeat;
                  background-position-y: 2px;
                  position: relative;
                  right: -2px;

                  &.is-file {
                    background-image: url("../img/file-edn.png");
                    background-size: 50%;
                    background-position-x: center;
                  }

                  > .ti {
                    opacity: .25;
                    color: black;
                  }
                }

                > span {
                  flex: 1;
                  padding-left: 15px;
                  display: flex;
                  flex-direction: column;

                  strong {
                    font-size: 11px;
                  }
                }
              }
            }
          }
        }

        &.importer {
          background-color: var(--ls-tertiary-background-color);
          padding-top: 150px;

          > section {
            flex: unset;

            h1 {
              font-size: 28px;
              font-weight: 500;
            }

            h2 {
              font-size: 19px;
              line-height: 3em;
            }

            &.d {
              width: 100%;
              padding: 40px 150px;

              > label {
                width: unset;
                height: 80px;
                flex: 1;
                margin: 0 15px;

                > span {
                  &:first-child {
                    padding: 16px;

                    i {
                      height: 30px;
                      width: 30px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    }
                  }
                }

                strong {
                  font-size: 18px;
                }

                small {
                  font-size: 11px;
                }
              }
            }
          }
        }
      }
    }

    label.action-input {
      transition: none;
      color: var(--ls-active-primary-color);
      background-color: var(--ls-quaternary-background-color);
      height: 68px;
      width: 100%;
      opacity: .8;
      user-select: none;
      border-radius: 12px;
      overflow: hidden;

      small {
        font-size: 11px;
      }

      &:hover {
        opacity: 1;
      }

      &:active {
        opacity: .5;
      }

      &[disabled] {
        pointer-events: none;
      }
    }
  }
}