body[data-page=repo-add],
body[data-page=import] {
  .cp__header .add-graph-btn {
    display: none;
  }
}

.cp__onboarding {
  &-setups {
    background-color: var(--ls-primary-background-color);
    z-index: 1;

    .as-flex-center {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .inner-card {
      background-color: var(--ls-secondary-background-color);

      > h1 {
        font-size: 30px;

        strong {
          color: var(--ls-active-primary-color);
          display: inline-block;
          padding-right: 4px;
          font-weight: normal;

          &:first-child {
            display: block;
            text-align: center;
            padding-bottom: 15px;
          }
        }
      }

      > h2 {
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 0 30px;
        text-align: center;
      }

      > article {
        background-color: var(--ls-secondary-background-color);
        border-radius: 20px;
        flex: 1;

        > section {
          flex: 1;

          &.a {
            background-color: var(--ls-tertiary-background-color);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 75px;
            padding-bottom: 100px;
            border-radius: 20px 20px 0 0;

            > strong {
              font-size: 28px;
              padding-bottom: 15px;
              font-weight: 600;
            }

            > small {
              font-size: 18px;
              line-height: 30px;
              padding: 0 40px;
              text-align: center;
            }

            > .choose {
              padding-top: 48px;
              width: 100%;
              cursor: pointer;

              &:active {
                opacity: .8;
              }

              i {
                width: 180px;
                height: 120px;
                background-image: url("../img/folder-logo.png");
                background-size: contain;
              }

              .control {
                padding: 20px 20px 0 20px;
                width: 100%;
              }
            }
          }

          &.b {
            display: none;
            padding: 50px 40px;

            > p {
              width: 100%;

              &:first-child {
                i {
                  width: 42px;
                }

                strong {
                  font-size: 19px;
                  line-height: 1.5em;
                }
              }
            }

            ul {
              margin: 0;
              padding-top: 20px;
              width: 100%;

              > li {
                list-style: none;
                margin-bottom: 8px;
                height: 40px;
                display: flex;

                &.hr {
                  height: 1px;
                  border-bottom: 1px solid var(--ls-border-color);
                  margin: 20px 0px;
                  opacity: 0.6;
                }

                > i {
                  width: 48px;
                  background-image: url(../img/folder.png);
                  background-size: contain;
                  background-repeat: no-repeat;
                  background-position-y: 2px;
                  position: relative;
                  right: -2px;

                  &.is-file {
                    background-image: url("../img/file-edn.png");
                    background-size: 50%;
                    background-position-x: center;
                  }

                  > .ti {
                    opacity: .25;
                    color: black;
                  }
                }

                > span {
                  flex: 1;
                  padding-left: 15px;
                  display: flex;
                  flex-direction: column;

                  strong {
                    font-size: 11px;
                  }
                }
              }
            }
          }
        }

        &.importer {
          background-color: var(--ls-tertiary-background-color);
          padding-top: 80px;
          position: relative;

          > section {
            flex: unset;
            padding: 0 30px;

            h1 {
              font-size: 26px;
              font-weight: 500;
            }

            h2 {
              font-size: 14px;
              padding-top: 15px;
              padding-bottom: 15px;
            }

            &.d {
              width: 100%;
              padding: 20px 0;

              > label {
                width: unset;
                height: 80px;
                flex: 1;
                margin: 0 15px;
                margin-bottom: 10px;

                > span {
                  &:first-child {
                    padding: 16px;

                    i {
                      height: 30px;
                      width: 30px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    }
                  }
                }

                strong {
                  font-size: 18px;
                }

                small {
                  font-size: 11px;
                }
              }
            }
          }
        }
      }


      @screen lg {
        background-color: unset;

        > h1 {
          font-size: 36px;

          strong {
            &:first-child {
              display: inline-block;
            }
          }
        }

        > h2 {
          font-size: 20px;
          padding: 0;
        }

        > article {
          max-width: 100vw;
          flex: unset;

          > section {
            &.a {
              border-radius: 20px 0 0 20px;

              > .choose {
                .control {
                  padding: 30px 70px 0 70px;
                }
              }
            }

            &.b {
              display: flex;
            }
          }

          &.importer {
            padding-top: 150px;

            > section {
              padding: 0;

              h1 {
                font-size: 28px;
              }

              h2 {
                font-size: 19px;
                line-height: 3em;
                padding: unset;
              }

              &.d {
                padding: 40px 150px;
              }

              &.e {
                position: absolute;
                bottom: -50px;
                right: 15px;

                a.button {
                  padding: 4px 10px;
                }
              }
            }
          }
        }
      }
    }

    label.action-input {
      transition: none;
      color: var(--ls-active-primary-color);
      background-color: var(--ls-quaternary-background-color);
      height: 68px;
      width: 100%;
      opacity: .8;
      user-select: none;
      border-radius: 12px;
      overflow: hidden;
      cursor: pointer;

      small {
        font-size: 11px;
        text-align: center;
      }

      &:hover {
        opacity: 1;
      }

      &:active {
        opacity: .5;
      }

      &[disabled] {
        pointer-events: none;
      }
    }

    @screen lg {
      justify-content: center;
      align-items: center;
    }
  }
}

html.is-native-android,
html.is-native-ipad,
html.is-native-iphone,
html.is-native-iphone-without-notch {
    .cp__onboarding {
        &-setups {
            .inner-card {
                padding-top: 25px;

                > h2 {
                    margin-bottom: 25px;
                }

                > article {
                    > section {
                        &.a {
                            padding-top: 25px;

                            small {
                                text-align: left;
                                padding: 0 40px;
                            }
                            .mobile-intro {
                                margin-top: 10px;
                                line-height: 1.5rem;
                                font-size: 1rem;
                            }

                            > .choose {
                                padding-top: 25px;
                        }
                        }
                    }
                }

            }
        }
    }
}
