{:deps
 {;; dev
  thheller/shadow-cljs        {:mvn/version "RELEASE"}
  cider/cider-nrepl           {:mvn/version "0.23.0-SNAPSHOT"}
  binaryage/devtools          {:mvn/version "0.9.10"}

  org.clojure/clojure         {:mvn/version "RELEASE"}
  org.clojure/clojurescript   {:mvn/version "RELEASE"}
  rum                         {:mvn/version "0.11.4"}
  datascript                  {:mvn/version "0.18.9"}
  funcool/promesa             {:mvn/version "4.0.2"}
  medley                      {:mvn/version "1.2.0"}
  metosin/reitit              {:mvn/version "0.3.10"}
  metosin/reitit-spec         {:mvn/version "0.3.10"}
  metosin/reitit-frontend     {:mvn/version "0.3.10"}
  posh                        {:local/root "/home/tienson/codes/projects/posh"}
  }

 :paths
 ["src"
  "dev"]}
