{:deps
 {;; dev
  thheller/shadow-cljs        {:mvn/version "RELEASE"}
  cider/cider-nrepl           {:mvn/version "0.23.0-SNAPSHOT"}
  binaryage/devtools          {:mvn/version "0.9.10"}

  org.clojure/clojure         {:mvn/version "RELEASE"}
  org.clojure/clojurescript   {:mvn/version "RELEASE"}
  cljs-bean                   {:mvn/version "1.5.0"}
  uix.core                    {:git/url   "https://github.com/roman01la/uix.git"
                               :deps/root "core"
                               :sha       "46011c8a2f1a05025971af8e26b8b6704520383c"}
  uix.dom                     {:git/url   "https://github.com/roman01la/uix.git"
                               :deps/root "dom"
                               :sha       "46011c8a2f1a05025971af8e26b8b6704520383c"}
  datascript                  {:mvn/version "0.18.9"}
  funcool/promesa             {:mvn/version "4.0.2"}
  medley                      {:mvn/version "1.2.0"}
  metosin/reitit              {:mvn/version "0.3.10"}
  metosin/reitit-spec         {:mvn/version "0.3.10"}
  metosin/reitit-frontend     {:mvn/version "0.3.10"}}

 :paths
 ["src"
  "dev"]}
