;; shadow-cljs configuration
{:deps     true
 :nrepl        {:port 8701}

 :builds
 {:app
  {:target :browser
   :modules {:main {:init-fn frontend.core/init}}

   :compiler-options {:infer-externs :auto
                      :externs ["datascript/externs.js"]}
   :build-hooks [(shadow.hooks/purge-css
                  {:css-source "node_modules/tailwindcss/dist/tailwind.min.css"
                   :js-globs   ["public/js/*.js"]
                   :public-dir    "public/css"})]
   :devtools
   ;; before live-reloading any code call this function
   {:before-load frontend.core/stop
    ;; after live-reloading finishes call this function
    :after-load frontend.core/start
    ;; serve the public directory over http at port 8700
                                        ;:http-root   "public"
                                        ;:http-port   8700
    :http-root    "public"
    :http-port    8080
    :preloads     [devtools.preload]}

   }}}
