/e2e-dump
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.nbb/

node_modules/
static/**
!static/yarn.lock
tmp
cljs-test-runner-out

.cpcache/
/src/gen

*.iml
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store
report.html
strings.csv

.calva
resources/electron.js
.lsp/.cache
.clj-kondo/.cache
.clj-kondo/babashka/sci
/libs/dist/
charlie/
.vscode
/.preprocessor-cljs
docker
android/app/src/main/assets/capacitor.plugin.json
ios/App/App/capacitor.config.json

startup.png

/src/main/frontend/tldraw-logseq.js
/src/test/docs
~*~

ios/App/App/capacitor.config.json
android/app/src/main/assets/capacitor.config.json

*.sublime-*
/public/static
.yarn/
.yarnrc.yml
