/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/

node_modules/
/resources/static/js/*.map
/resources/static/js/main.js
/resources/static/js/cljs-runtime
/resources/static/js/manifest.edn
/resources/static/js/publishing/*.map
/resources/static/js/publishing/main.js
/resources/static/js/publishing/cljs-runtime
/resources/static/js/publishing/manifest.edn
/resources/static/style.css
/resources/static/js/publishing/code-editor.js
/resources/static/js/code-editor.js

.cpcache/
/target
/checkouts
/src/gen

*.iml
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store
report.html
strings.csv
/resources/static/css/tailwind.min.css
resources/static/style.css

.calva
