/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.nbb/

node_modules/
static/**
tmp
cljs-test-runner-out

.cpcache/
/src/gen

*.iml
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store
report.html
strings.csv

.calva
resources/electron.js
.lsp/.cache
.clj-kondo/.cache
.clj-kondo/babashka
.clj-kondo/http-kit
.clj-kondo/metosin/malli
.clj-kondo/rewrite-clj
.clj-kondo/taoensso
.clj-kondo/funcool
/libs/dist/
charlie/
.vscode
/.preprocessor-cljs
docker
android/app/src/main/assets/capacitor.plugin.json
ios/App/App/capacitor.config.json
ios/App/App/public

startup.png

/src/main/frontend/tldraw-logseq.js
/src/test/docs*
~*~

android/app/src/main/assets/capacitor.config.json

*.sublime-*
/public
.yarn/
.yarnrc.yml

packages/ui/.storybook/cljs
deps/shui/.lsp
deps/shui/.lsp-cache
deps/shui/.clj-kondo
tx-log*
clj-e2e/.wally
clj-e2e/resources
clj-e2e/e2e-dump
.dir-locals.el
.projectile
