{:paths ["scripts/src"]
 :tasks
 {lang:list
  logseq.tasks.lang/list-langs

  lang:missing
  logseq.tasks.lang/list-missing

  lang:invalid-dicts
  logseq.tasks.lang/invalid-dicts

  dev:watch
  logseq.tasks.dev/watch

  dev:open-dev-electron-app
  logseq.tasks.dev/open-dev-electron-app

  -dev:electron-dev
  {:depends [dev:watch dev:open-dev-electron-app]}

  dev:electron-dev
  logseq.tasks.dev/electron-dev}}
