{:paths ["src/main" "src/electron" "src/resources"]
 :deps
 {org.clojure/clojure                   {:mvn/version "1.11.1"}
  rum/rum                               {:mvn/version "0.12.9"}
  datascript/datascript                 {:mvn/version "1.3.8"}
  datascript-transit/datascript-transit {:mvn/version "0.3.0"}
  borkdude/rewrite-edn                  {:mvn/version "0.4.7"}
  funcool/promesa                       {:mvn/version "4.0.2"}
  medley/medley                         {:mvn/version "1.4.0"}
  metosin/reitit-frontend               {:mvn/version "0.3.10"}
  cljs-bean/cljs-bean                   {:mvn/version "1.5.0"}
  prismatic/dommy                       {:mvn/version "1.1.0"}
  org.clojure/core.match                {:mvn/version "1.0.0"}
  com.andrewmcveigh/cljs-time           {:git/url "https://github.com/logseq/cljs-time" ;; fork
                                         :sha     "5704fbf48d3478eedcf24d458c8964b3c2fd59a9"}
  cljs-drag-n-drop/cljs-drag-n-drop     {:mvn/version "0.1.0"}
  cljs-http/cljs-http                   {:mvn/version "0.1.46"}
  org.babashka/sci                      {:mvn/version "0.3.2"}
  org.clj-commons/hickory               {:mvn/version "0.7.3"}
  hiccups/hiccups                       {:mvn/version "0.3.0"}
  tongue/tongue                         {:mvn/version "0.4.4"}
  org.clojure/core.async                {:mvn/version "1.6.673"}
  thheller/shadow-cljs                  {:mvn/version "2.19.0"}
  expound/expound                       {:mvn/version "0.8.6"}
  com.lambdaisland/glogi                {:mvn/version "1.1.144"}
  binaryage/devtools                    {:mvn/version "1.0.5"}
  camel-snake-kebab/camel-snake-kebab   {:mvn/version "0.4.2"}
  instaparse/instaparse                 {:mvn/version "1.4.10"}
  org.clojars.mmb90/cljs-cache          {:mvn/version "0.1.4"}
  fipp/fipp                             {:mvn/version "0.6.26"}
  logseq/common                         {:local/root "deps/common"}
  logseq/graph-parser                   {:local/root "deps/graph-parser"}
  logseq/publishing                     {:local/root "deps/publishing"}
  logseq/shui                           {:local/root "deps/shui"}
  metosin/malli                         {:mvn/version "0.10.0"}}

 :aliases {:cljs {:extra-paths ["src/dev-cljs/" "src/test/" "src/electron/"]
                  :extra-deps  {org.clojure/clojurescript        {:mvn/version "1.11.54"}
                                org.clojure/tools.namespace      {:mvn/version "0.2.11"}
                                cider/cider-nrepl                {:mvn/version "0.29.0"}
                                org.clojars.knubie/cljs-run-test {:mvn/version "1.0.1"}}
                  :main-opts   ["-m" "shadow.cljs.devtools.cli"]}

           :test {:extra-paths ["src/test/"]
                  :extra-deps  {org.clojure/clojurescript        {:mvn/version "1.11.54"}
                                org.clojure/test.check           {:mvn/version "1.1.1"}
                                pjstadig/humane-test-output      {:mvn/version "0.11.0"}
                                org.clojars.knubie/cljs-run-test {:mvn/version "1.0.1"}}
                  :main-opts   ["-m" "shadow.cljs.devtools.cli"]}

           :bench {:extra-paths ["src/bench/"]
                   :extra-deps {olical/cljs-test-runner {:mvn/version "3.8.0"}
                                fipp/fipp {:mvn/version "0.6.26"}}
                   :main-opts ["-m" "cljs-test-runner.main" "-d" "src/bench" "-n" "frontend.benchmark-test-runner"]}

           ;; Use :replace-deps for tools. See https://github.com/clj-kondo/clj-kondo/issues/1536#issuecomment-1013006889
           :clj-kondo {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2023.05.26"}}
                       :main-opts  ["-m" "clj-kondo.main"]}}}
