;; shadow-cljs configuration
{:source-paths ["src" "dev"]

 :dependencies
 [[binaryage/devtools "0.9.10"]
  [cider/cider-nrepl "0.23.0-SNAPSHOT"]

  [rum "0.11.4"]
  [funcool/promesa "4.0.2"]]

 :nrepl        {:port 8701}

 :builds
 {:app
  {:target :browser
   :modules {:main {:init-fn frontend.core/init}}

   :compiler-options {:infer-externs :auto}
   :devtools
   ;; before live-reloading any code call this function
   {:before-load frontend.core/stop
    ;; after live-reloading finishes call this function
    :after-load frontend.core/start
    ;; serve the public directory over http at port 8700
                                        ;:http-root   "public"
                                        ;:http-port   8700
    :http-root    "public"
    :http-port 3000
    :preloads    [devtools.preload]}
   }}}
