@charset "utf-8";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "resources/css/inter.css";
@import "resources/css/reveal.min.css";
@import "resources/css/reveal_black.min.css";
@import "resources/css/photoswipe.css";
@import "resources/css/fonts.css";
@import "resources/css/excalidraw.min.css";
@import "resources/css/katex.min.css";
@import "resources/css/codemirror.min.css";
@import "resources/css/codemirror.solarized.css";
@import "resources/css/animation.css";
@import "resources/css/table.css";
@import "resources/css/datepicker.css";
@import "resources/css/highlight.css";
@import "resources/css/tooltip.css";
@import "resources/css/common.css";
@import-glob "src/main/frontend/**/[!_]*.css";
@import "tailwindcss/utilities";
