@charset "utf-8";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "inter-ui/inter.css";
@import "reveal.js/dist/reveal.css";
@import "reveal.js/dist/theme/black.css";
@import "photoswipe/dist/photoswipe.css";
@import "shepherd.js/dist/css/shepherd.css";
@import "resources/css/amplify.css";
@import "tldraw/apps/tldraw-logseq/src/styles.css";
@import "katex/dist/katex.min.css";
@import "codemirror/lib/codemirror.css";
@import "codemirror/theme/solarized.css";
@import "codemirror/addon/hint/show-hint.css";
@import "resources/css/animation.css";
@import "resources/css/table.css";
@import "resources/css/datepicker.css";
@import "resources/css/highlight.css";
@import "resources/css/tooltip.css";
@import "resources/css/common.css";
@import "resources/css/srs_cards.css";
@import "resources/css/tabler-extension.css";
@import-glob "src/main/frontend/**/[!_]*.css";
