[default.extend-words]
# Technical words
edn = "edn"
datas = "datas"
juxt = "juxt"
Ded = "Ded"  # Shows up in ANDed
referer = "referer" # This is a misspelling in the http spec so not much we can do

# False positives
collapsable = "collapsable" # This an ok alternative to collapsible
BA = "BA"
fo = "fo"
aks = "aks"
Mannor = "Mannor"
[files]
extend-exclude = ["resources/*", "src/resources/*"]
