.extensions__code {
  @apply relative;
  z-index: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  &-lang {
    @apply p-1 text-sm;
    background: var(--ls-secondary-background-color);
    word-break: keep-all;
    position: absolute;
    width: fit-content;
    /* height:2rem; */
    order:3;
    display: flex;
    left: auto;
    right: 0;
    margin-top: 4px;
    z-index: 9999;
  }

  &-calc {
    @apply absolute right-0 text-sm;
    padding: 0 0.25em;
    top: 3px;
    z-index: 1;
    background: transparent;
    width: max-content;
    text-align: right;

    &-output-line {
      height: 23px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      > span {
          font-family: Fira Code, Monaco, Menlo, Consolas, 'COURIER NEW', monospace;
      }
    }
  }

  > .CodeMirror {
    order: 1;
    width: 100%;
    z-index: 0;
    height: auto;
    margin-top: 4px;
    margin-bottom: 6px;
    padding-top: 20px;
    font-family: Fira Code, Monaco, Menlo, Consolas, 'COURIER NEW', monospace;
    max-width: var(--ls-main-content-max-width-wide);
    border-radius: 2px;
    line-height: 1.45em;

    &:not(.CodeMirror-focused) {
      .CodeMirror-activeline-background {
        background: unset !important;
      }
    }

    pre.CodeMirror-line {
      box-shadow: none !important;
    }

    .CodeMirror-hscrollbar {
        cursor: pointer;
    }
  }
}
