.extensions__code {
  @apply relative;
  z-index: 0;

  &-lang {
    @apply absolute top-0 right-0 p-1 text-sm;
    z-index: 1;
    background: white;
  }

  > .CodeMirror {
    z-index: 0;
    height: auto;
    padding: 6px 0 0 0;
    font-family: Fira Code, Monaco, Menlo, Consolas, 'COURIER NEW', monospace;
    max-width: 86vw;
    &:not(.CodeMirror-focused) {
      .CodeMirror-activeline-background {
        background: unset;
      }
    }
  }
}
