.extensions__code {
  @apply relative;
  z-index: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  &-lang {
    @apply p-1 text-sm;
    background: var(--ls-secondary-background-color);
    word-break: keep-all;
    position: absolute;
    width: fit-content;
    /* height:2rem; */
    order: 3;
    left: auto;
    right: 0;
    /* margin-top: 4px; */
    z-index: 9999;
    padding: 4px 6px;
    line-height: 1em;
    opacity: .8;

    &:hover {
      cursor: pointer;
      opacity: 1;
      user-select: none;
    }
  }

  &-calc {
    @apply text-sm;
    padding: 23px 0.25em 0.25em 0.25em;
    width: max-content;
    text-align: right;

    &-output-line {
      height: 23px;
      white-space: pre;
      font-family: Fira Code, Monaco, Menlo, Consolas, 'COURIER NEW', monospace;
    }
  }
}

.CodeMirror {
  height: auto;
  width: 100%;
  font-family: Fira Code, Monaco, Menlo, Consolas, 'COURIER NEW', monospace;
  border-radius: 2px;
  line-height: 1.45em;

  &-scroll {
    padding-top: 18px;
    padding-bottom: 62px;
  }

  &:not(.CodeMirror-focused) {
    .CodeMirror-activeline-background {
      background: unset !important;
    }
  }

  pre.CodeMirror-line {
    box-shadow: none !important;
  }

  .CodeMirror-hscrollbar {
    cursor: pointer;
  }
}
