#global-graph,
#page-graph {
    min-height: 100% !important;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 4;
}

#graphin-container {
    height: 100%;
    width: 100%;
    position: relative;
}
.graphin-core {
    height: 100%;
    width: 100%;
    min-height: 500px;
    background: #fff;
}
