html[data-theme=light] {
  #right-sidebar .reveal {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: initial;
    }
  }
}

.reveal {
  color: var(--ls-primary-text-color);
  background: var(--ls-slide-background-color);

  pre.code {
    background: transparent;
  }

  .hljs {
    background: none;
  }

  section img {
    margin: 1rem auto;
  }

  .progress span {
    display: block;
    height: 100%;
    width: 100%;
    background-color: currentColor;
    transition: transform 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
    transform-origin: 0 0;
    transform: scaleX(0);
  }
}
