.zotero-settings {
  .row {
    @apply sm:grid sm:grid-cols-3 sm:gap-4 mb-4 flex flex-wrap items-center;
  }

  .title {
    @apply block font-medium leading-5;
  }

  .form-select {
    @apply py-2;
    min-width: 20rem;
  }

  .form-input {
    @apply py-2;
    min-width: 20rem;
  }

  svg {
    display: inline;
  }
}

.zotero-search {
  @apply w-[80vw] sm:w-[380px] lg:w-[620px];

  > .input-wrap {
    @apply relative p-2;

    > input {
      @apply p-1.5 border rounded text-sm;

      color: var(--ls-primary-text-color);
      border-color: var(--ls-secondary-border-color);
      background-color: var(--ls-secondary-background-color);
    }

    .icon-loading {
      @apply absolute top-4 right-4 opacity-75 scale-[.7];
    }
  }
}

.zotero-search-item-loading-indicator {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 60px;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.zotero-search-item {
  border-bottom-color: var(--ls-border-color);
}

.zotero-search-item:hover {
  background-color: var(--ls-secondary-background-color);
}

.zotero-search-item-type {
  background-color: var(--ls-quaternary-background-color);
}
