.app-head-downloads {
  .text-slogan {
    h2 {
      font-size: 38px;
      line-height: 1.1em;
    }
  }

  .dl-items {
    @apply px-10;

    ul.tabs {
      li {
        @apply flex flex-col items-center bg-logseq-600/90 rounded-xl
        flex-1 py-5 px-2 justify-center select-none cursor-pointer
        active:opacity-80 border-2 border-transparent transition-all duration-300;

        &:hover, &.active {
          @apply border-gradient-br-yellow-purple-red-logseq-900;
        }

        &.is-macos, &.is-ios {
          &:hover, &.active {
            @apply border-gradient-br-purple-white-red-logseq-900;
          }
        }

        &.is-windows {
          &:hover, &.active {
            @apply border-gradient-br-blue-white-green-logseq-900;
          }
        }

        &.is-linux {
          &:hover, &.active {
            @apply border-gradient-br-yellow-white-orange-logseq-900;
          }
        }

        &.is-android {
          &:hover, &.active {
            @apply border-gradient-br-green-white-black-logseq-900;
          }
        }

        > span {
          font-size: 38px;
        }

        > strong {
          @apply text-lg font-normal opacity-70 text-center pt-4;
        }
      }
    }

    .panels {
      height: 170px;

      > .is-ios {
        @apply relative;

        &:hover {
          .qr {
            @apply opacity-100;
          }
        }
      }
    }
  }

  .screen-shot {
  }
}

.page-inner-full-wrap {
  &.dl-a {
    @apply relative overflow-hidden;

    &:after {
      @apply bottom-0 left-0 h-28 w-full absolute bg-gradient-to-t from-logseq-800;
      content: " ";
    }
  }
}