.cp__footer {
  @apply fixed bottom-0 left-0 px-5 py-2.5 z-10 flex flex-auto whitespace-nowrap h-20 items-start
  bg-[var(--ls-primary-background-color)];

  .bottom-action {
    @apply w-6 h-6;
  }

  .ti, .timer {
    color: var(--ls-primary-text-color);
  }

  .timer {
    @apply absolute left-10;
  }
}

.action-bar {
  @apply fixed bottom-[100px] h-[70px] p-1.5 rounded-md overflow-y-hidden overflow-x-auto
  shadow-md bg-[var(--ls-secondary-background-color)] z-[100];

  .action-bar-commands {
    @apply relative flex justify-around w-[120%];


    .ti, .tie {
      @apply text-[var(--ls-primary-text-color)] text-[23px] opacity-50;
    }

    .description {
      @apply text-[var(--ls-primary-text-color)] text-[13px] opacity-60;
    }

    button {
      @apply py-1 px-2;
    }
  }
}

#mobile-editor-toolbar {
  @apply fixed bottom-0 left-0 w-full z-[9999] flex justify-between;

  button {
    @apply flex items-center py-2 px-2;
  }

  .submenu {
    @apply fixed left-0 bottom-0 w-full flex-row justify-evenly items-center z-10 bg-base-2
    hidden overflow-x-auto overflow-y-hidden h-5 border;

    &.show-submenu {
      @apply flex;
    }
  }

  .toolbar-commands {
    @apply flex justify-between items-center w-[95%] overflow-y-hidden overflow-x-auto;

    &::-webkit-scrollbar {
      @apply h-1;
    }
  }

  .toolbar-hide-keyboard {
    border-left: 1px solid;
    border-color: var(--ls-quaternary-background-color);
  }
}

html.is-native-ipad {
  .cp__footer {
    @apply h-[55px] right-0 shadow-none flex-1 z-0;
  }

  .action-bar {
    @apply w-[70%] min-w-[550px];

    .action-bar-commands {
      @apply w-full;
    }

    @media (orientation: landscape) {
      @apply w-1/2;
    }
  }
}

html.is-native-iphone {
  .action-bar {
    left: 3%;
    right: 3%;
  }

  @media (orientation: landscape) {
    .cp__footer {
      height: 45px;
    }

    .action-bar {
      bottom: 50px;
      left: 15%;
      right: 15%;
      width: 70%;
      min-width: 450px;

      .action-bar-commands {
        width: 100%;
      }
    }
  }
}

html.is-native-iphone-without-notch,
html.is-native-android {
  .cp__footer {
    height: 45px;
  }

  .action-bar {
    left: 5%;
    right: 5%;
  }

  @media (orientation: landscape) {

    .action-bar {
      bottom: 50px;
      left: 15%;
      right: 15%;
      width: 70%;

      .action-bar-commands {
        width: 100%;
      }
    }
  }

  .cp__sidebar-left-layout {
    bottom: 0;
  }
}

html.is-zoomed-native-ios {
  .cp__footer {
    height: 70px;
  }

  @media (orientation: landscape) {
    .cp__footer {
      height: 50px;
    }
  }
}

.cp__graph-picker {
  button.toggle-item {
    opacity: .5;
    background: transparent !important;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      color: inherit;
      opacity: .5;
    }

    &.is-on {
      @apply opacity-100;
    }
  }
}
