{:ns-groups [{:pattern "frontend.components.*" :name all-components}]

 :config-in-ns
 ;; :used-underscored-binding is turned off for components because of false positive
 ;; for rum/defcs and _state.
 {all-components {:linters {:used-underscored-binding {:level :off}}}
  ;; false positive with match/match and _
  frontend.handler.paste {:linters {:used-underscored-binding {:level :off}}}
  frontend.db {:linters {:aliased-namespace-symbol
                         {:exclude [frontend.db.conn frontend.db.react logseq.db.default]}}}}

 :linters
 {:path-invalid-construct/string-join {:level :info}
  :regex-checks/double-escaped-regex {:level :warning}
  :aliased-namespace-symbol {:level :warning}
  ;; Disable until it doesn't trigger false positives on rum/defcontext
  :earmuffed-var-not-dynamic {:level :off}
  :unresolved-symbol {:exclude [goog.DEBUG
                                goog.string.unescapeEntities
                                ;; TODO:lint: Fix when fixing all type hints
                                object]}
  ;; TODO:lint: Remove node-path excludes once we have a cleaner api
  :unresolved-var {:exclude [frontend.util/node-path.basename
                             frontend.util/node-path.dirname
                             frontend.util/node-path.join
                             frontend.util/node-path.extname
                             frontend.util/node-path.name
                             ;; frontend.pubsub/def-mult-or-pub generate vars clj-kondo cannot resolve
                             frontend.pubsub]}

  :consistent-alias
  {:aliases {cljs.reader reader
             cljs-time.core t
             cljs-time.coerce tc
             datascript.core d
             datascript.transit dt
             datascript.db ddb
             electron.ipc ipc
             electron.utils utils
             "/electron/utils" js-utils
             frontend.commands commands
             frontend.components.query query
             frontend.components.query.result query-result
             frontend.config config
             frontend.date date
             frontend.db db
             frontend.db-mixins db-mixins
             frontend.db.query-dsl query-dsl
             frontend.db.react react
             frontend.db.query-react query-react
             frontend.db.util db-utils
             frontend.diff diff
             frontend.encrypt encrypt
             frontend.extensions.sci sci
             frontend.format.mldoc mldoc
             frontend.format.block block
             frontend.fs fs
             frontend.fs.memory-fs memory-fs
             frontend.fs.capacitor-fs capacitor-fs
             frontend.fs.nfs nfs
             frontend.handler.extract extract
             frontend.handler.common common-handler
             frontend.handler.common.file file-common-handler
             frontend.handler.common.plugin plugin-common-handler
             frontend.handler.common.developer dev-common-handler
             frontend.handler.config config-handler
             frontend.handler.editor.property editor-property
             frontend.handler.events events
             frontend.handler.global-config global-config-handler
             frontend.handler.ui ui-handler
             frontend.handler.notification notification
             frontend.handler.page page-handler
             frontend.handler.plugin plugin-handler
             frontend.handler.plugin-config plugin-config-handler
             frontend.handler.query.builder query-builder
             frontend.handler.repo repo-handler
             frontend.handler.repo-config repo-config-handler
             frontend.handler.route route-handler
             frontend.handler.search search-handler
             frontend.idb idb
             frontend.loader loader
             frontend.mixins mixins
             frontend.mobile.util mobile-util
             frontend.page page
             frontend.search search
             frontend.state state
             frontend.template template
             frontend.test.helper test-helper
             frontend.ui ui
             frontend.util util
             frontend.util.clock clock
             frontend.util.page page-util
             frontend.util.property property
             frontend.util.persist-var persist-var
             frontend.util.text text-util
             frontend.util.url url-util
             frontend.util.thingatpt thingatpt
             lambdaisland.glogi log
             logseq.common.path path
             logseq.graph-parser graph-parser
             logseq.graph-parser.text text
             logseq.graph-parser.block gp-block
             logseq.graph-parser.mldoc gp-mldoc
             logseq.graph-parser.util gp-util
             logseq.graph-parser.property gp-property
             logseq.graph-parser.config gp-config
             logseq.graph-parser.util.page-ref page-ref
             logseq.graph-parser.util.block-ref block-ref
             logseq.graph-parser.util.db db-util
             logseq.graph-parser.date-time-util date-time-util
             medley.core medley
             "path" node-path
             promesa.core p}}

  :namespace-name-mismatch {:level :warning}
  :used-underscored-binding {:level :warning}}

 :hooks {:analyze-call {rum.core/defc hooks.rum/defc
                        rum.core/defcs hooks.rum/defcs
                        clojure.string/join hooks.path-invalid-construct/string-join
                        clojure.string/replace hooks.regex-checks/double-escaped-regex}}
 :lint-as {promesa.core/let clojure.core/let
           promesa.core/loop clojure.core/loop
           promesa.core/recur clojure.core/recur
           rum.core/defcc rum.core/defc
           rum.core/with-context clojure.core/let
           rum.core/defcontext clojure.core/def
           clojure.test.check.clojure-test/defspec clojure.core/def
           clojure.test.check.properties/for-all clojure.core/for
           ;; src/main
           frontend.modules.outliner.datascript/auto-transact! clojure.core/let
           frontend.namespaces/import-vars potemkin/import-vars
           ;; src/test
           frontend.test.helper/deftest-async clojure.test/deftest
           frontend.test.helper/with-reset cljs.test/async
           frontend.react/defc clojure.core/defn}
 :skip-comments true
 :output {:progress true}}
