@import '../../../resources/css/inter.css';
@import '../../../resources/css/animation.css';
@import '../../../resources/css/table.css';
@import '../../../resources/css/tooltip.css';
@import '../../../resources/css/common.css';
@import '../../../resources/css/tabler-extension.css';
@import '../../apps/tldraw-logseq/src/styles.css';
