.cp__handbooks {
  &-content {
    @apply flex flex-col justify-between flex-1 overflow-y-auto;

    -webkit-font-smoothing: antialiased;
    overflow-y: overlay;

    &-wrap {
      @apply flex justify-center flex-col flex-1 h-full overflow-y-auto relative;
    }

    .hd {
      @apply dark:text-white px-3 pt-3 pb-2 sticky top-0 left-0 z-[4];

      background-color: var(--ls-quaternary-background-color);
    }

    .search {
      @apply flex flex-col;

      > .input-wrap {
        @apply mx-4 mb-2 flex rounded-lg mt-1.5;

        border: 3px solid var(--ls-primary-background-color);
        background-color: var(--ls-primary-background-color);

        &:focus-within {
          border: 3px solid var(--ls-secondary-border-color);
        }

        > input {
          @apply text-sm w-full border-none py-[7px] px-[24px] bg-transparent
          focus:outline-0 dark:text-gray-100;
        }

      }

      > .search-results-wrap {
        @apply px-4 py-1;
      }
    }

    .pane {
      @apply py-1 px-4 dark:text-gray-50;
    }

    .pane > h2, .ft > h2 {
      @apply py-2 text-[16px] dark:text-gray-100;
    }

    .ft {
      @apply px-4 pb-2;
    }

    .topic-card, .link-card {
      @apply text-sm p-2.5 rounded-lg cursor-pointer
      mb-2 active:opacity-90;

      background-color: var(--ls-secondary-background-color);
      border: 1px solid var(--ls-border-color);
      transition: background-color .3s;

      &:hover, &.active {
        background-color: var(--ls-primary-background-color);
      }

      > .l {
        @apply w-[64px] h-[48px] bg-transparent rounded overflow-hidden;
      }

      > .r {
        @apply pl-2.5 leading-none;

        > strong {
          @apply font-semibold text-[14px] py-1.5;
        }

        > span {
          @apply text-xs opacity-40;
        }
      }
    }

    .link-card {
      @apply dark:text-gray-100;
    }

    .category-card {
      @apply flex-col flex rounded px-3 py-3 text-gray-50
      active:opacity-90 cursor-pointer;

      > strong {
        @apply font-normal leading-tight;
      }

      > span {
        @apply text-[11px] opacity-90 pt-1;
      }
    }

    .categories-list {
      @apply grid grid-cols-2 gap-3;
    }

    .pane-topic-detail {
      @apply flex flex-col h-full;

      > h1 {
        @apply pb-1;
      }

      > .demos {
        img, video {
          @apply w-full;
        }

        &.glide {
          @apply mt-[56px] mb-[10px];
        }

        .glide__slide {
          @apply overflow-hidden rounded;
        }
      }

      .content {
        @apply overflow-hidden pt-1 leading-6;

        &-wrap {
          @apply flex flex-col justify-around;
        }
      }

      iframe {
        margin: 0;
      }
    }

    .glide {
      &__bullets {
        bottom: unset;
        top: -45px;
        left: -5px;
        transform: none !important;
      }

      &__bullet {
        @apply dark:text-black;

        width: 24px;
        height: 24px;
        font-size: 13px;
        border: none;
        margin: 0 5px;
      }

      &--swipeable {
        cursor: default !important;
      }
    }

    &.search-active {
      .pane {
        &:not(.pane-topic-detail) {
          display: none;
        }
      }
    }

    .markdown-body {
      @apply pt-4;

      -webkit-font-smoothing: initial;

      h1 {
        @apply py-1 text-2xl font-bold;
      }

      h2 {
        @apply py-1 text-xl font-bold;
      }

      h3, h4 {
        @apply py-1 text-lg font-semibold;
      }

      h5 {
        @apply py-0.5 font-semibold;
      }

      h6 {
        @apply py-0.5 text-sm font-semibold;
      }

      blockquote {
        margin: 0;
      }
    }
  }

  &-popup {
    @apply absolute rounded-lg overflow-hidden
    z-[9] shadow-lg flex justify-center flex-col;

    background-color: var(--ls-quaternary-background-color);
    border: 1px solid var(--ls-tertiary-background-color);
    touch-action: none;
    height: 720px;
    width: 450px;
    left: -415px;
    top: -680px;
  }
}

html[data-theme="light"] {
  .cp__handbooks-popup {
    background-color: var(--ls-primary-background-color);

    .input-wrap {
      background-color: #f1f1f1;

      &:focus-within {
        background-color: transparent;
      }
    }
  }

  .cp__handbooks-content {
    .hd {
      background-color: var(--ls-primary-background-color);
    }
  }
}
