.cp__handbooks {
  &-content {
    @apply px-4 py-2 flex flex-col justify-between;

    background-color: var(--ls-quaternary-background-color);
    min-height: 780px;
    max-width: 800px;
    -webkit-font-smoothing: antialiased;

    &-wrap {
      max-height: 900px;
    }

    .hd {
      @apply dark:text-white py-2;
    }

    .search {
      @apply flex rounded-lg mt-1.5;

      border: 3px solid var(--ls-primary-background-color);
      background-color: var(--ls-primary-background-color);

      &:focus-within {
        border: 3px solid var(--ls-secondary-border-color);
      }

      > input {
        @apply text-sm w-full border-none py-[7px] pl-[24px] bg-transparent
        focus:outline-0 dark:text-gray-100;
      }
    }

    .pane {
      @apply py-2 px-1 dark:text-gray-50;
    }

    .pane > h2, .ft > h2 {
      @apply py-2 text-[16px] dark:text-gray-100;
    }

    .topic-card, .link-card {
      @apply text-sm p-2.5 rounded-lg cursor-pointer
      mb-2 active:opacity-90;

      background-color: var(--ls-primary-background-color);
      border: 1px solid var(--ls-border-color);

      > .l {
        @apply w-[64px] h-[48px] bg-yellow-50 rounded overflow-hidden;
      }

      > .r {
        @apply pl-2.5 leading-none;

        > strong {
          @apply font-semibold text-[14px] py-1.5;
        }

        > span {
          @apply text-xs opacity-40;
        }
      }
    }

    .link-card {
      @apply dark:text-gray-100;
    }

    .category-card {
      @apply flex-col flex rounded px-3 py-3 text-gray-50
      active:opacity-90 cursor-pointer;

      > strong {
        @apply font-normal leading-tight;
      }

      > span {
        @apply text-[11px] opacity-90 pt-1;
      }
    }

    .categories-list {
      @apply grid grid-cols-2 gap-3;
    }

    .pane-topic-detail {
      @apply flex flex-col h-full;

      > h1 {
        @apply pb-1;
      }

      > .demos {
        img {
          @apply w-full;
        }
      }

      .content {
        @apply overflow-hidden pt-1 leading-6;

        &-wrap {
          @apply flex flex-col justify-around;
        }
      }
    }
  }

  &-popup {
    @apply fixed bottom-[60px] right-[26px] rounded-lg overflow-hidden
    z-10 shadow-lg;

    border: 1px solid var(--ls-tertiary-background-color);
  }
}

html[data-theme="light"] {
  .cp__handbooks-content {
    background-color: var(--ls-primary-background-color);

    .search {
      background-color: #f1f1f1;

      &:focus-within {
        background-color: transparent;
      }
    }
  }
}