pin-depends: [
  ["melange-edn-core.0.5.0" "git+https://github.com/logseq/melange-edn.git#main"]
  ["melange-edn-melange.0.5.0" "git+https://github.com/logseq/melange-edn.git#main"]
  ["melange-transit-core.0.1.2" "git+https://github.com/logseq/melange-transit.git#main"]
  ["melange-transit-melange.0.1.2" "git+https://github.com/logseq/melange-transit.git#main"]
  ["humanize.dev" "git+https://github.com/rcmerci/humanize.git#main"]
  ["rrbvec.dev" "git+https://github.com/logseq/rrbvec.git#main"]
]
