.logseq-tldraw {
  --color-panel: var(--ls-tertiary-background-color);
  --color-panel-inverted: var(--ls-secondary-text-color);
  --color-text: var(--ls-primary-text-color);
  --color-text-inverted: var(--ls-tertiary-background-color);
  --color-hover: var(--ls-secondary-background-color);
  --color-selectedStroke: rgb(42, 123, 253);
  --color-selectedFill: #4285f4;
  --color-selectedContrast: #fff;
  --shadow-small: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-medium: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-large: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.logseq-tldraw-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.tl-toolbar {
  position: absolute;
  top: 0;
  width: 100%;
  grid-row: 1;
  display: flex;
  align-items: center;
  padding: 8px;
  color: black;
  z-index: 100000;
  user-select: none;
  background: white;
  border-bottom: 1px solid black;
  font-size: inherit;
}

.tl-action-bar {
  position: absolute;
  bottom: 0;
  border-radius: 12px 12px 0 0;
  left: 53px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px;
  color: black;
  border: none;
  z-index: 100000;
  user-select: none;
  background: var(--ls-primary-background-color);
  box-shadow: var(--shadow-medium);

  > button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    padding: 0 8px;
    border-radius: 4px;
    color: var(--ls-primary-text-color);
    font-size: 14px;
    font-family: var(--ls-font-family);
    background: none;
    border: none;
    cursor: pointer;
    opacity: 1;
    white-space: nowrap;

    &:hover {
      background-color: var(--color-hover);
    }
  }
}

.tl-zoom-menu-dropdown-menu-button {
  opacity: 100%;
  background-color: #fff;
  border-radius: 6px;
  padding: 5px;
  box-shadow: 0 10px 38px -10px rgba(22, 23, 24, 0.35), 0 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.tl-zoom-menu-dropdown-item {
  min-width: 220px;
  all: unset;
  font-size: 13px;
  line-height: 1;
  color: black;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 5px;
  position: relative;
  user-select: none;

  &:focus {
    color: white;
    background-color: black;
  }
}

.tl-zoom-menu-right-slot {
  margin-left: auto;
  padding-left: 20px;
  color: black;

  &:focus {
    color: whites;
  }
}

.tl-contextbar {
  pointer-events: all;
  position: relative;
  background-color: #fff;
  color: #a4b5b6;
  padding: 8px 12px;
  border-radius: 8px;
  white-space: nowrap;
  display: flex;
  gap: 12px;
  align-items: stretch;
  font-size: 14px;
  will-change: transform, contents;
  box-shadow: var(--shadow-medium);
  z-index: 1000;

  label {
    font-family: var(--ls-font-family);
    font-size: 10px;
  }

  .input {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .number-input {
    width: 44px;
    height: 24px;
    padding: 2px;
  }

  .color-input-wrapper {
    overflow: hidden;
    height: 18px;
    width: 46px;
    border-radius: 2px;
    margin: 2px;
    box-shadow: 0 0 0 2px var(--ls-tertiary-background-color);
  }

  .color-input {
    transform: translate(-4px, -4px) scale(1.5);
  }

  .switch-input-root {
    all: unset;
    width: 36px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.44);
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-radius: 9999px;

    &[data-state='checked'] {
      background: #8ec2c2;
    }
  }

  .switch-input-thumb {
    display: block;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 9999px;
    transition: transform 100ms ease 0s;
    transform: translateX(3px);
    will-change: transform;
  }

  &[data-state='checked'] {
    transform: translateX(17px);
  }

  .tl-text-input {
    height: 24px;
    padding: 0;
    background: none;
    border-radius: 2px;

    &:focus {
      outline: none;
    }
  }
}

.tl-statusbar {
  position: absolute;
  font-family: monospace;
  font-size: 10px;
  bottom: 0;
  grid-row: 3;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px;
  color: black;
  z-index: 100000;
  user-select: none;
  background: white;
  border-top: 1px solid black;
  flex-shrink: 0;
  height: 32px;
}

.tl-primary-tools {
  display: flex;
  position: absolute;
  right: 30px;
  top: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  gap: 8px;
  z-index: 10000;
  flex-flow: column;
  border-radius: 8px;
  overflow: hidden;
  padding: 8px;

  .tl-button {
    position: relative;
    height: 28px;
    width: 28px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: var(--ls-font-family);
    background: none;
    border: none;
    cursor: pointer;
    color: var(--ls-primary-text-color);

    &:hover {
      background-color: var(--color-hover);
    }

    &[data-selected='true'] {
      background-color: var(--color-selectedFill);
      color: var(--color-selectedContrast);
    }
  }
}

.tl-tools-floating-panel {
  display: flex;
  flex-flow: column;
  border-radius: 8px;
  overflow: hidden;
  padding: 4px;
  gap: 8px;
  background-color: var(--color-panel);
  box-shadow: var(--shadow-medium);
  pointer-events: all;
}

.floating-panel[data-tool-locked='true'] > .tl-button[data-selected='true']::after {
  content: '';
  display: block;
  height: 6px;
  width: 6px;
  border: 2px solid var(--color-selectedContrast);
  background-color: var(--color-selectedFill);
  position: absolute;
  bottom: -4px;
  left: calc(50% - 5px);
  border-radius: 100%;
}

.tl-text-shape-wrapper {
  position: absolute;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  border: 1px solid transparent;
  margin: 0;
  padding: 0;
  z-index: 9999;
  user-select: none;
  width: 100%;
  height: 100%;
  min-height: 1;
  min-width: 1;
  line-height: 1;
  outline: 0;
  backface-visibility: hidden;
  pointer-events: all;
  vertical-align: baseline;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.tl-text-shape-input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  padding: inherit;
  font-family: inherit;
  font-size: inherit;
  font-variant: inherit;
  text-align: inherit;
  min-height: inherit;
  min-width: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  outline: 0;
  white-space: inherit;
  overflow-wrap: inherit;
  font-weight: inherit;
  overflow: hidden;
  backface-visibility: hidden;
  display: inline-block;
  pointer-events: all;
  user-select: text;
  -webkit-user-select: text;
}

.tl-stroke-hitarea {
  fill: none;
  stroke: transparent;
  stroke-width: calc(24px * var(--tl-scale));
  pointer-events: stroke;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.tl-text-label-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  user-select: none;
  font-family: var(--ls-font-family);
}

.tl-text-label-inner-wrapper {
  position: absolute;
  padding: 4px;
  z-index: 1;
  min-height: 1px;
  min-width: 1px;
  line-height: 1;
  outline: 0;
  font-weight: 500;
  text-align: center;
  backface-visibility: hidden;
  user-select: none;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.tl-text-label-textarea {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  border: none;
  padding: 4px;
  resize: none;
  text-align: inherit;
  min-height: inherit;
  min-width: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  outline: 0;
  font-weight: inherit;
  overflow: hidden;
  backface-visibility: hidden;
  display: inline-block;
  pointer-events: all;
  background: var(--colors-boundsBg);
  user-select: text;
  -webkit-font-smoothing: subpixel-antialiased;
  white-space: pre-wrap;
  overflow-wrap: break-word;

  &:focus {
    outline: none;
    border: none;
  }
}

.tl-preview-minimap {
  height: 300px;
  width: 400px;

  /* Set top to be the viewport minus 10px */
  bottom: calc(100vh - 320px);

  left: 16px;
  position: absolute;
  border: 1px solid black;
  background-color: #fff;
  pointer-events: all;
}

.tl-preview-minimap-toggle {
  position: absolute;
  top: 60px;
  right: 50px;
  z-index: 1;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  background: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;

  &[data-active='true'] {
    background: #eee;
  }
}

.tl-quick-search {
  width: fit-content;
  position: relative;
}

.tl-quick-search-icon {
  flex-shrink: 0;
}

.tl-quick-search-indicator {
  background-color: var(--ls-secondary-background-color);
  font-size: 22px;
  position: absolute;
  right: calc(100% + 12px);
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: calc(50% - 17px);
}

.tl-quick-search-input-container {
  display: flex;
  align-items: center;
  font-size: 16px;
  background-color: var(--ls-secondary-background-color);
  padding: 6px 16px;
  border-radius: 8px;
  box-shadow: var(--shadow-small);
}

.tl-quick-search-input-filter {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  padding: 2px 8px;
  white-space: nowrap;
  gap: 8px;
  border-radius: 5px;
  margin-right: 8px;
  font-size: 14px;
}

.tl-quick-search-input-filter-remove {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--ls-block-bullet-border-color);

  &:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }

  > i.ti {
    transform: translateY(-0.5px);
  }
}

.tl-quick-search-input-sizer {
  position: relative;
}

.tl-quick-search-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
}

.tl-quick-search-input-hidden {
  opacity: 0;
  min-width: 240px;
  min-height: 24px;
}

.tl-quick-search-options {
  position: absolute;
  top: calc(100% + 12px);
  left: 0;
  background-color: var(--ls-primary-background-color);
  max-height: 300px;
  min-width: 460px;
  box-shadow: var(--shadow-large);
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overscroll-behavior: none;
}

.tl-quick-search-option {
  display: flex;
  flex-flow: column;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.25rem;
  gap: 0.5em;

  &[data-focused=true] {
    background-color: var(--ls-menu-hover-color, #f4f5f7);
  }
}

.tl-quick-search-option-row {
  display: flex;
  gap: 0.5em;

  .breadcrumb {
    margin: 0;
  }
}

.tl-quick-search-option-placeholder {
  width: 20px;
  flex-shrink: 0;
}

.tl-quick-search-option-breadcrumb {
  opacity: 0.5;
}

.tl-logseq-portal-container {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  transform: translate(1px, 1px);
  overscroll-behavior: none;
  display: flex;
  flex-direction: column;
  opacity: 1;
  border-radius: 8px;
}

.tl-logseq-portal-header {
  height: 40px;
  width: 100%;
  flex-shrink: 0;
  background: transparent;
  display: flex;
  color: var(--ls-title-text-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0 1rem;
  align-items: center;
  gap: 0.5em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  .page-ref {
    color: var(--ls-title-text-color);
  }  
}

.tl-type-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 16px;
  width: 20px;
  height: 20px;
  line-height: 1;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  order: 0;
  flex-grow: 0;
}

.tl-html-container > iframe {
  height: 100% !important;
  width: 100% !important;
  margin: 0;
}

.tl-logseq-cp-container {
  width: 100%;
  border-radius: 8px;
  overscroll-behavior: none;
  height: 100%;
  flex: 1 1 0%;
  cursor: default;
}

.tl-highlighted {
  padding: 0;
  border-radius: 0;
}

.logseq-img-icon {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  box-shadow: 0 8px 12px 0 #85c8c81a, 0 4px 32px 0 #85c8c880;
}

.tl-target-not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

html[data-theme='light'] {
  .tl-quick-search-input-filter-remove {
    background-color: #7373734d;
  }

  .tl-type-tag[data-active='true'] {
    background: rgba(66, 133, 244, 0.2);
    border: 1px solid rgba(42, 123, 253, 0.5);
    color: var(--ls-secondary-text-color);
  }

  .tl-logseq-portal-header {
    backdrop-filter: brightness(0.9);
  }
}

html[data-theme='dark'] {
  .tl-type-tag[data-active='true'] {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), #338fff;
    border: 1px solid #338fff;
    color: var(--ls-secondary-text-color);
  }

  .tl-logseq-portal-header {
    backdrop-filter: brightness(1.2);
  }
}