#root {
  @apply p-4;
}

@media (platform: android) {
  ion-content {
    --ion-safe-area-top: 25px;
  }
}

html.plt-capacitor.plt-android {
  ion-button, ion-tab-button {
    --ripple-color: rgba(0, 0, 0, .08); /* 设置涟漪颜色为透明 */
  }

  ion-app {
    margin-top: 40px;
  }
}
