div.table-wrapper {
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin: 1rem 0;
}

tr {
    border-bottom: 1px solid var(--ls-border-color);
}

th {
    font-size: 14px;
    font-weight: 400;
    color: var(--ls-primary-text-color);
    border-bottom: 2px solid var(--ls-border-color);
    padding: 10px 8px;
}

td {
    border-bottom: 1px solid var(--ls-border-color);
    padding: 6px 8px;
    text-align: left;
}

tr:nth-child(even) {background: var(--ls-table-tr-even-background-color);}
tr:nth-child(odd) {background: var(--ls-primary-background-color);}

caption.t-above {caption-side:top}
caption.t-bottom {caption-side:bottom}
caption {margin-bottom:.3em}
figcaption{margin-top:.3em}
.org-right{text-align:right}
.org-left{text-align:left}
.org-center{text-align:center}

.dark-theme th {
    color: var(--ls-primary-text-color);
}

.dark-theme tr:nth-child(even) {background: var(--ls-table-tr-even-background-color);}
.dark-theme tr:nth-child(odd) {background: var(--ls-primary-background-color);}
.dark-theme td, .dark-theme tr {
    border-bottom: none;
}
.dark-theme th {
    border-bottom: 2px solid var(--ls-border-color);
}
