{:help/about "Oor Logseq"
 :help/bug "Fout verslag"
 :help/feature "Funksie versoek"
 :help/changelog "Verandering-dagboek"
 :help/privacy "Privaatheidsbeleid"
 :help/terms "Terme"
 :help/shortcuts "Sleutelbord kortpaaie"
 :help/shortcuts-triggers "Snellers"
 :help/shortcut "Kortpad"
 :help/slash-autocomplete "Slash outovoltooi"
 :help/block-content-autocomplete "Blokkeer inhoud (Oorsprong, kwotasie, navrae ens.) Voltooi outomaties"
 :help/reference-autocomplete "Blad verwysing Outovoltooi"
 :help/block-reference "Blok verwysing"
 :help/open-link-in-sidebar "Maak skakel in kantlys oop"
 :help/context-menu "Konteks kaart"
 :help/markdown-syntax "Markdown sintaksis"
 :bold "Vetdruk"
 :italics "Skuinsdruk"
 :highlight "Beklemtoon"
 :strikethrough "Deurstreep"
 :code "Kode"
 :right-side-bar/help "Hulp"
 :right-side-bar/switch-theme "Skakel oor na die {1} tema"
 :right-side-bar/contents "Inhoud"
 :right-side-bar/block-ref "Blok verwysing"
 :page/presentation-mode "Aanbiedings modus"
 :page/delete-confirmation "Is jy seker jy wil die bladsy uitvee?"
 :page/show-journals "Wys joernale"
 :file/name "Lêer naam"
 :file/last-modified-at "Laas verander op"
 :file/no-data "Geen data"
 :file/format-not-supported "Formaat .{1} word nie ondersteun nie."
 :editor/block-search "Soek vir 'n blok"
 :editor/copy "Kopieer"
 :editor/cut "Sny"
 :content/copy-block-ref "Kopieer blok verwysing"
 :content/open-in-sidebar "Maak in kantlys oop"
 :content/click-to-edit "Kliek om te wysig"
 :settings-page/edit-config-edn "Wysig config.edn (vir huidige stoor)"
 :settings-page/preferred-file-format "Voorkeur lêer formaat"
 :settings-page/preferred-workflow "Voorkeur werkstroom"
 :settings-page/developer-mode "Ontwikkelaar modus"
 :settings-page/developer-mode-desc "Ontwikkelaarmodus help bydraers en ontwikkelaars van uitbreidings om hul integrasie met Logseq doeltreffender te toets."
 :yes "Ja"
 :submit "Stuur"
 :cancel "Kanselleer"
 :re-index "Herindekseer"
 :export-json "Uitvoer as JSON"
 :search "Soek"
 :graph "Grafiek"
 :all-pages "Alle blaaie"
 :all-files "Alle lêers"
 :settings "Verstellings"
 :import "Invoer"
 :join-community "Sluit by die gemeenskap aan"
 :help-shortcut-title "Kliek op die kortpad en ander wenke"
 :parsing-files "Lêer ontleding"
 :loading-files "Laai lêers"
 :download "Laai af"
 :language "Taal"

 :file-sync/other-user-graph "Huidige plaaslike grafiek is gebonde aan ander gebruiker se afgeleë grafiek. So kan nie begin om te sinkroniseer nie."
 :file-sync/graph-deleted "Huidige afstandgrafiek is geskrap" 

 :shortcut.category/formatting           "Formatering"
 :command.editor/indent                  "Ingekeepte blok oortjie"
 :command.editor/outdent                 "Oningekeepte blok"
 :command.editor/move-block-up           "Skuif Blok Boontoe"
 :command.editor/move-block-down         "Skuif Blok Ondertoe"
 :command.editor/new-block               "Skep 'n nuwe blok"
 :command.editor/new-line                "Nuwe lyn in blok"
 :command.editor/zoom-in                 "Zoem in"
 :command.editor/zoom-out                "Zoem uit"
 :command.editor/follow-link             "Volg die skakel onder die wyser"
 :command.editor/open-link-in-sidebar    "Maak skakel in kantlys oop"
 :command.editor/expand-block-children   "Brei uit"
 :command.editor/collapse-block-children "Vou in"
 :command.editor/select-block-up         "Kies blok bo"
 :command.editor/select-block-down       "Kies blok onder"
 :command.editor/select-all-blocks       "Kies alle blokke"
 :command.ui/toggle-help                 "Wissel help"
 :command.git/commit                     "Jou git stoor boodskap"
 :command.go/search                      "Volteks soek"
 :command.ui/toggle-document-mode        "Wissel dokument modus"
 :command.go/journals                    "Spring na joernale"
 :command.ui/toggle-theme                "Wissel tussen donker/lig temas"
 :command.ui/toggle-right-sidebar        "Wissel regter sybalk"}