{:accessibility/skip-to-main-content "برو به محتوای اصلی"
 :handbook/title           "راهنما"
 :handbook/topics          "موضوعات"
 :handbook/popular-topics  "موضوعات محبوب"
 :handbook/help-categories "دسته‌بندی‌های راهنما"
 :handbook/search          "جستجو"
 :handbook/home            "خانه"
 :handbook/settings        "تنظیمات"
 :handbook/close           "بستن"
 :on-boarding/importing-main-title "درون‌ریزی یادداشت‌های موجود"
 :on-boarding/importing-main-desc "این کار را می‌توانید بعدا هم انجام دهید."
 :on-boarding/importing-title "آیا یادداشت‌هایی از پیش دارید که بخواهد وارد برنامه کنید؟"
 :on-boarding/importing-desc "اگر در قالب‌های JSON، EDN یا مارک‌داون هستند، لاگ‌سیک می‌تواند با آن‌ها کار کند."
 :on-boarding/main-title (fn [] ["به " [:strong "لاگ‌سیک"] "خوش‌آمدید!"])
 :on-boarding/main-desc "در ابتدا نیاز به انتخاب پوشه‌ای دارید که لاگ‌سیک، افکار، ایده‌ها و یادداشت‌های شما را در آن‌جا ذخیره کند."
 :help/title-usage            "استفاده"
 :help/title-community        "اجتماع"
 :help/title-development      "توسعه"
 :help/title-about            "درباره"
 :help/title-terms            "قوانین"
 :help/start                  "شروع"
 :help/about                  "درباره لاگ‌سیک"
 :help/roadmap                "مسیر توسعه"
 :help/bug                    "گزارش مشکل"
 :help/feature                "درخواست ویژگی"
 :help/changelog              "فهرست تغییرات"
 :help/blog                   "بلاگ لاگ‌سیک"
 :help/docs                   "مستندات"
 :help/privacy                "سیاست حریم شخصی"
 :help/terms                  "قوانین"
 :help/forum-community        "تالار گفتگو"
 :help/shortcuts              "کلیدهای میان‌بر"
 :help/shortcuts-triggers     "محرک‌ها"
 :help/shortcut               "میان‌بر"
 :help/search                 "جستجو در برگه‌ها/بلوک‌ها/نظرات"
 :help/block-reference        "ارجاع بلوک"
 :help/open-link-in-sidebar   "باز کردن پیوند در نوار کناری"
 :search-item/page       "برگه"
 :search-item/no-result  "نتایجی یافت نشد"
 :help/context-menu    "فهرست زمینه‌ای بلوک"
 :help/markdown-syntax "نحو مارک‌داون"
 :help/org-mode-syntax "نحو حالت Org"
 :bold "ضخیم"
 :italics "کج"
 :strikethrough "خط‌زده"
 :code "کد"
 :untitled "بدون عنوان"
 :right-side-bar/help                 "راهنما"
 :right-side-bar/switch-theme         "پوسته"
 :right-side-bar/contents             "محتوا"
 :right-side-bar/page-graph           "گراف برگه"
 :right-side-bar/block-ref            "ارجاعات بلوک"
 :right-side-bar/graph-view           "نمای گراف"
 :right-side-bar/flashcards           "فلش کارت‌ها"
 :right-side-bar/show-journals        "نمایش روزنگارها"
 :right-side-bar/separator            "دستگیره تغییر اندازه نوار سمت راست"
 :right-side-bar/toggle-right-sidebar "باز و بسته کردن نوار سمت راست"
 :right-side-bar/pane-close           "بستن"
 :right-side-bar/pane-close-others    "بسته بقیه"
 :right-side-bar/pane-close-all       "بستن همه"
 :right-side-bar/pane-collapse        "جمع کردن"
 :right-side-bar/pane-collapse-others "جمع کردن بقیه"
 :right-side-bar/pane-collapse-all    "جمع کردن همه"
 :right-side-bar/pane-expand          "گسترش"
 :right-side-bar/pane-expand-all      "گسترش همه"
 :right-side-bar/pane-open-as-page    "باز کردن به عنوان صفحه"
 :right-side-bar/pane-more            "بیشتر"
 :left-side-bar/switch           "تغییر به:"
 :left-side-bar/journals         "روزنگارها"
 :left-side-bar/nav-favorites    "برگزیده‌ها"
 :left-side-bar/nav-recent-pages "اخیر"
 :page/something-went-wrong "اشتباهی رخ داد"
 :page/logseq-is-having-a-problem "لاگ‌سیک دچار مشکلی شده است. برای بازگرداندن آن به حالت قابل استفاده لطفا گام‌های زیر را به ترتیب انجام دهید:"
 :page/step "گام {1}"
 :page/try "امتحان کنید"
 :page/open-in-finder "باز کردن در پوشه"
 :page/open-with-default-app "باز کردن با برنامه پیش‌فرض"
 :page/make-public "عمومی ساختن برای انتشار"
 :page/make-private "تبدیل به خصوصی"
 :page/delete "حذف برگه"
 :page/add-to-favorites "افزودن به برگزیده‌ها"
 :page/unfavorite "برداشتن از برگزیده‌ها"
 :block/name "نام برگه"
 :page/copy-page-url "رونوشت از نشانی برگه"
 :file/name "نام پرونده"
 :file/last-modified-at "آخرین تغییر در"
 :file/no-data "بدون داده"
 :file/format-not-supported "قالب .{1} پشتیبانی نمی‌شود."
 :page/created-at "ساخته شده در"
 :page/updated-at "به‌روز شده در"
 :linked-references/filter-search "جستجو در برگه‌های پیوند شده"
 :linked-references/filter-heading "پالایه"
 :linked-references/filter-directions "برای شمول کلیک و برای استثناء کردن، شیفت کلیک کنید. دوباره کلیک کنید تا پاک شود."
 :linked-references/filter-includes "شامل شده‌ها: "
 :linked-references/filter-excludes "استثناء شده‌ها: "
 :editor/block-search "جستجو برای بلوک"
 :text/image "تصویر"
 :asset/show-in-folder "نمایش تصویر در پوشه"
 :asset/open-in-browser "باز کردن تصویر در مرورگر"
 :asset/delete "حذف تصویر"
 :asset/copy "رونوشت تصویر"
 :asset/maximize "بیشینه کردن تصویر"
 :asset/confirm-delete "آیا مطمئنید که می‌خواید این {1} را پاک کنید؟"
 :asset/physical-delete "به همراه حذف پرونده (توجه داشته باشید که این کار بازگشت‌پذیر نیست)"
 :color/gray "خاکستری"
 :color/red "قرمز"
 :color/yellow "زرد"
 :color/green "سبز"
 :color/blue "آبی"
 :color/purple "بنفش"
 :color/pink "صورتی"
 :editor/copy "رونوشت"
 :editor/cut "برش"
 :editor/expand-block-children "گسترش همه"
 :editor/collapse-block-children "جمع کردن همه"
 :editor/delete-selection "حذف بلوک‌های انتخاب شده"
 :editor/cycle-todo "چرخش وضعیت TODO مورد جاری"
 :content/copy-export-as "رونوشت / برون‌ریزی به صورت.."
 :content/copy-block-url "رونوشت نشانی بلوک"
 :content/copy-block-ref "رونوشت ارجاع بلوک"
 :content/copy-ref "رونوشت از این ارجاع"
 :content/delete-ref "حذف این ارجاع"
 :content/replace-with-text "جایگزینی با متن"
 :content/replace-with-embed "جایگزینی با جاساز"
 :content/open-in-sidebar "باز کردن در نوار کناری"
 :content/click-to-edit "برای ویرایش، کلیک کنید"
 :context-menu/make-a-flashcard "ساخت یک فلش کارت"
 :context-menu/toggle-number-list "تغییر فهرست شمارشی"
 :settings-page/app-updated "برنامه شما به روز است 🎉"
:settings-page/auto-chmod "تغییر خودکار سطوح دسترسی پرونده"
:settings-page/auto-chmod-desc "غیر فعال کنید تا اجازه ویرایش توسط چند کاربر با دسترسی‌هایی که از طریق عضویت گروه اعطا شده است را بدهید."
:settings-page/auto-expand-block-refs "گسترش خودکار ارجاعات بلوک در زمان بزرگ‌نمایی"
:settings-page/auto-expand-block-refs-tip "این گزینه تعیین می‌کند که آیا ارجاعات بلوک در زمان بزرگ‌نمایی به طور خودکار گسترش یابد یا خیر."
:settings-page/auto-updater "به‌روزرسان خودکار"
:settings-page/changelog "چه خبر؟"
:settings-page/check-for-updates "بررسی برای به‌روزرسانی"
:settings-page/checking "در حال بررسی ..."
:settings-page/clear "پاک کردن"
:settings-page/clear-cache "پاک کردن حافظه نهان"
:settings-page/clear-cache-warning "عملیات پاک کردن حافظه نهان، گراف‌های باز را نادیده می‌گیرد. تغییرات ذخیره نشده را از دست خواهید داد."
:settings-page/current-version "نسخه جاری"
:settings-page/custom-configuration "پیکربندی سفارشی"
:settings-page/custom-date-format "قالب تاریخ ترجیحی"
:settings-page/custom-global-configuration "پیکربندی سراسری سفارشی"
:settings-page/custom-theme "پوسته سفارشی"
:settings-page/developer-mode "حالت توسعه‌دهنده"
:settings-page/developer-mode-desc "حالت توسعه‌دهنده به مشارکت‌کنندگان و توسعه‌دهندگان افزونه‌ها امکان می‌دهد تا به شکل مؤثرتری بتوانند یکپارچگی کارشان با لاگ‌سیک را به آزمون بگذارند."
:settings-page/disable-sentry "فرستادن داده‌های استفاده و ارزیابی به لاگ‌سیک"
:settings-page/disable-sentry-desc "لاگ‌سیک هرگز پایگاه داده گراف محلی شما را گردآوری نکرده و داده‌های شما را نمی‌فروشد."
:settings-page/edit-config-edn "ویرایش config.edn"
:settings-page/edit-custom-css "ویرایش custom.css"
:settings-page/edit-export-css "ویرایش export.css"
:settings-page/edit-global-config-edn "ویرایش سراسری config.edn"
:settings-page/enable-all-pages-public "عمومی کردن همه صفحه‌ها در زمانی انتشار"
:settings-page/enable-flashcards "فلش‌کارت‌ها"
:settings-page/enable-journals "روزنگارها"
:settings-page/export-theme "برون‌ریزی پوسته"
:settings-page/home-default-page "تنظیم صفحه خانگی پیش‌فرض"
:settings-page/login-prompt "برای آن که پیش از دیگران به ویژگی‌های جدید دسترسی پیدا کنید لازم است حامی لاگ‌سیک روی اوپن کالکتیو باشید و بنابراین لازم است که ابتدا وارد حساب‌تان بشوید."
:settings-page/native-titlebar "نوار عنوان بومی"
:settings-page/native-titlebar-desc "نوار عنوان پنجره بومی را روی گنولینوکس و ویندوز فعال می‌کند."
:settings-page/network-proxy "پروکسی شبکه"
:settings-page/plugin-system "افزونه‌ها"
:settings-page/preferred-outdenting "برون‌رفتگی منطقی"
:settings-page/preferred-outdenting-tip "سمت چپ، فرون‌رفتگی با تنظیمات پیش‌فرض را نمایش می‌دهد و سمت راست، برون‌رفتگی در حالت فعال بودن برون‌رفتگی منطقی را "
:settings-page/preferred-outdenting-tip-more "← بیشتر بدانید"
:settings-page/preferred-pasting-file "شیوه ترجیحی چسباندن پرونده"
:settings-page/preferred-pasting-file-hint "وقتی فعال باشد، چسباندن یک تصویر از اینترنت باعث بارگیری و درج تصویر می‌شود. وقتی غیر فعال باشد، تنها پیوند به تصویر چسبانده خواهد شد."
:settings-page/revision "بازبینی: "
:settings-page/show-brackets "نمایش براکت"
:settings-page/show-full-blocks "نمایش تمام خطوط یک ارجاع بلوکی"
:settings-page/spell-checker "بررسی کننده نگارش"
:settings-page/tab-account "حساب"
:settings-page/tab-advanced "پیشرفته"
:settings-page/tab-editor "ویرایش‌گر"
:settings-page/tab-features "ویژگی‌ها"
:settings-page/tab-general "عمومی"
:settings-page/tab-keymap "نگاشت کلید"
:settings-page/theme-dark "تیره"
:settings-page/theme-light "روشن"
:settings-page/theme-system "سامانه"
:settings-page/update-available "انتشار جدید پیدا شد "
:settings-page/update-error-1 "⚠️ اوه، مشکلی پیش آمد!"

 :yes "بله"

 :cancel "لغو"
 :close "بستن"
 :delete "پاک کردن"
 :save "ذخیره"
 :type "نوع"
 :host "میزبان"
 :port "درگاه"
 :home "خانه"
 :new-page "برگه جدید:"
 :graph "گراف"
 :graph/all-graphs "همه گراف‌ها"
 :graph/local-graphs "گراف‌های محلی:"
 :graph/remote-graphs "گراف‌های راه‌دور:"
 :export "برون‌ریزی"
 :export-graph "برون‌ریزی گراف"
 :export-page "برون‌ریزی برگه"
 :export-markdown "برون‌ریزی به صورت مارک‌داون معیاری (بدون خصوصیات بلوک‌ها)"
 :export-public-pages "برون‌ریزی برگه‌های عمومی"
 :export-transparent-background "پس‌زمینه شفاف"
 :export-copy-to-clipboard "رونوشت در بریده‌دان"
 :export-copied-to-clipboard "در بریده‌دان رونوشت شد!"
 :export-save-to-file "ذخیره در پرونده"
 :all-graphs "همهٔ گراف‌ها"
 :all-files "همهٔ پرونده‌ها"
 :all-journals "همهٔ روزنگارها"
 :settings "تنظیمات"
 :settings-of-plugins "افزونه‌ها"
 :plugins "افزونه‌ها"
 :themes "پوسته‌ها"
 :relaunch-confirm-to-work "برای آن که کار کند لازم است که برنامه از نو راه‌اندازی شود. می‌خواید هم‌اکنون بازراه‌اندازی کنید؟"
 :import "درون‌ریزی"
 :importing "در حال درون‌ریزی"
 :help-shortcut-title "برای بررسی میان‌برها و دیگر نکات کلیک کنید"
 :loading "در حال بار شدن..."
 :login "ورود"
 :logout "خروج"
 :download "بارگیری"
 :language "زبان"
 :remove-background "حذف پس‌زمینه"
 :toggle-theme      "تغییر پوسته"

 :help/shortcut-page-title "کلیدهای میان‌بر"

 :plugin/installed "نصب شده"
 :plugin/installed-plugin "افزونه نصب شده: {1}"
 :plugin/not-installed "نصب نشده"
 :plugin/installing "در حال نصب"
 :plugin/install "نصب"
 :plugin/reload "بار کردن مجدد"
 :plugin/update "به‌روزرسانی"
 :plugin/update-plugin "به‌روزرسانی افزونه: {1} - {2}"
 :plugin/check-update "بررسی به‌روزرسانی"
 :plugin/check-all-updates "بررسی همه به‌روزرسانی‌ها"
 :plugin/found-updates "به‌روزرسانی‌های جدید"
 :plugin/found-n-updates "{1} به‌روزرسانی پیدا شد"
 :plugin/update-all-selected "به‌روزرسانی همه انتخاب شده‌ها"
 :plugin/all-updated "همگی به‌روز شدند!"
 :plugin/updates-downloading "بارگیری به‌روزرسانی‌ها"
 :plugin/refresh-lists "تازه‌سازی فهرست‌ها"
 :plugin/enabled "فعال"
 :plugin/disabled "غیرفعال"
 :plugin/update-available "به‌روزرسانی موجود است"
 :plugin/updating "در حال به‌روزرسانی"
 :plugin/uninstall "حذف نصب"
 :plugin/marketplace "بازارچه"
 :plugin/downloads "بارگیری‌ها"
 :plugin/stars "ستاره‌ها"
 :plugin/title "عنوان ({1})"
 :plugin/all "همه"
 :plugin/unpacked "بسته‌بندی نشده"
 :plugin/delete-alert "برای حذف افزونهٔ [{1}] اطمینان دارید؟"
 :plugin/open-settings "باز کردن تنظیمات"
 :plugin/open-package "باز کردن بسته"
 :plugin/load-unpacked "بار کردن افزونه بسته‌بندی نشده"
 :plugin/restart "بازراه‌اندازی برنامه"
 :plugin/unpacked-tips "انتخاب پوشهٔ افزونه"
 :plugin/contribute "✨ افزونهٔ جدید نوشته و بفرستید"
 :plugin/up-to-date "به روز است {1}"
 :plugin/custom-js-alert "پرونده‌ای به نام custom.js پیدا کردم. مجازم که اجرایش کنم؟ (اگر از محتوای این پرونده سر در نمی‌آورید، پیشنهاد می‌شود که اجازه اجرا را ندهید چون می‌تواند مخاطرات امنیتی داشته باشد.)"
 :plugin/security-warning "افزونه‌ها می‌توانند به گراف و پرونده‌های محلی شما دسترسی داشته و درخواست‌هایی روی شبکه بفرستند.
       آن‌ها همجنین می‌توانند باعت تخریب و یا از دست رفتن داده‌ها شوند. ما مشغول کار روی قوانین دسترسی مناسب برای گراف شما هستیم.
       در این بین، اطمینان حاصل کنید که به طور منظم از گراف‌های خود نسخه پشتیبان تهیه کرده و تنها زمانی از افزونه‌ها استفاده کنید
       که می‌توانید کد منبع آن‌ها مطالعه و درک کنید."
 :plugin/search-plugin "جستجوی افزونه‌ها"
 :plugin/open-preferences "باز کردن ترجیحات"
 :plugin/open-logseq-dir "باز کردن"
 :plugin/remote-error "خطای راه دور: "
 :plugin/checking-for-updates "در حال بررسی به‌روزرسانی افزونه‌ها..."
 :plugin/list-of-updates "افزونه‌های دارای به‌روزرسانی: "
 :plugin/auto-check-for-updates "بررسی خودکار برای به‌روزرسانی"
 :plugin.install-from-file/menu-title "نصب از plugins.edn"
 :plugin.install-from-file/title "نصب افزونه‌ها از plugins.edn"
 :plugin.install-from-file/notice "این افزونه‌ها جایگزین افزونه‌های شما می‌‌شوند:"
 :plugin.install-from-file/success "همه افزونه‌ها نصب شدند!"

 :updater/new-version-install "نسخه‌ای جدید بارگیری شده است."
 :updater/quit-and-install "بازراه‌اندازی برای نصب"

 :tips/all-done "همه انجام شدند!"

 :select/default-prompt "یکی را انتخاب کنید"
 :select/default-select-multiple "یک یا چند مورد را انتخاب کنید"
 :select.graph/prompt "یک گراف را انتخاب کنید"
 :select.graph/empty-placeholder-description "گرافی یافت نشد. می‌خواهید مورد دیگری را اضافه کنید؟"
 :select.graph/add-graph "بله، گراف دیگری را اضافه کن"

 :notification/clear-all "پاک کردن همه"

 :shortcut.category/basics "مقدماتی"
 :shortcut.category/formatting "قالب‌بندی"
 :shortcut.category/navigating "ناوبری"
 :shortcut.category/block-editing "تنظیمات عمومی ویرایش بلوک"
 :shortcut.category/block-command-editing "ویرایش دستوری بلوک"
 :shortcut.category/block-selection "انتخاب بلوک (با دکمه Esc از حالت انتخاب خارج می‌شوید)"
 :shortcut.category/toggle "تغییر حالت"
 :shortcut.category/others "سایر"
 :shortcut.category/plugins "افزونه‌ها"
 :keymap/all "همه"
 :keymap/disabled "غیر فعال"
 :keymap/unset "تنظیم نشده"
 :keymap/custom "سفارشی"
 :keymap/search "جستجو"
 :keymap/total "تعداد کل میان‌برها"
 :keymap/keystroke-filter "پالایهٔ تاج‌مهره"
 :keymap/keystroke-record-desc "سلسله‌ای از کلیدها را برای پالایش میان‌برها بفشارید"
 :keymap/keystroke-record-setup-label "سلسله‌ای از دکمه‌ها را برای تنظیم میان‌بر بفشارید"
 :keymap/restore-to-default "بازگردانی به پیش‌فرض سامانه"
 :keymap/customize-for-label "سفارشی‌سازی میان‌برها"
 :keymap/conflicts-for-label "تعارض میان‌بر برای"

 :window/minimize "کمینه‌سازی"
 :window/maximize "بیشینه‌سازی"
 :window/restore "بازگردانی"
 :window/close "بستن"
 :window/exit-fullscreen "خروج از حالت تمام صفحه"

 :header/toggle-left-sidebar         "تغییر وضعیت نوار چپ"
 :header/search                      "جستجو"
 :header/more                        "بیشتر"
 :header/go-back                     "برو عقب"
 :header/go-forward                  "برو جلو"
}
