{:tutorial/text #resource "tutorials/tutorial-fr.md"
 :tutorial/dummy-notes #resource "tutorials/dummy-notes-fr.md"
 :help/about "A propos de Logseq"
 :help/bug "Signaler une anomalie"
 :help/feature "Demander une fonctionnalité"
 :help/changelog "Journal des modifications"
 :help/blog "Blog de Logseq"
 :help/docs "Documentation"
 :help/privacy "Politique de confidentialité"
 :help/terms "Conditions d'utilisation"
 :help/shortcuts "Raccourcis clavier"
 :help/shortcuts-triggers "Actions déclenchées"
 :help/shortcut "Raccourcis"
 :help/slash-autocomplete "Autocomplétion avec Slash"
 :help/block-content-autocomplete "Autocomplétion du contenu du Bloc (Src, Quote, Query, etc)"
 :help/reference-autocomplete "Autocomplétion des références à une Page"
 :help/block-reference "Référence à un Bloc"
 :help/open-link-in-sidebar "Ouvrir le lien dans la barre latérale"

 :help/context-menu "Menu contextuel"
 :help/markdown-syntax "Syntaxe Markdown"
 :help/org-mode-syntax "Syntaxe Org mode"
 :bold "Gras"
 :italics "Italique"
 :highlight "Surligner"
 :strikethrough "Barré"
 :right-side-bar/help "Aide"
 :right-side-bar/switch-theme "Basculer sur le thème {1}"
 :right-side-bar/contents "Contenus"
 :right-side-bar/block-ref "Référence des blocs"
 :right-side-bar/graph-view "Vue graphe"
 :right-side-bar/all-pages "Toutes les pages"
 :right-side-bar/flashcards "Cartes-mémoire"
 :right-side-bar/new-page "Nouvelle page"
 :left-side-bar/journals "Journaux"
 :page/delete-confirmation "Etes-vous sûr de vouloir supprimer la page ?"
 :page/make-public "Rendre la page publique"
 :page/make-private "Rendre la page privée"
 :page/delete "Supprimer la page (supprime le fichier)"
 :page/show-journals "Afficher le Journal"
 :block/name "Nom de la page"
 :file/name "Nom de fichier"
 :file/last-modified-at "Dernières modifications à"
 :file/no-data "Aucune donnée"
 :file/format-not-supported "Le format .{1} n'est pas supporté."
 :editor/block-search "Rechercher un bloc"
 :editor/copy "Copier"
 :editor/cut "Couper"
 :content/copy-block-ref "Copier la référence du bloc"
 :content/open-in-sidebar "Ouvrir dans la barre latérale"
 :content/click-to-edit "Cliquer pour éditer"
 :settings-page/custom-date-format-warning "Réindexation requise ! Les réfeŕences vers les journaux existantes risquent d'être cassées !"
 :settings-page/edit-config-edn "Editer config.edn (pour le repo actuel)"
 :settings-page/preferred-file-format "Format de fichier préféré"
 :settings-page/preferred-workflow "Workflow préféré"
 :settings-page/enable-timetracking "Activer le suivi de temps des tâches"
 :settings-page/developer-mode "Le mode développeur"
 :settings-page/developer-mode-desc "Le mode développeur aide les contributeurs et les développeurs d'extension à tester leur intégration avec Logseq."
 :settings-page/preferred-pasting-file "Fichier de préférence pour le collage"
 :yes "Oui"
 :submit "Envoyer"
 :cancel "Annuler"
 :re-index "Ré-indexer"
 :export-json "Exporter au format JSON"
 :search/publishing "Rechercher"
 :search "Rechercher ou Créer la Page"
 :graph "Graphe"
 :all-pages "Toutes les pages"
 :all-files "Tous les fichiers"
 :all-journals "Tous les journaux"
 :settings "Préférences"
 :import "Importer"
 :join-community "Rejoindre la communauté"
 :parsing-files "Analyse des fichiers"
 :loading-files "Chargement des fichiers"
 :download "Télécharger"
 :language "Langage"
 :remove-background "Retirer le fond"
 :file-sync/other-user-graph "Le graphique local actuel est lié à l'autre graphique à distance de l'utilisateur. Alors ne peut pas commencer à la synchroniser."
 :file-sync/graph-deleted "Le graphe distant actuel a été supprimé"
 :all-graphs "Tous les graphs"
 :all-whiteboards "Tous les tableaux blancs"
 :auto-heading "Titres automatiques"
 :close "Fermer"
 :delete "Effacer"
 :discourse-title "Notre forum !"
 :export "Exporter"
 :export-edn "Exporter vers EDN"
 :export-graph "Exporter le graphe"
 :export-markdown "Exporter en Markdown standard (sans bloc de propriétés)"
 :export-opml "Exporter en OPML"
 :export-page "Exporter la page"
 :export-public-pages "Exporter les pages publiques"
 :export-roam-json "Exporter en JSON pour Roam"
 :graph-search "Rechercher un graphe"
 :heading "Entête {1}"
 :help-shortcut-title "Cliquez pour voir les raccourcis et autre astuces"
 :host "Hôte"
 :importing "Import en cours"
 :login "Connexion"
 :logout "Déconnexion"
 :more "Plus"
 :new-graph "Ajouter un nouveau graphe"
 :open-a-directory "Ouvrir un dossier local"
 :open-new-window "Nouvelle fenêtre"
 :page-search "Chercher dans la page en cours"
 :plugins "Extensions"
 :port "Port"
 :re-index-detail "Reconstruire le graphe"
 :re-index-discard-unsaved-changes-warning "La réindexation va effacer le graphe actuel, puis l'indéxer à nouveau. Ceci risque de vous faire perdre le travail non sauvegardé. Continuer ?"
 :re-index-multiple-windows-warning "Vous devez d'abord fermer les autres fenêtres avant de réindexer"
 :relaunch-confirm-to-work "Il est nécessaire de relancer l'application pour que ça fonctionne. Voulez-vous redémarrer ?"
 :remove-heading "Retirer les entêtes"
 :save "Sauver"
 :settings-of-plugins "Extensions"
 :sync-from-local-changes-detected "Le rafraîchissement va mettre à jour le contenu de Logseq en fonction des modifications réalisées sur les fichiers locaux. Voulez-vous continuer ?"
 :sync-from-local-files "Rafraîchir"
 :sync-from-local-files-detail "Importer les changements depuis les fichiers locaux"
 :themes "Thèmes"
 :untitled "Sans titre"
 :type "Type"
 :accessibility/skip-to-main-content "Aller au contenu principal"
 :asset/confirm-delete "Êtes-vous sûr de vouloir supprimer {1} ?"
 :asset/copy "Copier l'image"
 :asset/delete "Supprimer l'image"
 :asset/maximize "Agrandir l'image"
 :asset/open-in-browser "Ouvrir l'image dans le navigateur"
 :asset/physical-delete " Supprimer le fichier égalenent (notez qu'il ne pourra pas être restauré)"
 :asset/show-in-folder "Montrer l'image dans le dossier"
 :color/blue "Bleu"
 :color/gray "Gris"
 :color/green "Vert"
 :color/pink "Rose"
 :color/purple "Violet"
 :color/red "Rouge"
 :color/yellow "Jaune"
 :command-palette/prompt "Tapez un commande"
 :content/copy-block-emebed "Copier l'intégration du bloc"
 :file-rn/apply-rename "Appliquer le renommage"
 :file-rn/close-panel "Fermer le panneau"
 :file-rn/confirm-proceed "Mettre à jour le format !"
 :file-rn/filename-desc-1 "Ce réglage configure la manière dont une page est enregistrée dans un fichier. Logseq enregistre une page dans uen fichier portant le même nom."
 :file-rn/filename-desc-2 "Certains caractères spéciaux comme \"/\" or \"?\" sont invalides pour un nom de fichier."
 :file-rn/filename-desc-3 "Logseq remplace les caractères invalides par leur équivalent encodé façon URL pour les rendre valides (ex: \"?\" devient \"%3F\")"
 :file-rn/filename-desc-4 "Le séparateur de namespace \"/\" est également remplacé par \"___\" (triple underscore) pour des raisons esthétiques."
 :file-rn/format-deprecated "Vous utilisez un format obsolète. Mettre à jour le format est fortement recommandé. Veuillez sauvegarder vos données, fermer Logseq sur vos autres postes avant de lancer l'opération."
 :file-rn/instruct-1 "Le changement de format de nom de fichier se fait en 2 étapes :"
 :file-rn/instruct-2 "1. Cliquez "
 :file-rn/instruct-3 "2. Suivez les instructions ci-dessous pour renommer le fichier au nouveau format :"
 :file-rn/legend "🟢 Actions de renommage facultatives; 🟡 Action de renommage requise"
 :file-rn/need-action "Les actions de renommage de fichier sont suggérées pour être compatibles avec le nouveau format. Une réindexation est requise sur tous les postes quand les fichiers renommés auront été "
 :file-rn/no-action "Bravo ! Aucune autre action requise"
 :file-rn/optional-rename "Suggestion : "
 :file-rn/or-select-actions "ou renommez individuellement les fichiers suivants, puis "
 :file-rn/or-select-actions-2 ". Ces actions ne sont pas disponibles dès lors que vous fermez ce panneau."
 :file-rn/otherwise-breaking "Ou le titre deviendra"
 :file-rn/re-index "La réindexation est fortement recommandée après que les fichiers aient été renommés, puis sur les autres postes après synchronisation."
 :file-rn/rename "renommer le fichier \"{1}\" en \"{2}\""
 :file-rn/select-confirm-proceed "Dev: format d'écriture"
 :file-rn/select-format "(Option du Mode Developpeur, Danger !) Sélectionnez le format de nom de fichier"
 :file-rn/suggest-rename "Action requise : "
 :file-rn/unreachable-title "Attention ! la page deviendra {1} sous le format actuel, à moins que vous n'ayez modifié la propriété `title::`"
 :graph/all-graphs "Tous les graphes"
 :graph/persist "Logseq synchronise son statut local, veuillez patienter quelques secondes."
 :graph/persist-error "La synchronisation interne a échoué."
 :graph/save "Enregistrement ..."
 :graph/save-error "Enregistrement échoué"
 :graph/save-success "Enregistrement réussi"
 :help/forum-community "Forum communautaire"
 :help/shortcut-page-title "Raccourcis clavier"
 :help/start "Démarrage"
 :left-side-bar/create "Créer"
 :left-side-bar/nav-favorites "Favoris"
 :left-side-bar/nav-recent-pages "Récentes"
 :left-side-bar/new-page "Nouvelle page"
 :left-side-bar/new-whiteboard "Nouveau tableau blanc"
 :linked-references/filter-search "Rechercher dans les pages liées"
 :on-boarding/add-graph "Ajouter un graphe"
 :on-boarding/demo-graph "Il s'agit d'un graphe de démo, les changements ne seront pas enregistrés à moins que vous n'ouvriez un dossier local."
 :on-boarding/new-graph-desc-1 "Logseq supporte à la fois le Markdown et l'Org-mode. Vous pouvez ouvrir un dossier existant ou en créer un nouveau sur cet appareil. Vos données seront enregistrées uniquement sur cet appareil."
 :on-boarding/new-graph-desc-2 "Après avoir ouvert votre dossier, cela créera 3 sous-dossiers :"
 :on-boarding/new-graph-desc-3 "/journals - contient vos pages du journal"
 :on-boarding/new-graph-desc-4 "/pages - contient les autres pages"
 :on-boarding/new-graph-desc-5 "/logseq - contient la configuration, custom.css, et quelques métadonnées"
 :on-boarding/open-local-dir "Ouvre un dossier local"
 :page/add-to-favorites "Ajouter aux Favoris"
 :page/backlinks "Rétro-lien"
 :page/copy-page-url "Copier l'URL de la page"
 :page/created-at "Crée le"
 :page/earlier "Plus tôt"
 :page/open-backup-directory "Ouvrir le dossier de sauvegarde de la page"
 :page/open-in-finder "Ouvrir dans l'explorateur de fichiers"
 :page/open-with-default-app "Ouvrir avec l'application par défaut"
 :page/show-whiteboards "Montrer les tableaux blancs"
 :page/unfavorite "Retirer la page des favoris"
 :page/updated-at "Mis à jour le"
 :page/version-history "Consulter l'historique de la page"
 :paginates/next "Suiv."
 :paginates/prev "Préc."
 :pdf/copy-ref "Copier la référence"
 :pdf/copy-text "Copier le texte"
 :pdf/doc-metadata "Meta-données du document"
 :pdf/hl-block-colored "Étiquette colorée pour le bloc surligné"
 :pdf/linked-ref "Références liées"
 :pdf/toggle-dashed "Style de pointillés pour la zone de surlignage"
 :plugin/all "Tous"
 :plugin/check-all-updates "Vérifier toutes les mises-à-jour"
 :plugin/check-update "Vérifier la mise à jour"
 :plugin/contribute "✨ Écrire et proposer une nouvelle extension"
 :plugin/custom-js-alert "Fichier custom.js trouvé, est-il autorisé à s'éxécuter ? (Si vous ne comprenez pas le contenu de ce fichier, il est recommandé de ne pas en autoriser l'éxecution, car celà vous expose à des risques de sécurité)."
 :plugin/delete-alert "Êtes-vous sûr de vouloir désintaller l'extension [{1}] ?"
 :plugin/disabled "Désactivée"
 :plugin/downloads "Téléchargements"
 :plugin/enabled "Activée"
 :plugin/install "Installer"
 :plugin/installed "Installée"
 :plugin/installing "Installation en cours"
 :plugin/load-unpacked "Charger une extension décompressée"
 :plugin/marketplace "Boutique"
 :plugin/not-installed "Non installée"
 :plugin/open-package "Ouvrir le paquet"
 :plugin/open-settings "Ouvrir les réglages"
 :plugin/refresh-lists "Rafraîchir la liste"
 :plugin/reload "Recharger"
 :plugin/restart "Redémarrer l'application"
 :plugin/stars "Étoiles"
 :plugin/uninstall "Désinstaller"
 :plugin/unpacked "Décompressée"
 :plugin/unpacked-tips "Sélectionnez le dossier de l'extension"
 :plugin/update "Mettre à jour"
 :plugin/update-available "Mise à jour disponible"
 :plugin/updating "Mise à jour en cours"
 :plugin.install-from-file/menu-title "Installer depuis plugins.edn"
 :plugin.install-from-file/notice "Les extensions suivantes vont remplacer vos extensions :"
 :plugin.install-from-file/success "Toutes les extensions sont installées !"
 :plugin.install-from-file/title "Installer des extensions depuis plugins.edn"
 :right-side-bar/page-graph "Graphe de la page"
 :right-side-bar/separator "Poignée de redimensionnement de la barre latérale droite"
 :right-side-bar/show-journals "Montrer les journaux"
 :right-side-bar/whiteboards "Tableaux blancs"
 :search/items "éléments"
 :search/page-names "Chercher des noms de pages"
 :search/result-for "Résultat de recherche pour "
 :search-item/block "Bloc"
 :search-item/file "Fichier"
 :search-item/page "Page"
 :search-item/whiteboard "Tableau blanc"
 :select/default-prompt "Sélectionnez"
 :select.graph/add-graph "Oui, ajouter un autre graphe"
 :select.graph/empty-placeholder-description "Aucun graphe trouvé. Souhaitez-vous en ajouter un ?"
 :select.graph/prompt "Choisir un graphe"
 :settings-page/alpha-features "Fonctionnalités alpha"
 :settings-page/auto-updater "Mise à jour automatiques"
 :settings-page/beta-features "Fonctionnalités beta"
 :settings-page/clear "Nettoyer"
 :settings-page/clear-cache "Nettoyer le cache"
 :settings-page/current-version "Version actuelle"
 :settings-page/custom-configuration "Configuration personnalisée"
 :settings-page/custom-date-format "Format de date préféré"
 :settings-page/custom-global-configuration "Configuration globale personnalisée"
 :settings-page/custom-theme "Thème personnalisé"
 :settings-page/customize-shortcuts "Raccourcis clavier"
 :settings-page/disable-sentry "Envoyer des données d'utilisation et de diagnostique à Logseq"
 :settings-page/edit-custom-css "Modifier custom.css"
 :settings-page/edit-export-css "Modifier export.css"
 :settings-page/edit-global-config-edn "Modifier le fichier global config.edn"
 :settings-page/edit-setting "Modifier"
 :settings-page/enable-all-pages-public "Toutes les pages publiques lors de la publication"
 :settings-page/enable-block-time "Horodatage de bloc"
 :settings-page/enable-flashcards "Cartes-mémoire"
 :settings-page/enable-shortcut-tooltip "Activer les astuces sur les raccourcis"
 :settings-page/enable-tooltip "Astuces"
 :settings-page/enable-whiteboards "Tableaux blancs"
 :settings-page/export-theme "Exporter le theme"
 :settings-page/filename-format "Format de nom de fichier"
 :settings-page/git-commit-delay "Délai (secondes) des commits Git automatiques"
 :settings-page/git-confirm "Vous devez redémarrer l'application après avoir mis à jour le dossier Git"
 :settings-page/git-switcher-label "Activer les commits Git automatiques"
 :settings-page/home-default-page "Régler la page d'accueil par défaut"
 :settings-page/login-prompt "Pour accéder aux nouvelles fonctionnalités avant tout le monde, vous devez être sponsor ou \"backer\" (contributeur) sur Open Collective, puis vous connecter."
 :settings-page/network-proxy "Proxy réseau"
 :settings-page/plugin-system "Extensions"
 :settings-page/preferred-outdenting "Mise en retrait logique"
 :settings-page/shortcut-settings "Personnaliser les raccourcis"
 :settings-page/show-brackets "Montrer les parenthèses, crochets et accolades"
 :settings-page/spell-checker "Vérification orthographique"
 :settings-page/sync "Synchronisation"
 :settings-page/tab-advanced "Avancé"
 :settings-page/tab-assets "Pièces-jointes"
 :settings-page/tab-editor "Éditeur"
 :settings-page/tab-features "Fonctionnalités"
 :settings-page/tab-general "Général"
 :settings-page/tab-version-control "Contrôle de version"
 :text/image "Image"
 :updater/new-version-install "Une nouvelle version a été téléchargée."
 :updater/quit-and-install "Relancez pour installer"
 :whiteboard/link-whiteboard-or-block "Lier un tablau blanc/page/bloc"

 :file/validate-existing-file-error "La page existe déjà avec un autre fichier: {1}, fichier actuel: {2}. Veuillez n'en garder qu'un et réindexer votre graphique."
 :notification/clear-all "Tout effacer"
 :on-boarding/tour-whiteboard-home "{1} Commencez pour vos tableaux blancs"
 :on-boarding/tour-whiteboard-home-description "Les tableaux blancs ont leur propre section dans l'application où vous pouvez les voir en un coup d'œil, en créer de nouveaux ou les supprimer facilement."
 :on-boarding/tour-whiteboard-new "{1} Créer un nouveau tableau blanc"
 :on-boarding/tour-whiteboard-new-description "Il existe plusieurs façons de créer un nouveau tableau blanc. L'un d'eux est toujours ici dans le tableau de bord."
 :on-boarding/welcome-whiteboard-modal-description "Les tableaux blancs sont un excellent outil de brainstorming et d'organisation. Vous pouvez maintenant placer n'importe laquelle de vos pensées de la base de connaissances ou de nouvelles à côté l'une de l'autre sur une toile spatiale pour vous connecter, vous associer et comprendre de nouvelles façons."
 :on-boarding/welcome-whiteboard-modal-skip "Sauter"
 :on-boarding/welcome-whiteboard-modal-start "Démarrer le tableau blanc"
 :on-boarding/welcome-whiteboard-modal-title "Un nouveau cadre pour vos pensées."
 :settings-page/clear-cache-warning "Vider le cache supprimera les graphiques ouverts. Vous perdrez les modifications non enregistrées."
 :settings-page/disable-sentry-desc "Logseq ne collectera jamais votre base de données de graphes locale ni ne vendra vos données."

 :command.editor/indent                  "Indenter un Bloc vers la droite"
 :command.editor/outdent                 "Indenter un Bloc vers la gauche"
 :command.editor/move-block-up           "Déplacer un bloc au dessus"
 :command.editor/move-block-down         "Déplacer un bloc en dessous"
 :command.editor/new-block               "Créer un nouveau bloc"
 :command.editor/new-line                "Aller à la ligne dans un bloc"
 :command.editor/zoom-in                 "Zoomer"
 :command.editor/zoom-out                "Dézoomer"
 :command.editor/follow-link             "Suivre le lien sous le curseur"
 :command.editor/open-link-in-sidebar    "Ouvrir le lien dans la barre latérale"
 :command.editor/expand-block-children   "Etendre"
 :command.editor/collapse-block-children "Réduire"
 :command.editor/select-block-up         "Sélectionner le bloc au dessus"
 :command.editor/select-block-down       "Sélectionner le bloc en dessous"
 :command.editor/select-all-blocks       "Sélectionner tous les blocs"
 :command.ui/toggle-help                 "Afficher l'aide"
 :command.git/commit                     "Message de commit Git"
 :command.go/search                      "Recherche globale dans le texte"
 :command.ui/toggle-document-mode        "Intervertir le mode document"
 :command.ui/toggle-theme                "Intervertir le thème foncé/clair"
 :command.ui/toggle-right-sidebar        "Afficher/cacher la barre latérale"
 :command.go/journals                    "Aller au Journal"
 :command.auto-complete/complete  "Auto-complétion : Choisir l'élémnent sélectionné"
 :command.auto-complete/next  "Auto-complétion : Sélection l'élément suivant"
 :command.auto-complete/open-link  "Auto-complétion : Ouvrir l'élément sélectionné dans le navigateur"
 :command.auto-complete/prev  "Auto-complétion : Sélectionner l'élément précédent"
 :command.auto-complete/shift-complete  "Auto-complétion : Ouvrir l'élément sélectionné dans la barre latérale"
 :command.cards/forgotten  "Cartes : oubliées"
 :command.cards/next-card  "Cartes : carte suivante"
 :command.cards/recall  "Cartes : ayant pris du temps à se souvenir"
 :command.cards/remembered  "Cartes : souvenues"
 :command.cards/toggle-answers  "Cartes : montrer/masquer les réponses/clozes"
 :command.command/run  "Lancer une commande git"
 :command.command/toggle-favorite  "Ajouter/retirer des favoris"
 :command.command-palette/toggle  "Basculer la palette de commandes"
 :command.date-picker/complete  "Sélecteur de date : Choisir le jour sélectionné"
 :command.date-picker/next-day  "Sélecteur de date : Sélectionner le jour suivant"
 :command.date-picker/next-week  "Sélecteur de date : Sélectionner la semaine suivante "
 :command.date-picker/prev-day  "Sélecteur de date : Sélectionner le jour précédent"
 :command.date-picker/prev-week  "Sélecteur de date : Sélectionner la semaine précédente"
 :command.editor/backspace  "Retour arrière / Effacer en arrière"
 :command.editor/backward-kill-word  "Supprimer un mot en arrière"
 :command.editor/backward-word  "Déplacer le curseur avant un mot"
 :command.editor/beginning-of-block  "Déplacer le curseur au début du bloc"
 :command.editor/bold  "Gras"
 :command.editor/clear-block  "Supprimer tout le contenu d'un bloc"
 :command.editor/copy  "Copier (copie soit une sélection, ou une référence de bloc)..."
 :command.editor/copy-current-file  "Copier le fichier en cours"
 :command.editor/copy-embed  "Copier une intégration de ce bloc"
 :command.editor/copy-text  "Copier le texte de la sélection"
 :command.editor/cut  "Couper"
 :command.editor/cycle-todo  "Basculer l'état du TODO de l'élément"
 :command.editor/delete  "Supprimer / Efface en avant"
 :command.editor/delete-selection  "Supprimer les blocs sélectionnés"
 :command.editor/down  "Déplacer le curseur vers le bas / Sélectionner vers le bas"
 :command.editor/end-of-block  "Déplacer le curseur à la fin du bloc"
 :command.editor/escape-editing  "Quitter l'édition"
 :command.editor/forward-kill-word  "Supprimer un mot en avant"
 :command.editor/forward-word  "Déplacer le curseur d'un mot en avant"
 :command.editor/highlight  "Surlignage"
 :command.editor/insert-link  "Lien HTML"
 :command.editor/insert-youtube-timestamp  "Insérer un horodatage YouTube"
 :command.editor/italics  "Italique"
 :command.editor/kill-line-after  "Effacer la ligne après position du curseur"
 :command.editor/kill-line-before  "Effacer la ligne avant la position du curseur"
 :command.editor/left  "Déplacer le curseur à gauche / Ouvrir au début du bloc sélectionné"
 :command.editor/new-whiteboard  "Nouveau tableau blanc"
 :command.editor/open-edit  "Modifier le bloc sélectionné"
 :command.editor/open-file-in-default-app  "Ouvrir le fichier dans l'application par défaut"
 :command.editor/open-file-in-directory  "Montrer le fichier dans son dossier parent"
 :command.editor/paste-text-in-one-block-at-point  "Coller le texte dans un bloc"
 :command.editor/redo  "Refaire"
 :command.editor/replace-block-reference-at-point  "Remplacer la référence d'un bloc par son contenu"
 :command.editor/right  "Déplacer le curseur à droite / Ouvrir à la fin du bloc sélectionné"
 :command.editor/select-down  "Sélectionner le contenu en dessous"
 :command.editor/select-up  "Sélectionner le contenu au dessus"
 :command.editor/strike-through  "Barrer"
 :command.editor/toggle-open-blocks  "Basculer l'ouverture des blocs (réduit ou ouvre tous les blocs)"
 :command.editor/undo  "Annuler"
 :command.editor/up  "Déplacer le curseur vers le haut / Sélectionner au dessus"
 :command.go/all-graphs  "Aller vers tous les graphes"
 :command.go/all-pages  "Aller vers toutes les pages"
 :command.go/backward  "En arrière"
 :command.go/electron-find-in-page  "Chercher du texte dans une page"
 :command.go/electron-jump-to-the-next  "Aller vers le résultat de recherche suivant"
 :command.go/electron-jump-to-the-previous  "Aller vers le résultat de recherche précédent"
 :command.go/flashcards  "Basculer les cartes-mémoire"
 :command.go/forward  "En avant"
 :command.go/graph-view  "Aller vers la vue en graphe"
 :command.go/home  "Aller vers l'accueil"
 :command.go/keyboard-shortcuts  "Aller vers les raccourcis clavier"
 :command.go/next-journal  "Aller au journal suivant"
 :command.go/prev-journal  "Aller au journal précédent"
 :command.go/search-in-page  "Rechercher des blocs dans la page"
 :command.go/tomorrow  "Aller vers demain"
 :command.go/whiteboards  "Aller vers les tableaux blancs"
 :command.graph/add  "Ajouter un graphe"
 :command.graph/export-as-html  "Exporter les pages publiques du graphe en HTML"
 :command.graph/open  "Sélectionner un graphe à ouvrir"
 :command.graph/re-index  "Réindexer le graph actuel"
 :command.graph/remove  "Retirer un graphe"
 :command.graph/save  "Enregistrer le graphe sur le disque"
 :command.pdf/close  "PDF: Fermer le document PDF"
 :command.pdf/find  "PDF: Rechercher du texte dans le document"
 :command.pdf/next-page  "PDF: Page suivante du document en cours"
 :command.pdf/previous-page  "PDF: Page précédente du document en cours"
 :command.search/re-index  "Reconstruire l'index de recherche"
 :command.sidebar/clear  "Vider intégralement la barre latérale droite"
 :command.sidebar/open-today-page  "Ouvrir la page du jour dans la barre latérale droite"
 :command.ui/goto-plugins  "Aller vers le panneau des extensions"
 :command.ui/install-plugins-from-file  "Installer les extensions depuis plugins.edn"
 :command.ui/select-theme-color  "Sélectionner les couleurs disponibles du thème"
 :command.ui/toggle-brackets  "Basculer l'affichage des crochets"
 :command.ui/toggle-cards  "Basculer l'affichage des cartes"
 :command.ui/toggle-contents  "Basculer l'affichage du contenu dans la barre latérale"
 :command.ui/toggle-left-sidebar  "Basculer la barre latérale gauche"
 :command.ui/toggle-settings  "Basculer l'affichage des réglages"
 :command.ui/toggle-wide-mode  "Basculer le vue en pleine largeur"
 :shortcut.category/basics  "Bases"
 :shortcut.category/block-command-editing  "Édition de commande de bloc"
 :shortcut.category/block-editing  "Édition de bloc en générale"
 :shortcut.category/block-selection  "Sélection de bloc (appuyer sur Esc pour quitter la sélection)"
 :shortcut.category/formatting "Formats"
 :shortcut.category/navigating  "Navigation"
 :shortcut.category/others  "Autres"
 :shortcut.category/toggle  "Basculer"
 :command.editor/select-parent "Sélectionnez le bloc parent"
 :command.sidebar/close-top "Ferme l'élément supérieur dans la barre latérale droite"}
