{
;;  :all-pages "Pages"
    :all-pages/failed-to-delete-pages "Ces pages ont leur contenu supprimé mais n'ont pu être supprimées : {1}. Regardes la console JavaScript pour plus de détails."
    :all-pages/table-title (fn [total] (str total (if (= total 1) " page" " pages")))
    :appearance "Apparence"
    :asset/ref-block "Bloc de référence de ressource"
    :export-db-edn "Exporter le fichier EDN"
    :export-sqlite-db "Exporter la base de données SQLite"
    :export-zip "Exporter la base de données SQLite et les ressources"
    :help/about "À propos de Logseq"
    :help/bug "Signaler une anomalie"
    :help/feature "Demander une fonctionnalité"
    :help/changelog "Journal des modifications"
    :help/blog "Blog de Logseq"
    :help/docs "Documentation"
    :help/privacy "Politique de confidentialité"
    :help/terms "Conditions d'utilisation"
    :help/search "Recherches des pages, blocs ou commandes"
    :help/shortcuts "Raccourcis clavier"
    :help/shortcuts-triggers "Actions déclenchées"
    :help/shortcut "Raccourcis"
    :help/slash-autocomplete "Autocomplétion avec Slash"
    :help/reference-autocomplete "Autocomplétion des références à une page"
    :help/block-reference "Référence à un Bloc"
    :help/open-link-in-sidebar "Ouvrir le lien dans la barre latérale"
    :help/context-menu "Menu contextuel"
    :help/markdown-syntax "Syntaxe Markdown"
    :help/org-mode-syntax "Syntaxe Org mode"
    :bold "Gras"
    :import-notes "Importer des notes existantes"
    :italics "Italique"
    :highlight "Surligner"
    :new-tag "Nouvelle étiquette :"
    :strikethrough "Barré"
    :right-side-bar/help "Aide"
    :right-side-bar/switch-theme "Basculer sur le thème {1}"
    :right-side-bar/contents "Contenus"
    :right-side-bar/block-ref "Référence des blocs"
    :right-side-bar/graph-view "Vue graphe"
    :right-side-bar/flashcards "Cartes-mémoire"
;;  :right-side-bar/all-pages "Pages"
    :left-side-bar/journals "Journaux"
    :left-side-bar/tasks "Tâches"
    :page/make-public "Rendre la page publique"
    :page/make-private "Rendre la page privée"
    :page/db-delete-confirmation "Voulez-vous vraiment supprimer cette page ?"
    :page/delete "Supprimer la page (supprime le fichier)"
    :page/delete-confirmation "Voulez-vous vraiment supprimer cette page ?"
    :block/name "Nom de la page"
    :file/name "Nom de fichier"
    :file/last-modified-at "Dernières modifications à"
    :file/no-data "Aucune donnée"
    :file/format-not-supported "Le format .{1} n'est pas pris en charge."
    :editor/block-search "Rechercher un bloc"
    :editor/copy "Copier"
    :editor/cut "Couper"
    :content/copy-block-ref "Copier la référence du bloc"
    :content/open-in-sidebar "Ouvrir dans la barre latérale"
    :content/click-to-edit "Cliquer pour modifier"
    :settings-page/edit-config-edn "Modifier config.edn (pour le dépôt actuel)"
    :settings-page/enable-timetracking "Activer le suivi de temps des tâches"
    :settings-page/developer-mode "Le mode développeur"
    :settings-page/developer-mode-desc "Le mode développeur aide les contributeurs et les développeurs d'extension à tester leur intégration avec Logseq."
    :settings-page/ai "IA"
    :settings-page/preferred-pasting-file "Fichier de préférence pour le collage"
    :settings-page/tab-ai "IA"
    :settings-page/tab-encryption "Chiffrement"
    :yes "Oui"
    :cancel "Annuler"
    :graph "Graphe"
    :all-files "Tous les fichiers"
    :all-journals "Tous les journaux"
    :settings "Préférences"
    :import "Importer"
    :download "Télécharger"
    :language "Langue"
    :remove-background "Retirer l'arrière-plan"
    :all-graphs "Tous les graphes"
    :auto-heading "Titres automatiques"
    :close "Fermer"
    :delete "Effacer"
    :export "Exporter"
    :export-graph "Exporter le graphe"
    :export-markdown "Exporter en Markdown standard (sans bloc de propriétés)"
    :export-page "Exporter la page"
    :export-public-pages "Exporter les pages publiques"
    :heading "Entête {1}"
    :help-shortcut-title "Cliquez pour voir les raccourcis et autres astuces"
    :host "Hôte"
    :importing "Importation en cours"
    :login "Connexion"
    :logout "Déconnexion"
    :plugins "Extensions"
    :port "Port"
    :relaunch-confirm-to-work "Il est nécessaire de relancer l'application pour que ça fonctionne. Voulez-vous redémarrer ?"
    :remove-heading "Retirer les entêtes"
    :save "Enregistrer"
    :settings-of-plugins "Extensions"
    :themes "Thèmes"
    :untitled "Sans titre"
    :type "Type"
    :accessibility/skip-to-main-content "Aller au contenu principal"
    :asset/confirm-delete "Voulez-vous vraiment supprimer {1} ?"
    :asset/copy "Copier l'image"
    :asset/delete "Supprimer l'image"
    :asset/maximize "Agrandir l'image"
    :asset/open-in-browser "Ouvrir l'image dans le navigateur"
    :asset/physical-delete " Supprimer le fichier également (notez qu'il ne pourra pas être restauré)"
    :asset/show-in-folder "Afficher l'image dans le dossier"
    :color/blue "Bleu"
    :color/gray "Gris"
    :color/green "Vert"
    :color/pink "Rose"
    :color/purple "Violet"
    :color/red "Rouge"
    :color/yellow "Jaune"
    :graph/all-graphs "Tous les graphes"
    :help/forum-community "Forum communautaire"
    :help/shortcut-page-title "Raccourcis clavier"
    :help/start "Démarrage"
    :left-side-bar/nav-favorites "Favoris"
    :left-side-bar/nav-recent-pages "Récentes"
    :linked-references/filter-directions "Cliquer pour inclure et `Maj+clic` pour exclure. Cliquez à nouveau pour enlever."
    :linked-references/filter-excludes "Exclut : "
    :linked-references/filter-heading "Filtrer"
    :linked-references/filter-includes "Inclut : "
    :linked-references/filter-search "Rechercher dans les pages liées"
    :page/add-to-favorites "Ajouter aux Favoris"
    :page/backlinks "Rétro-lien"
    :page/copy-page-url "Copier l'URL de la page"
    :page/created-at "Créée le"
    :page/open-in-finder "Ouvrir dans l'explorateur de fichiers"
    :page/open-with-default-app "Ouvrir avec l'application par défaut"
    :page/unfavorite "Retirer la page des favoris"
    :page/updated-at "Mise à jour le"
    :pdf/copy-ref "Copier la référence"
    :pdf/copy-text "Copier le texte"
    :pdf/doc-metadata "Métadonnées du document"
    :pdf/hl-block-colored "Étiquette colorée pour le bloc surligné"
    :pdf/linked-ref "Références liées"
    :pdf/toggle-dashed "Style de pointillés pour la zone de surlignage"
    :plugin/all "Toutes"
    :plugin/check-all-updates "Vérifier toutes les mises à jour"
    :plugin/check-update "Vérifier la mise à jour"
    :plugin/contribute "✨ Écrire et proposer une nouvelle extension"
    :plugin/custom-js-alert "Fichier custom.js trouvé, est-il autorisé à s'exécuter ? (Si vous ne comprenez pas le contenu de ce fichier, il est recommandé de ne pas en autoriser l'exécution, car cela vous expose à des risques de sécurité)."
    :plugin/delete-alert "Voulez-vous vraiment désinstaller l'extension [{1}] ?"
    :plugin/disabled "Désactivée"
    :plugin/downloads "Téléchargements"
    :plugin/enabled "Activée"
    :plugin/install "Installer"
    :plugin/installed "Installée"
    :plugin/installing "Installation en cours"
    :plugin/load-unpacked "Charger une extension décompressée"
    :plugin/marketplace "Boutique"
    :plugin/not-installed "Non installée"
    :plugin/open-package "Ouvrir le paquet"
    :plugin/open-settings "Ouvrir les réglages"
    :plugin/refresh-lists "Rafraîchir la liste"
    :plugin/reload "Recharger"
    :plugin/restart "Redémarrer l'application"
    :plugin/stars "Étoiles"
    :plugin/uninstall "Désinstaller"
    :plugin/unpacked "Décompressée"
    :plugin/unpacked-tips "Sélectionnez le dossier de l'extension"
    :plugin/update "Mettre à jour"
    :plugin/update-available "Mise à jour disponible"
    :plugin/updating "Mise à jour en cours"
    :plugin.install-from-file/menu-title "Installer depuis plugins.edn"
    :plugin.install-from-file/notice "Les extensions suivantes vont remplacer vos extensions :"
    :plugin.install-from-file/success "Toutes les extensions sont installées !"
    :plugin.install-from-file/title "Installer des extensions depuis plugins.edn"
    :right-side-bar/page-graph "Graphe de la page"
    :right-side-bar/separator "Poignée de redimensionnement de la barre latérale droite"
    :right-side-bar/show-journals "Afficher les journaux"
    :search-item/page "Page"
    :select/default-prompt "Sélectionnez"
    :select.graph/add-graph "Oui, ajouter un autre graphe"
    :select.graph/empty-placeholder-description "Aucun graphe trouvé. Souhaitez-vous en ajouter un ?"
    :select.graph/prompt "Choisir un graphe"
    :settings-page/auto-updater "Mises à jour automatiques"
    :settings-page/clear "Nettoyer"
    :settings-page/clear-cache "Nettoyer le cache"
    :settings-page/current-version "Version actuelle"
    :settings-page/custom-configuration "Configuration personnalisée"
    :settings-page/custom-date-format "Format de date préféré"
    :settings-page/custom-global-configuration "Configuration globale personnalisée"
    :settings-page/custom-theme "Thème personnalisé"
    :settings-page/disable-sentry "Envoyer des données d'utilisation et de diagnostic à Logseq"
    :settings-page/edit-custom-css "Modifier custom.css"
    :settings-page/edit-export-css "Modifier export.css"
    :settings-page/edit-global-config-edn "Modifier le fichier global config.edn"
    :settings-page/enable-all-pages-public "Toutes les pages publiques lors de la publication"
    :settings-page/enable-flashcards "Cartes mémoire"
    :settings-page/enable-shortcut-tooltip "Activer les astuces sur les raccourcis"
    :settings-page/enable-tooltip "Astuces"
    :settings-page/export-theme "Exporter le thème"
    :settings-page/home-default-page "Régler la page d'accueil par défaut"
    :settings-page/login-prompt "Pour accéder aux nouvelles fonctionnalités avant tout le monde, vous devez être sponsor ou \"backer\" (contributeur) sur Open Collective, puis vous connecter."
    :settings-page/network-proxy "Proxy réseau"
    :settings-page/plugin-system "Extensions"
    :settings-page/preferred-outdenting "Mise en retrait logique"
    :settings-page/show-brackets "Afficher les parenthèses, crochets et accolades"
    :settings-page/spell-checker "Vérification orthographique"
    :settings-page/tab-advanced "Avancé"
    :settings-page/tab-editor "Éditeur"
    :settings-page/tab-features "Fonctionnalités"
    :settings-page/tab-general "Général"
    :text/image "Image"
    :updater/new-version-install "Une nouvelle version a été téléchargée."
    :updater/quit-and-install "Relancez pour installer"
    :notification/clear-all "Tout effacer"
    :settings-page/clear-cache-warning "Vider le cache supprimera les graphiques ouverts. Vous perdrez les modifications non enregistrées."
    :settings-page/disable-sentry-desc "Logseq ne collectera jamais votre base de données de graphes locale ni ne vendra vos données."
    :command.auto-complete/meta-complete "Auto-complétion : Cmd + Entrer pour choisir un élément sélectionné"
    :command.cards/again "Cartes : à nouveau"
    :command.cards/easy "Cartes : facile"
    :command.cards/good "Cartes : bon"
    :command.cards/hard "Cartes : difficile"
    :command.editor/add-property "Ajouter une propriété"
    :command.editor/add-property-icon "Ajouter une icône"
    :command.editor/indent                  "Indenter un bloc vers la droite"
    :command.editor/outdent                 "Indenter un bloc vers la gauche"
    :command.editor/move-block-up           "Déplacer un bloc au-dessus"
    :command.editor/move-block-down         "Déplacer un bloc en dessous"
    :command.editor/move-blocks             "Déplacer les blocs vers"
    :command.editor/new-block               "Créer un nouveau bloc"
    :command.editor/new-line                "Aller à la ligne dans un bloc"
    :command.editor/zoom-in                 "Zoomer"
    :command.editor/zoom-out                "Dézoomer"
    :command.editor/follow-link             "Suivre le lien sous le curseur"
    :command.editor/open-link-in-sidebar    "Ouvrir le lien dans la barre latérale"
    :command.editor/expand-block-children   "Étendre"
    :command.editor/collapse-block-children "Réduire"
    :command.editor/select-block-up         "Sélectionner le bloc au-dessus"
    :command.editor/select-block-down       "Sélectionner le bloc en dessous"
    :command.editor/select-all-blocks       "Sélectionner tous les blocs"
    :command.editor/toggle-block-children   "Déplier/replier"
    :command.ui/toggle-help                 "Afficher l'aide"
    :command.go/search                      "Recherche globale dans le texte"
    :command.go/search-in-page "Rechercher des blocs dans la page"
    :command.ui/toggle-document-mode        "Intervertir le mode document"
    :command.ui/toggle-theme                "Intervertir le thème foncé/clair"
    :command.ui/toggle-right-sidebar        "Afficher/cacher la barre latérale"
    :command.go/journals                    "Aller au Journal"
    :command.auto-complete/complete  "Auto-complétion : choisir l'élément sélectionné"
    :command.auto-complete/next  "Auto-complétion : sélection de l'élément suivant"
    :command.auto-complete/prev  "Auto-complétion : sélectionner l'élément précédent"
    :command.auto-complete/shift-complete  "Auto-complétion : ouvrir l'élément sélectionné dans la barre latérale"
    :command.cards/forgotten  "Cartes : oubliées"
    :command.cards/next-card  "Cartes : carte suivante"
    :command.cards/recall  "Cartes : ayant pris du temps à se souvenir"
    :command.cards/remembered  "Cartes : souvenues"
    :command.cards/toggle-answers  "Cartes : afficher/masquer les réponses/clozes"
    :command.command-palette/toggle "Rechercher des commandes"
    :command.command/run  "Lancer une commande Git"
    :command.command/toggle-favorite  "Ajouter/retirer des favoris"
    :command.editor/backspace  "Retour arrière / Effacer en arrière"
    :command.editor/backward-kill-word  "Supprimer un mot en arrière"
    :command.editor/backward-word  "Déplacer le curseur avant un mot"
    :command.editor/beginning-of-block  "Déplacer le curseur au début du bloc"
    :command.editor/bold  "Gras"
    :command.editor/clear-block  "Supprimer tout le contenu d'un bloc"
    :command.editor/copy  "Copier (copie soit une sélection, soit une référence de bloc)…"
    :command.editor/copy-embed  "Copier une intégration de ce bloc"
    :command.editor/copy-text  "Copier le texte de la sélection"
    :command.editor/cut  "Couper"
    :command.editor/cycle-todo  "Basculer l'état du TODO de l'élément"
    :command.editor/delete  "Supprimer / Efface en avant"
    :command.editor/delete-selection  "Supprimer les blocs sélectionnés"
    :command.editor/down  "Déplacer le curseur vers le bas / Sélectionner vers le bas"
    :command.editor/end-of-block  "Déplacer le curseur à la fin du bloc"
    :command.editor/escape-editing  "Quitter l'édition"
    :command.editor/forward-kill-word  "Supprimer un mot en avant"
    :command.editor/forward-word  "Déplacer le curseur d'un mot en avant"
    :command.editor/highlight  "Surlignage"
    :command.editor/insert-link  "Lien HTML"
    :command.editor/insert-youtube-timestamp  "Insérer un horodatage YouTube"
    :command.editor/italics  "Italique"
    :command.editor/kill-line-after  "Effacer la ligne après la position du curseur"
    :command.editor/kill-line-before  "Effacer la ligne avant la position du curseur"
    :command.editor/left  "Déplacer le curseur à gauche / Ouvrir au début du bloc sélectionné"
    :command.editor/open-edit  "Modifier le bloc sélectionné"
    :command.editor/paste-text-in-one-block-at-point  "Coller le texte dans un bloc"
    :command.editor/redo  "Refaire"
    :command.editor/right  "Déplacer le curseur à droite / Ouvrir à la fin du bloc sélectionné"
    :command.editor/select-down  "Sélectionner le contenu en dessous"
    :command.editor/select-up  "Sélectionner le contenu au-dessus"
    :command.editor/strike-through  "Barrer"
    :command.editor/toggle-open-blocks  "Réduire ou étendre les blocs"
    :command.editor/undo  "Annuler"
    :command.editor/up  "Déplacer le curseur vers le haut / Sélectionner au-dessus"
    :command.go/all-graphs  "Aller vers tous les graphes"
    :command.go/all-pages  "Aller vers toutes les pages"
    :command.go/backward  "En arrière"
    :command.go/electron-find-in-page  "Chercher du texte dans une page"
    :command.go/electron-jump-to-the-next  "Aller vers le résultat de recherche suivant"
    :command.go/electron-jump-to-the-previous  "Aller vers le résultat de recherche précédent"
    :command.go/flashcards  "Basculer les cartes mémoire"
    :command.go/forward  "En avant"
    :command.go/graph-view  "Aller vers la vue en graphe"
    :command.go/home  "Aller vers l'accueil"
    :command.go/keyboard-shortcuts  "Aller vers les raccourcis clavier"
    :command.go/next-journal  "Aller au journal suivant"
    :command.go/prev-journal  "Aller au journal précédent"
    :command.go/tomorrow  "Aller vers demain"
    :command.graph/add  "Ajouter un graphe"
    :command.graph/export-as-html  "Exporter les pages publiques du graphe en HTML"
    :command.graph/open  "Sélectionner un graphe à ouvrir"
    :command.graph/remove  "Retirer un graphe"
    :command.pdf/close  "PDF : fermer le document PDF"
    :command.pdf/find  "PDF : rechercher du texte dans le document"
    :command.pdf/next-page  "PDF : page suivante du document en cours"
    :command.pdf/previous-page  "PDF : page précédente du document en cours"
    :command.search/re-index  "Reconstruire l'index de recherche"
    :command.sidebar/clear  "Vider intégralement la barre latérale droite"
    :command.sidebar/open-today-page  "Ouvrir la page du jour dans la barre latérale droite"
    :command.ui/goto-plugins  "Aller vers le panneau des extensions"
    :command.ui/install-plugins-from-file  "Installer les extensions depuis plugins.edn"
    :command.ui/select-theme-color  "Sélectionner les couleurs disponibles du thème"
    :command.ui/toggle-brackets  "Basculer l'affichage des crochets"
    :command.ui/toggle-contents  "Basculer l'affichage du contenu dans la barre latérale"
    :command.ui/toggle-left-sidebar  "Basculer la barre latérale gauche"
    :command.ui/toggle-settings  "Basculer l'affichage des réglages"
    :command.ui/toggle-wide-mode  "Basculer la vue en pleine largeur"
    :shortcut.category/basics  "Bases"
    :shortcut.category/block-command-editing  "Édition de commande de bloc"
    :shortcut.category/block-editing  "Édition de bloc en général"
    :shortcut.category/block-selection  "Sélection de bloc (appuyer sur Esc pour quitter la sélection)"
    :shortcut.category/formatting "Formats"
    :shortcut.category/navigating  "Navigation"
    :shortcut.category/others  "Autres"
    :shortcut.category/toggle  "Basculer"
    :command.editor/select-parent "Sélectionnez le bloc parent"
    :command.sidebar/close-top "Ferme l'élément supérieur dans la barre latérale droite"
    :export-copied-to-clipboard "Copié dans le presse-papier"
    :code "Code"
    :loading "Chargement…"
    :export-copy-to-clipboard "Copier dans le presse-papier"
    :export-save-to-file "Enregistrer le fichier"
    :export-transparent-background "Arrière-plan transparent"
    :home "Accueil"
    :new-page "Nouvelle page :"
    :toggle-theme "Changer le thème"
    :bug-report/clipboard-inspector-title "Inspecteur du presse-papier"
    :bug-report/inspector-page-btn-back "Retour en arrière"
    :bug-report/inspector-page-btn-copy "Copier le résultat"
    :bug-report/inspector-page-btn-create-issue "Soumettre un problème"
    :bug-report/inspector-page-copy-notif "Copié dans le presse-papier !"
    :bug-report/inspector-page-desc-1 "Appuyer Ctrl+V / ⌘+V pour inspecter votre presse-papier"
    :bug-report/inspector-page-desc-2 "ou cliquer ici pour coller si vous êtes sur mobile…"
    :bug-report/inspector-page-desc-clipboard "Voici les données lues depuis votre presse-papier."
    :bug-report/inspector-page-desc-copy "Si ceci peut être partagé, cliquez sur le bouton Copier."
    :window/maximize "Agrandir"
    :window/minimize "Réduire"
    :window/restore "Restorer"
    :window/exit-fullscreen "Quitter le mode plein écran"
    :window/close "Fermer"
    :tips/all-done "Tout est complété !"
    :shortcut.category/plugins "Plugins"
    :settings-page/update-error-2 "Vérifiez le/la"
    :settings-page/update-error-1 "⚠️ Oups, quelque chose s'est mal passé !"
    :settings-page/update-available "Nouvelle mise à jour trouvée"
    :settings-page/theme-system "système"
    :settings-page/theme-light "Clair"
    :settings-page/theme-dark "Foncé"
    :settings-page/tab-account "Compte"
    :bug-report/inspector-page-desc-create-issue "Vous pouvez maintenant signaler le résultat copié dans votre presse-pa…"
    :bug-report/inspector-page-placeholder "Appuyer longuement ici pour coller si vous êtes sur mobile"
    :bug-report/inspector-page-tip "Quelque chose ne va pas ? Pas de problème, cliquez pour retourner à…"
    :bug-report/main-desc "Pouvez-vous nous aider en signalant un bogue ? Nous…"
    :bug-report/main-title "Signalement de bogue"
    :bug-report/section-clipboard-btn-desc "Inspecter et récupérer les données du presse-papier"
    :bug-report/section-clipboard-btn-title "Assistant Presse-papier"
    :bug-report/section-clipboard-desc "Vous pouvez utiliser ces outils pratiques pour nous donner plus…"
    :bug-report/section-clipboard-title "Est-ce que le bogue rencontré est relié à ces fonctionn…"
    :bug-report/section-issues-btn-desc "Aidez à rendre Logseq meilleur !"
    :bug-report/section-issues-btn-title "Soumettre un signalement de bogue"
    :bug-report/section-issues-desc "S'il n'y a pas d'outils accessibles pour vous permettre de…"
    :bug-report/section-issues-title "Ou…"
    :command.dev/show-block-ast "(Dev) Afficher le bloc AST"
    :command.dev/show-block-data "(Dev) Afficher les données du bloc"
    :command.dev/show-page-data "(Dev) Afficher les données de la page"
    :command.editor/copy-page-url "Copier l'URL de la page"
    :command.editor/toggle-number-list "Activer la liste numérotée"
    :command.misc/copy "Copier"
    :command.ui/clear-all-notifications "Effacer toutes les notifications"
    :content/copy-block-url "Copier l'URL du bloc"
    :content/copy-ref "Copier cette référence"
    :content/copy-export-as "Copier / Exporter sous…"
    :content/delete-ref "Supprimer cette référence"
    :content/replace-with-embed "Remplacer avec une intégration"
    :content/replace-with-text "Remplacer avec du texte"
    :context-menu/make-a-flashcard "Créer une carte mémoire"
    :context-menu/toggle-number-list "Activer la liste numérotée"
    :dev/show-block-ast "(Dev) Afficher le bloc AST"
    :dev/show-block-data "(Dev) Afficher les données du bloc"
    :dev/show-page-data "(Dev) Afficher les données de la page"
    :editor/collapse-block-children "Réduire tout"
    :editor/cycle-todo "Basculer l'état TODO de l'élément courant"
    :editor/delete-selection "Supprimer les blocs sélectionnés"
    :editor/expand-block-children "Étendre tout"
    :flashcards/modal-btn-hide-answers "Masquer les réponses"
    :flashcards/modal-finished "Bravo, vous avez révisé toutes les cartes pour ce…"
    :flashcards/modal-btn-show-answers "Afficher les réponses"
    :flashcards/modal-btn-show-clozes "Afficher les clozes"
    :flashcards/modal-welcome-desc-1 "Vous pouvez ajouter \"{1}\" à un bloc pour le transformer en…"
    :flashcards/modal-welcome-title "C'est le temps de créer une carte mémoire !"
    :graph/local-graphs "Graphes locaux :"
    :graph/remote-graphs "Graphes distants :"
    :header/go-back "Retour"
    :header/go-forward "Suivant"
    :header/more "Plus"
    :header/search "Rechercher"
    :header/toggle-left-sidebar "Activer le panneau latéral gauche"
    :help/awesome-logseq "Merveilleux Logseq"
    :help/roadmap "Feuille de route"
    :help/title-about "À propos"
    :help/title-community "Communauté"
    :help/title-development "Développement"
    :help/title-terms "Termes"
    :help/title-usage "Utilisation"
    :left-side-bar/switch "Basculer à :"
    :on-boarding/importing-desc "S'ils sont dans le format JSON, EDN ou Markdown, les Logs…"
    :on-boarding/importing-main-desc "Vous pouvez aussi faire ça plus tard dans l'appli."
    :on-boarding/importing-main-title "Importer les notes existantes"
    :on-boarding/importing-title "Avez-vous déjà des notes que vous désirez importer ?…"
    :on-boarding/main-desc "Premièrement, vous devez choisir un dossier où Logseq…"
    :on-boarding/main-title "(fn [] [\"Bienvenue sur \" [:strong \"Logseq !\"]])"
    :page/logseq-is-having-a-problem "Logseq a un problème. Pour essayer de le ravoir…"
    :page/something-went-wrong "Quelque chose s'est mal passé"
    :page/step "Étape {1}"
    :page/try "Essayer"
    :plugin/all-updated "Tout est à jour !"
    :plugin/auto-check-for-updates "Vérifier automatiquement les mises à jour"
    :plugin/checking-for-updates "Vérification des mises à jour d'extensions"
    :plugin/found-n-updates "{1} mise(s) à jour trouvée(s)"
    :plugin/found-updates "Nouvelles mises à jours"
    :plugin/installed-plugin "Extension installée : {1}"
    :plugin/list-of-updates "Mises à jour de l'extension :"
    :plugin/open-logseq-dir "Ouvrir"
    :plugin/open-preferences "Ouvrir les préférences"
    :plugin/remote-error "Erreur distante :"
    :plugin/search-plugin "Chercher des extensions"
    :plugin/security-warning "Les extensions peuvent accéder à vos graphes et vos fichiers locaux…"
    :plugin/title "Titre ({1})"
    :plugin/up-to-date "C'est à jour {1}"
    :plugin/update-all-selected "Mettre à jour tous les éléments sélectionnés"
    :plugin/update-plugin "Mettre à jour l'extension : {1} - {2}"
    :plugin/updates-downloading "Téléchargement des extensions"
    :right-side-bar/toggle-right-sidebar "Activer le panneau latéral droit"
    :search-item/no-result "Aucun résultat correspondant"
    :select/default-select-multiple "Choisir un ou plusieurs"
    :settings-page/app-updated "Votre appli est à jour 🎉"
    :settings-page/auto-expand-block-refs "Étendre les références de bloc automatiquement lors du zoom…"
    :settings-page/auto-expand-block-refs-tip "Cette option contrôle s'il faut étendre le bloc…"
    :settings-page/changelog "Quoi de neuf ?"
    :settings-page/check-for-updates "Vérifier les mises à jour"
    :settings-page/checking "Vérification en cours…"
    :settings-page/enable-journals "Journaux"
    :settings-page/native-titlebar "Barre de titre native"
    :settings-page/native-titlebar-desc "Active la barre de titre native de la fenêtre sur Windows et…"
    :settings-page/preferred-outdenting-tip "Le côté gauche montre la désindentation avec les paramètres par déf…"
    :settings-page/preferred-outdenting-tip-more "→ Apprenez-en plus"
    :settings-page/preferred-pasting-file-hint "Lorsqu'activé, coller une image d'Internet…"
    :settings-page/revision "Révision :"
    :settings-page/show-full-blocks "Afficher toutes les lignes d'une référence de bloc"
    :command.window/close "Fermer la fenêtre"
    :handbook/close "Fermer"
    :handbook/help-categories "Catégories d'aide"
    :handbook/home "Accueil"
    :handbook/popular-topics "Sujets populaires"
    :handbook/search "Rechercher"
    :handbook/settings "Préférences"
    :handbook/title "Aide"
    :handbook/topics "Sujets"
    :keymap/all "Tous"
    :keymap/conflicts-for-label "Conflit de raccourcis pour"
    :keymap/custom "Personnalisé"
    :keymap/customize-for-label "Personnaliser les raccourcis"
    :keymap/disabled "Désactivé"
    :keymap/keystroke-filter "Filtre de frappe"
    :keymap/keystroke-record-desc "Presser une séquence de touches pour filtrer les raccourcis"
    :keymap/keystroke-record-setup-label "Presser une séquence de touches pour définir un raccourci"
    :keymap/restore-to-default "Rétablir la configuration par défaut"
    :keymap/search "Rechercher"
    :keymap/total "Nombre de raccourcis"
    :keymap/unset "Effacer"
    :pdf/auto-open-context-menu "Ouvrir automatiquement le menu contextuel pour les sélections"
    :right-side-bar/pane-close "Fermer"
    :right-side-bar/pane-close-all "Tout fermer"
    :right-side-bar/pane-close-others "Fermer les autres"
    :right-side-bar/pane-collapse "Réduire"
    :right-side-bar/pane-collapse-all "Tout réduire"
    :right-side-bar/pane-collapse-others "Réduire les autres"
    :right-side-bar/pane-expand "Étendre"
    :right-side-bar/pane-expand-all "Tout étendre"
    :right-side-bar/pane-more "Plus"
    :right-side-bar/pane-open-as-page "Ouvrir comme une page"
    :settings-page/auto-chmod "Automatiquement changer les permissions du fichier"
    :settings-page/auto-chmod-desc "Désactiver pour permettre l'édition par plusieurs utilisateurs avec les permissions données par l'appartenance au groupe."
    :settings-page/tab-keymap "Raccourcis"
}
