{:help/start "Per iniziare"
 :help/about "Informazioni su Logseq"
 :help/bug "Segnala un problema"
 :help/feature "Richiedi una funzionalità"
 :help/changelog "Registro delle modifiche"
 :help/blog "blog di Logseq"
 :help/docs "Documentazione"
 :help/privacy "Politica sulla riservatezza"
 :help/terms "Termini di Servizio"
 :help/shortcuts "Scorciatoie da tastiera"
 :help/shortcuts-triggers "Attivazione delle scorciatoie"
 :help/shortcut "Scorciatoia"
 :help/slash-autocomplete "Completamento automatico con barra (/)"
 :help/reference-autocomplete "Completamento automatico del riferimento di pagina"
 :help/block-reference "Riferimento di blocco"
 :help/open-link-in-sidebar "Apri il link nel pannello laterale"
 :help/context-menu "Menù contestuale del blocco"
 :help/markdown-syntax "Sintassi Markdown"
 :help/org-mode-syntax "Sintassi Org mode"
 :bold "Grassetto"
 :italics "Corsivo"
 :highlight "Evidenzia"
 :strikethrough "Barrato"
 :code "Codice"
 :right-side-bar/help "Aiuto"
 :right-side-bar/switch-theme "Modalità tema"
 :right-side-bar/contents "Contenuti"
 :right-side-bar/page-graph "Grafo della pagina"
 :right-side-bar/block-ref "Riferimento al blocco"
 :right-side-bar/graph-view "Vista del grafo"
 :right-side-bar/show-journals "Mostra diari"
 :left-side-bar/journals "Diario"
 :left-side-bar/nav-favorites "Preferiti"
 :left-side-bar/nav-recent-pages "Recenti"
 :page/make-public "Segna come pubblico per la pubblicazione"
 :page/make-private "Segna come privato"
 :page/delete "Elimina pagina"
 :page/add-to-favorites "Aggiungi ai Preferiti"
 :page/unfavorite "Rimuovi la pagina dai Preferiti"
 :block/name "Nome pagina"
 :page/copy-page-url "Copia URL pagina"
 :file/name "Nome File"
 :file/last-modified-at "Ultima modifica alle"
 :file/no-data "Nessun dato"
 :file/format-not-supported "Il formato .{1} non è supportato."
 :page/created-at "Creato alle"
 :page/updated-at "Aggiornato alle"
 :page/backlinks "Collegamenti a ritroso"
 :editor/block-search "Cerca un blocco"
 :text/image "Immagine"
 :asset/confirm-delete "Sei sicuro di voler eliminare questo {1}?"
 :asset/physical-delete "Rimuovi anche i file (non possono essere ripristinati)"
 :editor/copy "Copia"
 :editor/cut "Taglia"
 :content/copy-block-ref "Copia riferimento di blocco"
 :content/open-in-sidebar "Apri nel pannello laterale"
 :content/click-to-edit "Clicca per modificare"
 :settings-page/edit-config-edn "Modifica config.edn"
 :settings-page/edit-custom-css "Modifica custom.css"
 :settings-page/custom-configuration "Configurazione personalizzata"
 :settings-page/custom-theme "Tema personalizzato"
 :settings-page/show-brackets "Mostra parentesi"
 :settings-page/spell-checker "Correttore ortografico"
 :settings-page/auto-updater "Aggiornamento automatico"
 :settings-page/disable-sentry "Invia dati di utilizzo e diagnostica a Logseq"
 :settings-page/preferred-outdenting "Indentazione logica"
 :settings-page/custom-date-format "Formato data preferito"
 :settings-page/enable-shortcut-tooltip "Abilita suggerimenti a comparsa"
 :settings-page/enable-tooltip "Suggerimenti"
 :settings-page/enable-journals "Diario"
 :settings-page/enable-all-pages-public "Durante la pubblicazione tutte le pagine sono pubbliche"
 :settings-page/home-default-page "Imposta la home page predefinita"
 :settings-page/clear-cache "Pulisci cache"
 :settings-page/clear "Pulisci"
 :settings-page/developer-mode "Modalità sviluppatore"
 :settings-page/developer-mode-desc "La modalità sviluppatore aiuta i contributori e gli sviluppatori di estensioni a testare le loro integrazioni con Logseq in modo più efficiente."
 :settings-page/current-version "Versione attuale"
 :settings-page/tab-general "Generale"
 :settings-page/tab-advanced "Avanzate"
 :settings-page/plugin-system "Sistema di plugin"
 :settings-page/network-proxy "Proxy di rete"
 :yes "Sì"
 :cancel "Annulla"
 :close "Chiudi"
 :delete "Elimina"
 :save "Salva"
 :type "Tipo"
 :port "Porta"
 :graph "Grafo"
 :export "Esporta"
 :export-graph "Esporta grafo"
 :export-page "Esporta pagina"
 :export-markdown "Esporta come Markdown standard (senza le proprietà dei blocchi)"
 :export-public-pages "Esporta le pagine pubbliche"
 :all-graphs "Tutti i grafi"
 :all-files "Tutti i file"
 :all-journals "Tutte le pagine di diario"
 :settings "Impostazioni"
 :settings-of-plugins "Impostazioni plugin"
 :plugins "Plugin"
 :themes "Temi"
 :relaunch-confirm-to-work "È necessario riavviare l'app per farla funzionare. Vuoi riavviarla ora?"
 :import "Importa"
 :help-shortcut-title "Clicca per conoscere le scorciatoie e altri suggerimenti"
 :login "Accedi"
 :logout "Esci"
 :download "Scarica"
 :language "Lingua"
 :remove-background "Rimuovi lo sfondo"
 :help/shortcut-page-title "Scorciatoie da tastiera"
 :plugin/installed "Installati"
 :plugin/not-installed "Non installati"
 :plugin/installing "Installazione"
 :plugin/install "Installa"
 :plugin/reload "Ricarica"
 :plugin/update "Aggiorna"
 :plugin/check-update "Controlla aggiornamenti"
 :plugin/check-all-updates "Controlla tutti gli aggiornamenti"
 :plugin/refresh-lists "Ricarica lista"
 :plugin/enabled "Abilitati"
 :plugin/disabled "Disabilitati"
 :plugin/update-available "Aggiornamento disponibile"
 :plugin/updating "Aggiornamento"
 :plugin/uninstall "Disinstalla"
 :plugin/marketplace "Libreria"
 :plugin/downloads "Numero di scaricamenti"
 :plugin/stars "Stelle"
 :plugin/all "Tutti"
 :plugin/unpacked "Non pacchettizzati"
 :plugin/delete-alert "Sei sicuro di voler disinstallare [{1}]?"
 :plugin/open-settings "Apri impostazioni"
 :plugin/open-package "Apri pacchetto"
 :plugin/load-unpacked "Carica plugin non pacchettizzato"
 :plugin/restart "Riavvia app"
 :plugin/unpacked-tips "Seleziona la cartella del plugin"
 :plugin/contribute "✨ Sviluppa e sottoponici un nuovo plugin"
 :plugin/custom-js-alert "Trovato il file custom.js, è consentito eseguirlo? (Se non si comprende il contenuto di questo file, si consiglia di non consentire l'esecuzione, che presenta alcuni rischi per la sicurezza.)"
 :pdf/copy-ref "Copia riferimenti"
 :pdf/copy-text "Copia testo"
 :pdf/linked-ref "Riferimenti collegati"
 :pdf/toggle-dashed "Stile tratteggiato per evidenziare l'area"
 :updater/new-version-install "Una nuova versione è stata scaricata."
 :updater/quit-and-install "Riavvia per installarla"
 :select/default-prompt "Selezionane uno"
 :select.graph/prompt "Seleziona un grafo"
 :select.graph/empty-placeholder-description "Non ci sono grafi corrispondenti. Vuoi aggiungerne uno nuovo?"
 :select.graph/add-graph "Sì, aggiungi un nuovo grafo"
 :settings-page/edit-export-css "Modifica export.css"
 :settings-page/enable-flashcards "Flashcard"
 :settings-page/export-theme "Esporta tema"
 :command.pdf/previous-page "Pagina precedente del pdf corrente"
 :command.pdf/next-page "Pagina successiva del pdf corrente"
 :command.auto-complete/complete "Auto completamento: Scegli l'oggetto selezionato"
 :command.auto-complete/prev "Auto completamento: Seleziona l'oggetto precedente"
 :command.auto-complete/next "Auto completamento: Seleziona l'oggetto successivo"
 :command.auto-complete/shift-complete "Auto completamento: Apri l'oggetto selezionato nel pannello laterale"
 :command.cards/toggle-answers "Carte: mostra/nascondi risposte/chiusure"
 :command.editor/escape-editing "Esci dalla modifica"
 :command.editor/backspace "Tasto Backspace / Cancella all'indietro"
 :command.editor/delete "Tasto Delete / Cancella avanti"
 :command.editor/new-block "Crea un nuovo blocco"
 :command.editor/new-line "Nuova riga a capo nel blocco attuale"
 :command.editor/follow-link "Segui il link sotto al cursore"
 :command.editor/open-link-in-sidebar "Apri il link nel pannello laterale"
 :command.editor/bold "Grassetto"
 :command.editor/italics "Corsivo"
 :command.editor/highlight "Evidenzia"
 :command.editor/strike-through "Barrato"
 :command.editor/clear-block "Elimina l'intero contenuto del blocco"
 :command.editor/kill-line-before "Cancella la riga prima della posizione del cursore"
 :command.editor/kill-line-after "Cancella la riga dopo la posizione del cursore"
 :command.editor/beginning-of-block "Muovi il cursore all'inizio di un blocco"
 :command.editor/end-of-block "Muovi il cursore alla fine di un blocco"
 :command.editor/forward-word "Muovi il cursore in avanti di una parola"
 :command.editor/backward-word "Muovi il cursore all'indietro di una parola"
 :command.editor/forward-kill-word "Elimina una parola in avanti"
 :command.editor/backward-kill-word "Elimina una parola all'indietro"
 :command.editor/paste-text-in-one-block-at-point "Incolla testo in un blocco al punto"
 :command.editor/insert-youtube-timestamp "Inserisci marca temporale di YouTube"
 :command.editor/cycle-todo "Cicla lo stato TODO dell'elemento corrente"
 :command.editor/up "Muovi il cursore sopra / Seleziona sopra"
 :command.editor/down "Muovi il cursore sotto / Seleziona sotto"
 :command.editor/left "Muovi il cursore a sinistra / Apri il blocco selezionato all'inizio"
 :command.editor/right "Muovi il cursore a destra / Apri il blocco selezionato all'inizio"
 :command.editor/select-up "Seleziona il contenuto sopra"
 :command.editor/select-down "Seleziona il contenuto sotto"
 :command.editor/move-block-up "Muovi il blocco sopra"
 :command.editor/move-block-down "Muovi il blocco sotto"
 :command.editor/open-edit "Modifica il blocco selezionato"
 :command.editor/select-block-up "Seleziona blocco sopra"
 :command.editor/select-block-down "Seleziona blocco sotto"
 :command.editor/delete-selection "Elimina i blocchi selezionati"
 :command.editor/expand-block-children "Espandi"
 :command.editor/collapse-block-children "Comprimi"
 :command.editor/indent "Indenta blocco"
 :command.editor/outdent "Diminuisci indentazione"
 :command.editor/copy "Copia (copia una selezione o un riferimento di blocco)"
 :command.editor/cut "Taglia"
 :command.editor/undo "Annulla"
 :command.editor/redo "Ripeti"
 :command.editor/select-all-blocks "Seleziona tutti i blocchi"
 :command.editor/zoom-in "Ingrandisci blocco di modifica / Avanti altrimenti"
 :command.editor/zoom-out "Rimpicciolisci il blocco di modifica / Indietro altrimenti"
 :command.ui/toggle-brackets "Selezionare se visualizzare le parentesi"
 :command.go/search "Ricerca testo completo"
 :command.go/journals "Vai ai diari"
 :command.go/backward "Indietro"
 :command.go/forward "Avanti"
 :command.search/re-index "Ricostruisci indice di ricerca"
 :command.sidebar/open-today-page "Apri la pagina di oggi nel pannello laterale destro"
 :command.sidebar/clear "Pulisci tutto nel pannello laterale destro"
 :command.graph/open "Seleziona il diagramma da aprire"
 :command.graph/remove "Rimuovi un diagramma"
 :command.graph/add "Aggiungi un diagramma"
 :command.command/run "Esegui comando Git"
 :command.go/home "Vai all'inizio"
 :command.go/all-pages "Vai a tutte le pagine"
 :command.go/graph-view "Vai alla visualizzazione diagramma"
 :command.go/keyboard-shortcuts "Vai alle scorciatoie da tastiera"
 :command.go/tomorrow "Vai a domani"
 :command.go/next-journal "Vai al prossimo diario"
 :command.go/prev-journal "Vai al diario precedente"
 :command.go/flashcards "Attiva/disattiva carte flash"
 :command.ui/toggle-document-mode "Attiva/disattiva modalità documento"
 :command.ui/toggle-settings "Attiva/disattiva impostazioni"
 :command.ui/toggle-right-sidebar "Attiva/disattiva pannello laterale destra"
 :command.ui/toggle-left-sidebar "Attiva/disattiva pannello laterale sinistra"
 :command.ui/toggle-help "Attiva/disattiva aiuto"
 :command.ui/toggle-theme "Passa dal tema scuro a quello chiaro"
 :command.ui/toggle-contents "Attiva/disattiva i contenuti nel pannello laterale"
 :command.command/toggle-favorite "Aggiungi a/rimuovi dai preferiti"
 :command.ui/toggle-wide-mode "Attiva/disattiva modalità ampia"
 :command.ui/select-theme-color "Seleziona i colori del tema disponibili"
 :command.ui/goto-plugins "Vai alla dashboard dei plugin"
 :command.editor/toggle-open-blocks "Attiva/disattiva i blocchi aperti (collassa o espandi tutti i blocchi)"
 :shortcut.category/basics "Nozioni di base"
 :shortcut.category/formatting "Formattazione"
 :shortcut.category/navigating "Navigazione"
 :shortcut.category/block-editing "Modifica blocco generale"
 :shortcut.category/block-command-editing "Modifica comandi blocco"
 :shortcut.category/block-selection "Selezione blocco (premi Esc per uscire dalla selezione)"
 :shortcut.category/toggle "Attiva/disattiva"
 :shortcut.category/others "Altri"
 :command.editor/copy-embed "Copia un incorporamento di blocco che punta al blocco corrente"
 :command.editor/copy-text "Copia le selezioni come testo"
 :command.pdf/close "Chiudi anteprima PDF"
 :auto-heading "Titoli automatici"
 :export-copied-to-clipboard "Copiato negli appunti!"
 :export-copy-to-clipboard "Copia negli appunti"
 :export-save-to-file "Salva come file"
 :export-transparent-background "Sfondo trasparente"
 :heading "Titolo {1}"
 :home "Home"
 :host "Host"
 :importing "Importando"
 :loading "Caricamento..."
 :new-page "Nuova pagina:"
 :remove-heading "Rimuovi titolo"
 :toggle-theme "Inverti tema"
 :untitled "Senza titolo"
 :accessibility/skip-to-main-content "Salta al contenuto principale"
 :asset/copy "Copia immagine"
 :asset/delete "Elimina immagine"
 :asset/maximize "Ingrandisci immagine"
 :asset/open-in-browser "Apri immagine nel browser"
 :asset/show-in-folder "Mostra nella cartella"
 :bug-report/clipboard-inspector-title "Ispettore dati degli appunti"
 :bug-report/inspector-page-btn-back "Indietro"
 :bug-report/inspector-page-btn-copy "Copia il risultato"
 :bug-report/inspector-page-btn-create-issue "Segnala un problema"
 :bug-report/inspector-page-copy-notif "Copiato negli appunti!"
 :bug-report/inspector-page-desc-1 "Premi Ctrl+V / ⌘+V per ispezionare gli appunti"
 :bug-report/inspector-page-desc-2 "oppure clicca qui per incollare se stai usando la versione mobile"
 :bug-report/inspector-page-desc-clipboard "Questi sono i dati letti dagli appunti."
 :bug-report/inspector-page-desc-copy "Se possono essere condivisi, clicca il pulsante per copiare."
 :bug-report/inspector-page-desc-create-issue "Ora puoi riportare il risultato incollato negli appunti. Per favore, incolla il risultato nella sezione 'Contesto Aggiuntivo' e precisa da dove hai copiato il contesto originale."
 :bug-report/inspector-page-placeholder "Premi a lungo qui se sei da mobile"
 :bug-report/inspector-page-tip "Qualcosa non va? Nessun problema, clicca per tornare al passo precedente."
 :bug-report/main-desc "Puoi aiutarci segnalando un difetto? Ce ne occuperemo il prima possibile."
 :bug-report/main-title "Segnalazione di un difetto"
 :bug-report/section-clipboard-btn-desc "Ispeziona e raccogli dati sugli appunti"
 :bug-report/section-clipboard-btn-title "Aiutante degli appunti"
 :bug-report/section-clipboard-desc "Puoi usare questi utili strumenti per darci informazioni aggiuntive."
 :bug-report/section-clipboard-title "Il difetto che hai incontrato ha a che fare con queste funzionalità?"
 :bug-report/section-issues-btn-desc "Aiutaci a migliorare Logseq!"
 :bug-report/section-issues-btn-title "Segnala un difetto"
 :bug-report/section-issues-desc "Se non puoi raccogliere informazioni aggiuntive, segnala il difetto direttamente."
 :bug-report/section-issues-title "Oppure..."
 :color/blue "Blu"
 :color/gray "Grigio"
 :color/green "Verde"
 :color/pink "Rosa"
 :color/purple "Viola"
 :color/red "Rosso"
 :color/yellow "Giallo"
 :command.command-palette/toggle "Cerca un comando"
 :command.dev/show-block-ast "(Dev) Mostra AST del blocco"
 :command.dev/show-block-data "(Dev) Mostra dati del blocco"
 :command.dev/show-page-data "(Dev) Mostra dati della pagina"
 :command.editor/copy-page-url "Copia indirizzo della pagina"
 :command.editor/insert-link "Link HTML"
 :command.editor/select-parent "Seleziona blocco genitore"
 :command.editor/toggle-number-list "Attiva/disattiva elenco numerato"
 :command.go/all-graphs "Vai a tutti i grafi"
 :command.go/electron-find-in-page "Cerca testo nella pagina"
 :command.go/electron-jump-to-the-next "Vai al prossimo risultato nella ricerca"
 :command.go/electron-jump-to-the-previous "Vai al precedente risultato nella ricerca"
 :command.go/search-in-page "Cerca tra i blocchi nella pagina"
 :command.graph/export-as-html "Esporta pagine pubbliche del grafo come HTML"
 :command.misc/copy "Copia"
 :command.pdf/find "PDF: cerca testo nel documento"
 :command.sidebar/close-top "Chiudi l'elemento in alto nel pannello laterale destra"
 :command.ui/clear-all-notifications "Cancella tutte le notifiche"
 :command.ui/install-plugins-from-file "Installa plugin da plugins.edn"
 :command.window/close "Chiudi finestra"
 :content/copy-block-url "Copia indirizzo del blocco"
 :content/copy-export-as "Copia / Esporta come..."
 :content/copy-ref "Copia riferimento"
 :content/delete-ref "Elimina riferimento"
 :content/replace-with-embed "Sostituisci con un'integrazione"
 :content/replace-with-text "Sostituisci con testo"
 :context-menu/make-a-flashcard "Crea flashcard"
 :context-menu/toggle-number-list "Attiva/disattiva elenco numerato"
 :dev/show-block-ast "(Dev) Mostra AST del blocco"
 :dev/show-block-data "(Dev) Mostra dati del blocco"
 :dev/show-page-data "(Dev) Mostra dati della pagina"
 :editor/collapse-block-children "Collassa tutto"
 :editor/cycle-todo "Alterna lo stato del TODO corrente"
 :editor/delete-selection "Elimina blocchi selezionati"
 :editor/expand-block-children "Espandi tutto"
 :flashcards/modal-finished "Congratulazioni, hai ripassato tutte le carte in questo quiz, alla prossima!"
 :flashcards/modal-welcome-desc-1 "Puoi aggiungere \"{1}\" a qualsiasi blocco per trasformarlo in una carta o attivare \"/cloze\" per aggiungere cloze."
 :flashcards/modal-welcome-title "Tempo di creare una carta!"
 :graph/all-graphs "Tutti i grafi"
 :graph/local-graphs "Grafi locali:"
 :graph/remote-graphs "Grafi remoti:"
 :handbook/close "Chiudi"
 :handbook/help-categories "Categorie di aiuto"
 :handbook/home "Home"
 :handbook/popular-topics "Argomenti popolari"
 :handbook/search "Cerca"
 :handbook/settings "Impostazioni"
 :handbook/title "Aiuto"
 :handbook/topics "Argomenti"
 :header/go-back "Indietro"
 :header/go-forward "Avanti"
 :header/more "Altro"
 :header/search "Cerca"
 :header/toggle-left-sidebar "Attiva/disattiva il pannello laterale sinistro"
 :help/awesome-logseq "Awesome Logseq"
 :help/forum-community "Forum della comunità"
 :help/roadmap "Tabella di marcia"
 :help/search "Cerca pagine/blocchi/comandi"
 :help/title-about "Chi siamo"
 :help/title-community "Comunità"
 :help/title-development "Sviluppo"
 :help/title-terms "Termini"
 :help/title-usage "Utilizzo"
 :keymap/all "Tutti"
 :keymap/conflicts-for-label "Scorciatoie in conflitto: "
 :keymap/custom "Personalizzati"
 :keymap/customize-for-label "Personalizza scorciatoie"
 :keymap/disabled "Disabilitati"
 :keymap/keystroke-filter "Digita scorciatoia per filtrare"
 :keymap/keystroke-record-desc "Premi qualsiasi sequenza di tasti per filtrare le scorciatoie"
 :keymap/keystroke-record-setup-label "Premi una qualsiasi sequenza di tasti per impostare una scorciatoia"
 :keymap/restore-to-default "Ripristina alla predefinita"
 :keymap/search "Cerca"
 :keymap/total "Scorciatoie totali"
 :keymap/unset "Non impostata"
 :left-side-bar/switch "Passa a:"
 :linked-references/filter-search "Cerca nelle pagine collegate"
 :notification/clear-all "Pulisci tutte"
 :on-boarding/importing-desc "Se sono in formato EDN o Markdown Logseq può lavorarci."
 :on-boarding/importing-main-desc "Puoi farlo anche dopo nell'app."
 :on-boarding/importing-main-title "Importa note esistenti"
 :on-boarding/importing-title "Hai già note che vuoi importare?"
 :on-boarding/main-desc "Per prima cosa devi scegliere una cartella in cui Logseq conserverò i tuoi pensieri, idee e note."
 :on-boarding/main-title (fn [] ["Benvenuti in " [:strong "Logseq!"]])
 :page/logseq-is-having-a-problem "Logseq sta riscontrando un problema. Per tentare di farlo tornare a funzionare esegue i seguenti passi in ordine:"
 :page/something-went-wrong "Qualcosa è andato storto"
 :page/step "Passo {1}"
 :page/try "Prova"
 :pdf/auto-open-context-menu "Apri menù contestuale per le selezioni automaticamente"
 :pdf/doc-metadata "Metadati del documento"
 :pdf/hl-block-colored "Etichetta colorata per il blocco evidenziato"
 :plugin/all-updated "Aggiornati tutti!"
 :plugin/auto-check-for-updates "Controlla automaticamente per aggiornamenti"
 :plugin/checking-for-updates "Controllando se ci sono plugin da aggiornare..."
 :plugin/found-n-updates "Trovati {1} aggiornamenti"
 :plugin/found-updates "Nuovi aggiornamenti"
 :plugin/installed-plugin "Plugin installati: {1}"
 :plugin/list-of-updates "Plugin da aggiornare: "
 :plugin/open-logseq-dir "Apri"
 :plugin/open-preferences "Apri preferenze"
 :plugin/remote-error "Errore remoto: "
 :plugin/search-plugin "Cerca plugin"
 :plugin/security-warning "I plugin hanno accesso al tuo grafo e file locali, possono effettuare richieste in rete.\n       Possono anche causare corruzione e perdita di dati. Stiamo lavorando a regole di accesso appropriate sui tuoi grafi.\n       Nel frattempo, assicurati di fare backup dei tuoi grafi regolarmente e installa plugin solo quando puoi leggere e\n       capirne il codice sorgente."
 :plugin/title "Titolo ({1})"
 :plugin/up-to-date "È aggiornato {1}"
 :plugin/update-all-selected "Aggiorna i selezionati"
 :plugin/update-plugin "Aggiorna i plugin: {1} - {2}"
 :plugin/updates-downloading "Scaricando aggiornamenti"
 :plugin.install-from-file/menu-title "Installa da plugins.edn"
 :plugin.install-from-file/notice "I seguenti plugin sostituiranno i seguenti plugin:"
 :plugin.install-from-file/success "Tutti i plugin installati!"
 :plugin.install-from-file/title "Installa plugin da plugins.edn"
 :right-side-bar/flashcards "Flashcard"
 :right-side-bar/pane-close "Chiudi"
 :right-side-bar/pane-close-all "Chiudi tutti"
 :right-side-bar/pane-close-others "Chiudi altri"
 :right-side-bar/pane-collapse "Collassa"
 :right-side-bar/pane-collapse-all "Collassa tutti"
 :right-side-bar/pane-collapse-others "Collassa altri"
 :right-side-bar/pane-expand "Espandi"
 :right-side-bar/pane-expand-all "Espandi tutti"
 :right-side-bar/pane-more "Altro"
 :right-side-bar/pane-open-as-page "Apri come pagina"
 :right-side-bar/separator "Bordo per ridimensionare il pannello laterale destro"
 :right-side-bar/toggle-right-sidebar "Attiva/disattiva pannello laterale destro"
 :search-item/no-result "Nessun risultato"
 :search-item/page "Pagina"
 :select/default-select-multiple "Seleziona uno o molteplici"
 :settings-page/app-updated "La tua app è aggiornata 🎉"
 :settings-page/auto-chmod "Cambia permessi dei file automaticamente"
 :settings-page/auto-chmod-desc "Disabilita per consentire la modifica da più utenti autorizzati dall'appartenenza al gruppo."
 :settings-page/auto-expand-block-refs "Espandi riferimenti ai blocchi automaticamente quando si ingrandisce"
 :settings-page/auto-expand-block-refs-tip "Questa opzione controlla se espandere i riferimenti ai blocchi automaticamente quando si ingrandisce."
 :settings-page/changelog "Che c'è di nuovo?"
 :settings-page/check-for-updates "Controlla se ci sono aggiornamenti"
 :settings-page/checking "Controllando..."
 :settings-page/clear-cache-warning "Pulire la chache scarterà i grafi aperti. Perderai modifiche non salvate."
 :settings-page/custom-global-configuration "Configurazione globale personalizzata"
 :settings-page/disable-sentry-desc "Logseq non raccoglierà mai il database del grafo locale e non venderà mai i tuoi dati."
 :settings-page/edit-global-config-edn "Modifica config.edn globale"
 :settings-page/login-prompt "Per avere accesso a nuove funzionalità prima di tutti gli altri devi essere uno sponsor di Open Collective oppure supportare Logseq, quindi devi prima accedere."
 :settings-page/native-titlebar "Barra del titolo nativa"
 :settings-page/native-titlebar-desc "Abilita la barra del titolo nativa su Windows e Linux."
 :settings-page/preferred-outdenting-tip "Il lato sinistro mostra l'indentazione con impostazioni predefinite, e il lato destro mostra l'indentazione logica abilitata."
 :settings-page/preferred-outdenting-tip-more "→ Scopri di più"
 :settings-page/preferred-pasting-file "Preferisci incollare file"
 :settings-page/preferred-pasting-file-hint "Quando abilitata, incollare un'immagine da internet scaricherà e inserirà l'immagine. Quando disabilitata, incollerà il link all'immagine."
 :settings-page/revision "Revisione: "
 :settings-page/show-full-blocks "Mostra tutte le righe del riferimento ad un blocco"
 :settings-page/tab-account "Account"
 :settings-page/tab-editor "Editor"
 :settings-page/tab-features "Funzionalità"
 :settings-page/tab-keymap "Scorciatoie"
 :settings-page/theme-dark "Scuro"
 :settings-page/theme-light "Chiaro"
 :settings-page/theme-system "Sistema"
 :settings-page/update-available "Trovato una nuova versione "
 :settings-page/update-error-1 "⚠️ Ops, qualcosa è andato storto!"
 :settings-page/update-error-2 " Per favore, controlla il "
 :shortcut.category/plugins "Plugin"
 :tips/all-done "Tutto fatto!"
 :window/close "Chiudi"
 :window/exit-fullscreen "Esci da schermo intero"
 :window/maximize "Massimizza"
 :window/minimize "Minimizza"
 :window/restore "Ripristina"
 :command.editor/toggle-block-children "Espandi/Comprimi"
 :linked-references/filter-directions "Click per includere e Shift-Click per escludere. Clicca di nuovo per rimuovere."
 :linked-references/filter-excludes "Esclude: "
 :linked-references/filter-heading "Filtro"
 :linked-references/filter-includes "Include: "}
