{:accessibility/skip-to-main-content "メインの内容まで飛ぶ"
 :handbook/title "ヘルプ"
 :handbook/topics "話題"
 :handbook/popular-topics "人気のある話題"
 :handbook/help-categories "ヘルプのカテゴリ"
 :handbook/search "検索"
 :handbook/home "ホーム"
 :handbook/settings "設定"
 :handbook/close "閉じる"
 :on-boarding/importing-main-title "既に存在するノートを読み込む"
 :on-boarding/importing-main-desc "これは後にアプリ内で行うこともできます。"
 :on-boarding/importing-title "既に持っている読み込みたいノートはありますか？"
 :on-boarding/importing-desc "EDN、Markdown形式のいずれかであればLogseqはうまく処理できます。"
 :on-boarding/main-title (fn [] [[:strong "Logseq"] "へようこそ！"])
 :on-boarding/main-desc "はじめに、あなたの考えやアイデア、ノートを保存しておくためのフォルダを選択する必要があります。"
 :bug-report/main-title "バグ報告"
 :bug-report/clipboard-inspector-title "クリップボードのデータを調査"
 :bug-report/main-desc "バグ報告を提出することで我々を手伝っていただけると嬉しいです。できるだけ早くバグを解決したいと考えています。"
 :bug-report/section-clipboard-title "あなたの遭遇したバグはこれらの機能に関連していますか？"
 :bug-report/section-clipboard-desc "追加の情報を提供する場合は、これらのツールを使うと便利です。"
 :bug-report/section-clipboard-btn-title "クリップボードヘルパー"
 :bug-report/section-clipboard-btn-desc "クリップボードのデータを調査し、修正する"
 :bug-report/section-issues-title "もしくは..."
 :bug-report/section-issues-desc "もし追加の情報を収集するツールが使えなかった場合、直接バグを報告してください。"
 :bug-report/section-issues-btn-title "バグ報告を提出する"
 :bug-report/section-issues-btn-desc "あなたのお手伝いでLogseqはより良くなります！"
 :bug-report/inspector-page-btn-back "戻る"
 :bug-report/inspector-page-btn-copy "結果をコピー"
 :bug-report/inspector-page-btn-create-issue "イシューを作成する"
 :bug-report/inspector-page-copy-notif "クリップボードにコピーしました！"
 :bug-report/inspector-page-desc-1 "クリップボードのデータを見るには、 Ctrl+V / ⌘+V を押してください"
 :bug-report/inspector-page-desc-2 "もしあなたがモバイル版を使っている場合、ここをクリックして貼り付けしてください"
 :bug-report/inspector-page-desc-clipboard "これがクリップボードから読み込まれたデータです。"
 :bug-report/inspector-page-desc-copy "共有する準備ができたら、コピーボタンをクリックしてください。"
 :bug-report/inspector-page-desc-create-issue "これで、クリップボードの内容を結果として報告できるようになりました。「Additional Context」セクションにその結果を貼り付けた上で、元々のコンテンツをコピーしてきた場所を記載してください。ここまでご協力ありがとうございます。"
 :bug-report/inspector-page-placeholder "モバイル端末を利用している場合は、ここを長押ししてください"
 :bug-report/inspector-page-tip "なにかおかしいですか？問題ありません、クリックすることで前のステップに戻ることができます。"
 :help/title-usage "使い方"
 :help/title-community "コミュニティ"
 :help/title-development "開発"
 :help/title-about "私たちについて"
 :help/title-terms "規約"
 :help/start "はじめに"
 :help/about "Logseqについて"
 :help/roadmap "ロードマップ"
 :help/bug "バグ報告"
 :help/feature "機能リクエスト"
 :help/changelog "更新履歴"
 :help/blog "Logseq ブログ"
 :help/docs "ドキュメント"
 :help/privacy "プライバシーポリシー"
 :help/terms "利用規約"
 :help/forum-community "フォーラムコミュニティ"
 :help/awesome-logseq "素晴らしきLogseq"
 :help/shortcuts "キーボードショートカット"
 :help/shortcuts-triggers "トリガー"
 :help/shortcut "ショートカット"
 :help/search "ページ、ブロック、コマンドを検索"
 :help/slash-autocomplete "スラッシュで自動補完"
 :help/reference-autocomplete "ページ参照の自動補完"
 :help/block-reference "ブロック参照"
 :help/open-link-in-sidebar "サイドバーでリンクを開く"
 :search-item/page "ページ"
 :search-item/no-result "一致する結果がありません"
 :help/context-menu "ブロックのコンテキストメニュー"
 :help/markdown-syntax "マークダウン文法"
 :bold "太字"
 :italics "斜体"
 :highlight "ハイライト"
 :strikethrough "取り消し線"
 :code "コード"
 :untitled "タイトルなし"
 :right-side-bar/help "ヘルプ"
 :right-side-bar/switch-theme "テーマ"
 :right-side-bar/contents "目次"
 :right-side-bar/page-graph "ページグラフ"
 :right-side-bar/block-ref "ブロック参照"
 :right-side-bar/graph-view "グラフビュー"
 :right-side-bar/flashcards "フラッシュカード"
 :right-side-bar/show-journals "日誌を表示"
 :right-side-bar/separator "右サイドバーのサイズ変更"
 :right-side-bar/toggle-right-sidebar "右サイドバーを開閉"
 :right-side-bar/pane-close "閉じる"
 :right-side-bar/pane-close-others "他を全て閉じる"
 :right-side-bar/pane-close-all "全て閉じる"
 :right-side-bar/pane-collapse "折り畳む"
 :right-side-bar/pane-collapse-others "他を全て折り畳む"
 :right-side-bar/pane-collapse-all "全て折り畳む"
 :right-side-bar/pane-expand "展開する"
 :right-side-bar/pane-expand-all "全て展開する"
 :right-side-bar/pane-open-as-page "ページとして開く"
 :right-side-bar/pane-more "もっと"
 :left-side-bar/switch "グラフを切り替える："
 :left-side-bar/journals "日誌"
 :left-side-bar/nav-favorites "お気に入り"
 :left-side-bar/nav-recent-pages "最新"
 :page/something-went-wrong "問題が発生しました。"
 :page/logseq-is-having-a-problem "Logseqになにか問題があります。きちんと動く状態に戻すため、以下の項目を上から順番に実行してください："
 :page/step "ステップ{1}"
 :page/try "試す"
 :page/make-public "パブリッシュのため公開する"
 :page/make-private "非公開にする"
 :page/delete "ページを削除"
 :page/add-to-favorites "お気に入りへ追加"
 :page/unfavorite "お気に入りを解除"
 :block/name "ページ名"
 :page/copy-page-url "ページの URL をコピー"
 :file/name "ファイル名"
 :file/last-modified-at "最終更新日時 "
 :file/no-data "データがありません"
 :file/format-not-supported ".{1} 形式はサポートされていません。"
 :page/created-at "作成日時 "
 :page/updated-at "更新日時 "
 :page/backlinks "バックリンク"
 :linked-references/filter-search "リンクされたページを検索"
 :linked-references/filter-heading "絞り込む"
 :linked-references/filter-directions "クリックすると含むもの、Shiftを押しながらクリックすると含まないものを検索します。もう一度クリックすると取り消します。"
 :linked-references/filter-includes "含む: "
 :linked-references/filter-excludes "含まない: "
 :editor/block-search "ブロックを検索"
 :text/image "画像"
 :asset/show-in-folder "画像のフォルダを開く"
 :asset/open-in-browser "ブラウザで開く"
 :asset/delete "画像を削除"
 :asset/copy "画像をコピー"
 :asset/maximize "画像を最大化"
 :asset/ref-block "画像ブロック引用"

 :asset/confirm-delete "この {1} を削除してもよろしいですか？"
 :asset/physical-delete "ファイルも削除します（元に戻せないことにご注意ください）"
 :color/gray "グレー"
 :color/red "赤"
 :color/yellow "黄"
 :color/green "緑"
 :color/blue "青"
 :color/purple "紫"
 :color/pink "ピンク"
 :editor/copy "コピー"
 :editor/cut "カット"
 :editor/expand-block-children "全て展開する"
 :editor/collapse-block-children "全て折り畳む"
 :editor/delete-selection "選択したブロックを削除"
 :editor/cycle-todo "現在のアイテムのTODO状態を切り替える"
 :dev/show-page-data "(開発) ページのデータを表示"
 :dev/show-block-data "(開発) ブロックのデータの表示"
 :dev/show-block-ast "(開発) ブロックの抽象構文木を表示"
 :content/copy-export-as "特定の書式でコピー/書き出し.."
 :content/copy-block-url "ブロックのURLをコピー"
 :content/copy-block-ref "ブロック参照をコピー"
 :content/copy-ref "この参照をコピー"
 :content/delete-ref "この参照を削除"
 :content/replace-with-text "テキストに置換"
 :content/replace-with-embed "埋め込みに置換"
 :content/open-in-sidebar "サイドバーで開く"
 :content/click-to-edit "クリックで編集"
 :context-menu/make-a-flashcard "フラッシュカードを作る"
 :context-menu/toggle-number-list "数字付きリスト／通常のリストへ切り替え"
 :settings-page/edit-config-edn "config.ednを編集"
 :settings-page/edit-global-config-edn "グローバルなconfig.ednを編集"
 :settings-page/edit-custom-css "custom.cssを編集"
 :settings-page/edit-export-css "export.cssを編集"
 :settings-page/custom-configuration "カスタム設定"
 :settings-page/custom-global-configuration "全体の設定を変更する"
 :settings-page/theme-light "ライト"
 :settings-page/theme-dark "ダーク"
 :settings-page/theme-system "システム"
 :settings-page/custom-theme "カスタムテーマ"
 :settings-page/export-theme "テーマの出力"
 :settings-page/show-brackets "ブラケットを表示"
 :settings-page/wide-mode "ワイドモード"
 :settings-page/editor-font "エディターフォント"
 :settings-page/accent-color "ハイライトカラー"
 :settings-page/accent-color-alert "アクセントカラーを選択すると、選択したテーマが上書きされる場合があります。"
 :settings-page/spell-checker "スペルチェッカー"
 :settings-page/auto-updater "自動更新"
 :settings-page/disable-sentry "使用状況データと診断内容をLogseqへ送信します。"
 :settings-page/disable-sentry-desc "Logseqはあなたのローカルなグラフを決して取得しませんし、あなたのデータを売ることも決してありません。 "
 :settings-page/preferred-outdenting "論理的なアウトデント"
 :settings-page/preferred-outdenting-tip "左側は既定のままの場合のアウトデントを示しています。右側は論理的なアウトデントを有効にした場合のアウトデントを示しています。"
 :settings-page/preferred-outdenting-tip-more "→ もっと学ぶ"
 :settings-page/show-full-blocks "ブロック参照の全ての行を表示する"
 :settings-page/auto-expand-block-refs "ズームインしたとき、ブロック参照を自動で展開する"
 :settings-page/auto-expand-block-refs-tip "このオプションは、ズームインしたときにブロック参照を展開するかどうかを指定します。"
 :settings-page/custom-date-format "日時の表示形式"
 :settings-page/preferred-pasting-file-hint "このオプションが有効な場合、インターネットから画像を貼り付けたとき、画像をダウンロードして挿入します。無効な場合、画像へのリンクを挿入します。"
 :settings-page/preferred-pasting-file "ファイルの貼り付けを優先する"
 :settings-page/enable-shortcut-tooltip "ショートカットのツールチップを表示"
 :settings-page/enable-tooltip "ツールチップ"
 :settings-page/enable-journals "日誌"
 :settings-page/enable-all-pages-public "パブリッシュ時には全てのページを公開する"
 :settings-page/home-default-page "起動時のホームページを設定"
 :settings-page/clear-cache "キャッシュをクリア"
 :settings-page/clear "クリア"
 :settings-page/clear-cache-warning "キャッシュをクリアすると、開いているグラフは破棄されます。保存されていない変更は失われます。"
 :settings-page/developer-mode "開発者モード"
 :settings-page/developer-mode-desc "開発者モードはコントリビューターと機能拡張の開発者がLogseqとの統合をより効率的にテストする助けになります。"
 :settings-page/current-version "現在のバージョン"
 :settings-page/tab-general "一般"
 :settings-page/tab-editor "エディタ"
 :settings-page/tab-keymap "キーマップ"
 :settings-page/tab-account "アカウント"
 :settings-page/tab-advanced "高度な設定"
 :settings-page/tab-features "機能"
 :settings-page/plugin-system "プラグイン"
 :settings-page/enable-flashcards "フラッシュカード"
 :settings-page/network-proxy "ネットワークプロキシ"
 :settings-page/login-prompt "新しい機能を誰よりも早く使いたい場合は、LogseqのOpen Collective Sponsorか後援者になった上で、ログインしてください。"
 :settings-page/native-titlebar "ネイティブのタイトルバー"
 :settings-page/native-titlebar-desc "WindowsとLinuxで、ウィンドウにおけるネイティブのタイトルバーを有効にします。"
 :settings-page/check-for-updates "更新を確認"
 :settings-page/checking "確認しています..."
 :settings-page/revision "リビジョン："
 :settings-page/changelog "更新履歴"
 :settings-page/app-updated "このアプリは最新版です 🎉"
 :settings-page/update-available "新しいリリースがみつかりました "
 :settings-page/update-error-1 "⚠️ なにか問題が発生しました"
 :settings-page/update-error-2 "次のリンクをご確認ください："
 :settings-page/auto-chmod "ファイルの権限を自動で変更する"
 :settings-page/auto-chmod-desc "グループ メンバーシップを用いて、複数人のユーザに編集を許可する権限を与えたい場合、この機能を無効にしてください。"
 :yes "はい"

 :cancel "キャンセル"
 :close "閉じる"
 :delete "削除"
 :save "保存"
 :type "種別"
 :host "ホスト"
 :port "ポート"
 :flashcards/modal-welcome-title "フラッシュカードを作成する時間です！"
 :flashcards/modal-welcome-desc-1 "ブロックに「#card」を追加することでカードとすることができます。また、「/cloze」で穴埋めを追加できます。"
 :flashcards/modal-finished "おめでとうございます、今回のテストの全カードを見直しました。また会いましょう！💯"
 :home "ホーム"
 :new-page "新しいページ："
 :graph "グラフ"
 :graph/all-graphs "全グラフ"
 :graph/local-graphs "ローカルグラフ："
 :graph/remote-graphs "リモートグラフ："
 :export "エクスポート"
 :export-graph "グラフをエクスポート"
 :export-page "ページをエクスポート"
 :export-markdown "標準Markdownでエクスポート(blockプロパティなし)"
 :export-public-pages "公開ページのエクスポート"
 :export-transparent-background "背景を透過"
 :export-copy-to-clipboard "クリップボードにコピー"
 :export-copied-to-clipboard "クリップボードにコピーしました"
 :export-save-to-file "ファイルに保存"
 :all-graphs "全グラフ"
 :all-files "全ファイル"
 :all-journals "全日誌"
 :settings "設定"
 :settings-of-plugins "プラグイン設定"
 :plugins "プラグイン"
 :themes "テーマ"
 :appearance "インターフェース"
 :relaunch-confirm-to-work "動作させるには再起動が必要です。いますぐ再起動しますか？"
 :import "インポート"
 :importing "インポートしています"
 :help-shortcut-title "クリックしてショートカットと他のお役立ち情報を確認"
 :loading "読み込み中..."
 :login "ログイン"
 :logout "ログアウト"
 :download "ダウンロード"
 :language "言語"
 :remove-background "背景を消去"
 :remove-heading "見出しを消去"
 :heading "見出し {1}"
 :auto-heading "自動見出し"
 :toggle-theme "テーマを切り替える"

 :help/shortcut-page-title "キーボードショートカット"

 :plugin/installed "インストール済"
 :plugin/installed-plugin "インストールされたプラグイン：{1}"
 :plugin/not-installed "未インストール"
 :plugin/installing "インストール中"
 :plugin/install "インストール"
 :plugin/reload "リロード"
 :plugin/update "更新"
 :plugin/update-plugin "プラグインをアップデートします：{1} - {2}"
 :plugin/check-update "更新を確認"
 :plugin/check-all-updates "全ての更新を確認"
 :plugin/found-updates "新しい更新"
 :plugin/found-n-updates "{1}個の更新がみつかりました"
 :plugin/update-all-selected "選択された全てのプラグインをアップデートします"
 :plugin/all-updated "全ての更新が完了しました！"
 :plugin/updates-downloading "プラグインをダウンロードします"
 :plugin/refresh-lists "リスト更新"
 :plugin/enabled "有効化"
 :plugin/disabled "無効化"
 :plugin/update-available "利用可能な更新を適用"
 :plugin/updating "更新中"
 :plugin/uninstall "アンインストール"
 :plugin/marketplace "マーケットプレース"
 :plugin/downloads "ダウンロード"
 :plugin/stars "スター"
 :plugin/title "タイトル ({1})"
 :plugin/all "全て"
 :plugin/unpacked "展開済"
 :plugin/delete-alert "プラグイン [{1}]　をアンインストールしてもよいですか？"
 :plugin/open-settings "設定を開く"
 :plugin/open-package "パッケージを開く"
 :plugin/load-unpacked "展開されたプラグインをロード"
 :plugin/restart "アプリを再起動"
 :plugin/unpacked-tips "プラグインディレクトリを選択"
 :plugin/contribute "✨ 新規プラグインの作成とサブミット"
 :plugin/up-to-date "最新版です！{1}"
 :plugin/custom-js-alert "custom.js ファイルを見つけました。実行を許可しますか？ （もしあなたがこのファイルの内容を理解していない場合、セキュリティのリスクがあるため許可しないことをお勧めします。）"
 :plugin/security-warning "プラグインはあなたのグラフとローカルファイルにアクセスでき、ネットワークへの接続を要求することもできます。
また、プラグインによってデータの破損や損失が引き起こされるかもしれません。私たちはグラフに適切なアクセス制限ルールを設けられるよう開発を進めています。
その間、定期的にグラフのバックアップを取り、自分が読んで理解できるプラグインだけをインストールするようお願いします。"

 :plugin/search-plugin "プラグインを検索"
 :plugin/open-preferences "設定を開く"
 :plugin/open-logseq-dir "開く"
 :plugin/remote-error "リモートエラー："
 :plugin/checking-for-updates "プラグインの更新を確認しています..."
 :plugin/list-of-updates "プラグインの更新："
 :plugin/auto-check-for-updates "自動で更新を確認する"
 :plugin.install-from-file/menu-title "plugins.ednからインストール"
 :plugin.install-from-file/title "plugins.ednからプラグインをインストール"
 :plugin.install-from-file/notice "以下のプラグインはあなたのプラグインTheを置き換えます："
 :plugin.install-from-file/success "全てのプラグインのインストールを完了しました。"

 :pdf/copy-ref "参照をコピー"
 :pdf/copy-text "テキストをコピー"
 :pdf/linked-ref "リンクありの参照元"
 :pdf/toggle-dashed "領域のハイライトに破線を使う"
 :pdf/hl-block-colored "ブロックをハイライトするための色付きラベル"
 :pdf/auto-open-context-menu "自動でコンテキストメニューを開く"
 :pdf/doc-metadata "ドキュメントのメタデータ"

 :updater/new-version-install "新しいバージョンがダウンロードされました。"
 :updater/quit-and-install "インストールのためアプリを再起動してください。"

 :tips/all-done "全て完了しました"

 :select/default-prompt "選択してください"
 :select/default-select-multiple "一つもしくは複数選択してください"
 :select.graph/prompt "グラフを選んでください"
 :select.graph/empty-placeholder-description "マッチするグラフがありません。新しいグラフを追加しますか？"
 :select.graph/add-graph "はい、新規グラフを追加します。"

 :notification/clear-all "全てクリア"

 :shortcut.category/basics "基本操作"
 :shortcut.category/formatting "書式"
 :shortcut.category/navigating "ナビゲーション"
 :shortcut.category/block-editing "ブロック単位の編集"
 :shortcut.category/block-command-editing "ブロック内の編集"
 :shortcut.category/block-selection "ブロック選択"
 :shortcut.category/toggle "切り替え"
 :shortcut.category/others "その他"
 :shortcut.category/plugins "プラグイン"

 :keymap/all "全て"
 :keymap/disabled "無効"
 :keymap/unset "未定義"
 :keymap/custom "カスタム"
 :keymap/keystroke-filter "キーを打鍵して絞り込む"
 :window/minimize "最小化"
 :window/maximize "最大化"
 :window/restore "復元"
 :window/close "閉じる"
 :window/exit-fullscreen "フルスクリーンを終了"

 :header/toggle-left-sidebar "左サイドバーを開閉"
 :header/search "検索"
 :header/more "もっと見る"
 :header/go-back "戻る"
 :header/go-forward "進む"
 :command.pdf/next-page "PDF：現在のPDF文書で次のページへ"
 :command.pdf/previous-page "PDF：現在のPDF文書で前のページへ"
 :command.pdf/close "PDF：現在のPDF文書を閉じる"
 :command.pdf/find "PDF：現在のPDF文書を検索"
 :command.auto-complete/complete "自動補完：項目を選択"
 :command.auto-complete/prev "自動補完：前の項目を選択"
 :command.auto-complete/next "自動補完：次の項目を選択"
 :command.auto-complete/shift-complete "自動補完：選択した項目をサイドバーで開く"
 :command.cards/toggle-answers "カード：答えや穴埋めを表示／隠す"
 :command.editor/escape-editing "編集をやめる"
 :command.editor/backspace "前の文字を削除"
 :command.editor/delete "次の文字を削除"
 :command.editor/new-block "新しいブロック"
 :command.editor/new-line "新しい行"
 :command.editor/follow-link "リンクを開く"
 :command.editor/open-link-in-sidebar "サイドバーでリンクを開く"
 :command.editor/bold "太字"
 :command.editor/italics "斜体"
 :command.editor/highlight "ハイライト"
 :command.editor/strike-through "打ち消し線"
 :command.editor/clear-block "ブロックをクリア"
 :command.editor/kill-line-before "行中のカーソル位置から前を削除"
 :command.editor/copy-embed "現在のブロックを指すブロック埋め込みをコピー"
 :command.editor/kill-line-after "行中のカーソル位置から先を削除"
 :command.editor/beginning-of-block "カーソルをブロックのはじめへ移動"
 :command.editor/end-of-block "カーソルをブロックの最後へ移動"
 :command.editor/forward-word "カーソルを次の単語へ移動"
 :command.editor/backward-word "カーソルを前の単語へ移動"
 :command.editor/forward-kill-word "次の単語を削除"
 :command.editor/backward-kill-word "前の単語を削除"
 :command.editor/paste-text-in-one-block-at-point "カーソル位置へ文字列として貼り付け"
 :command.editor/insert-youtube-timestamp "YouTubeのタイプスタンプを挿入"
 :command.editor/cycle-todo "現在の項目の TODO 状態を循環させる"
 :command.editor/up "カーソル上移動 / 上を選択"
 :command.editor/down "カーソル下移動 / 下を選択"
 :command.editor/left "カーソル左移動 / 左を選択"
 :command.editor/right "カーソル右移動 / 右を選択"
 :command.editor/select-up "上のコンテンツを選ぶ"
 :command.editor/select-down "下のコンテンツを選ぶ"
 :command.editor/move-block-up "ブロックを上へ移動"
 :command.editor/move-block-down "ブロックを下へ移動"
 :command.editor/open-edit "選択したブロックを編集"
 :command.editor/select-block-up "上のブロックを選択"
 :command.editor/select-block-down "下のブロックを選択"
 :command.editor/delete-selection "選択したブロックを削除"
 :command.editor/expand-block-children "子ブロックを展開する"
 :command.editor/collapse-block-children "子ブロックを折り畳む"
 :command.editor/toggle-block-children "展開する/折り畳む"
 :command.editor/indent "インデント"
 :command.editor/outdent "アウトデント"
 :command.editor/copy "コピー"
 :command.editor/copy-text "選択範囲を文字列としてコピー"
 :command.editor/cut "切り取り"
 :command.editor/undo "元に戻す"
 :command.editor/redo "やり直し"
 :command.editor/insert-link "リンク挿入"
 :command.editor/select-all-blocks "全てのブロックを選択"
 :command.editor/select-parent "親ブロックを選択"
 :command.editor/zoom-in "ズームイン"
 :command.editor/zoom-out "ズームアウト"
 :command.editor/toggle-number-list "数字付きリスト／通常のリストへ切り替え"
 :command.ui/toggle-brackets "ブラケットの表示／非表示"
 :command.go/electron-find-in-page "ページ内で文字列検索"
 :command.go/electron-jump-to-the-next "文字列検索で次を検索"
 :command.go/electron-jump-to-the-previous "文字列検索で前を検索"
 :command.go/search "検索"
 :command.command-palette/toggle "検索コマンド"
 :command.go/search-in-page "ページ内のブロックを検索"
 :command.go/journals "日誌"
 :command.go/backward "戻る"
 :command.go/forward "前へ"
 :command.search/re-index "インデックス再構築"
 :command.sidebar/open-today-page "今日の日誌を右サイドバーで開く"
 :command.sidebar/close-top "右サイドバーの一番上の項目を閉じる"
 :command.sidebar/clear "右サイドバーの内容を全てクリア"
 :command.misc/copy "コピー"
 :command.graph/export-as-html "公開グラフのページをHTMLとしてエクスポート"
 :command.graph/open "グラフを選択して開く"
 :command.graph/remove "グラフを削除"
 :command.graph/add "グラフを追加"
 :command.command/run "Git コマンドを実行"
 :command.go/home "ホームへ移動"
 :command.go/all-graphs "全グラフへ移動"
 :command.go/all-pages "全ページへ移動"
 :command.go/graph-view "グラフビューへ移動"
 :command.go/keyboard-shortcuts "キーボードショートカットへ移動"
 :command.go/tomorrow "明日へ移動"
 :command.go/next-journal "次の日誌へ移動"
 :command.go/prev-journal "前の日誌へ移動"
 :command.go/flashcards "フラッシュカードへ切り替え"
 :command.ui/toggle-document-mode "ドキュメントモードの切り替え"
 :command.ui/toggle-settings "設定を開く"
 :command.ui/toggle-right-sidebar "右サイドバーを開閉"
 :command.ui/toggle-left-sidebar "左サイドバーを開閉"
 :command.ui/toggle-help "ヘルプの表示／非表示"
 :command.ui/toggle-theme "テーマの切り替え"
 :command.ui/toggle-contents "目次の開閉"
 :command.command/toggle-favorite "お気に入りへ追加／削除"
 :command.editor/copy-page-url "ページのURLをコピー"
 :command.ui/toggle-wide-mode "ワイドモードの切り替え"
 :command.ui/select-theme-color "利用可能なテーマ色を選択"
 :command.ui/goto-plugins "プラグインへ"
 :command.ui/install-plugins-from-file "プラグインをplugins.ednからインストール"
 :command.editor/toggle-open-blocks "ブロック展開の切り替え（全てのブロックを折り畳む／展開する）"
 :command.ui/clear-all-notifications "通知をすべてクリア"
 :command.dev/show-block-data "(開発) ブロックのデータを表示"
 :command.dev/show-block-ast "(開発) ブロックの抽象構文木の表示"
 :command.dev/show-page-data "(開発) ページのデータを表示"
 :command.window/close "ウィンドウを閉じる"}
