{:help/start "Kom i gang"
 :help/about "Om Logseq"
 :help/roadmap "Veikart"
 :help/bug "Feilrapport"
 :help/feature "Funksjonsforespørsel"
 :help/changelog "Endringslogg"
 :help/blog "Logseq Blogg"
 :help/docs "Dokumentasjon"
 :help/privacy "Personvernerklæring"
 :help/terms "Vilkår"
 :help/awesome-logseq "Fantastiske Logseq"
 :help/shortcuts "Tastatursnarveier"
 :help/shortcuts-triggers "Utløsere"
 :help/shortcut "Snarvei"
 :help/slash-autocomplete "Skråstrek Autofullføring"
 :help/reference-autocomplete "Sidereferanse Autofullføring"
 :help/block-reference "Blokkreferanse"
 :help/forum-community "Forum-samfunn"
 :help/open-link-in-sidebar "Åpne lenke i sidestolpe"
 :help/context-menu "Kontekstmeny"
 :help/markdown-syntax "Markdown syntaks"
 :help/org-mode-syntax "Org mode syntaks"
 :bold "Fet"
 :italics "Kursiv"
 :highlight "Markering"
 :strikethrough "Gjennomstreking"
 :code "Kode"
 :right-side-bar/help "Hjelp"
 :right-side-bar/switch-theme "Tema moduser"
 :right-side-bar/contents "Innhold"
 :right-side-bar/page-graph "Sidegraf"
 :right-side-bar/block-ref "Blokkreferanse"
 :right-side-bar/graph-view "Grafvisning"
 :right-side-bar/separator "Høyre sidestolpe størrelsesendring"
 :right-side-bar/show-journals "Vis dagbøker"
 :left-side-bar/journals "Dagbøker"
 :left-side-bar/nav-favorites "Favoritter"
 :left-side-bar/nav-recent-pages "Nylig"
 :page/make-public "Gjør den offentlig for publisering"
 :page/make-private "Gjør den privat"
 :page/delete "Slett side"
 :page/add-to-favorites "Legg til i Favoritter"
 :page/unfavorite "Fjern side fra Faoritter"
 :block/name "Navn på siden"
 :file/name "Filnavn"
 :file/last-modified-at "Sist endret"
 :file/no-data "Ingen data"
 :file/format-not-supported "Format .{1} er ikke støttet."
 :page/created-at "Opprettet"
 :page/updated-at "Oppdatert"
 :page/backlinks "Tilbakekoblinger"
 :editor/block-search "Søk etter en blokk"
 :text/image "Bilde"
 :asset/confirm-delete "Er du sikker på at du vil slette denne {1}?"
 :asset/physical-delete "Fjerner også filen (merk at den ikke kan gjenopprettes)"
 :editor/copy "Kopier"
 :editor/cut "Klipp ut"
 :content/copy-block-ref "Kopier blokkreferanse"
 :content/open-in-sidebar "Åpne i sidefeltet"
 :content/click-to-edit "Klikk for å redigere"
 :settings-page/edit-config-edn "Rediger config.edn for nåværende repo"
 :settings-page/edit-custom-css "Rediger custom.css"
 :settings-page/custom-configuration "Tilpasset konfigurasjon"
 :settings-page/custom-theme "Tilpasset tema"
 :settings-page/show-brackets "Vis klammer"
 :settings-page/spell-checker "Stavekontroll"
 :settings-page/auto-updater "Automatisk oppdatering"
 :settings-page/disable-sentry "Send bruksdata og diagnostikk til Logseq"
 :settings-page/preferred-outdenting "Skru på logiske innrykk"
 :settings-page/custom-date-format "Foretrukket datoformat"
 :settings-page/enable-shortcut-tooltip "Skru på tooltip for snarveier"
 :settings-page/enable-timetracking "Aktiver tidssporing"
 :settings-page/enable-tooltip "Aktiver verktøytips"
 :settings-page/enable-journals "Aktiver dagbøker"
 :settings-page/enable-all-pages-public "Aktiver alle sider som offentlige ved publisering"
 :settings-page/home-default-page "Angi standard hjemmeside"
 :settings-page/clear-cache "Slett hurtigbuffer"
 :settings-page/clear "Slett"
 :settings-page/developer-mode "Utviklermodus"
 :settings-page/developer-mode-desc "Utviklermodus hjelper bidragsytere og tilleggsutviklere med å teste sine integrasjoner mot Logseq mer effektivt."
 :settings-page/current-version "Nåværende versjon"
 :settings-page/tab-general "Generelt"
 :settings-page/tab-advanced "Avansert"
 :settings-page/custom-global-configuration "Egendefinert global konfigurasjon"
 :settings-page/edit-global-config-edn "Rediger global config.edn"
 :settings-page/export-theme "Eksporter tema"
 :settings-page/tab-features "Funksjoner"
 :yes "Ja"
 :cancel "Avbryt"
 :close "Lukk"
 :delete "Slett"
 :graph "Graf"
 :export "Eksport"
 :export-graph "Eksporter graf"
 :export-page "Eksporter side"
 :export-markdown "Eksporter som standard Markdown (ingen blokk-egenskaper)"
 :export-public-pages "Eksporter offentlige sider"
 :all-graphs "Alle grafer"
 :all-files "Alle filer"
 :all-journals "Alle dagbøker"
 :settings "Innstillinger"
 :plugins "Utvidelser"
 :themes "Tema"
 :relaunch-confirm-to-work "Appen må startes på nytt for at dette skal virke. Vil du starte på nytt nå?"
 :import "Importer"
 :help-shortcut-title "Klikk for å sjekke snarveier og andre tips"
 :login "Logg inn"
 :logout "Logg ut"
 :download "Last ned"
 :language "Språk"
 :remove-background "Fjern bakgrunn"

 :help/shortcut-page-title "Tastatursnarveier"

 :plugin/installed "Installert"
 :plugin/installing "Innstallerer"
 :plugin/install "Innstaller"
 :plugin/reload "Last på nytt"
 :plugin/update "Oppdater"
 :plugin/check-update "Se etter oppdatering"
 :plugin/check-all-updates "Se etter alle oppdateringer"
 :plugin/refresh-lists "Oppfrisk lister"
 :plugin/enabled "Aktivert"
 :plugin/disabled "Deaktivert"
 :plugin/update-available "Oppdatering tilgjengelig"
 :plugin/updating "Oppdaterer"
 :plugin/uninstall "Avinstaller"
 :plugin/marketplace "Markedsplass"
 :plugin/downloads "Nedlastinger"
 :plugin/stars "Stjerner"
 :plugin/all "Alle"
 :plugin/unpacked "Utpakket"
 :plugin/delete-alert "Vil du avinstallere utvidelse [{1}]?"
 :plugin/open-settings "Åpne innstillinger"
 :plugin/open-package "Åpne pakke"
 :plugin/load-unpacked "Last inn utpakket utvidelse"
 :plugin/restart "Start App på nytt"
 :plugin/unpacked-tips "Velg mappe for utvidelse"
 :plugin/contribute "✨ Skriv og send inn en ny utvidelse"
 :plugin/custom-js-alert "Fant custom.js fil, får den lov til å kjøre? (Hvis du ikke forstår innholdet i denne filen er det anbefalt å ikke la den kjøre. Dette kan ha sikkerhetsrisiko.)"

 :pdf/copy-ref "Kopier ref"
 :pdf/copy-text "Kopier tekst"
 :pdf/linked-ref "Lenkede referanser"
 :pdf/toggle-dashed "Stiplet stil for utheving av område"

 :updater/new-version-install "En ny versjon er lastet ned. Start applikasjonen på nytt for å installere."
 :updater/quit-and-install "Start på nytt for å installere"

 :select/default-prompt "Velg en"
 :select.graph/prompt "Velg en graf"
 :select.graph/empty-placeholder-description "Ingen grafer matcher. Vil du legge til en ny?"
 :select.graph/add-graph "Ja, legg til en ny graf"

 :host "Vert"
 :save "Lagrer..."
 :settings-of-plugins "Innstillinger for utvidelser"
 :graph/all-graphs "Alle grafer"
 :page/copy-page-url "Kopier side URL"
 :plugin/not-installed "Ikke installert"
 :settings-page/edit-export-css "Rediger export.css"
 :settings-page/network-proxy "Nettverksproxy"
 :settings-page/plugin-system "System for utvidelser"
 :asset/copy "Kopier bilde"
 :asset/delete "Slett bilde"
 :asset/maximize "Maksimer bilde"
 :asset/open-in-browser "Åpne bilde i nettleser"
 :asset/show-in-folder "Vis bilde i mappe"
 :linked-references/filter-search "Søk i lenkede referanser"
 :auto-heading "Automatisk overskrift"
 :heading "Overskrift {1}"
 :remove-heading "Fjern overskrift"
 :untitled "Uten navn"
 :accessibility/skip-to-main-content "Hopp til hovedinnhold"
 :color/blue "Blå"
 :color/gray "Grå"
 :color/green "Grønn"
 :color/pink "Rosa"
 :color/purple "Lilla"
 :color/red "Rød"
 :color/yellow "Gul"
 :content/copy-block-url "Kopier blokk URL"
 :content/copy-export-as "Kopier / Eksporter som.."
 :content/copy-ref "Kopier denne referansen"
 :content/delete-ref "Slett denne referansen"
 :content/replace-with-embed "Erstatt med innebygging"
 :content/replace-with-text "Erstatt med tekst"
 :context-menu/make-a-flashcard "Lag et Flashcard"
 :context-menu/toggle-number-list "Veksle nummerliste"
 :dev/show-block-ast "(Dev) Vis blokk AST"
 :dev/show-block-data "(Dev) Vis blokk data"
 :dev/show-page-data "(Dev) Vis side data"
 :editor/collapse-block-children "Skjul alle"
 :editor/cycle-todo "Roterer TODO statusen for gjeldende element"
 :editor/delete-selection "Slett valgte blokker"
 :editor/expand-block-children "Utvid alle"
 :notification/clear-all "Fjern alt"
 :page/logseq-is-having-a-problem "Logseq har et problem. Prøver å få den tilbake ..."
 :page/something-went-wrong "Noe gikk galt"
 :page/step "Steg {1}"
 :page/try "Prøv"
 :pdf/doc-metadata "Dokument metadata"
 :pdf/hl-block-colored "Farget merkelapp for å  label for utheve blokk"
 :plugin/found-n-updates "Fant {1} oppdatering"
 :plugin/found-updates "Nye oppateringer"
 :plugin/update-all-selected "Oppdater alle valgte"
 :plugin/updates-downloading "Laster ned oppdateringer"
 :plugin.install-from-file/menu-title "Installer fra plugins.edn"
 :plugin.install-from-file/notice "Følgende utvidelser vil erstatte dine utvidelser:"
 :plugin.install-from-file/success "Alle utvidelser er installert!"
 :plugin.install-from-file/title "Installer utvidelser fra plugins.edn"
 :search-item/page "Side"
 :select/default-select-multiple "Velg en eller flere"
 :settings-page/auto-expand-block-refs "Utvid blokkreferanser automatisk når zoomet inn..."
 :settings-page/clear-cache-warning "Tømming av hurtigbufferen vil forkaste dine åpne grafer. Du m..."
 :settings-page/disable-sentry-desc "Logseq vil aldri samle inn dine lokale graf sin databas..."
 :settings-page/login-prompt "For å få tilgang til nye funksjoner før alle andre må du..."
 :settings-page/preferred-pasting-file "Foretrekk innliming av fil"
 :settings-page/show-full-blocks "Vis alle linjer av en blokkreferanse"
 :shortcut.category/formatting            "Formatering"
 :shortcut.category/basics                "Basis"
 :shortcut.category/navigating            "Navigasjon"
 :shortcut.category/block-editing         "Blokkredigering generelt"
 :shortcut.category/block-command-editing "Blokkredigering kommandoer"
 :shortcut.category/block-selection       "Blokkseleksjon (trykk ESC for å avslutte)"
 :shortcut.category/toggle                "Veksling"
 :shortcut.category/others                "Annet"
 :command.editor/indent                   "Innrykk inn"
 :command.editor/outdent                  "Innrykk ut"
 :command.editor/move-block-up            "Flytt blokk opp"
 :command.editor/move-block-down          "Flytt blokk ned"
 :command.editor/new-block                "Opprett ny blokk"
 :command.editor/new-line                 "Ny linje i nåværende blokk"
 :command.editor/zoom-in                  "Zoom inn / Fremover"
 :command.editor/zoom-out                 "Zoom ut / Tilbake"
 :command.editor/follow-link              "Følg lenke under markøren"
 :command.editor/open-link-in-sidebar     "Åpne lenke i sidestolpe"
 :command.editor/expand-block-children    "Utvid"
 :command.editor/collapse-block-children  "Slå sammen"
 :command.editor/select-block-up          "Velg blokk over"
 :command.editor/select-block-down        "Velg blokk under"
 :command.editor/select-all-blocks        "Velg alle blokker"
 :command.ui/toggle-help                  "Vis hjelp"
 :command.go/search                       "Fulltekst søk"
 :command.ui/toggle-document-mode         "Aktiver dokumentmodus"
 :command.ui/toggle-contents              "Åpne favoritter i sidestolpen"
 :command.ui/toggle-theme                 "Veksle mellom lyst og mørkt tema"
 :command.ui/toggle-left-sidebar          "Aktiver venstre sidestolpe"
 :command.ui/toggle-right-sidebar         "Aktiver høyre sidestolpe"
 :command.ui/toggle-settings              "Åpne innstillinger"
 :command.go/journals                     "Gå til dagbok"
 :command.ui/toggle-wide-mode             "Aktiver vid-modus"
 :command.ui/toggle-brackets              "Aktiver vising av klammer"
 :command.search/re-index                 "Gjenoppbygg søkeindeks"
 :command.editor/bold                     "Fet"
 :command.editor/italics                  "Kursiv"
 :command.editor/insert-link              "HTML lenke"
 :command.editor/highlight                "Markering"
 :command.editor/undo                     "Angre"
 :command.editor/redo                     "Gjør om"
 :command.editor/copy                     "Kopier"
 :command.editor/cut                      "Klipp ut"
 :command.editor/up                       "Flytt markøren opp / Velg opp"
 :command.editor/down                     "Flytt markøren ned / Velg ned"
 :command.editor/left                     "Flytt markøren til venstre / Åpne valgt blokk på begynnelsen"
 :command.editor/right                    "Flytt markøren til høyre / Åpne valgt blokk på slutten"
 :command.editor/backspace                "Backspace / Slett bakover"
 :command.editor/delete                   "Delete / Slett forover"
 :command.editor/cycle-todo               "Veksle TODO status for valg linje"
 :command.editor/clear-block              "Slett alt innhold i blokken"
 :command.editor/kill-line-before         "Slett linje foran markøren"
 :command.editor/kill-line-after          "Slett linsje etter markøren"
 :command.editor/beginning-of-block       "Flytt markøren til begynnelsen av blokken"
 :command.editor/end-of-block             "Flytt markøren til slutten av blokken"
 :command.editor/forward-word             "Flytt markøren frem ett ord"
 :command.editor/backward-word            "Flytt markøren bakover ett ord"
 :command.editor/forward-kill-word        "Slett ett ord forover"
 :command.editor/backward-kill-word       "Slett ett ord bakover"
 :command.editor/open-edit                "Rediger valgt blokk"
 :command.editor/delete-selection         "Slett valgte blokker"
 :command.editor/toggle-open-blocks       "Veksle åpne blokker (slå sammen eller utvid alle blokker)"
 :command.auto-complete/complete "Autofullfør: Bruk valgt punkt"
 :command.auto-complete/next "Autofullfør: Velg neste punkt"
 :command.auto-complete/prev "Autofullfør: Velg forrige punkt"
 :command.auto-complete/shift-complete "Autofullfør: Åpne valgt punkt i sidestolpen"
 :command.cards/forgotten "Kort: Glemte"
 :command.cards/next-card "Kort: Neste kort"
 :command.cards/recall "Kort: bruk litt tid på å huske"
 :command.cards/remembered "Kort: husket"
 :command.cards/toggle-answers "Kort: vis/skjul svar/clozes"
 :command.command/run "Kjør git kommando"
 :command.command/toggle-favorite "Legg til eller fjern fra favoritter"
 :command.editor/escape-editing "Avslutt redigering"
 :command.editor/insert-youtube-timestamp "Sett inn YouTube tidsstempel"
 :command.editor/paste-text-in-one-block-at-point "Lim inn tekst i blokk ved markør"
 :command.editor/select-down "Velg innhold under"
 :command.editor/select-up "Velg innhold over"
 :command.editor/strike-through "Gjennomstreking"
 :command.editor/copy-embed "Kopier en blokkinnebygging som peker til nåværende blokk"
 :command.editor/copy-text "Kopier utvalg som tekst"
 :command.go/all-pages "Gå til alle sider"
 :command.go/backward "Bakover"
 :command.go/flashcards "Veksle flashcards"
 :command.go/forward "Fremover"
 :command.go/graph-view "Gå til graf visning"
 :command.go/home "Gå hjem"
 :command.go/keyboard-shortcuts "Gå til tastatursnarveier"
 :command.go/next-journal "Gå til neste dagbok"
 :command.go/prev-journal "Gå til forrige dagbok"
 :command.go/tomorrow "Gå til i morgen"
 :command.go/all-graphs "Gå til alle grafer"
 :command.go/electron-find-in-page "Finn tekst på siden"
 :command.go/electron-jump-to-the-next "Hopp til neste treff i søket"
 :command.go/electron-jump-to-the-previous "Hopp til forrige treff i søket"
 :command.graph/add "Legg til graf"
 :command.graph/open "Velg graf for å åpne"
 :command.graph/remove "Fjern en graf"
 :command.pdf/close "Lukk nåværende pdf leser"
 :command.pdf/next-page "Neste side i nåværende pdf dok"
 :command.pdf/previous-page "Forrige side i nåværende pdf dok"
 :command.sidebar/clear "Fjern alt i høyre sidestolpe"
 :command.sidebar/open-today-page "Åpne dagens side i høyre sidestolpe"
 :command.ui/goto-plugins "Gå til dashbord for utvidelser"
 :command.ui/select-theme-color "Velg tilgjengelige temafarger"
 :command.dev/show-block-ast "(Dev) Vis blokk AST"
 :command.dev/show-block-data "(Dev) Vis blokk data"
 :command.dev/show-page-data "(Dev) Vis side data"
 :command.editor/copy-page-url "Kopier side url"
 :command.editor/select-parent "Velg overordnet blokk"
 :command.editor/toggle-number-list "Veksle nummerliste"
 :command.graph/export-as-html "Eksporter offentlig graf som html"
 :command.pdf/find "Pdf: Søk tekst i nåværende pdf doc"
 :command.sidebar/close-top "Lukker øverste objekt i høyre sidestolpe"
 :command.ui/clear-all-notifications "Fjern alle varsler"
 :command.ui/install-plugins-from-file "Installer utvidelser fra plugins.edn"
 :home "Hjem"
 :importing "Importerer"
 :port "Port"
 :toggle-theme "Bytt tema"
 :type "Type"
 :command.misc/copy "Kopier"
 :header/go-back "Gå tilbake"
 :header/go-forward "Gå fremover"
 :header/more "Mer"
 :header/search "Søk"
 :header/toggle-left-sidebar "Veksle venstre sidestolpe"
 :help/title-about "Om"
 :help/title-community "Samfunn"
 :help/title-development "Utvikling"
 :help/title-terms "Betingelser"
 :help/title-usage "Bruk"
 :plugin/all-updated "Alt er oppdatert!"
 :plugin/checking-for-updates "Ser etter oppdateringer for utvidelser"
 :plugin/list-of-updates "Oppdateringer for utvidelser: "
 :plugin/open-logseq-dir "Åpne"
 :plugin/open-preferences "Åpne Innstillinger"
 :plugin/remote-error "Ekstern feil: "
 :plugin/search-plugin "Søk utvidelser"
 :plugin/security-warning "Utvidelser kan få tilgang til din graf og dine lokale filer..."
 :right-side-bar/flashcards "Flashcards"
 :right-side-bar/toggle-right-sidebar "Veksle høyre sidestolpe"
 :settings-page/enable-flashcards "Flashcards"
 :settings-page/native-titlebar "Native tittellinje"
 :settings-page/native-titlebar-desc "Skrur på Windows native tittellinje på vinduet..."
 :settings-page/preferred-pasting-file-hint "Når skrudd på gir dette et hint når du limer inn et bile fra internett..."
 :settings-page/tab-editor "Editor"
 :shortcut.category/plugins "Utvidelser"
 :window/close "Lukk"
 :window/exit-fullscreen "Gå ut av fullskjerm"
 :window/maximize "Maksimer"
 :window/minimize "Minimer"
 :window/restore "Gjenopprett"

 :loading "Laster..."
 :new-page "Ny side:"
 :bug-report/inspector-page-btn-back "Gå tilbake"
 :bug-report/inspector-page-btn-copy "Kopier resultatet"
 :bug-report/inspector-page-btn-create-issue "Opprett et problem"
 :bug-report/inspector-page-copy-notif "Kopiert til utklippstavle!"
 :bug-report/inspector-page-desc-1 "Trykk Ctrl+V / ⌘+V for å inspisere data på utklippstavlen"
 :bug-report/inspector-page-desc-2 "eller trykk her for å lime inn om du bruker mobilversjonen"
 :bug-report/inspector-page-desc-clipboard "Her er data lest fra utklippstavlen."
 :bug-report/inspector-page-desc-copy "Dersom dette er ok å dele, trykk på kopier knappen."
 :bug-report/inspector-page-desc-create-issue "Nå kan du rapportere resultatet som er limt inn i utklippstavlen. Vennligst lim inn resultatet i 'Additional Context' seksjonen og fortell hvor du kopierte innholdet fra. Takk!"
 :bug-report/inspector-page-placeholder "Trykk og hold her for å lime inn dersom du er på mobil"
 :bug-report/inspector-page-tip "Noe galt? Ikk enoe problem, klikk for å gå tilbake til forrige steg."
 :bug-report/main-desc "Kan du hjelpe oss ved å sende inn en feilrapport? Vi vil fikse det så snart vi kan."
 :bug-report/main-title "Feilrapport"
 :bug-report/section-clipboard-btn-desc "Inspiser og samle inn data fra utklippstavlen"
 :bug-report/section-clipboard-btn-title "Utklippstavle-hjelper"
 :bug-report/section-clipboard-desc "Du kan bruke disse hendige verktøyene for å gi oss mer informasjon."
 :bug-report/section-clipboard-title "Er feilen du opplevde relatert til disse funksjonene?"
 :bug-report/section-issues-btn-desc "Hjelp oss med å gjøre Logseq bedre!"
 :bug-report/section-issues-btn-title "Send inn en feilrapport"
 :bug-report/section-issues-desc "Dersom det ikke er verktøy tilgjengelig som kan hjelpe med med å samle inn ytterligere informasjon, vennligst meld inn feilen direkte."
 :bug-report/section-issues-title "Eller..."
 :flashcards/modal-finished "Grattis, du har gjennomgått alle kort for denne spørringen. Ses neste gang! 💯"
 :flashcards/modal-welcome-desc-1 "Du kan legge til \"{1}\" til en hvilkensomhelst blokk for å gjøre den opp til et kort, eller skrive \"/cloze\" for å legge til clozes."
 :flashcards/modal-welcome-title "På tide å opprette et kort!"
 :graph/local-graphs "Lokale grafer:"
 :graph/remote-graphs "Fjerngrafer:"
 :left-side-bar/switch "Bytt til:"
 :on-boarding/importing-desc "Om de er i JSON, EDN eller Markdown format kan Logseq fungere med dem."
 :on-boarding/importing-main-desc "Du kan også gjøre dette senere i appen."
 :on-boarding/importing-main-title "Importer eksisterende notater"
 :on-boarding/importing-title "Har du notater fra før som du ønsker å importere?"
 :on-boarding/main-desc "Først må du velge en mappe der Logseq vil lagre dine tanker, ideer, notater."
 :on-boarding/main-title (fn [] ["Velkommen til " [:strong "Logseq!"]])
 :plugin/auto-check-for-updates "Se etter oppdateringer automatisk"
 :plugin/installed-plugin "Innstallert utvidelse: {1}"
 :plugin/title "Tittel ({1})"
 :plugin/up-to-date "Den er oppdatert {1}"
 :plugin/update-plugin "Oppdater utvidelse: {1} - {2}"
 :settings-page/app-updated "Appen er oppdatert 🎉"
 :settings-page/auto-expand-block-refs-tip "Dette valget styrer om blokkreferansen automatisk ekspanderes dersom du zoomer inn."
 :settings-page/changelog "Hva er nytt?"
 :settings-page/check-for-updates "Sjekk for oppdateringer"
 :settings-page/checking "Sjekker ..."
 :settings-page/preferred-outdenting-tip "Den venstre siden viser inntrykk med standardinnstillingen, og den høyre viser innrykk med logiske innrykk aktivert "
 :settings-page/preferred-outdenting-tip-more "→ Lær mer"
 :settings-page/revision "Revisjon: "
 :settings-page/tab-account "Konto"
 :settings-page/theme-dark "mørk"
 :settings-page/theme-light "lyst"
 :settings-page/theme-system "følg system"
 :settings-page/update-available "Fant ny versjon "
 :settings-page/update-error-1 "⚠️ Oops, noe gikk galt!"
 :settings-page/update-error-2 " Vennligst sjekk ut "
 :tips/all-done "Alt fullført!"
 :export-copied-to-clipboard "Kopiert til utklippstavle!"
 :export-copy-to-clipboard "Kopier til utklippstavle"
 :export-save-to-file "Lagre til fil"
 :export-transparent-background "Transparent bakgrunn"
 :bug-report/clipboard-inspector-title "Utklippstavle datainspektør"
 :search-item/no-result "Ingen matchende resultat"
 :right-side-bar/pane-close-all "Lukk alle"
 :right-side-bar/pane-close-others "Lukk andre"
 :right-side-bar/pane-close "Lukk"
 :right-side-bar/pane-collapse "Kollapse"
 :right-side-bar/pane-collapse-all "Kollapse alle"
 :right-side-bar/pane-collapse-others "Kollapse andre"
 :right-side-bar/pane-expand "Ekspander"
 :right-side-bar/pane-expand-all "Ekspander alle"
 :right-side-bar/pane-more "Mer"
 :right-side-bar/pane-open-as-page "Åpne som side"
 :command.window/close "Lukk vindu"
 :keymap/all "Alle"
 :keymap/conflicts-for-label "Tastaturkonflikt for"
 :keymap/custom "Tilpasset"
 :keymap/customize-for-label "Tilpass snarveier"
 :keymap/disabled "Deaktivert"
 :keymap/keystroke-filter "Tastetrykk filter"
 :keymap/keystroke-record-desc "Trykk en sekvens av taster for å filtrere snarveier"
 :keymap/keystroke-record-setup-label "Trykk en sekvens av taster for å sette en snarvei"
 :keymap/restore-to-default "Tilbakestill til systemstandard"
 :keymap/search "Søk"
 :keymap/total "Totale snarveier"
 :keymap/unset "Avstill"
 :settings-page/auto-chmod "Automatisk endre filtillatelser"
 :settings-page/auto-chmod-desc "Deaktiver for å tillate redigering av flere brukere med tillatelser gitt av gruppemedlemskap."
 :settings-page/tab-keymap "Tastatur"
 :command.command-palette/toggle "Søk kommandoer"
 :command.go/search-in-page "Søk blokker på side"
 :handbook/close "Lukk"
 :handbook/help-categories "Hjelp kategorier"
 :handbook/home "Hjem"
 :handbook/popular-topics "Populære emner"
 :handbook/search "Søk"
 :handbook/settings "Innstillinger"
 :handbook/title "Hjelp"
 :handbook/topics "Emner"
 :help/search "Søk sider/blokker/kommandoer"
 :linked-references/filter-directions "Klikk for å inkludere og shift-klikk for å ekskludere. Klikk igjen for å fjerne."
 :linked-references/filter-excludes "Ekskluderer: "
 :linked-references/filter-heading "Filter"
 :linked-references/filter-includes "Inkluderer: "
 :pdf/auto-open-context-menu "Auto-åpne kontekstmeny for valg"
 }
