{:tutorial/text #resource "tutorials/tutorial-pl.md"
 :tutorial/dummy-notes #resource "tutorials/dummy-notes-pl.md"
 :on-boarding/demo-graph "To jest przykładowy graf, zmiany nie zostaną zapisane dopóki nie otworzysz lokalnego katalogu."
 :on-boarding/add-graph "Dodaj graf"
 :on-boarding/open-local-dir "Otwórz lokalny katalog"
 :on-boarding/new-graph-desc-1 "Logseq wspiera zarówno składnię Markdown jak i Org-mode. Możesz otworzyć istniejący już folder lub utworzyć nowy katalog na swoim urządzeniu. Wszystkie dane będą przechowywane tylko na tym urządzeniu."
 :on-boarding/new-graph-desc-2 "Po otwarciu wybranego katalogu zostaną w nim utworzone trzy dodatkowe katalogi:"
 :on-boarding/new-graph-desc-3 "/journals - przechowuje wszystkie strony twojego dziennika"
 :on-boarding/new-graph-desc-4 "/pages - przechowuje wszystkie pozostałe, utworzone przez Ciebie strony"
 :on-boarding/new-graph-desc-5 "/logseq - przechowuje konfigurację, custom.css oraz niektóre meta dane."
 :help/start "Rozpocznij swoją przygodę z Logseq"
 :help/about "O Logseq"
 :help/roadmap "Roadmapa"
 :help/bug "Zgłoś błąd"
 :help/feature "Zgłoś zapotrzebowanie na funkcjonalność"
 :help/changelog "Log zmian"
 :help/blog "Blog Logseq"
 :help/docs "Dokumentacja"
 :help/privacy "Polityka prywatności"
 :help/terms "Warunki użytkowania"
 :help/forum-community "Forum dyskusyjne"
 :help/shortcuts "Skróty klawiszowe"
 :help/shortcuts-triggers "Akcja"
 :help/shortcut "Skrót"
 :help/slash-autocomplete "Autouzupełnianie poleceń /"
 :help/block-content-autocomplete "Autouzupełnianie treści bloku"
 :help/reference-autocomplete "Autouzupełnianie referencji bloku"
 :help/block-reference "Referencja bloku"
 :help/open-link-in-sidebar "Otwórz link w panelu bocznym"
 :more "Więcej"
 :search/result-for "Wyniki wyszukiwania dla"
 :search/items "elementów"
 :search/page-names "Przeszukaj nazwy stron"
 :help/context-menu "Menu kontekstowe bloku"
 :help/markdown-syntax "Składnia Markdown"
 :help/org-mode-syntax "Składnia Org mode"
 :bold "Pogrubienie"
 :italics "Pochylenie"
 :highlight "Wyróżnij"
 :strikethrough "Przekreśl"
 :code "Kod"
 :right-side-bar/help "Pomoc"
 :right-side-bar/switch-theme "Zmień motyw"
 :right-side-bar/contents "Treść"
 :right-side-bar/page-graph "Graf strony"
 :right-side-bar/block-ref "Ref bloku"
 :right-side-bar/graph-view "Widok grafu"
 :right-side-bar/all-pages "Wszystkie strony"
 :right-side-bar/flashcards "Fiszki"
 :right-side-bar/new-page "Nowa strona"
 :right-side-bar/show-journals "Pokaż dzienniki"
 :left-side-bar/journals "Dzienniki"
 :left-side-bar/new-page "Nowa strona"
 :left-side-bar/nav-favorites "Ulubione"
 :left-side-bar/nav-recent-pages "Ostatnio odwiedzane"
 :page/presentation-mode "Tryb prezentacji"
 :page/delete-confirmation "Czy jesteś pewien że chcesz usunąć tę stronę i jej plik?"
 :page/open-in-finder "Otwórz w przeglądarce plików"
 :page/open-with-default-app "Otwórz w domyślnej aplikacji"
 :page/make-public "Oznacz jako publiczną"
 :page/version-history "Sprawdź historię zmian"
 :page/open-backup-directory "Otwórz katalog z kopiami bezpieczeństwa"
 :page/make-private "Oznacz jako prywatną"
 :page/delete "Usuń stronę"
 :page/add-to-favorites "Dodaj do ulubionych"
 :page/unfavorite "Usuń z ulubionych"
 :page/show-journals "Pokaż dzienniki"
 :block/name "Nazwa strony"
 :page/earlier "Wcześniej"
 :page/copy-page-url "Kopiuj adres URL strony"
 :file/name "Nazwa pliku"
 :file/last-modified-at "Ostatnio zmodyfikowany"
 :file/no-data "Brak danych"
 :file/format-not-supported "Format .{1} nie jest wspierany."
 :page/created-at "Utworzony"
 :page/updated-at "Zaktualizowany"
 :page/backlinks "Backlinki"
 :linked-references/filter-search "Szukaj w powiązanych stronach"
 :editor/block-search "Szukaj bloku"
 :text/image "Obrazek"
 :asset/confirm-delete "Jesteś pewien, że chcesz usunąć ten {1}?"
 :asset/physical-delete "Usuń ten plik z dysku (operacja nie może zostać cofnięta)"
 :editor/copy "Kopiuj"
 :editor/cut "Wytnij"
 :content/copy-block-ref "Kopiuj ref bloku"
 :content/copy-block-emebed "Kopiuj blok jako embed"
 :content/open-in-sidebar "Otwórz w panelu bocznym"
 :content/click-to-edit "Kliknij, aby edytować"
 :settings-page/git-confirm "Musisz uruchomić ponownie aplikację żeby zastosować zmiany w ustawieniach Gita."
 :settings-page/git-switcher-label "Włącz opcję autocommit w Git"
 :settings-page/git-commit-delay "Wykonaj commit co każde [s.]"
 :settings-page/edit-config-edn "Edytuj config.edn"
 :settings-page/edit-custom-css "Edytuj custom.css"
 :settings-page/edit-export-css "Edytuj export.css"
 :settings-page/custom-configuration "Niestandardowa konfiguracja"
 :settings-page/custom-theme "Niestandardowy motyw graficzny"
 :settings-page/export-theme "Eksportuj motyw graficzny"
 :settings-page/show-brackets "Pokaż kwadratowe nawiasy"
 :settings-page/spell-checker "Sprawdzanie pisowni"
 :settings-page/auto-updater "Automatyczne aktualizacje"
 :settings-page/disable-sentry "Wyślij statystyki użycia aplikacji do Logseq"
 :settings-page/preferred-outdenting "Logiczne zmniejszanie wcięć"
 :settings-page/custom-date-format "Preferowany format daty"
 :settings-page/preferred-file-format "Preferowany format pliku"
 :settings-page/preferred-workflow "Preferowany flow TODOsów"
 :settings-page/enable-shortcut-tooltip "Włącz podpowiedzi skrótu klawiszowego"
 :settings-page/enable-timetracking "Mierzenie czasu"
 :settings-page/enable-tooltip "Podpowiedzi"
 :settings-page/enable-journals "Dzienniki"
 :settings-page/enable-all-pages-public "Publikuj wszystkie strony"
 :settings-page/customize-shortcuts "Skróty klawiszowe"
 :settings-page/shortcut-settings "Zmień skróty"
 :settings-page/home-default-page "Ustaw domyślną stronę startową"
 :settings-page/enable-block-time "Włącz czas dla bloków"
 :settings-page/clear-cache "Wyczyść cache"
 :settings-page/clear "Wyczyść"
 :settings-page/developer-mode "Tryb programisty"
 :settings-page/developer-mode-desc "Tryb programisty pomaga kontrybutorom i programistom rozszerzeń lepiej przetestować ich integracje w Logseq."
 :settings-page/current-version "Aktualna wersja"
 :settings-page/tab-general "Ogólne"
 :settings-page/tab-editor "Edytor"
 :settings-page/tab-version-control "Kontrola wersji"
 :settings-page/tab-advanced "Zaawansowane"
 :settings-page/plugin-system "System pluginów"
 :settings-page/enable-flashcards "Fiszki"
 :settings-page/network-proxy "Ustawienia proxy"
 :yes "Tak"
 :submit "Wyślij"
 :cancel "Anuluj"
 :close "Zamknij"
 :delete "Usuń"
 :save "Zapisz"
 :type "Typ"
 :re-index "Indeksuj ponownie"
 :re-index-detail "Przebuduj graf od nowa"
 :re-index-multiple-windows-warning "Musisz zamknąć inne okna, zanim rozpoczniesz proces ponownej indeksacji"
 :re-index-discard-unsaved-changes-warning "Ponowna indeksacja odrzuci zmiany w obecnym grafie, a następnie przejdzie po wszystkich plikach zapisanych na dysku. Utracisz wszystkie niezapisane zmiany, a sam proces może trochę potrwać. Kontynuować?"
 :open-new-window "Nowe okno"
 :sync-from-local-files "Odśwież"
 :sync-from-local-files-detail "Importuj zmiany z lokalnych plików"
 :sync-from-local-changes-detected "Funkcja Odśwież wykrywa i procesuje pliki zmienione na dysku. Wszystkie pliki różniące się od tych w Logseq zostaną ponownie wczytane. Kontynuować?"

 :search/publishing "Szukaj"
 :search "Wyszukaj lub stwórz stronę"
 :page-search "Wyszukaj na stronie"
 :graph-search "Przeszukaj graf"
 :new-graph "Dodaj nowy graf"
 :graph "Graf"
 :graph/persist "Logseq synchronizuje lokalny stan. Proszę poczekać kilka sekund."
 :graph/persist-error "Nieudana synchronizacja lokalnego stanu"
 :graph/save "Zapisuję..."
 :graph/save-success "Zmiany zostały zapisane"
 :graph/save-error "Zapisywanie zakończone niepowodzeniem"
 :port "Port"
 :import "Importuj"
 :export "Eksport"
 :export-graph "Eksportuj graf"
 :export-page "Eksportuj stronę"
 :export-markdown "Eksportuj jako Markdown (brak właściwości bloków)"
 :export-opml "Eksportuj jako OPML"
 :export-public-pages "Eksportuj publiczne strony"
 :export-json "Eksportuj jako JSON"
 :export-roam-json "Eksportuj jako Roam JSON"
 :export-edn "Eksportuj jako EDN"
 :all-graphs "Wszystkie grafy"
 :all-pages "Wszystkie strony"
 :all-files "Wszystkie pliki"
 :all-journals "Wszystkie dzienniki"
 :settings "Ustawienia"
 :settings-of-plugins "Ustawienia pluginu"
 :plugins "Pluginy"
 :themes "Motywy graficzne"
 :relaunch-confirm-to-work "Aby wprowadzić zmiany, aplikacja musi zostać uruchomiona ponownie. Zrobić to teraz?"
 :join-community "Dołącz do społeczności"
 :discourse-title "Nasze forum!"
 :help-shortcut-title "Kliknij, aby sprawdzić skróty klawiszowe oraz inne porady"
 :parsing-files "Parsuję pliki"
 :loading-files "Ładuję pliki"
 :login "Zaloguj"
 :logout "Wyloguj"
 :download "Ściągnij"
 :language "Język"
 :remove-background "Usuń tło"
 :open-a-directory "Otwórz lokalny katalog"
 :help/shortcut-page-title "Skróty klawiszowe"
 :plugin/installed "Zainstalowany"
 :plugin/not-installed "Nie zainstalowany"
 :plugin/installing "Instaluję"
 :plugin/install "Zainstaluj"
 :plugin/reload "Przeładuj"
 :plugin/update "Zaktualizuj"
 :plugin/check-update "Sprawdź aktualizację"
 :plugin/check-all-updates "Sprawdź wszystkie aktualizacje"
 :plugin/refresh-lists "Odśwież listy"
 :plugin/enabled "Włączony"
 :plugin/disabled "Wyłączony"
 :plugin/update-available "Aktualizacja dostępna"
 :plugin/updating "Aktualizuję"
 :plugin/uninstall "Odinstaluj"
 :plugin/downloads "Ściągnięte"
 :plugin/stars "Gwiazdki"
 :plugin/all "Wszystkie"
 :plugin/unpacked "Rozpakowany"
 :plugin/delete-alert "Czy na pewno chcesz usunąć plugin [{1}]?"
 :plugin/open-settings "Otwórz ustawienia"
 :plugin/open-package "Otwórz paczkę"
 :plugin/load-unpacked "Załaduj rozpakowany plugin"
 :plugin/restart "Uruchom ponownie"
 :plugin/unpacked-tips "Wybierz katalog z pluginem"
 :plugin/contribute "✨ Napisz i prześlij nowy plugin"
 :plugin/custom-js-alert "Wykryto plik custom.js, czy chcesz go wykonać? Ze względów bezpieczeństwa, nie rekomendujemy wykonywania tego pliku, jeżeli nie znasz jego zawartości."

 :pdf/copy-ref "Kopiuj ref"
 :pdf/copy-text "Kopiuj tekst"
 :pdf/linked-ref "Połączone odwołania"
 :pdf/toggle-dashed "Styl kreskowany dla podświetlenia obszaru"

 :updater/new-version-install "Nowa wersja została ściągnięta."
 :updater/quit-and-install "Uruchom ponownie, aby zainstalować"

 :paginates/pages "{1} wszystkich stron"
 :paginates/prev "← Poprzednia"
 :paginates/next "Następna →"

 :command-palette/prompt "Wprowadź komendę"
 :select/default-prompt "Wybierz jeden"
 :select.graph/prompt "Wybierz graf"
 :select.graph/empty-placeholder-description "Brak pasujących grafów. Chcesz dodać nowy?"
 :select.graph/add-graph "Tak, dodaj nowy graf"

 :file-sync/other-user-graph "Obecny lokalny graf jest przypisany do zdalnego grafu innego użytkownika. Nie można rozpocząć synchronizacji."
 :file-sync/graph-deleted "Obecny zdalny graf został usunięty"

 :shortcut.category/basics                        "Podstawy"
 :shortcut.category/formatting                    "Formatowanie"
 :shortcut.category/navigating                    "Nawigacja"
 :shortcut.category/block-editing                 "Edycja bloków (ogólne)"
 :shortcut.category/block-command-editing         "Komenda edycji bloków"
 :shortcut.category/block-selection               "Zaznaczanie bloków (wciśnij Esc aby zakończyć)"
 :shortcut.category/toggle                        "Przełącz"
 :shortcut.category/others                        "Pozostałe"

 :command.date-picker/complete                    "Date picker: Wybierz zaznaczony dzień"
 :command.date-picker/next-day                    "Date picker: Wybierz następny dzień"
 :command.date-picker/prev-day                    "Date picker: Wybierz poprzedni dzień"
 :command.date-picker/prev-week                   "Date picker: Wybierz poprzedni tydzień"
 :command.date-picker/next-week                   "Date picker: Wybierz następny tydzień"
 :command.pdf/previous-page                       "Poprzednia strona otwartego dokumentu PDF"
 :command.pdf/next-page                           "Następna strona otwartego dokumentu PDF"
 :command.pdf/close                               "Zamknij aktualnie otwarty dokument PDF"
 :command.auto-complete/complete                  "Auto uzupełnianie: Wybierz zaznaczoną opcję"
 :command.auto-complete/prev                      "Auto uzupełnianie: Wybierz poprzednią opcję"
 :command.auto-complete/next                      "Auto uzupełnianie: Wybierz następną opcję"
 :command.auto-complete/shift-complete            "Auto uzupełnianie: Otwórz wybraną opcję w panelu bocznym"
 :command.auto-complete/open-link                 "Auto uzupełnianie: Otwórz wybraną opcję w przeglądarce"
 :command.cards/toggle-answers                    "Karty: pokaż/ukryj odpowiedzi/luki w tekście"
 :command.cards/next-card                         "Karty: następna karta"
 :command.cards/forgotten                         "Karty: zapomniane"
 :command.cards/remembered                        "Karty: zapamiętane"
 :command.cards/recall                            "Karty: zajęło chwilę żeby sobie przypomnieć"
 :command.editor/escape-editing                   "Wyjście z edycji"
 :command.editor/backspace                        "Usuwanie wstecz"
 :command.editor/delete                           "Usuwanie naprzód"
 :command.editor/new-block                        "Utwórz nowy blok"
 :command.editor/new-line                         "Nowa linia w obecnym bloku"
 :command.editor/follow-link                      "Przejdź do linku pod kursorem"
 :command.editor/open-link-in-sidebar             "Otwórz link w panelu bocznym"
 :command.editor/bold                             "Wytłuszczenie"
 :command.editor/italics                          "Pochylenie"
 :command.editor/highlight                        "Podświetlenie"
 :command.editor/strikethrough                    "Przekreślenie"
 :command.editor/clear-block                      "Usuń całą treść bloku"
 :command.editor/kill-line-before                 "Usuń linię powyżej kursora"
 :command.editor/copy-embed                       "Kopiuj kod osadzenia dla obecnego bloku"
 :command.editor/kill-line-after                  "Usuń linię poniżej kursora"
 :command.editor/beginning-of-block               "Umieść kursor na początku bloku"
 :command.editor/end-of-block                     "Umieść kursor na końcu bloku"
 :command.editor/forward-word                     "Przesuń kursor do następnego słowa"
 :command.editor/backward-word                    "Przesuń kursor do poprzedniego słowa"
 :command.editor/forward-kill-word                "Usuń następne słowo"
 :command.editor/backward-kill-word               "Usuń poprzednie słowo"
 :command.editor/replace-block-reference-at-point "Zastąp referencję do bloku jego treścią"
 :command.editor/paste-text-in-one-block-at-point "Wklej cały tekst jako jeden blok"
 :command.editor/insert-youtube-timestamp         "Umieść znacznik czasu filmu YouTube"
 :command.editor/cycle-todo                       "Rotuj stan TODO dla aktualnego bloku"
 :command.editor/up                               "Przesuń kursor do góry / Zaznacz powyższą opcję"
 :command.editor/down                             "Przesuń kursor w dół / Zaznacz poniższą opcję"
 :command.editor/left                             "Przesuń kursor w lewo / Rozpocznij edycję na początku bloku"
 :command.editor/right                            "Przesuń kursor w prawo / Rozpocznij edycję na końcu bloku"
 :command.editor/select-up                        "Zaznacz treść powyżej"
 :command.editor/select-down                      "Zaznacz treść poniżej"
 :command.editor/move-block-up                    "Przesuń blok powyżej"
 :command.editor/move-block-down                  "Przesuń blok poniżej"
 :command.editor/open-edit                        "Edytuj zaznaczony blok"
 :command.editor/select-block-up                  "Zaznacz blok powyżej"
 :command.editor/select-block-down                "Zaznacz blok poniżej"
 :command.editor/delete-selection                 "Usuń zaznaczone bloki"
 :command.editor/expand-block-children            "Rozwiń"
 :command.editor/collapse-block-children          "Zwiń"
 :command.editor/indent                           "Przesuń blok poziom niżej"
 :command.editor/outdent                          "Przesuń blok poziom wyżej"
 :command.editor/copy                             "Kopiuj (kopiuje zaznaczenie lub referencję do bloku)"
 :command.editor/copy-text                        "Kopiuj zaznaczenie jako tekst"
 :command.editor/cut                              "Wytnij"
 :command.editor/undo                             "Cofnij"
 :command.editor/redo                             "Ponów"
 :command.editor/select-all-blocks                "Zaznacz wszystkie bloki"
 :command.ui/toggle-brackets                      "Pokaż / Ukrywaj kwadratowe nawiasy"
 :command.go/search-in-page                       "Szukaj na aktualnej stronie"
 :command.go/search                               "Wyszukiwanie tekstowe"
 :command.go/journals                             "Idź do dzienników"
 :command.go/backward                             "Wstecz"
 :command.go/forward                              "Naprzód"
 :command.search/re-index                         "Przebuduj index wyszukiwania"
 :command.sidebar/open-today-page                 "Otwórz dzisiejszy dziennik w panelu bocznym"
 :command.sidebar/clear                           "Wyczyść wszystko w panelu bocznym"
 :command.graph/open                              "Wybierz graf do otwarcia"
 :command.graph/remove                            "Usuń graf"
 :command.graph/add                               "Dodaj graf"
 :command.graph/save                              "Zapisz obecny graf na dysk"
 :command.graph/re-index                          "Reindeksuj obecny graf"
 :command.command/run                             "Wykonaj polecenie GIT"
 :command.command/toggle-favorite                 "Dodaj / Usuń z ulubionych"
 :command.command-palette/toggle                  "Pokaż / Ukryj paletę poleceń"
 :command.go/home                                 "Idź do strony głównej"
 :command.go/all-pages                            "Idź do indeksu wszystkich stron"
 :command.go/graph-view                           "Idź do widoku grafu"
 :command.go/keyboard-shortcuts                   "Idź do widoku skrótów klawiszowych"
 :command.go/tomorrow                             "Idź do jutrzejszego dziennika"
 :command.go/next-journal                         "Idź do następnego dziennika"
 :command.go/prev-journal                         "Idź do poprzedniego dziennika"
 :command.go/flashcards                           "Pokaż / Ukryj widok fiszek"
 :command.ui/toggle-document-mode                 "Wyświetl / Ukryj widok dokumentu"
 :command.ui/toggle-settings                      "Wyświetl / Ukryj ustawienia"
 :command.ui/toggle-right-sidebar                 "Pokaż / Ukryj prawy panel"
 :command.ui/toggle-left-sidebar                  "Pokaż / Ukryj lewy panel"
 :command.ui/toggle-help                          "Pogaż / Ukryj pomoc"
 :command.ui/toggle-theme                         "Zmień motyw graficzny na ciemny/jasny"
 :command.editor/open-file-in-default-app         "Otwórz plik w domyślnej aplikacji"
 :command.editor/open-file-in-directory           "Otwórz plik w nadrzędnym katalogu"
 :command.editor/copy-current-file                "Kopiuj aktualny plik"
 :command.editor/toggle-open-blocks               "Zwiń / Rozwiń otwarte bloki"
 :command.ui/toggle-wide-mode                     "Włącz / wyłącz tryb szeroki"
 :command.ui/goto-plugins                         "Przejdź do dashboardu pluginów"
 :command.ui/toggle-cards                         "Pokaż / Ukryj karty"
 :command.git/commit                              "Wykonaj GIT COMMIT z wiadomością"}