{:accessibility/skip-to-main-content "Pular para o conteúdo principal"
 :handbook/title "Ajuda"
 :handbook/topics "Tópicos"
 :handbook/popular-topics "Tópicos populares"
 :handbook/help-categories "Categorias de ajuda"
 :handbook/search "Pesquisar"
 :handbook/home "Página inicial"
 :handbook/settings "Configurações"
 :handbook/close "Fechar"
 :on-boarding/importing-main-title "Importar notas existentes"
 :on-boarding/importing-main-desc "Você também pode fazer isso posteriormente no aplicativo."
 :on-boarding/importing-title "Você já tem notas que deseja importar?"
 :on-boarding/importing-desc "Se elas estiverem em formato EDN ou Markdown, o Logseq pode trabalhar com elas."
 :on-boarding/importing-sqlite-desc "Importar uma exportação de DB SQLite do seu grafo Logseq para um novo grafo DB"
 :on-boarding/main-title (fn [] ["Bem-vindo ao " [:strong "Logseq!"]])
 :on-boarding/main-desc "Primeiro, você precisa escolher uma pasta onde o Logseq armazenará seus pensamentos, ideias, notas."
 :bug-report/main-title "Relatório de bug"
 :bug-report/clipboard-inspector-title "Inspetor de dados da área de transferência"
 :bug-report/main-desc "Você pode nos ajudar enviando um relatório de bug? Vamos resolver isso o mais rápido possível."
 :bug-report/section-clipboard-title "O bug que você encontrou está relacionado a esses recursos?"
 :bug-report/section-clipboard-desc "Você pode usar essas ferramentas úteis para nos fornecer informações adicionais."
 :bug-report/section-clipboard-btn-title "Auxiliar da área de transferência"
 :bug-report/section-clipboard-btn-desc "Inspetar e coletar dados da área de transferência"
 :bug-report/section-issues-title "Ou..."
 :bug-report/section-issues-desc "Se não houver ferramentas disponíveis para coletar informações adicionais, relate o bug diretamente."
 :bug-report/section-issues-btn-title "Enviar um relatório de bug"
 :bug-report/section-issues-btn-desc "Ajude a melhorar o Logseq!"
 :bug-report/inspector-page-desc-1 "Pressione Ctrl+V / ⌘+V para inspecionar os dados da área de transferência"
 :bug-report/inspector-page-desc-2 "ou clique aqui para colar se estiver usando a versão mobile"
 :bug-report/inspector-page-placeholder "Pressione e segure aqui para colar se estiver no mobile"
 :bug-report/inspector-page-tip "Algum problema? Sem problemas, clique para voltar para o passo anterior."
 :bug-report/inspector-page-btn-back "Voltar"
 :bug-report/inspector-page-btn-copy "Copiar o resultado"
 :bug-report/inspector-page-copy-notif "Copiado para a área de transferência!"
 :bug-report/inspector-page-btn-create-issue "Criar uma issue"
 :bug-report/inspector-page-desc-clipboard "Aqui estão os dados lidos da área de transferência."
 :bug-report/inspector-page-desc-copy "Se for seguro compartilhar, clique no botão de cópia."
 :bug-report/inspector-page-desc-create-issue "Agora você pode relatar o resultado colado na sua área de transferência. Cole o resultado na seção 'Contexto Adicional' e indique de onde você copiou o conteúdo original. Obrigado!"
 :help/title-usage "Uso"
 :help/title-community "Comunidade"
 :help/title-development "Desenvolvimento"
 :help/title-about "Sobre"
 :help/title-terms "Termos"
 :help/start "Começando"
 :help/about "Sobre o Logseq"
 :help/roadmap "Roteiro"
 :help/bug "Relatório de bug"
 :help/feature "Solicitação de recurso"
 :help/changelog "Registro de alterações"
 :help/blog "Blog do Logseq"
 :help/docs "Documentação"
 :help/privacy "Política de privacidade"
 :help/terms "Termos"
 :help/forum-community "Comunidade do Fórum"
 :help/awesome-logseq "Incrível Logseq"
 :help/shortcuts "Atalhos de teclado"
 :help/shortcuts-triggers "Gatilhos"
 :help/shortcut "Atalho"
 :help/slash-autocomplete "Barra de preenchimento automático"
 :help/reference-autocomplete "Preenchimento automático de referência de página"
 :help/block-reference "Referência de bloco"
 :help/open-link-in-sidebar "Abrir link na barra lateral"
 :search-item/page "Página"
 :search-item/no-result "Nenhum resultado correspondente"
 :help/context-menu "Bloquear menu de contexto"
 :help/markdown-syntax "Sintaxe de Markdown"
 :bold "Negrito"
 :italics "Itálico"
 :highlight "Destaque"
 :strikethrough "Tachado"
 :code "Código"
 :untitled "Sem título"
 :right-side-bar/help "Ajuda"
 :right-side-bar/switch-theme "Temas"
 :right-side-bar/contents "Conteúdo"
 :right-side-bar/page-graph "Grafo da página"
 :right-side-bar/block-ref "Referências de bloco"
 :right-side-bar/graph-view "Visualização de grafo"
 :right-side-bar/all-pages "Páginas"
 :right-side-bar/flashcards "Flashcards"
 :right-side-bar/show-journals "Mostrar diários"
 :right-side-bar/separator "Manipulador de redimensionamento da barra lateral direita"
 :right-side-bar/toggle-right-sidebar "Alternar barra lateral direita"
 :right-side-bar/pane-close "Fechar"
 :right-side-bar/pane-close-others "Fechar outros"
 :right-side-bar/pane-close-all "Fechar todos"
 :right-side-bar/pane-collapse "Recolher"
 :right-side-bar/pane-collapse-others "Recolher outros"
 :right-side-bar/pane-collapse-all "Recolher todos"
 :right-side-bar/pane-expand "Expandir"
 :right-side-bar/pane-expand-all "Expandir todos"
 :right-side-bar/pane-open-as-page "Abrir como página"
 :right-side-bar/pane-more "Mais"
 :left-side-bar/switch "Troque para:"
 :left-side-bar/journals "Diários"
 :left-side-bar/assets "Imagens"
 :left-side-bar/tasks "Tarefas"
 :left-side-bar/nav-favorites "Favoritos"
 :left-side-bar/nav-recent-pages "Recentes"
 :page/something-went-wrong "Algo deu errado"
 :page/logseq-is-having-a-problem "Logseq está com um problema. Para tentar fazê-lo voltar a funcionar, siga as etapas seguras a seguir:"
 :page/step "Etapa {1}"
 :page/try "Tentar"
 :page/delete-confirmation "Você tem certeza que quer deletar essa página?"
 :page/db-delete-confirmation "Você tem certeza que quer deletar essa página?"
 :page/make-public "Torná-la pública para publicação"
 :page/make-private "Tornar privado"
 :page/delete "Excluir página"
 :page/add-to-favorites "Adicionar aos Favoritos"
 :page/unfavorite "Remover dos favoritos"
 :block/name "Nome da página"
 :page/copy-page-url "Copiar URL da página"
 :page/convert-to-tag "Converter para Tag"
 :page/convert-tag-to-page "Converter Tag para Página"
 :file/name "Nome do arquivo"
 :file/last-modified-at "Última modificação em"
 :file/no-data "Sem dados"
 :file/format-not-supported "Formato .{1} não é suportado."
 :page/created-at "Criado em"
 :page/updated-at "Atualizado em"
 :page/backlinks "Backlinks"
 :linked-references/filter-search "Buscar em páginas vinculadas"
 :editor/block-search "Buscar um bloco"
 :text/image "Imagem"
 :asset/show-in-folder "Mostrar imagem na pasta"
 :asset/open-in-browser "Abrir imagem no navegador"
 :asset/delete "Excluir imagem"
 :asset/copy "Copiar imagem"
 :asset/maximize "Maximizar imagem"
 :asset/ref-block "Bloco de referência de imagem"
 :asset/confirm-delete "Tem certeza de que deseja excluir este {1}?"
 :asset/physical-delete "Remover também o arquivo (observe que ele não pode ser restaurado)"
 :color/gray "Cinza"
 :color/red "Vermelho"
 :color/yellow "Amarelo"
 :color/green "Verde"
 :color/blue "Azul"
 :color/purple "Roxo"
 :color/pink "Rosa"
 :editor/copy "Copiar"
 :editor/cut "Recortar"
 :editor/expand-block-children "Expandir todos"
 :editor/collapse-block-children "Recolher todos"
 :editor/delete-selection "Excluir blocos selecionados"
 :editor/cycle-todo "Alternar o estado TODO do item atual"
 :dev/show-page-data "(Dev) Mostrar dados da página"
 :dev/show-block-data "(Dev) Mostrar dados do bloco"
 :dev/show-block-ast "(Dev) Mostrar AST do bloco"
 :content/copy-export-as "Copiar / Exportar como.."
 :content/copy-block-url "Copiar URL do bloco"
 :content/copy-block-ref "Copiar referência de bloco"
 :content/copy-ref "Copiar esta referência"
 :content/delete-ref "Excluir esta referência"
 :content/replace-with-text "Substituir por texto"
 :content/replace-with-embed "Substituir por incorporação"
 :content/open-in-sidebar "Abrir na barra lateral"
 :content/click-to-edit "Clique para editar"
 :context-menu/make-a-flashcard "Criar um Flashcard"
 :context-menu/toggle-number-list "Alternar lista numerada"
 :settings-page/ai "IA"
 :settings-page/tab-ai "IA"
 :settings-page/enable-mcp-server "Servidor MCP"
 :settings-page/enable-mcp-server-desc "Habilitar Servidor MCP para permitir comunicação com aplicações locais de IA. O Servidor MCP depende do servidor HTTP API."
 :settings-page/edit-config-edn "Editar config.edn"
 :settings-page/edit-global-config-edn "Editar config.edn global"
 :settings-page/edit-custom-css "Editar custom.css"
 :settings-page/edit-export-css "Editar export.css"
 :settings-page/custom-configuration "Configuração personalizada"
 :settings-page/custom-global-configuration "Configuração global personalizada"
 :settings-page/theme-light "Claro"
 :settings-page/theme-dark "Escuro"
 :settings-page/theme-system "Sistema"
 :settings-page/custom-theme "Tema personalizado"
 :settings-page/export-theme "Exportar tema"
 :settings-page/show-brackets "Mostrar colchetes"
 :settings-page/wide-mode "Modo amplo"
 :settings-page/editor-font "Fonte"
 :settings-page/accent-color "Cor de destaque"
 :settings-page/accent-color-alert "Escolher uma cor de destaque pode sobrescrever qualquer tema selecionado."
 :settings-page/spell-checker "Verificador ortografo"
 :settings-page/auto-updater "Atualização automática"
 :settings-page/disable-sentry "Enviar dados de uso e diagnósticos para o Logseq"
 :settings-page/disable-sentry-desc "O Logseq nunca coletará o banco de dados do seu grafo local nem venderá seus dados."
 :settings-page/preferred-outdenting "Recuo lógico"
 :settings-page/preferred-outdenting-tip "O lado esquerdo mostra o recuo com a configuração padrão, e o lado direito mostra o recuo com o recuo lógico ativado "
 :settings-page/preferred-outdenting-tip-more "→ Saiba mais"
 :settings-page/show-full-blocks "Mostrar todas as linhas de uma referência de bloco"
 :settings-page/auto-expand-block-refs "Expandir automaticamente as referências de bloco ao dar zoom"
 :settings-page/auto-expand-block-refs-tip "Esta opção controla se as referências de bloco são expandidas automaticamente ao dar zoom."
 :settings-page/custom-date-format "Formato de data preferido"
 :settings-page/preferred-pasting-file-hint "Quando ativado, colar uma imagem da internet fará o download e inserirá a imagem. Quando desativado, ele colará o link da imagem."
 :settings-page/preferred-pasting-file "Preferir colar arquivo"
 :settings-page/enable-shortcut-tooltip "Ativar dica de atalho"
 :settings-page/enable-tooltip "Dicas de ferramentas"
 :settings-page/enable-journals "Diários"
 :settings-page/enable-all-pages-public "Todas as páginas públicas ao publicar"
 :settings-page/home-default-page "Definir a página inicial padrão"
 :settings-page/clear-cache "Limpar cache"
 :settings-page/clear "Limpar"
 :settings-page/clear-cache-warning "Limpar o cache descartará os grafos abertos. Você perderá as alterações não salvas."
 :settings-page/developer-mode "Modo desenvolvedor"
 :settings-page/developer-mode-desc "O modo desenvolvedor ajuda os contribuidores e desenvolvedores de extensões a testar suas integrações com o Logseq de maneira mais eficiente."
 :settings-page/current-version "Versão atual"
 :settings-page/tab-general "Geral"
 :settings-page/tab-editor "Editor"
 :settings-page/tab-keymap "Mapa de teclas"
 :settings-page/tab-account "Conta"
 :settings-page/tab-advanced "Avançado"
 :settings-page/tab-features "Recursos"
 :settings-page/tab-collaboration "Colaboração"
 :settings-page/tab-encryption "Criptografia de ponta a ponta"
 :settings-page/enable-flashcards "Flashcards"
 :settings-page/network-proxy "Proxy de rede"
 :settings-page/login-prompt "Para acessar novos recursos antes de qualquer outra pessoa, você deve ser um Patrocinador ou Apoiador do Logseq no Open Collective e, portanto, fazer login primeiro."
 :settings-page/native-titlebar "Barra de título nativa"
 :settings-page/native-titlebar-desc "Ativa a barra de título da janela nativa no Windows e Linux."
 :settings-page/check-for-updates "Verificar atualizações"
 :settings-page/checking "Verificando ..."
 :settings-page/revision "Revisão: "
 :settings-page/changelog "O que há de novo?"
 :settings-page/app-updated "Seu aplicativo está atualizado 🎉"
 :settings-page/update-available "Nova versão encontrada "
 :settings-page/update-error-1 "⚠️ Ops, algo deu errado!"
 :settings-page/update-error-2 " Por favor, verifique o "
 :settings-page/auto-chmod "Alterar automaticamente as permissões do arquivo"
 :settings-page/auto-chmod-desc "Desabilite para permitir edição por vários usuários com permissões concedidas por associação a um grupo."
 :yes "Sim"

 :cancel "Cancelar"
 :close "Fechar"
 :delete "Excluir"
 :save "Salvar"
 :type "Tipo"
 :host "Servidor"
 :port "Porta"
 :flashcards/modal-welcome-title "Hora de criar um cartão!"
 :flashcards/modal-welcome-desc-1 "Você pode adicionar \"{1}\" a qualquer bloco para transformá-lo em um cartão ou acionar \"/cloze\" para adicionar algumas partes ocultas."
 :flashcards/modal-finished "Parabéns, você revisou todos os cartões para esta consulta, nos vemos na próxima vez! 💯"
 :home "Início"
 :new-page "Nova página:"
 :new-tag "Nova tag:"
 :graph "Grafo"
 :graph/all-graphs "Todos os grafos"
 :graph/local-graphs "Grafos locais:"
 :graph/remote-graphs "Grafos remotos:"
 :graph/shared-graphs "Compartilhado por outros:"
 :export "Exportar"
 :export-graph "Exportar grafo"
 :export-page "Exportar página"
 :export-markdown "Exportar como Markdown padrão (sem propriedades de bloco)"
 :export-public-pages "Exportar páginas públicas"
 :export-db-edn "Exportar arquivo EDN"
 :export-sqlite-db "Exportar SQLite DB"
 :export-zip "Exportar ambos SQLite DB e imagens"
 :export-transparent-background "Fundo transparente"
 :export-copy-to-clipboard "Copiar para a área de transferência"
 :export-copied-to-clipboard "Copiado para a área de transferência!"
 :export-save-to-file "Salvar em arquivo"
 :all-graphs "Todos os grafos"
 :all-pages "Páginas"
 :all-pages/table-title (fn [total] (str total (if (= total 1) " Página" " Páginas")))
 :all-pages/failed-to-delete-pages "Essas páginas tiveram seu conteúdo deletado, mas não podem ser deletadas:: {1}. Veja o console do JavaScript para mais detalhes."
 :all-files "Todos os arquivos"
 :all-journals "Todos os diários"
 :settings "Configurações"
 :plugins "Plugins"
 :themes "Temas"
 :appearance "Aparência"
 :relaunch-confirm-to-work "Necessita reiniciar o aplicativo para funcionar. Deseja reiniciá-lo agora?"
 :import-notes "Importar notas existentes"
 :import "Importar"
 :importing "Importando"
 :help-shortcut-title "Clique para verificar os atalhos e outras dicas"
 :loading "Carregando..."
 :login "Entrar"
 :logout "Sair"
 :download "Baixar"
 :language "Idioma"
 :remove-background "Remover fundo"
 :remove-heading "Remover cabeçalho"
 :heading "Cabeçalho {1}"
 :auto-heading "Cabeçalho automático"
 :toggle-theme "Alternar tema"

 :help/shortcut-page-title "Atalhos de teclado"

 :plugin/installed "Instalado"
 :plugin/installed-plugin "Plugin instalado: {1}"
 :plugin/not-installed "Não instalado"
 :plugin/installing "Instalando"
 :plugin/install "Instalar"
 :plugin/reload "Recarregar"
 :plugin/update "Atualizar"
 :plugin/update-plugin "Atualizar plugin: {1} - {2}"
 :plugin/check-update "Verificar atualização"
 :plugin/check-all-updates "Verificar todas as atualizações"
 :plugin/found-updates "Novas atualizações"
 :plugin/found-n-updates "Encontradas {1} atualizações"
 :plugin/update-all-selected "Atualizar todos os selecionados"
 :plugin/all-updated "Todos atualizados!"
 :plugin/updates-downloading "Baixando atualizações"
 :plugin/refresh-lists "Atualizar listas"
 :plugin/enabled "Ativado"
 :plugin/disabled "Desativado"
 :plugin/update-available "Atualização disponível"
 :plugin/updating "Atualizando"
 :plugin/uninstall "Desinstalar"
 :plugin/marketplace "Loja de plugins"
 :plugin/stars "Estrelas"
 :plugin/title "Título ({1})"
 :plugin/all "Todos"
 :plugin/unpacked "Descompactado"
 :plugin/delete-alert "Tem certeza de que deseja desinstalar o plugin [{1}]?"
 :plugin/open-settings "Abrir configurações"
 :plugin/open-package "Abrir pacote"
 :plugin/report-security "Reportar plugin"
 :plugin/load-unpacked "Carregar plugin descompactado"
 :plugin/restart "Reiniciar aplicativo"
 :plugin/unpacked-tips "Selecione o diretório do plugin"
 :plugin/contribute "✨ Escreva e envie um novo plugin"
 :plugin/up-to-date "Está atualizado {1}"
 :plugin/custom-js-alert "Encontrado o arquivo custom.js, permitir a execução? (Se você não entende o conteúdo deste arquivo, é recomendável não permitir a execução, pois isso tem certos riscos de segurança.)"
 :plugin/security-warning "Os plugins podem acessar o seu grafo e os seus arquivos locais, fazer requisições de rede.
     Eles também podem causar corrupção ou perda de dados. Estamos trabalhando em regras de acesso adequadas para os seus grafos.
     Enquanto isso, certifique-se de fazer backups regulares dos seus grafos e só instale os plugins quando puder ler e
     entender o código-fonte."
 :plugin/search-plugin "Pesquisar plugins"
 :plugin/open-preferences "Abrir Preferências"
 :plugin/open-logseq-dir "Abrir"
 :plugin/remote-error "Erro remoto: "
 :plugin/checking-for-updates "Verificando atualizações de plugins ..."
 :plugin/list-of-updates "Atualizações de plugins: "
 :plugin/auto-check-for-updates "Verificação automática de atualizações"
 :plugin/load-from-web-url "Carregar plugin de URL web"
 :plugin.install-from-file/menu-title "Instalar a partir de plugins.edn"
 :plugin.install-from-file/title "Instalar plugins a partir de plugins.edn"
 :plugin.install-from-file/notice "Os seguintes plugins substituirão os seus plugins:"
 :plugin.install-from-file/success "Todos os plugins foram instalados!"

 :pdf/copy-ref "Copiar referência"
 :pdf/copy-text "Copiar texto"
 :pdf/linked-ref "Referências vinculadas"
 :pdf/toggle-dashed "Estilo tracejado para destaque de área"
 :pdf/hl-block-colored "Rótulo colorido para destaque de bloco"
 :pdf/auto-open-context-menu "Abrir automaticamente o menu de contexto para seleções"
 :pdf/doc-metadata "Metadados do documento"

 :updater/new-version-install "Uma nova versão foi baixada."
 :updater/quit-and-install "Reiniciar para instalar"

 :tips/all-done "Tudo pronto!"

 :select/default-prompt "Selecionar um"
 :select/default-select-multiple "Selecionar um ou vários"
 :select.graph/prompt "Selecione um grafo"
 :select.graph/empty-placeholder-description "Nenhum grafo correspondente. Deseja adicionar outro?"
 :select.graph/add-graph "Sim, adicione outro grafo"

 :notification/clear-all "Limpar tudo"

 :shortcut.category/basics "Noções básicas"
 :shortcut.category/formatting "Formatação"
 :shortcut.category/navigating "Navegação"
 :shortcut.category/block-editing "Edição geral de blocos"
 :shortcut.category/block-command-editing "Edição de comando de blocos"
 :shortcut.category/block-selection "Seleção de blocos (pressione Esc para sair da seleção)"
 :shortcut.category/toggle "Alternar"
 :shortcut.category/others "Outros"
 :shortcut.category/plugins "Plugins"

 :keymap/all "Todos"
 :keymap/disabled "Desabilitar"
 :keymap/unset "Desativar"
 :keymap/custom "Customizar"
 :keymap/keystroke-filter "Filtro de teclas"
 :window/minimize "Minimizar"
 :window/maximize "Maximizar"
 :window/restore "Restaurar"
 :window/close "Fechar"
 :window/exit-fullscreen "Sair da tela cheia"

 :header/toggle-left-sidebar         "Alternar barra lateral esquerda"
 :header/search                      "Produrar"
 :header/more                        "Mais"
 :header/go-back                     "Voltar"
 :header/go-forward                  "Avançar"

 :views.table/default-title (fn [total] (str total (if (<= total 1) " Nodo" " Nodos")))
 :views.table/live-query-title (fn [total] (str "Consulta em tempo real (" total ")"))

 :command.auto-complete/complete "Auto-completar: Escolher item selecionado"
 :command.auto-complete/next "Auto-completar: Selecionar próximo item"
 :command.auto-complete/prev "Auto-completar: Selecionar item anterior"
 :command.auto-complete/shift-complete "Auto-completar: Abrir item selecionado na barra lateral"
 :command.auto-complete/meta-complete "Auto-completar: Cmd + Enter para escolher o item selecionado"
 :command.cards/again "Cartões: novamente"
 :command.cards/easy "Cartões: fácil"
 :command.cards/good "Cartões: bom"
 :command.cards/hard "Cartões: difícil"
 :command.cards/toggle-answers "Cartões: mostrar/ocultar respostas/ocultados"
 :command.command/run "Executar comando git"
 :command.command/toggle-favorite "Adicionar/remover dos favoritos"
 :command.command-palette/toggle "Pesquisar comandos"
 :command.dev/show-block-ast "(Dev) Mostrar AST do bloco"
 :command.dev/show-block-data "(Dev) Mostrar dados do bloco"
 :command.dev/replace-graph-with-db-file "(Dev) Substituir grafo pelo seu arquivo db.sqlite"
 :command.dev/validate-db "(Dev) Valide o atual grafo"
 :command.dev/gc-graph "(Dev) Garbage collect no grafo (remover dados não utilizados no SQLite)"
 :command.dev/rtc-start "(Dev) RTC Começar"
 :command.dev/rtc-stop "(Dev) RTC Parar"
 :command.dev/show-page-data "(Dev) Mostrar dados da página"
 :command.editor/backspace "Backspace / Apagar"
 :command.editor/backward-kill-word "Excluir uma palavra com backspace"
 :command.editor/backward-word "Mover cursor para trás da palavra"
 :command.editor/beginning-of-block "Mover cursor para o início de um bloco"
 :command.editor/bold "Negrito"
 :command.editor/clear-block "Excluir conteúdo inteiro do bloco"
 :command.editor/collapse-block-children "Contrair"
 :command.editor/toggle-block-children "Alternar expandir/recolher"
 :command.editor/copy "Copiar (copia seleção ou referência de bloco)"
 :command.editor/copy-embed "Copiar incorporação de bloco apontando para o bloco atual"
 :command.editor/copy-page-url "Copiar URL da página"
 :command.editor/copy-text "Copiar seleções como texto"
 :command.editor/cut "Cortar"
 :command.editor/cycle-todo "Rotacionar o estado TODO do item atual"
 :command.editor/delete "Delete / Tecla Excluir"
 :command.editor/delete-selection "Excluir blocos selecionados"
 :command.editor/down "Mover cursor para baixo / Selecionar para baixo"
 :command.editor/end-of-block "Mover cursor para o final de um bloco"
 :command.editor/escape-editing "Sair da edição"
 :command.editor/expand-block-children "Expandir"
 :command.editor/follow-link "Seguir link sob o cursor"
 :command.editor/forward-kill-word "Excluir uma palavra com tecla delete"
 :command.editor/forward-word "Mover cursor para frente da palavra"
 :command.editor/highlight "Destacar"
 :command.editor/indent "Indentar bloco"
 :command.editor/insert-link "Link de HTML"
 :command.editor/insert-youtube-timestamp "Inserir timestamp do YouTube"
 :command.editor/italics "Itálico"
 :command.editor/kill-line-after "Excluir linha após a posição do cursor"
 :command.editor/kill-line-before "Excluir linha antes da posição do cursor"
 :command.editor/left "Mover cursor para a esquerda / Abrir bloco selecionado no início"
 :command.editor/move-block-up "Mover bloco para cima"
 :command.editor/move-block-down "Mover bloco para baixo"
 :command.editor/move-blocks "Mover blocos"
 :command.editor/new-block "Criar novo bloco"
 :command.editor/new-line "Nova linha no bloco atual"
 :command.editor/open-edit "Editar bloco selecionado"
 :command.editor/open-selected-blocks-in-sidebar "Abra o(s) bloco(s) selecionado(s) na barra-lateral"
 :command.editor/open-link-in-sidebar "Abrir link na barra lateral"
 :command.editor/outdent "Diminuir recuo do bloco"
 :command.editor/paste-text-in-one-block-at-point "Colar texto em um bloco no lugar"
 :command.editor/redo "Refazer"
 :command.editor/quick-add "Adicionar rapidamente"
 :command.editor/right "Mover cursor para a direita / Abrir bloco selecionado no final"
 :command.editor/select-all-blocks "Selecionar todos os blocos"
 :command.editor/select-block-down "Selecionar bloco abaixo"
 :command.editor/select-block-up "Selecionar bloco acima"
 :command.editor/select-down "Selecionar conteúdo abaixo"
 :command.editor/select-parent "Selecionar bloco pai"
 :command.editor/select-up "Selecionar conteúdo acima"
 :command.editor/strike-through "Riscar"
 :command.editor/toggle-number-list "Alternar lista numerada"
 :command.editor/add-property "Adicionar propriedade"
 :command.editor/set-tags "Definir tags para o(s) bloco(s) selecionado(s)"
 :command.editor/add-property-deadline "Adicionar prazo da tarefa ao bloco selecionado"
 :command.editor/add-property-status "Adicionar estado da tarefa ao bloco selecionado"
 :command.editor/add-property-priority "Adicionar prioridade da tarefa ao bloco selecionado"
 :command.editor/add-property-icon "Adicionar ícone"
 :command.editor/jump "Pular para uma chave ou valor de propriedade"
 :command.editor/toggle-open-blocks "Alternar blocos abertos (contrair ou expandir todos os blocos)"
 :command.editor/undo "Desfazer"
 :command.editor/up "Mover cursor para cima / Selecionar para cima"
 :command.editor/zoom-in "Dar zoom no bloco em edição / Avançar caso contrário"
 :command.editor/zoom-out "Dar zoom out no bloco em edição / Retroceder caso contrário"
 :command.misc/export-block-data "Exportar dados EDN do bloco"
 :command.misc/export-page-data "Exportar dados EDN da página"
 :command.misc/export-graph-ontology-data "Exportar tags e propriedades EDN do grafo"
 :command.misc/import-edn-data "Importar dados EDN"
 :command.go/all-graphs "Ir para todos os grafos"
 :command.go/all-pages "Ir para todas as páginas"
 :command.go/backward "Retroceder"
 :command.go/electron-find-in-page "Encontrar texto na página"
 :command.go/electron-jump-to-the-next "Pular para a próxima correspondência na sua busca na barra de pesquisa"
 :command.go/electron-jump-to-the-previous "Pular para a correspondência anterior na sua busca na barra de pesquisa"
 :command.go/flashcards "Alternar cartões de memorização"
 :command.go/forward "Avançar"
 :command.go/graph-view "Ir para visualização de grafo"
 :command.go/home "Ir para a página inicial"
 :command.go/journals "Ir para diários"
 :command.go/keyboard-shortcuts "Ir para atalhos de teclado"
 :command.go/next-journal "Ir para o próximo diário"
 :command.go/prev-journal "Ir para o diário anterior"
 :command.go/search "Pesquisar páginas e blocos"
 :command.go/search-themes "Pesquisar temas"
 :command.go/search-in-page "Pesquisar blocos na página"
 :command.go/tomorrow "Ir para amanhã"
 :command.graph/add "Adicionar um grafo"
 :command.graph/db-add "Adicionar um grafo DB"
 :command.graph/db-save "Salve o atual db para o disco (~/logseq/graphs/seu-atual-grafo)"
 :command.graph/export-as-html "Exportar páginas de grafos públicos como HTML"
 :command.graph/open "Selecionar grafo para abrir"
 :command.graph/remove "Remover um grafo"
 :command.misc/copy "Copiar"
 :command.pdf/close "PDF: Fechar documento PDF atual"
 :command.pdf/find "PDF: Pesquisar texto do documento PDF atual"
 :command.pdf/next-page "PDF: Próxima página do documento PDF atual"
 :command.pdf/previous-page "PDF: Página anterior do documento PDF atual"
 :command.search/re-index "Reconstruir índice de pesquisa"
 :command.sidebar/clear "Limpar todos na barra lateral direita"
 :command.sidebar/close-top "Fechar o item superior na barra lateral direita"
 :command.sidebar/open-today-page "Abrir a página de hoje na barra lateral direita"
 :command.ui/clear-all-notifications "Limpar todas as notificações"
 :command.ui/goto-plugins "Ir para o painel de plugins"
 :command.ui/install-plugins-from-file "Instalar plugins do arquivo plugins.edn"
 :command.ui/install-plugin-from-github "Instalar plugin a partir de release do Github"
 :command.ui/select-theme-color "Selecionar cores de tema disponíveis"
 :command.ui/toggle-brackets "Alternar se deve exibir colchetes"
 :command.ui/toggle-contents "Alternar conteúdo na barra lateral"
 :command.ui/customize-appearance "Personalizar aparência"
 :command.ui/toggle-document-mode "Alternar modo de documento"
 :command.ui/toggle-help "Alternar ajuda"
 :command.ui/toggle-left-sidebar "Alternar barra lateral esquerda"
 :command.ui/toggle-right-sidebar "Alternar barra lateral direita"
 :command.ui/toggle-settings "Alternar configurações"
 :command.ui/toggle-theme "Alternar entre tema escuro/claro"
 :command.ui/toggle-wide-mode "Alternar modo amplo"
 :command.ui/highlight-recent-blocks "Alternar destaque de blocos recentes"
 :command.editor/toggle-display-hidden-properties "Alternar exibição de propriedades ocultas"
 :command.window/close "Fechar janela"
 :help/search "Pesquisar páginas/blocos/comandos"
 :linked-references/filter-directions "Clique para incluir e shift-clique para excluir. Clique novamente para remover."
 :linked-references/filter-excludes "Excluir: "
 :linked-references/filter-heading "Filtrar"
 :linked-references/filter-includes "Incluir: "
 ;; Allowed duplicates - start
 :settings-of-plugins "Plugins"
 :plugin/downloads "Downloads"
 :plugin/popular "Popular"
 :settings-page/plugin-system "Plugins";; Allowed duplicates - end

 ;; Os comandos estão aninhados por enquanto para permanecerem sincronizados com o sistema de atalhos.
 ;; Outras linguagens não devem aninhar chaves em :commands
 
 }
