{:accessibility/skip-to-main-content "Ir para o conteúdo principal"
 :on-boarding/welcome-whiteboard-modal-title "Uma tela nova para os seus pensamentos."
 :on-boarding/welcome-whiteboard-modal-description "Os quadros brancos são uma grande ferramenta para o brainstorming e organização. Agora, pode colocar qualquer um dos seus pensamentos da base de conhecimento, ou novos, ao lado um do outro numa tela espacial para conectar, associar e entender de novas formas."
 :on-boarding/welcome-whiteboard-modal-skip "Ignorar"
 :on-boarding/welcome-whiteboard-modal-start "Iniciar quadro branco"
 :on-boarding/tour-whiteboard-home "{1} Início para os seus quadros brancos"
 :on-boarding/tour-whiteboard-home-description "Os quadros brancos têm a sua própria secção na aplicação, onde pode vê-los rapidamente, criar novos quadros ou eliminá-los facilmente"
 :on-boarding/tour-whiteboard-new "{1} Criar um novo quadro branco"
 :on-boarding/tour-whiteboard-new-description "Existem múltiplas formas de criar um novo quadro branco. Uma delas está sempre aqui mesmo no painel."
 :help/start "Começar a usar"
 :help/about "Sobre o Logseq"
 :help/roadmap "Plano de implementação"
 :help/bug "Reportar um erro"
 :help/feature "Pedir uma funcionalidade"
 :help/changelog "Registo de alterações"
 :help/blog "Blogue do Logseq"
 :help/docs "Documentação"
 :help/privacy "Política de privacidade"
 :help/terms "Termos"
 :help/forum-community "Comunidade do fórum"
 :help/shortcuts "Atalhos de Teclado"
 :help/shortcuts-triggers "Iniciadores"
 :help/shortcut "Atalho"
 :help/slash-autocomplete "Autocompletar com barra"
 :help/reference-autocomplete "Autocompletar referência de página"
 :help/block-reference "Referência de bloco"
 :help/open-link-in-sidebar "Abrir ligação na barra lateral"
 :search-item/whiteboard "Quadro branco"
 :search-item/page "Página"
 :help/context-menu "Menu de contexto"
 :help/markdown-syntax "Sintaxe de Markdown"
 :help/org-mode-syntax "Sintaxe do modo Org"
 :bold "Negrito"
 :italics "Itálico"
 :highlight "Realçado"
 :strikethrough "Rasurado"
 :code "Código"
 :untitled "Sem título"
 :right-side-bar/help "Ajuda"
 :right-side-bar/switch-theme "Temas"
 :right-side-bar/contents "Conteúdo"
 :right-side-bar/page-graph "Grafo da página"
 :right-side-bar/block-ref "Referência de bloco"
 :right-side-bar/graph-view "Vista do grafo"
 :right-side-bar/all-pages "Todas as páginas"
 :right-side-bar/whiteboards "Quadros brancos"
 :right-side-bar/flashcards "Flashcards"
 :right-side-bar/show-journals "Mostrar págs. diárias"
 :right-side-bar/separator "Manipulador de redimensionamento da barra lateral direita"
 :left-side-bar/journals "Págs. Diárias"
 :left-side-bar/nav-favorites "Favoritos"
 :left-side-bar/nav-recent-pages "Recente"
 :page/something-went-wrong "Algo deu errado"
 :page/logseq-is-having-a-problem "Logseq está tendo um problema. Para tentar colocá-lo de volta em um estado de funcionamento, por favor tente os seguintes passos seguros em ordem:"
 :page/step "Passo {1}"
 :page/try "Tentar"
 :page/delete-confirmation "Tem a certeza de que quer apagar esta página e o respetivo ficheiro?"
 :page/open-in-finder "Abrir em pasta"
 :page/open-with-default-app "Abrir com a aplicação predefinida"
 :page/make-public "Tornar pública para publicação"
 :page/version-history "Ver histórico da página"
 :page/open-backup-directory "Abra a pasta de backups de páginas"
 :page/make-private "Tornar privada"
 :page/delete "Apagar página"
 :page/add-to-favorites "Adicionar aos Favoritos"
 :page/unfavorite "Remover dos Favoritos"
 :block/name "Nome da página"
 :page/copy-page-url "Copiar URL da página"
 :file/name "Nome do ficheiro"
 :file/last-modified-at "Última modificação em"
 :file/no-data "Sem dados"
 :file/format-not-supported "O formato .{1} não é suportado."
 :file/validate-existing-file-error "A página já existe noutro ficheiro: {1}, ficheiro atual: {2}. Por favor, mantenha apenas um deles e reindexe o seu grafo."
 :page/created-at "Criada Em"
 :page/updated-at "Atualizada Em"
 :linked-references/filter-search "Procurar nas páginas vinculadas"
 :editor/block-search "Pesquisar por um bloco"
 :text/image "Imagem"
 :asset/show-in-folder "Mostrar imagem na pasta"
 :asset/open-in-browser "Abrir imagem no navegador"
 :asset/delete "Eliminar imagem"
 :asset/copy "Copiar imagem"
 :asset/maximize "Expandir imagem"
 :asset/confirm-delete "Tem a certeza de que quer apagar este {1}?"
 :asset/physical-delete "Remover também o ficheiro (note que não pode ser restaurado)"
 :color/gray "Cinzento"
 :color/red "Vermelho"
 :color/yellow "Amarelo"
 :color/green "Verde"
 :color/blue "Azul"
 :color/purple "Roxo"
 :color/pink "Rosa"
 :editor/copy "Copiar"
 :editor/cut "Cortar"
 :content/copy-export-as "Copiar / Exportar como.."
 :content/copy-block-url "Copiar URL do bloco"
 :content/copy-block-ref "Copiar referência do bloco"
 :content/copy-block-emebed "Copiar bloco para incorporar"
 :content/copy-ref "Copiar esta referência"
 :content/delete-ref "Apagar esta referência"
 :content/open-in-sidebar "Abrir na barra lateral"
 :content/click-to-edit "Clicar para editar"
 :settings-page/git-switcher-label "Ativar o auto commit do Git"
 :settings-page/git-commit-delay "Segundos entre cada auto commit"
 :settings-page/edit-config-edn "Editar config.edn"
 :settings-page/edit-global-config-edn "Editar config.edn global"
 :settings-page/edit-custom-css "Editar custom.css"
 :settings-page/edit-export-css "Editar export.css"
 :settings-page/custom-configuration "Configuração personalizada"
 :settings-page/custom-global-configuration "Configuração global personalizada"
 :settings-page/custom-theme "Tema personalizado"
 :settings-page/export-theme "Exportar tema"
 :settings-page/show-brackets "Mostrar parênteses retos"
 :settings-page/spell-checker "Verificador ortográfico"
 :settings-page/auto-updater "Atualizar automaticamente"
 :settings-page/disable-sentry "Enviar dados de utilização e diagnósticos para a Logseq"
 :settings-page/disable-sentry-desc "A Logseq nunca irá recolher informações sobre a sua base de dados de grafos local ou vender os seus dados."
 :settings-page/preferred-outdenting "Desindentação lógica"
 :settings-page/show-full-blocks "Mostrar todas a linhas de uma referência de bloco"
 :settings-page/custom-date-format "Formato de data preferido"
 :settings-page/custom-date-format-warning "Reindexação necessária! As referências de páginas diárias já existentes não funcionariam mais!"
 :settings-page/preferred-file-format "Formato de ficheiro preferido"
 :settings-page/preferred-workflow "Workflow preferido"
 :settings-page/preferred-pasting-file "Preferir colar ficheiro"
 :settings-page/enable-shortcut-tooltip "Ativar dicas de atalhos"
 :settings-page/enable-timetracking "Registo de tempo"
 :settings-page/enable-tooltip "Dicas de contexto"
 :settings-page/enable-journals "Páginas Diárias"
 :settings-page/enable-all-pages-public "Todas as páginas públicas ao publicar"
 :settings-page/home-default-page "Definir a página inicial predefinida"
 :settings-page/clear-cache "Limpar cache"
 :settings-page/clear "Limpar"
 :settings-page/clear-cache-warning "Limpar a cache irá descartar todos os grafos abertos. Perderá as alterações não guardadas."
 :settings-page/developer-mode "Modo de desenvolvedor"
 :settings-page/developer-mode-desc "O modo de desenvolvedor ajuda os contribuidores e programadores de extensões a testar as suas integrações com o Logseq mais eficientemente."
 :settings-page/current-version "Versão atual"
 :settings-page/tab-general "Geral"
 :settings-page/tab-version-control "Controlo de Versões"
 :settings-page/tab-advanced "Avançado"
 :settings-page/tab-assets "Recursos"
 :settings-page/tab-features "Funcionalidades"
 :settings-page/network-proxy "Proxy de rede"
 :settings-page/plugin-system "Plugins"
 :settings-page/enable-flashcards "Flashcards"
 :settings-page/alpha-features "Funcionalidades em fase Alfa"
 :settings-page/beta-features "Funcionalidades em fase Beta"
 :settings-page/login-prompt "Para aceder a novas funcionalidades antes de qualquer outra pessoa tem de ser um \"Sponsor\" ou \"Backer\" na Open Collective do Logseq e, portanto, tem de iniciar sessão primeiro."
 :settings-page/sync "Sincronizar"
 :settings-page/enable-whiteboards "Quadros brancos"
 :yes "Sim"
 :submit "Submeter"
 :cancel "Cancelar"
 :close "Fechar"
 :delete "Apagar"
 :save "Guardar"
 :type "Tipo"
 :port "Porta"
 :re-index "Reindexar"
 :re-index-detail "Reconstruir o grafo"
 :re-index-multiple-windows-warning "É necessário fechar as outras janelas antes de reindexar este grafo."
 :re-index-discard-unsaved-changes-warning "A reindexação descartará o grafo atual e processará todos os arquivos novamente conforme estão armazenados no disco. Perderá as alterações não guardadas e poderá demorar algum tempo. Continuar?"
 :sync-from-local-files "Atualizar"
 :sync-from-local-files-detail "Importar alterações de ficheiros locais"
 :sync-from-local-changes-detected "Atualizar detetará e processará ficheiros modificados no seu disco que tenham divergido do conteúdo da página Logseq atual. Continuar?"

 :new-graph "Adicionar novo grafo"
 :graph "Grafo"
 :graph/all-graphs "Todos os grafos"
 :export "Exportar"
 :export-graph "Exportar grafo"
 :export-page "Exportar página"
 :export-markdown "Exportar como Markdown padrão (sem propriedades de bloco)"
 :export-opml "Exportar como OPML"
 :export-public-pages "Exportar páginas públicas"
 :export-json "Exportar como JSON"
 :export-roam-json "Exportar como JSON do Roam"
 :export-edn "Exportar como EDN"
 :all-graphs "Todos os grafos"
 :all-pages "Todas as páginas"
 :all-whiteboards "Todos os quadros brancos"
 :all-files "Todos os ficheiros"
 :all-journals "Todas as págs. diárias"
 :settings "Definições"
 :settings-of-plugins "Plugins"
 :plugins "Plugins"
 :themes "Temas"
 :relaunch-confirm-to-work "A aplicação deve ser reiniciada para que funcione corretamente. Quer reiniciar agora?"
 :import "Importar"
 :importing "A importar"
 :join-community "Junte-se à comunidade"
 :discourse-title "O nosso fórum!"
 :help-shortcut-title "Clique para ver atalhos e outras dicas"
 :parsing-files "A analisar ficheiros"
 :loading-files "A carregar ficheiros"
 :login "Iniciar sessão"
 :logout "Terminar sessão"
 :download "Descarregar"
 :language "Idioma"
 :remove-background "Remover fundo"
 :remove-heading "Remover título"
 :heading "Título {1}"
 :auto-heading "Título automático"
 :open-a-directory "Abrir uma pasta local"

 :help/shortcut-page-title "Atalhos de teclado"

 :plugin/installed "Instalado"
 :plugin/not-installed "Não instalado"
 :plugin/installing "A instalar"
 :plugin/install "Instalar"
 :plugin/reload "Recarregar"
 :plugin/update "Atualizar"
 :plugin/check-update "Procurar por atualizações"
 :plugin/check-all-updates "Procurar por todas as atualizações"
 :plugin/refresh-lists "Atualizar listas"
 :plugin/enabled "Ativado"
 :plugin/disabled "Desativado"
 :plugin/update-available "Atualização disponível"
 :plugin/updating "A atualizar"
 :plugin/uninstall "Desinstalar"
 :plugin/marketplace "Mercado"
 :plugin/downloads "Downloads"
 :plugin/stars "Estrelas"
 :plugin/all "Todos"
 :plugin/unpacked "Desempacotado"
 :plugin/delete-alert "Tem a certeza de quer desinstalar o plugin [{1}]?"
 :plugin/open-settings "Abrir definições"
 :plugin/open-package "Abrir pacote"
 :plugin/load-unpacked "Carregar plugin desempacotado"
 :plugin/restart "Reiniciar a aplicação"
 :plugin/unpacked-tips "Selecionar a pasta de plugins"
 :plugin/contribute "✨ Escreva e submeta um novo plugin"
 :plugin/custom-js-alert "Ficheiro custom.js encontrado, quer executá-lo? (Se não compreender o conteúdo do ficheiro, é melhor não executá-lo, pois há certos riscos de segurança ao fazê-lo.)"
 :plugin.install-from-file/menu-title "Instalar a partir de plugins.edn"
 :plugin.install-from-file/title "Instalar plugins a partir de plugins.edn"
 :plugin.install-from-file/notice "Os seguintes plugins irão substituir os seus plugins:"
 :plugin.install-from-file/success "Todos os plugins foram instalados!"

 :pdf/copy-ref "Copiar referência"
 :pdf/copy-text "Copiar texto"
 :pdf/linked-ref "Referências ligadas"
 :pdf/toggle-dashed "Estilo tracejado para realce de área"
 :pdf/hl-block-colored "Rótulo colorido para bloco de destaque"
 :pdf/doc-metadata "Metadados do documento"

 :updater/new-version-install "Uma nova versão foi descarregada."
 :updater/quit-and-install "Reiniciar para instalar"

 :select/default-prompt "Selecione um"
 :select/default-select-multiple "Selecione um ou vários"
 :select.graph/prompt "Selecione um grafo"
 :select.graph/empty-placeholder-description "Sem grafos correspondentes. Quer adicionar outro?"
 :select.graph/add-graph "Sim, adicionar outro grafo"

 :file-sync/other-user-graph "O grafo local atual está ligado ao grafo remoto de outro utilizador. Portanto, a sincronização não pode ser iniciada."
 :file-sync/graph-deleted "O grafo remoto atual foi apagado"
 :file-sync/rsapi-cannot-upload-err "Não foi possível iniciar a sincronização, verifique se a hora local está correta."

 :notification/clear-all "Limpar tudo"

 :shortcut.category/formatting            "Formatação"
 :shortcut.category/basics                "Básico"
 :shortcut.category/navigating            "Navegação"
 :shortcut.category/block-editing         "Edição geral de blocos"
 :shortcut.category/block-command-editing "Comandos de edição de blocos"
 :shortcut.category/block-selection       "Seleção de blocos (premir Esc para sair)"
 :shortcut.category/toggle                "Alternar"
 :shortcut.category/others                "Outros"
 :command.editor/indent                   "Aumentar avanço de parágrafo"
 :command.editor/outdent                  "Diminuir avanço de parágrafo"
 :command.editor/move-block-up            "Mover bloco para cima"
 :command.editor/move-block-down          "Mover bloco para baixo"
 :command.editor/new-block                "Criar novo bloco"
 :command.editor/new-line                 "Nova linha no bloco actual"
 :command.editor/zoom-in                  "Aproximar / Para a frente"
 :command.editor/zoom-out                 "Afastar / Para trás"
 :command.editor/follow-link              "Seguir ligação sob o cursor"
 :command.editor/open-link-in-sidebar     "Abrir ligação na barra lateral"
 :command.editor/expand-block-children    "Expandir"
 :command.editor/collapse-block-children  "Colapsar"
 :command.editor/select-block-up          "Selecionar bloco acima"
 :command.editor/select-block-down        "Selecionar bloco abaixo"
 :command.editor/select-all-blocks        "Selecionar todos os blocos"
 :command.ui/toggle-help                  "Alternar ajuda"
 :command.git/commit                      "Confirmar"
 :command.go/search                       "Pesquisar no grafo"
 :command.ui/toggle-document-mode         "Alternar modo de documento"
 :command.ui/toggle-contents              "Alternar Conteúdo na barra lateral"
 :command.ui/toggle-theme                 "Alternar entre tema claro/escuro"
 :command.ui/toggle-right-sidebar         "Alternar barra lateral"
 :command.ui/toggle-settings              "Alternar Opções"
 :command.go/journals                     "Ir para diários"
 :command.ui/toggle-wide-mode             "Alternar modo de ecrã amplo"
 :command.ui/toggle-brackets              "Alternar parênteses retos"
 :command.search/re-index                 "Reconstruir índice de pesquisa"
 :command.editor/bold                     "Negrito"
 :command.editor/italics                  "Itálico"
 :command.editor/insert-link              "Inserir ligação html"
 :command.editor/highlight                "Realçado"
 :command.editor/undo                     "Desfazer"
 :command.editor/redo                     "Refazer"
 :command.editor/copy                     "Copiar"
 :command.editor/cut                      "Cortar"
 :command.editor/up                       "Mover cursor para cima / Selecionar para cima"
 :command.editor/down                     "Mover cursor para baixo / Selecionar para baixo"
 :command.editor/left                     "Mover cursor para a esquerda / Abrir bloco selecionado no início"
 :command.editor/right                    "Mover cursor para a direita / Abrir bloco selecionado no final"
 :command.editor/backspace                "Retroceder / Eliminar para atrás"
 :command.editor/delete                   "Apagar / Eliminar para a frente"
 :command.editor/cycle-todo               "Alternar estado TODO do elemento"
 :command.editor/clear-block              "Apagar conteúdo do bloco"
 :command.editor/kill-line-before         "Apagar linha antes do cursor"
 :command.editor/kill-line-after          "Apagar linha depois do cursor"
 :command.editor/beginning-of-block       "Mover o cursor para o início do bloco"
 :command.editor/end-of-block             "Mover o cursor para o fim do bloco"
 :command.editor/forward-word             "Mover o cursor para a próxima palavra"
 :command.editor/backward-word            "Mover o cursor para a palavra anterior"
 :command.editor/forward-kill-word        "Apagar a próxima palavra"
 :command.editor/backward-kill-word       "Apagar a palavra anterior"
 :command.editor/open-edit                "Editar bloco selecionado"
 :command.editor/delete-selection         "Eliminar blocos selecionados"
 :command.editor/toggle-open-blocks       "Alternar blocos abertos (colapsar ou expandir todos)"

 :command.auto-complete/complete          "Autocompletar: Escolha o item selecionado"
 :command.auto-complete/next              "Autocompletar: Selecione o próximo item"
 :command.auto-complete/prev              "Autocompletar: Selecione o item anterior"
 :command.auto-complete/shift-complete    "Autocompletar: Abra o item selecionado na barra lateral"
 :command.cards/forgotten                 "Cartões: Esquecido"
 :command.cards/next-card                 "Cartões: Próximo cartão"
 :command.cards/recall                    "Cartões: Demorar um pouco para lembrar"
 :command.cards/remembered                "Cartões: Relembrado"
 :command.cards/toggle-answers            "Cartões: mostrar/esconder as respostas/clozes"
 :command.command/run                     "Execute o comando Git"
 :command.command/toggle-favorite         "Adicionar aos/remover dos favoritos"
  :command.editor/copy-current-file        "Copiar o ficheiro atual"
 :command.editor/select-down              "Selecione o conteúdo abaixo"
 :command.editor/select-up                "Selecione o conteúdo acima"
 :command.editor/copy-embed               "Copiar uma incorporação do bloco, apontando para o bloco atual"
 :command.editor/copy-text                "Copiar seleção como texto"
 :command.pdf/close                       "Fechar visualização do PDF"
 :command.editor/escape-editing           "Sair da edição"
 :command.editor/insert-youtube-timestamp "Inserir timestamp do youtube"
 :command.editor/paste-text-in-one-block-at-point "Colar texto em um bloco no ponto"
 :command.editor/replace-block-reference-at-point "Substitua a referência do bloco pelo seu conteúdo no ponto"
 :command.editor/strike-through           "Rasurar"
 :command.editor/open-file-in-default-app "Abra o ficheiro na aplicação predefinida"
 :command.editor/open-file-in-directory   "Abra o ficheiro na pasta"
 :command.go/all-pages                    "Ir para todas as páginas"
 :command.go/backward                     "Voltar"
 :command.go/flashcards                   "Trocar flashcards"
 :command.go/forward                      "Avançar"
 :command.go/graph-view                   "Ir para o grafo"
 :command.go/home                         "Voltar para o Início"
 :command.go/keyboard-shortcuts           "Ir para os atalhos do teclado"
 :command.go/next-journal                 "Ir ao proximo jornal"
 :command.go/prev-journal                 "Ir ao jornal anterior"
 :command.go/tomorrow                     "Ir para amanhã"
 :command.graph/add                       "Adicionar um grafo"
 :command.graph/open                      "Selecionar grafo para abrir"
 :command.graph/remove                    "Remover um grafo"
 :command.pdf/next-page                   "Próxima página do PDF atual"
 :command.pdf/previous-page               "Página anterior do PDF atual"
 :command.sidebar/clear                   "Limpar tudo da barra lateral direita"
 :command.sidebar/open-today-page         "Abrir a página de hoje na barra lateral direita"
 :command.ui/select-theme-color           "Selecionar as cores do tema disponível"
 :command.ui/toggle-left-sidebar          "Trocar barra lateral esquerda"
 :command.misc/copy                       "Copiar (copiar seleção ou referência do bloco)"
 :command.ui/goto-plugins                 "Ir para o painel de plugins"
 :command.go/all-graphs                   "Ir a todos os grafos"
 :command.go/electron-find-in-page        "Procurar texto na página"
 :command.go/electron-jump-to-the-next    "Ir para a próxima correspondência da sua pesquisa"
 :command.go/electron-jump-to-the-previous "Voltar para a correspondência anterior da sua pesquisa"
 :command.graph/re-index                  "Reindexar o grafo atual"
 :command.editor/new-whiteboard           "Novo quadro branco"
 :command.editor/select-parent            "Selecione o bloco pai"
 :command.go/whiteboards                  "Ir para os quadros brancos"
 :command.graph/export-as-html            "Exportar páginas de gráficos públicos como html"
 :command.pdf/find                        "PDF: Pesquisar no documento PDF atual"
 :command.sidebar/close-top               "Fechar item superior na barra lateral direita"
 :command.ui/install-plugins-from-file    "Instalar plugins de plugins.edn"}
