{:accessibility/skip-to-main-content "Ir para o conteúdo principal"
 :on-boarding/demo-graph "Isto é um grafo de demonstração, nenhuma mudança será guardada até abrir uma pasta local."
 :on-boarding/add-graph "Adicionar grafo"
 :on-boarding/open-local-dir "Abrir uma pasta local"
 :on-boarding/new-graph-desc-1 "O Logseq suporta ambos os modos de Markdown e Org. Pode abrir uma pasta existente ou criar uma nova no seu dispositivo. Os seus dados serão guardados apenas neste dispositivo."
 :on-boarding/new-graph-desc-2 "Após criar uma nova pasta, três novas pastas serão criadas dentro dessa pasta:"
 :on-boarding/new-graph-desc-3 "/journals - armazena as suas páginas diárias"
 :on-boarding/new-graph-desc-4 "/pages - armazena todas as outras páginas"
 :on-boarding/new-graph-desc-5 "/logseq - armazena as configurações, custom.css, e alguns metadados."
 :on-boarding/welcome-whiteboard-modal-title "Uma tela nova para os seus pensamentos."
 :on-boarding/welcome-whiteboard-modal-description "Os quadros brancos são uma grande ferramenta para o brainstorming e organização. Agora, pode colocar qualquer um dos seus pensamentos da base de conhecimento, ou novos, ao lado um do outro numa tela espacial para conectar, associar e entender de novas formas."
 :on-boarding/welcome-whiteboard-modal-skip "Ignorar"
 :on-boarding/welcome-whiteboard-modal-start "Iniciar quadro branco"
 :on-boarding/tour-whiteboard-home "{1} Início para os seus quadros brancos"
 :on-boarding/tour-whiteboard-home-description "Os quadros brancos têm a sua própria secção na aplicação, onde pode vê-los rapidamente, criar novos quadros ou eliminá-los facilmente"
 :on-boarding/tour-whiteboard-new "{1} Criar um novo quadro branco"
 :on-boarding/tour-whiteboard-new-description "Existem múltiplas formas de criar um novo quadro branco. Uma delas está sempre aqui mesmo no painel."
 :help/start "Começar a usar"
 :help/about "Sobre o Logseq"
 :help/roadmap "Plano de implementação"
 :help/bug "Reportar um erro"
 :help/feature "Pedir uma funcionalidade"
 :help/changelog "Registo de alterações"
 :help/blog "Blogue do Logseq"
 :help/docs "Documentação"
 :help/privacy "Política de privacidade"
 :help/terms "Termos"
 :help/forum-community "Comunidade do fórum"
 :help/shortcuts "Atalhos de Teclado"
 :help/shortcuts-triggers "Iniciadores"
 :help/shortcut "Atalho"
 :help/slash-autocomplete "Autocompletar com barra"
 :help/block-content-autocomplete "Autocompletar conteúdo de bloco"
 :help/reference-autocomplete "Autocompletar referência de página"
 :help/block-reference "Referência de bloco"
 :help/open-link-in-sidebar "Abrir ligação na barra lateral"
 :more "Mais"
 :search/result-for "Resultado da pesquisa para "
 :search/page-names "Procurar nome da página"
 :search-item/whiteboard "Quadro branco"
 :search-item/page "Página"
 :search-item/file "Ficheiro"
 :search-item/block "Bloco"
 :help/context-menu "Menu de contexto"
 :help/markdown-syntax "Sintaxe de Markdown"
 :help/org-mode-syntax "Sintaxe do modo Org"
 :bold "Negrito"
 :italics "Itálico"
 :highlight "Realçado"
 :strikethrough "Rasurado"
 :code "Código"
 :untitled "Sem título"
 :right-side-bar/help "Ajuda"
 :right-side-bar/switch-theme "Temas"
 :right-side-bar/contents "Conteúdo"
 :right-side-bar/page-graph "Grafo da página"
 :right-side-bar/block-ref "Referência de bloco"
 :right-side-bar/graph-view "Vista do grafo"
 :right-side-bar/all-pages "Todas as páginas"
 :right-side-bar/whiteboards "Quadros brancos"
 :right-side-bar/flashcards "Flashcards"
 :right-side-bar/new-page "Nova página"
 :right-side-bar/show-journals "Mostrar págs. diárias"
 :right-side-bar/separator "Manipulador de redimensionamento da barra lateral direita"
 :left-side-bar/journals "Págs. Diárias"
 :left-side-bar/create "Criar"
 :left-side-bar/new-page "Nova página"
 :left-side-bar/new-whiteboard "Novo quadro branco"
 :left-side-bar/nav-favorites "Favoritos"
 :left-side-bar/nav-recent-pages "Recente"
 :page/something-went-wrong "Algo deu errado"
 :page/logseq-is-having-a-problem "Logseq está tendo um problema. Para tentar colocá-lo de volta em um estado de funcionamento, por favor tente os seguintes passos seguros em ordem:"
 :page/step "Passo {1}"
 :page/try "Tentar"
 :page/presentation-mode "Modo de apresentação"
 :page/delete-confirmation "Tem a certeza de que quer apagar esta página e o respetivo ficheiro?"
 :page/open-in-finder "Abrir em pasta"
 :page/open-with-default-app "Abrir com a aplicação predefinida"
 :page/make-public "Tornar pública para publicação"
 :page/version-history "Ver histórico da página"
 :page/open-backup-directory "Abra a pasta de backups de páginas"
 :page/make-private "Tornar privada"
 :page/delete "Apagar página"
 :page/add-to-favorites "Adicionar aos Favoritos"
 :page/unfavorite "Remover dos Favoritos"
 :page/show-journals "Mostrar Págs. Diárias"
 :page/show-whiteboards "Mostrar quadros brancos"
 :block/name "Nome da página"
 :page/earlier "Antes"
 :page/copy-page-url "Copiar URL da página"
 :file/name "Nome do ficheiro"
 :file/last-modified-at "Última modificação em"
 :file/no-data "Sem dados"
 :file/format-not-supported "O formato .{1} não é suportado."
 :file/validate-existing-file-error "A página já existe noutro ficheiro: {1}, ficheiro atual: {2}. Por favor, mantenha apenas um deles e reindexe o seu grafo."
 :file-rn/re-index "A reindexação é fortemente recomendada após mudar o nome de algum ficheiro ou após a sincronização noutro dispositivo."
 :file-rn/need-action "É sugerido que as alterações de nome de ficheiro correspondam ao novo formato. É necessária uma reindexação em todos os dispositivos quando os ficheiros com os novos nomes são sincronizados."
 :file-rn/or-select-actions " ou mude o nome de cada ficheiro abaixo individualmente, então "
 :file-rn/or-select-actions-2 ". Estas ações não estarão mais disponíveis após fechar este painel."
 :file-rn/legend "🟢 Ações opcionais de alteração de nome; 🟡 É necessário uma alteração de nome para evitar uma mudança de título; 🔴 Mudança inválida."
 :file-rn/close-panel "Fechar o Painel"
 :file-rn/all-action "Aplicar todas as Ações!"
 :file-rn/select-format "(Opção do modo de desenvolvedor, cuidado!) Selecione o formato de nome do ficheiro"
 :file-rn/rename "mudar o nome de \"{1}\" para \"{2}\""
 :file-rn/apply-rename "Aplicar a mudança de nome do ficheiro"
 :file-rn/suggest-rename "Ação necessária: "
 :file-rn/otherwise-breaking "Ou o título irá se tornar"
 :file-rn/no-action "Bom trabalho! Nenhuma ação adicional necessária."
 :file-rn/confirm-proceed "Atualizar formato!"
 :file-rn/select-confirm-proceed "Dev: gravar formato"
 :file-rn/unreachable-title "Aviso! O nome da página mudará para {1} no formato de nome de fihceiro atual, a menos que a propriedade `title::` seja definida manualmente"
 :file-rn/optional-rename "Sugestão: "
 :file-rn/format-deprecated "Está a usar um formato desatualizado. A atualização para o formato mais recente é altamente recomendada. Faça backup dos seus dados e feche os clientes Logseq abertos noutros dispositivos antes da operação."
 :file-rn/filename-desc-1 "Esta definição configura como é que as páginas são armazenadas. O Logseq armazena páginas em ficheiros com o mesmo nome da página."
 :file-rn/filename-desc-2 "Alguns caracteres como \"/\" ou \"?\" são inválidos para o nome dos ficheiros."
 :file-rn/filename-desc-3 "O Logseq substitui os caracteres inválidos com o seu URL codificado equivalente para os tornar válidos (ex.:, \"?\" passa a ser \"%3F\")."
 :file-rn/filename-desc-4 "O separador de espaço de nomes \"/\" também é substituído por \"___\" (sublinhado triplo) por razões estéticas."
 :file-rn/instruct-1 "É um processo de 2 etapas para atualizar o formato do nome do ficheiro:"
 :file-rn/instruct-2 "1. Clique em "
 :file-rn/instruct-3 "2. Siga as instruções abaixo para mudar o nome dos ficheiros para o novo formato:"
 :page/created-at "Criada Em"
 :page/updated-at "Atualizada Em"
 :linked-references/filter-search "Procurar nas páginas vinculadas"
 :editor/block-search "Pesquisar por um bloco"
 :text/image "Imagem"
 :asset/show-in-folder "Mostrar imagem na pasta"
 :asset/open-in-browser "Abrir imagem no navegador"
 :asset/delete "Eliminar imagem"
 :asset/copy "Copiar imagem"
 :asset/maximize "Expandir imagem"
 :asset/confirm-delete "Tem a certeza de que quer apagar este {1}?"
 :asset/physical-delete "Remover também o ficheiro (note que não pode ser restaurado)"
 :color/gray "Cinzento"
 :color/red "Vermelho"
 :color/yellow "Amarelo"
 :color/green "Verde"
 :color/blue "Azul"
 :color/purple "Roxo"
 :color/pink "Rosa"
 :editor/copy "Copiar"
 :editor/cut "Cortar"
 :content/copy-export-as "Copiar / Exportar como.."
 :content/copy-block-url "Copiar URL do bloco"
 :content/copy-block-ref "Copiar referência do bloco"
 :content/copy-block-emebed "Copiar bloco para incorporar"
 :content/copy-ref "Copiar esta referência"
 :content/delete-ref "Apagar esta referência"
 :content/open-in-sidebar "Abrir na barra lateral"
 :content/click-to-edit "Clicar para editar"
 :settings-page/git-confirm "É necessário reiniciar a aplicação após atualizar as definições do Git."
 :settings-page/git-switcher-label "Ativar o auto commit do Git"
 :settings-page/git-commit-delay "Segundos entre cada auto commit"
 :settings-page/edit-config-edn "Editar config.edn"
 :settings-page/edit-global-config-edn "Editar config.edn global"
 :settings-page/edit-custom-css "Editar custom.css"
 :settings-page/edit-export-css "Editar export.css"
 :settings-page/edit-setting "Editar"
 :settings-page/custom-configuration "Configuração personalizada"
 :settings-page/custom-global-configuration "Configuração global personalizada"
 :settings-page/custom-theme "Tema personalizado"
 :settings-page/export-theme "Exportar tema"
 :settings-page/show-brackets "Mostrar parênteses retos"
 :settings-page/spell-checker "Verificador ortográfico"
 :settings-page/auto-updater "Atualizar automaticamente"
 :settings-page/disable-sentry "Enviar dados de utilização e diagnósticos para a Logseq"
 :settings-page/disable-sentry-desc "A Logseq nunca irá recolher informações sobre a sua base de dados de grafos local ou vender os seus dados."
 :settings-page/preferred-outdenting "Desindentação lógica"
 :settings-page/show-full-blocks "Mostrar todas a linhas de uma referência de bloco"
 :settings-page/custom-date-format "Formato de data preferido"
 :settings-page/custom-date-format-warning "Reindexação necessária! As referências de páginas diárias já existentes não funcionariam mais!"
 :settings-page/preferred-file-format "Formato de ficheiro preferido"
 :settings-page/preferred-workflow "Workflow preferido"
 :settings-page/preferred-pasting-file "Preferir colar ficheiro"
 :settings-page/enable-shortcut-tooltip "Ativar dicas de atalhos"
 :settings-page/enable-timetracking "Registo de tempo"
 :settings-page/enable-tooltip "Dicas de contexto"
 :settings-page/enable-journals "Páginas Diárias"
 :settings-page/enable-all-pages-public "Todas as páginas públicas ao publicar"
 :settings-page/customize-shortcuts "Atalhos de teclado"
 :settings-page/shortcut-settings "Personalizar atalhos"
 :settings-page/home-default-page "Definir a página inicial predefinida"
 :settings-page/enable-block-time "Marcas de tempo em blocos"
 :settings-page/clear-cache "Limpar cache"
 :settings-page/clear "Limpar"
 :settings-page/clear-cache-warning "Limpar a cache irá descartar todos os grafos abertos. Perderá as alterações não guardadas."
 :settings-page/developer-mode "Modo de desenvolvedor"
 :settings-page/developer-mode-desc "O modo de desenvolvedor ajuda os contribuidores e programadores de extensões a testar as suas integrações com o Logseq mais eficientemente."
 :settings-page/current-version "Versão atual"
 :settings-page/tab-general "Geral"
 :settings-page/tab-version-control "Controlo de Versões"
 :settings-page/tab-advanced "Avançado"
 :settings-page/tab-assets "Recursos"
 :settings-page/tab-features "Funcionalidades"
 :settings-page/network-proxy "Proxy de rede"
 :settings-page/plugin-system "Plugins"
 :settings-page/enable-flashcards "Flashcards"
 :settings-page/filename-format "Formato do nome dos ficheiros"
 :settings-page/alpha-features "Funcionalidades em fase Alfa"
 :settings-page/beta-features "Funcionalidades em fase Beta"
 :settings-page/login-prompt "Para aceder a novas funcionalidades antes de qualquer outra pessoa tem de ser um \"Sponsor\" ou \"Backer\" na Open Collective do Logseq e, portanto, tem de iniciar sessão primeiro."
 :settings-page/sync "Sincronizar"
 :settings-page/enable-whiteboards "Quadros brancos"
 :yes "Sim"
 :submit "Submeter"
 :cancel "Cancelar"
 :close "Fechar"
 :delete "Apagar"
 :save "Guardar"
 :type "Tipo"
 :port "Porta"
 :re-index "Reindexar"
 :re-index-detail "Reconstruir o grafo"
 :re-index-multiple-windows-warning "É necessário fechar as outras janelas antes de reindexar este grafo."
 :re-index-discard-unsaved-changes-warning "A reindexação descartará o grafo atual e processará todos os arquivos novamente conforme estão armazenados no disco. Perderá as alterações não guardadas e poderá demorar algum tempo. Continuar?"
 :open-new-window "Nova Janela"
 :sync-from-local-files "Atualizar"
 :sync-from-local-files-detail "Importar alterações de ficheiros locais"
 :sync-from-local-changes-detected "Atualizar detetará e processará ficheiros modificados no seu disco que tenham divergido do conteúdo da página Logseq atual. Continuar?"

 :search/publishing "Pesquisar"
 :search "Pesquisar ou Criar Página"
 :whiteboard/link-whiteboard-or-block "Vincular quadro/página/bloco"
 :page-search "Pesquisar na página atual"
 :graph-search "Pesquisar no grafo"
 :new-page "Nova página"
 :new-whiteboard "Novo quadro branco"
 :new-graph "Adicionar novo grafo"
 :graph "Grafo"
 :graph/persist "O Logseq está a sincronizar o seu estado interno, por favor aguarde alguns segundos."
 :graph/persist-error "A sincronização do estado interno falhou."
 :graph/save "A guardar..."
 :graph/save-success "Guardado com sucesso"
 :graph/save-error "Falha ao guardar"
 :graph/all-graphs "Todos os grafos"
 :graph/local-graphs "Grafos locais"
 :graph/remote-graphs "Grafos remotos"
 :export "Exportar"
 :export-graph "Exportar grafo"
 :export-page "Exportar página"
 :export-markdown "Exportar como Markdown padrão (sem propriedades de bloco)"
 :export-opml "Exportar como OPML"
 :export-public-pages "Exportar páginas públicas"
 :export-json "Exportar como JSON"
 :export-roam-json "Exportar como JSON do Roam"
 :export-edn "Exportar como EDN"
 :all-graphs "Todos os grafos"
 :all-pages "Todas as páginas"
 :all-whiteboards "Todos os quadros brancos"
 :all-files "Todos os ficheiros"
 :remove-orphaned-pages "Remover páginas órfãs"
 :all-journals "Todas as págs. diárias"
 :settings "Definições"
 :settings-of-plugins "Plugins"
 :plugins "Plugins"
 :themes "Temas"
 :relaunch-confirm-to-work "A aplicação deve ser reiniciada para que funcione corretamente. Quer reiniciar agora?"
 :import "Importar"
 :importing "A importar"
 :join-community "Junte-se à comunidade"
 :discourse-title "O nosso fórum!"
 :help-shortcut-title "Clique para ver atalhos e outras dicas"
 :loading "A carregar"
 :parsing-files "A analisar ficheiros"
 :loading-files "A carregar ficheiros"
 :login "Iniciar sessão"
 :logout "Terminar sessão"
 :download "Descarregar"
 :language "Idioma"
 :remove-background "Remover fundo"
 :remove-heading "Remover título"
 :heading "Título {1}"
 :auto-heading "Título automático"
 :open-a-directory "Abrir uma pasta local"

 :help/shortcut-page-title "Atalhos de teclado"

 :plugin/installed "Instalado"
 :plugin/not-installed "Não instalado"
 :plugin/installing "A instalar"
 :plugin/install "Instalar"
 :plugin/reload "Recarregar"
 :plugin/update "Atualizar"
 :plugin/check-update "Procurar por atualizações"
 :plugin/check-all-updates "Procurar por todas as atualizações"
 :plugin/refresh-lists "Atualizar listas"
 :plugin/enabled "Ativado"
 :plugin/disabled "Desativado"
 :plugin/update-available "Atualização disponível"
 :plugin/updating "A atualizar"
 :plugin/uninstall "Desinstalar"
 :plugin/marketplace "Mercado"
 :plugin/downloads "Downloads"
 :plugin/stars "Estrelas"
 :plugin/title "Título"
 :plugin/all "Todos"
 :plugin/unpacked "Desempacotado"
 :plugin/delete-alert "Tem a certeza de quer desinstalar o plugin [{1}]?"
 :plugin/open-settings "Abrir definições"
 :plugin/open-package "Abrir pacote"
 :plugin/load-unpacked "Carregar plugin desempacotado"
 :plugin/restart "Reiniciar a aplicação"
 :plugin/unpacked-tips "Selecionar a pasta de plugins"
 :plugin/contribute "✨ Escreva e submeta um novo plugin"
 :plugin/up-to-date "Está atualizado"
 :plugin/custom-js-alert "Ficheiro custom.js encontrado, quer executá-lo? (Se não compreender o conteúdo do ficheiro, é melhor não executá-lo, pois há certos riscos de segurança ao fazê-lo.)"
 :plugin.install-from-file/menu-title "Instalar a partir de plugins.edn"
 :plugin.install-from-file/title "Instalar plugins a partir de plugins.edn"
 :plugin.install-from-file/notice "Os seguintes plugins irão substituir os seus plugins:"
 :plugin.install-from-file/success "Todos os plugins foram instalados!"

 :pdf/copy-ref "Copiar referência"
 :pdf/copy-text "Copiar texto"
 :pdf/linked-ref "Referências ligadas"
 :pdf/toggle-dashed "Estilo tracejado para realce de área"
 :pdf/hl-block-colored "Rótulo colorido para bloco de destaque"
 :pdf/doc-metadata "Metadados do documento"

 :updater/new-version-install "Uma nova versão foi descarregada."
 :updater/quit-and-install "Reiniciar para instalar"

 :paginates/pages "{1} págs. no total"
 :paginates/prev "Ant."
 :paginates/next "Próx."

 :tips/all-done "Tudo feito"

 :command-palette/prompt "Introduza um comando"
 :select/default-prompt "Selecione um"
 :select/default-select-multiple "Selecione um ou vários"
 :select.graph/prompt "Selecione um grafo"
 :select.graph/empty-placeholder-description "Sem grafos correspondentes. Quer adicionar outro?"
 :select.graph/add-graph "Sim, adicionar outro grafo"

 :file-sync/other-user-graph "O grafo local atual está ligado ao grafo remoto de outro utilizador. Portanto, a sincronização não pode ser iniciada."
 :file-sync/graph-deleted "O grafo remoto atual foi apagado"
 :file-sync/rsapi-cannot-upload-err "Não foi possível iniciar a sincronização, verifique se a hora local está correta."

 :notification/clear-all "Limpar tudo"

 :shortcut.category/formatting            "Formatação"
 :shortcut.category/basics                "Básico"
 :shortcut.category/navigating            "Navegação"
 :shortcut.category/block-editing         "Edição geral de blocos"
 :shortcut.category/block-command-editing "Comandos de edição de blocos"
 :shortcut.category/block-selection       "Seleção de blocos (premir Esc para sair)"
 :shortcut.category/toggle                "Alternar"
 :shortcut.category/others                "Outros"
 :command.editor/indent                   "Aumentar avanço de parágrafo"
 :command.editor/outdent                  "Diminuir avanço de parágrafo"
 :command.editor/move-block-up            "Mover bloco para cima"
 :command.editor/move-block-down          "Mover bloco para baixo"
 :command.editor/new-block                "Criar novo bloco"
 :command.editor/new-line                 "Nova linha no bloco actual"
 :command.editor/zoom-in                  "Aproximar / Para a frente"
 :command.editor/zoom-out                 "Afastar / Para trás"
 :command.editor/follow-link              "Seguir ligação sob o cursor"
 :command.editor/open-link-in-sidebar     "Abrir ligação na barra lateral"
 :command.editor/expand-block-children    "Expandir"
 :command.editor/collapse-block-children  "Colapsar"
 :command.editor/select-block-up          "Selecionar bloco acima"
 :command.editor/select-block-down        "Selecionar bloco abaixo"
 :command.editor/select-all-blocks        "Selecionar todos os blocos"
 :command.ui/toggle-help                  "Alternar ajuda"
 :command.git/commit                      "Confirmar"
 :command.go/search                       "Pesquisar no grafo"
 :command.go/search-in-page               "Pesquisar na página atual"
 :command.ui/toggle-document-mode         "Alternar modo de documento"
 :command.ui/toggle-contents              "Alternar Conteúdo na barra lateral"
 :command.ui/toggle-theme                 "Alternar entre tema claro/escuro"
 :command.ui/toggle-right-sidebar         "Alternar barra lateral"
 :command.ui/toggle-settings              "Alternar Opções"
 :command.go/journals                     "Ir para diários"
 :command.ui/toggle-wide-mode             "Alternar modo de ecrã amplo"
 :command.ui/toggle-brackets              "Alternar parênteses retos"
 :command.search/re-index                 "Reconstruir índice de pesquisa"
 :command.editor/bold                     "Negrito"
 :command.editor/italics                  "Itálico"
 :command.editor/insert-link              "Inserir ligação html"
 :command.editor/highlight                "Realçado"
 :command.editor/undo                     "Desfazer"
 :command.editor/redo                     "Refazer"
 :command.editor/copy                     "Copiar"
 :command.editor/cut                      "Cortar"
 :command.editor/up                       "Mover cursor para cima / Selecionar para cima"
 :command.editor/down                     "Mover cursor para baixo / Selecionar para baixo"
 :command.editor/left                     "Mover cursor para a esquerda / Abrir bloco selecionado no início"
 :command.editor/right                    "Mover cursor para a direita / Abrir bloco selecionado no final"
 :command.editor/backspace                "Retroceder / Eliminar para atrás"
 :command.editor/delete                   "Apagar / Eliminar para a frente"
 :command.editor/cycle-todo               "Alternar estado TODO do elemento"
 :command.editor/clear-block              "Apagar conteúdo do bloco"
 :command.editor/kill-line-before         "Apagar linha antes do cursor"
 :command.editor/kill-line-after          "Apagar linha depois do cursor"
 :command.editor/beginning-of-block       "Mover o cursor para o início do bloco"
 :command.editor/end-of-block             "Mover o cursor para o fim do bloco"
 :command.editor/forward-word             "Mover o cursor para a próxima palavra"
 :command.editor/backward-word            "Mover o cursor para a palavra anterior"
 :command.editor/forward-kill-word        "Apagar a próxima palavra"
 :command.editor/backward-kill-word       "Apagar a palavra anterior"
 :command.editor/open-edit                "Editar bloco selecionado"
 :command.editor/delete-selection         "Eliminar blocos selecionados"
 :command.editor/toggle-open-blocks       "Alternar blocos abertos (colapsar ou expandir todos)"

 :command.auto-complete/complete          "Autocompletar: Escolha o item selecionado"
 :command.auto-complete/next              "Autocompletar: Selecione o próximo item"
 :command.auto-complete/prev              "Autocompletar: Selecione o item anterior"
 :command.auto-complete/shift-complete    "Autocompletar: Abra o item selecionado na barra lateral"
 :command.auto-complete/open-link         "Autocompletar: Abra o item selecionado no navegador"
 :command.cards/forgotten                 "Cartões: Esquecido"
 :command.cards/next-card                 "Cartões: Próximo cartão"
 :command.cards/recall                    "Cartões: Demorar um pouco para lembrar"
 :command.cards/remembered                "Cartões: Relembrado"
 :command.cards/toggle-answers            "Cartões: mostrar/esconder as respostas/clozes"
 :command.command/run                     "Execute o comando Git"
 :command.command/toggle-favorite         "Adicionar aos/remover dos favoritos"
 :command.command-palette/toggle          "Editar atalhos"
 :command.date-picker/complete            "Escolher data: Escolha o dia selecionado"
 :command.date-picker/next-day            "Escolher data: Selecione o próximo dia"
 :command.date-picker/next-week           "Escolher data: Selecione a próxima semana"
 :command.date-picker/prev-day            "Escolher data: Selecione o dia anterior"
 :command.date-picker/prev-week           "Escolher data: Selecione a semana anterior"
 :command.editor/copy-current-file        "Copiar o ficheiro atual"
 :command.editor/select-down              "Selecione o conteúdo abaixo"
 :command.editor/select-up                "Selecione o conteúdo acima"
 :command.editor/copy-embed               "Copiar uma incorporação do bloco, apontando para o bloco atual"
 :command.editor/copy-text                "Copiar seleção como texto"
 :command.pdf/close                       "Fechar visualização do PDF"
 :command.editor/escape-editing           "Sair da edição"
 :command.editor/insert-youtube-timestamp "Inserir timestamp do youtube"
 :command.editor/paste-text-in-one-block-at-point "Colar texto em um bloco no ponto"
 :command.editor/replace-block-reference-at-point "Substitua a referência do bloco pelo seu conteúdo no ponto"
 :command.editor/strike-through           "Rasurar"
 :command.editor/open-file-in-default-app "Abra o ficheiro na aplicação predefinida"
 :command.editor/open-file-in-directory   "Abra o ficheiro na pasta"
 :command.go/all-pages                    "Ir para todas as páginas"
 :command.go/backward                     "Voltar"
 :command.go/flashcards                   "Trocar flashcards"
 :command.go/forward                      "Avançar"
 :command.go/graph-view                   "Ir para o grafo"
 :command.go/home                         "Voltar para o Início"
 :command.go/keyboard-shortcuts           "Ir para os atalhos do teclado"
 :command.go/next-journal                 "Ir ao proximo jornal"
 :command.go/prev-journal                 "Ir ao jornal anterior"
 :command.go/tomorrow                     "Ir para amanhã"
 :command.graph/add                       "Adicionar um grafo"
 :command.graph/open                      "Selecionar grafo para abrir"
 :command.graph/remove                    "Remover um grafo"
 :command.pdf/next-page                   "Próxima página do PDF atual"
 :command.pdf/previous-page               "Página anterior do PDF atual"
 :command.sidebar/clear                   "Limpar tudo da barra lateral direita"
 :command.sidebar/open-today-page         "Abrir a página de hoje na barra lateral direita"
 :command.ui/select-theme-color           "Selecionar as cores do tema disponível"
 :command.ui/toggle-cards                 "Trocar cartões"
 :command.ui/toggle-left-sidebar          "Trocar barra lateral esquerda"
 :command.graph/save                      "Guardar grafo atual no computador"
 :command.misc/copy                       "Copiar (copiar seleção ou referência do bloco)"
 :command.ui/goto-plugins                 "Ir para o painel de plugins"
 :command.go/all-graphs                   "Ir a todos os grafos"
 :command.go/electron-find-in-page        "Procurar texto na página"
 :command.go/electron-jump-to-the-next    "Ir para a próxima correspondência da sua pesquisa"
 :command.go/electron-jump-to-the-previous "Voltar para a correspondência anterior da sua pesquisa"
 :command.graph/re-index                  "Reindexar o grafo atual"
 :command.editor/new-whiteboard           "Novo quadro branco"
 :command.editor/select-parent            "Selecione o bloco pai"
 :command.go/whiteboards                  "Ir para os quadros brancos"
 :command.graph/export-as-html            "Exportar páginas de gráficos públicos como html"
 :command.pdf/find                        "PDF: Pesquisar no documento PDF atual"
 :command.sidebar/close-top               "Fechar item superior na barra lateral direita"
 :command.ui/install-plugins-from-file    "Instalar plugins de plugins.edn"}