{:accessibility/skip-to-main-content "Ana içeriğe geç"
 :handbook/title "Yardım"
 :handbook/topics "Konular"
 :handbook/popular-topics "Popüler konular"
 :handbook/help-categories "Yardım kategorileri"
 :handbook/search "Ara"
 :handbook/home "Ana sayfa"
 :handbook/settings "Ayarlar"
 :handbook/close "Kapat"
 :on-boarding/importing-main-title "Mevcut notları içeri aktarın"
 :on-boarding/importing-main-desc "Bunu daha sonra uygulamayı kullanırken de yapabilirsiniz."
 :on-boarding/importing-title "Şu anda içeri aktarmak istediğiniz notlarınız var mı?"
 :on-boarding/importing-desc "EDN veya Markdown biçimindelerse, Logseq onlarla çalışabilir."
 :on-boarding/main-title (fn [] [[:strong "Logseq'e"] " Hoş Geldiniz!"])
 :on-boarding/main-desc "Öncelikle Logseq'in düşüncelerinizi, fikirlerinizi, notlarınızı saklayacağı bir klasör seçmeniz gerekir."
 :bug-report/main-title "Hata raporu"
 :bug-report/clipboard-inspector-title "Pano veri denetçisi"
 :bug-report/main-desc "Bir hata raporu göndererek bize yardımcı olabilir misiniz? Mümkün olan en kısa sürede çözmeye çalışacağız."
 :bug-report/section-clipboard-title "Karşılaştığınız hata bu özelliklerle mi ilgili?"
 :bug-report/section-clipboard-desc "Bize ek bilgi vermek için bu kullanışlı araçları kullanabilirsiniz."
 :bug-report/section-clipboard-btn-title "Pano yardımcısı"
 :bug-report/section-clipboard-btn-desc "Pano verilerini inceleyin ve toplayın"
 :bug-report/section-issues-title "Veya..."
 :bug-report/section-issues-desc "Ek bilgi toplamak için kullanabileceğiniz herhangi bir araç yoksa, lütfen hatayı doğrudan bildirin."
 :bug-report/section-issues-btn-title "Hata raporu gönderin"
 :bug-report/section-issues-btn-desc "Logseq'i Daha İyi Hale Getirmeye Yardımcı Olun!"
 :bug-report/inspector-page-desc-1 "Pano verilerinizi incelemek için Ctrl+V / ⌘+V tuşlarına basın"
 :bug-report/inspector-page-desc-2 "veya mobil sürümü kullanıyorsanız yapıştırmak için buraya dokunun"
 :bug-report/inspector-page-placeholder "Mobil cihazdaysanız yapıştırmak için buraya uzun basın"
 :bug-report/inspector-page-tip "Ters giden birşey mi var? Sorun değil, önceki adıma geri gitmek için düğmeye basın."
 :bug-report/inspector-page-btn-back "Geri git"
 :bug-report/inspector-page-btn-copy "Sonucu kopyalayın"
 :bug-report/inspector-page-copy-notif "Panoya kopyalandı!"
 :bug-report/inspector-page-btn-create-issue "Hata raporu oluştur"
 :bug-report/inspector-page-desc-clipboard "İşte panodan okunan veriler."
 :bug-report/inspector-page-desc-copy "Bunu paylaşmak uygunsa, kopyala düğmesine basın."
 :bug-report/inspector-page-desc-create-issue "Artık panonuza yapıştırılan sonucu bildirebilirsiniz. Lütfen sonucu 'Additional Context' bölümüne yapıştırın ve orijinal içeriği nereden kopyaladığınızı belirtin. Teşekkürler!"
 :help/title-usage "Kullanım"
 :help/title-community "Topluluk"
 :help/title-development "Geliştirme"
 :help/title-about "Hakkında"
 :help/title-terms "Koşullar"
 :help/start "Başlarken"
 :help/about "Logseq hakkında"
 :help/roadmap "Yol haritası"
 :help/bug "Hata raporu"
 :help/feature "Özellik istekleri"
 :help/changelog "Değişiklik günlüğü"
 :help/blog "Logseq blogu"
 :help/docs "Belgeler"
 :help/privacy "Gizlilik ilkesi"
 :help/terms "Koşullar"
 :help/forum-community "Forum topluluğu"
 :help/awesome-logseq "Awesome Logseq"
 :help/shortcuts "Klavye kısayolları"
 :help/shortcuts-triggers "Tetikleyiciler"
 :help/shortcut "Kısayol"
 :help/search "Sayfalarda/bloklarda/komutlarda ara"
 :help/slash-autocomplete "Eğik çizgi otomatik tamamlama"
 :help/reference-autocomplete "Sayfa referansı otomatik tamamlama"
 :help/block-reference "Blok referansı"
 :help/open-link-in-sidebar "Bağlantıyı kenar çubuğunda aç"
 :search-item/page "Sayfa"
 :search-item/no-result "Eşleşen sonuç yok"
 :help/context-menu "Blok kısayol menüsü"
 :help/markdown-syntax "Markdown sözdizimi"
 :bold "Kalın"
 :italics "İtalik"
 :highlight "Vurgulu"
 :strikethrough "Üstü çizili"
 :code "Kod"
 :untitled "Adsız"
 :right-side-bar/help "Yardım"
 :right-side-bar/switch-theme "Tema modları"
 :right-side-bar/contents "İçindekiler"
 :right-side-bar/page-graph "Sayfa grafı"
 :right-side-bar/block-ref "Blok referansı"
 :right-side-bar/graph-view "Graf görünümü"
 :right-side-bar/flashcards "Bilgi kartları"
 :right-side-bar/show-journals "Günlükleri Göster"
 :right-side-bar/separator "Sağ kenar çubuğu yeniden boyutlandırma işleyicisi"
 :right-side-bar/toggle-right-sidebar "Sağ kenar çubuğunu aç/kapat"
 :right-side-bar/pane-close "Kapat"
 :right-side-bar/pane-close-others "Diğerlerini kapat"
 :right-side-bar/pane-close-all "Tümünü kapat"
 :right-side-bar/pane-collapse "Daralt"
 :right-side-bar/pane-collapse-others "Diğerlerini daralt"
 :right-side-bar/pane-collapse-all "Tümünü daralt"
 :right-side-bar/pane-expand "Genişlet"
 :right-side-bar/pane-expand-all "Tümünü genişlet"
 :right-side-bar/pane-open-as-page "Sayfa olarak aç"
 :right-side-bar/pane-more "Diğer"
 :left-side-bar/switch "Geçiş yap:"
 :left-side-bar/journals "Günlük"
 :left-side-bar/nav-favorites "Sık kullanılanlar"
 :left-side-bar/nav-recent-pages "En son"
 :page/something-went-wrong "Bir sorun oluştu"
 :page/logseq-is-having-a-problem "Logseq'te bir sorun var. Tekrar çalışır duruma getirmek için lütfen aşağıdaki güvenli adımları sırayla deneyin:"
 :page/step "{1}. Adım"
 :page/try "Deneyin"
 :page/make-public "Yayımlamak için herkese açık hale getir"
 :page/make-private "Özel yap"
 :page/delete "Sayfayı sil"
 :page/add-to-favorites "Sık kullanılanlara ekle"
 :page/unfavorite "Sayfayı sık kullanılanlardan kaldır"
 :block/name "Sayfa adı"
 :page/copy-page-url "Sayfa URL adresini kopyala"
 :file/name "Dosya adı"
 :file/last-modified-at "Son değiştirilme tarihi"
 :file/no-data "Veri yok"
 :file/format-not-supported ".{1} biçimi desteklenmiyor."
 :page/created-at "Oluşturulma Zamanı"
 :page/updated-at "Güncellenme Zamanı"
 :page/backlinks "Geri Bağlantılar"
 :linked-references/filter-search "Bağlantılı sayfalarda ara"
 :linked-references/filter-heading "Filtre"
 :linked-references/filter-directions "Dahil etmek için tıklayın, hariç tutmak için Shift tuşunu basılı tutarak tıklayın. Kaldırmak için tekrar tıklayın."
 :linked-references/filter-includes "Dahil et: "
 :linked-references/filter-excludes "Hariç tut: "
 :editor/block-search "Blok ara"
 :text/image "Resim"
 :asset/show-in-folder "Resmi klasörde göster"
 :asset/open-in-browser "Resmi tarayıcıda aç"
 :asset/delete "Resmi sil"
 :asset/copy "Resmi kopyala"
 :asset/maximize "Resim ekranı kaplasın"
 :asset/confirm-delete "Bu resmi silmek istediğinizden emin misiniz?"
 :asset/physical-delete "Dosyayı da kaldırın (geri getirilemeyeceğine dikkat edin)"
 :color/gray "Gri"
 :color/red "Kırmızı"
 :color/yellow "Sarı"
 :color/green "Yeşil"
 :color/blue "Mavi"
 :color/purple "Mor"
 :color/pink "Pembe"
 :editor/copy "Kopyala"
 :editor/cut "Kes"
 :editor/expand-block-children "Tümünü genişlet"
 :editor/collapse-block-children "Tümünü daralt"
 :editor/delete-selection "Seçili blokları sil"
 :editor/cycle-todo "TODO durumunu değiştir"
 :dev/show-page-data "(Dev) Sayfa verisini göster"
 :dev/show-block-data "(Dev) Blok verisini göster"
 :dev/show-block-ast "(Dev) Blok AST'sini göster"
 :content/copy-export-as "Kopyala / Dışarı aktar.."
 :content/copy-block-url "Block URL'sini kopyala"
 :content/copy-block-ref "Blok referansını kopyala"
 :content/copy-ref "Bu referansı kopyala"
 :content/delete-ref "Bu referansı sil"
 :content/replace-with-text "Metin ile değiştir"
 :content/replace-with-embed "Ekleme ile değiştir"
 :content/open-in-sidebar "Kenar çubuğunda aç"
 :content/click-to-edit "Düzenlemek için tıklayın"
 :context-menu/make-a-flashcard "Bilgi Kartı Oluştur"
 :context-menu/toggle-number-list "Numaralı liste olarak değiştir"
 :settings-page/edit-config-edn "config.edn dosyasını düzenle"
 :settings-page/edit-global-config-edn "Genel config.edn dosyasını düzenle"
 :settings-page/edit-custom-css "custom.css dosyasını düzenle"
 :settings-page/edit-export-css "export.css dosyasını düzenle"
 :settings-page/custom-configuration "Özel yapılandırma"
 :settings-page/custom-global-configuration "Özel genel yapılandırma"
 :settings-page/theme-light "açık"
 :settings-page/theme-dark "koyu"
 :settings-page/theme-system "sistem"
 :settings-page/custom-theme "Özel tema"
 :settings-page/export-theme "Temayı dışarı aktar"
 :settings-page/show-brackets "Köşeli ayraçları göster"
 :settings-page/spell-checker "Yazım denetleyici"
 :settings-page/auto-updater "Otomatik güncelleme"
 :settings-page/disable-sentry "Kullanım verilerini ve tanılamayı Logseq'e gönderin"
 :settings-page/disable-sentry-desc "Logseq asla yerel graf veritabanınızı toplamayacak veya verilerinizi satmayacaktır."
 :settings-page/preferred-outdenting "Mantıksal girinti"
 :settings-page/preferred-outdenting-tip "Sol taraf varsayılan ayar ile olan girintiyi, sağ taraf ise mantıksal girinti etkinken olan girintiyi gösterir. "
 :settings-page/preferred-outdenting-tip-more "→ Daha fazla bilgi edinin"
 :settings-page/show-full-blocks "Blok referansındaki tüm satırları göster"
 :settings-page/auto-expand-block-refs "Yakınlaştırdığınızda blok referanslarını otomatik olarak genişletin"
 :settings-page/auto-expand-block-refs-tip "Bu seçenek, yakınlaştırma yapıldığında blok referanslarının otomatik olarak genişletilip genişletilmeyeceğini kontrol eder."
 :settings-page/custom-date-format "Tercih edilen tarih biçimi"
 :settings-page/preferred-pasting-file-hint "Etkinleştirildiğinde, internetten bir resim yapıştırmak görüntüyü indirir ve ekler. Devre dışı bırakıldığında sadece resim bağlantısı yapıştırılır."
 :settings-page/preferred-pasting-file "Dosya yapıştırmayı tercih et"
 :settings-page/enable-shortcut-tooltip "Kısayol araç ipuçlarını etkinleştir"
 :settings-page/enable-tooltip "Araç ipuçları"
 :settings-page/enable-journals "Günlük"
 :settings-page/enable-all-pages-public "Yayımlanan tüm sayfaları herkese açık yap"
 :settings-page/home-default-page "Varsayılan ana sayfayı ayarla"
 :settings-page/clear-cache "Önbelleği temizle"
 :settings-page/clear "Temizle"
 :settings-page/clear-cache-warning "Önbelleği temizlemek açık grafları atacaktır. Kaydedilmemiş değişiklikleri kaybedersiniz."
 :settings-page/developer-mode "Geliştirici modu"
 :settings-page/developer-mode-desc "Geliştirici modu, katkıda bulunanların ve eklenti geliştiricilerinin Logseq ile entegrasyonlarını daha verimli bir şekilde test etmelerine yardımcı olur."
 :settings-page/current-version "Geçerli sürüm"
 :settings-page/tab-general "Genel"
 :settings-page/tab-editor "Düzenleyici"
 :settings-page/tab-keymap "Tuş haritası"
 :settings-page/tab-account "Hesap"
 :settings-page/tab-advanced "Gelişmiş"
 :settings-page/tab-features "Özellikler"
 :settings-page/plugin-system "Eklentiler"
 :settings-page/enable-flashcards "Bilgi kartları"
 :settings-page/network-proxy "Ağ ara sunucusu"
 :settings-page/login-prompt "Yeni özelliklere herkesten önce erişmek için bir Open Collective Sponsoru veya Logseq'in Destekçisi olmanız ve oturum açmanız gerekir."
 :settings-page/native-titlebar "Yerel başlık çubuğu"
 :settings-page/native-titlebar-desc "Windows ve Linux'ta yerel pencere başlık çubuğunu etkinleştirir."
 :settings-page/check-for-updates "Güncellemeleri kontrol et"
 :settings-page/checking "Kontrol ediliyor ..."
 :settings-page/revision "Revizyon: "
 :settings-page/changelog "Yenilikler nelerdir?"
 :settings-page/app-updated "Uygulamanız güncel 🎉"
 :settings-page/update-available "Yeni sürüm bulundu: "
 :settings-page/update-error-1 "⚠️ Ne yazık ki bir sorun oluştu!"
 :settings-page/update-error-2 " Lütfen bu bağlantıyı denetleyin: "
 :settings-page/auto-chmod "Dosya izinlerini otomatik olarak değiştir"
 :settings-page/auto-chmod-desc "Grup üyeliği tarafından verilen izinlere sahip birden fazla kullanıcının düzenleme yapmasına izin vermek için devre dışı bırakın."
 :yes "Evet"

 :cancel "İptal"
 :close "Kapat"
 :delete "Sil"
 :save "Kaydet"
 :type "Tür"
 :host "Ana Bilgisayar"
 :port "Bağlantı Noktası"
 :flashcards/modal-welcome-title "Bir kart oluşturma zamanı!"
 :flashcards/modal-welcome-desc-1 "Herhangi bir bloğu karta dönüştürmek için \"{1}\" etiketini ekleyebilir veya cümle tamamlama eklemek için \"/cloze\" komutunu kullanabilirsiniz."
 :flashcards/modal-finished "Tebrikler, bu sorgu için tüm kartları incelediniz, bir dahaki sefere görüşmek üzere! 💯"
 :home "Başlangıç"
 :new-page "Yeni sayfa:"
 :graph "Graf"
 :graph/all-graphs "Tüm graflar"
 :graph/local-graphs "Yerel graflar:"
 :graph/remote-graphs "Uzak graflar:"
 :export "Dışarı aktar"
 :export-graph "Grafı dışarı aktar"
 :export-page "Sayfayı dışarı aktar"
 :export-markdown "Standart Markdown olarak dışarı aktar (blok özelliği yok)"
 :export-public-pages "Herkese açık sayfaları dışarı aktar"
 :export-transparent-background "Saydam arka plan"
 :export-copy-to-clipboard "Panoya kopyala"
 :export-copied-to-clipboard "Panoya kopyalandı!"
 :export-save-to-file "Dosyaya kaydet"
 :all-graphs "Tüm graflar"
 :all-files "Tüm dosyalar"
 :all-journals "Bütün günlükler"
 :settings "Ayarlar"
 :settings-of-plugins "Eklenti ayarları"
 :plugins "Eklentiler"
 :themes "Temalar"
 :relaunch-confirm-to-work "Çalışması için uygulama yeniden başlatılmalı. Şimdi yeniden başlatmak istiyor musunuz?"
 :import "İçeri aktar"
 :importing "İçeri aktarılıyor"
 :help-shortcut-title "Kısayolları ve diğer ipuçlarını kontrol etmek için tıklayın"
 :loading "Yükleniyor..."
 :login "Oturum aç"
 :logout "Oturumu kapat"
 :download "İndir"
 :language "Dil"
 :remove-background "Arka planı kaldır"
 :remove-heading "Başlığı kaldır"
 :heading "Başlık {1}"
 :auto-heading "Otomatik başlık"
 :toggle-theme "Temayı değiştir"

 :help/shortcut-page-title "Klavye kısayolları"

 :plugin/installed "Yüklü"
 :plugin/installed-plugin "Yüklü eklenti: {1}"
 :plugin/not-installed "Yüklü olmayan"
 :plugin/installing "Yükleniyor"
 :plugin/install "Yükle"
 :plugin/reload "Yeniden yükle"
 :plugin/update "Güncelle"
 :plugin/update-plugin "Eklentiyi güncelle: {1} - {2}"
 :plugin/check-update "Güncellemeyi denetle"
 :plugin/check-all-updates "Tüm güncellemeleri denetle"
 :plugin/found-updates "Yeni güncellemeler"
 :plugin/found-n-updates "{1} güncelleme bulundu"
 :plugin/update-all-selected "Seçilenlerin hepsini güncelle"
 :plugin/all-updated "Hepsi güncellendi!"
 :plugin/updates-downloading "Güncellemeler indiriliyor"
 :plugin/refresh-lists "Listeleri yenile"
 :plugin/enabled "Etkin"
 :plugin/disabled "Devre dışı"
 :plugin/update-available "Güncelleme var"
 :plugin/updating "Güncelleniyor"
 :plugin/uninstall "Kaldır"
 :plugin/marketplace "Market"
 :plugin/downloads "İndirilme"
 :plugin/stars "Yıldızlar"
 :plugin/title "Başlık ({1})"
 :plugin/all "Tümü"
 :plugin/unpacked "Çıkarılmamış"
 :plugin/delete-alert "[{1}] eklentisini kaldırmak istediğinizden emin misiniz?"
 :plugin/open-settings "Ayarları aç"
 :plugin/open-package "Eklentinin içeriğini aç"
 :plugin/load-unpacked "Çıkarılmamış eklentiyi yükle"
 :plugin/restart "Uygulamayı Yeniden Başlat"
 :plugin/unpacked-tips "Eklenti dizinini seçin"
 :plugin/contribute "✨ Yeni eklenti yaz ve gönder"
 :plugin/up-to-date "Güncel {1}"
 :plugin/custom-js-alert "custom.js dosyası bulundu, çalıştırılmasına izin veriliyor mu? (Bu dosyanın içeriğini anlamadıysanız, belirli güvenlik riskleri olduğu için çalıştırmaya izin vermemeniz önerilir.)"
 :plugin/security-warning "Eklentiler grafınıza ve yerel dosyalarınıza erişebilir, ağ istekleri yayınlayabilir.
       Ayrıca veri bozulmasına veya kaybına neden olabilirler. Graflarınız için uygun erişim kuralları üzerinde çalışıyoruz.
       Bu arada, graflarınızı düzenli olarak yedeklediğinizden emin olun ve eklentileri yalnızca okuyabildiğiniz ve
       kaynak kodunu anlayabildiğiniz zaman yükleyin."
 :plugin/search-plugin "Eklenti ara"
 :plugin/open-preferences "Tercihleri aç"
 :plugin/open-logseq-dir "Aç"
 :plugin/remote-error "Uzak hata: "
 :plugin/checking-for-updates "Eklenti güncellemeleri kontrol ediliyor ..."
 :plugin/list-of-updates "Eklenti güncellemeleri: "
 :plugin/auto-check-for-updates "Güncellemeleri otomatik kontrol et"
 :plugin.install-from-file/menu-title "plugins.edn dosyasından yükle"
 :plugin.install-from-file/title "Eklentileri plugins.edn dosyasından yükle"
 :plugin.install-from-file/notice "Aşağıdaki eklentiler yüklü olan eklentilerinizin yerini alacak:"
 :plugin.install-from-file/success "Tüm eklentiler yüklendi!"

 :pdf/copy-ref "Referansı kopyala"
 :pdf/copy-text "Metni kopyala"
 :pdf/linked-ref "Bağlantılı referans"
 :pdf/toggle-dashed "Alan vurgusu için çizgili stil"
 :pdf/hl-block-colored "Vurgulu blok için renkli etiket"
 :pdf/auto-open-context-menu "Seçimler için içerik menüsünü otomatik aç"
 :pdf/doc-metadata "Belge meta verileri"

 :updater/new-version-install "Yeni bir sürüm indirildi."
 :updater/quit-and-install "Yüklemek için yeniden başlatın"

 :tips/all-done "Tamamlandı!"

 :select/default-prompt "Birini seçin"
 :select/default-select-multiple "Bir veya daha fazla seçin"
 :select.graph/prompt "Bir graf seçin"
 :select.graph/empty-placeholder-description "Eşleşen graf yok. Bir tane daha eklemek ister misin?"
 :select.graph/add-graph "Evet, başka bir graf ekle"

 :notification/clear-all "Tümünü temizle"

 :shortcut.category/basics "Temel bilgiler"
 :shortcut.category/formatting "Biçimlendirme"
 :shortcut.category/navigating "Gezinme"
 :shortcut.category/block-editing "Genel blok düzenleme"
 :shortcut.category/block-command-editing "Blok düzenleme komutuları"
 :shortcut.category/block-selection "Blok seçimi (seçimden çıkmak için Esc tuşuna basın)"
 :shortcut.category/toggle "Aç/Kapat"
 :shortcut.category/others "Diğer"
 :shortcut.category/plugins "Eklentiler"
 :keymap/all "Tümü"
 :keymap/disabled "Devre dışı"
 :keymap/unset "Ayarlanmadı"
 :keymap/custom "Özel"
 :keymap/keystroke-filter "Tuş filtresi"
 :window/minimize "Simge durumuna küçült"
 :window/maximize "Ekranı kapla"
 :window/restore "Pencere durumuna dön"
 :window/close "Kapat"
 :window/exit-fullscreen "Tam ekrandan çık"

 :header/toggle-left-sidebar         "Sol kenar çubuğunu aç/kapat"
 :header/search                      "Ara"
 :header/more                        "Diğer"
 :header/go-back                     "Geri git"
 :header/go-forward                  "İleri git"
 :command.pdf/previous-page            "Pdf: Geçerli pdf belgesinin önceki sayfası"
 :command.pdf/next-page                "Pdf: Geçerli pdf belgesinin sonraki sayfası"
 :command.pdf/close                    "Pdf: Geçerli pdf görüntüleyiciyi kapat"
 :command.pdf/find                     "Pdf: Geçerli pdf belgesinde aranacak metin"
 :command.auto-complete/complete       "Otomatik tamamlama: Seçili öğeyi seç"
 :command.auto-complete/prev           "Otomatik tamamlama: Önceki öğeyi seç"
 :command.auto-complete/next           "Otomatik tamamlama: Sonraki öğeyi seç"
 :command.auto-complete/shift-complete "Otomatik tamamlama: Seçili öğeyi kenar çubuğunda aç"
 :command.cards/toggle-answers         "Kartlar: cevapları ve cümle tamamlamayı göster/gizle"
 :command.editor/escape-editing        "Düzenlemeden çık"
 :command.editor/backspace             "Geri tuşu (Backspace) / Geriye doğru sil"
 :command.editor/delete                "Silme tuşu (Delete) / İleriye doğru sil"
 :command.editor/new-block             "Yeni blok oluştur"
 :command.editor/new-line              "Geçerli blokta yeni satır"
 :command.editor/follow-link           "İmlecin altındaki bağlantıyı takip et"
 :command.editor/open-link-in-sidebar  "Bağlantıyı kenar çubuğunda aç"
 :command.editor/bold                  "Kalın"
 :command.editor/italics               "İtalik"
 :command.editor/highlight             "Vurgulu"
 :command.editor/strike-through        "Üstü çizili"
 :command.editor/clear-block           "Tüm blok içeriğini sil"
 :command.editor/kill-line-before      "İmleç konumundan önceki satırı sil"
 :command.editor/copy-embed            "Geçerli bloğu işaret eden bir blok eklemesi kopyala"
 :command.editor/kill-line-after       "İmleç konumundan sonraki satırı sil"
 :command.editor/beginning-of-block    "İmleci bir bloğun başına taşı"
 :command.editor/end-of-block          "İmleci bir bloğun sonuna taşı"
 :command.editor/forward-word          "İmleci bir kelime ileri götür"
 :command.editor/backward-word         "İmleci bir kelime geri götür"
 :command.editor/forward-kill-word     "İleriye doğru bir kelimeyi sil"
 :command.editor/backward-kill-word    "Geriye doğru bir kelimeyi sil"
 :command.editor/paste-text-in-one-block-at-point "İmleç konumunda metin olarak yapıştırın"
 :command.editor/insert-youtube-timestamp         "Youtube zaman damgası ekle"
 :command.editor/cycle-todo              "TODO durumunu değiştir"
 :command.editor/up                      "İmleci yukarı taşı / Yukarıyı seç"
 :command.editor/down                    "İmleci aşağı taşı / Aşağı seç"
 :command.editor/left                    "İmleci sola hareket ettir / Seçili bloğu aç ve başına git"
 :command.editor/right                   "İmleci sağa hareket ettir / Seçili bloğu aç ve sonuna git"
 :command.editor/select-up               "Yukarıdaki içeriği seçin"
 :command.editor/select-down             "Aşağıdaki içeriği seçin"
 :command.editor/move-block-up           "Bloğu yukarı taşı"
 :command.editor/move-block-down         "Bloğu aşağı taşı"
 :command.editor/open-edit               "Seçili bloğu düzenle"
 :command.editor/select-block-up         "Yukarıdaki bloğu seçin"
 :command.editor/select-block-down       "Aşağıdaki bloğu seçin"
 :command.editor/delete-selection        "Seçili blokları sil"
 :command.editor/expand-block-children   "Genişlet"
 :command.editor/collapse-block-children "Daralt"
 :command.editor/toggle-block-children   "Genişlet veya daralt"
 :command.editor/indent                  "Bloğu girintile"
 :command.editor/outdent                 "Blok girintisini azalt"
 :command.editor/copy                    "Kopyala (seçimi veya blok referansını kopyalar)"
 :command.editor/copy-text               "Seçimleri metin olarak kopyala"
 :command.editor/cut                     "Kes"
 :command.editor/undo                    "Geri al"
 :command.editor/redo                    "Yinele"
 :command.editor/insert-link             "HTML Bağlantısı"
 :command.editor/select-all-blocks       "Tüm blokları seç"
 :command.editor/zoom-in                 "Düzenlenen bloğu yakınlaştır / Aksi takdirde ileri git"
 :command.editor/zoom-out                "Düzenlenen bloğu uzaklaştır / Aksi takdirde geri git"
 :command.editor/toggle-number-list      "Numaralı liste olarak değiştir"
 :command.ui/toggle-brackets             "Köşeli ayraçların görüntülenip görüntülenmeyeceğini değiştir"
 :command.go/electron-find-in-page       "Sayfada bul"
 :command.go/electron-jump-to-the-next   "Aramanız için bir sonraki eşleşmeye atlayın"
 :command.go/electron-jump-to-the-previous "Aramanız için bir önceki eşleşmeye atlayın"
 :command.go/search                      "Sayfalarda ve bloklarda ara"
 :command.go/search-in-page              "Sayfa içindeki blokları ara"
 :command.command-palette/toggle         "Komutları ara"
 :command.go/journals                    "Günlüğe git"
 :command.go/backward                    "Geriye git"
 :command.go/forward                     "İleriye git"
 :command.search/re-index                "Arama dizinini yeniden oluştur"
 :command.sidebar/open-today-page        "Sağ kenar çubuğunda bugünün sayfasını açın"
 :command.sidebar/close-top              "Sağ kenar çubuğunun en üst öğesini kapatır"
 :command.sidebar/clear                  "Sağ kenar çubuğundaki herşeyi temizle"
 :command.misc/copy                      "Kopyala"
 :command.graph/export-as-html           "Herkese açık graf sayfalarını html olarak dışarı aktar"
 :command.graph/open                     "Açılacak grafı seçin"
 :command.graph/remove                   "Bir grafı kaldır"
 :command.graph/add                      "Graf ekle"
 :command.command/run                    "Git komutunu çalıştır"
 :command.go/home                        "Ana sayfaya git"
 :command.go/all-graphs                  "Bütün graflara git"
 :command.go/all-pages                   "Bütün sayfalara git"
 :command.go/graph-view                  "Graf görünümüne git"
 :command.go/keyboard-shortcuts          "Klavye kısayollarına git"
 :command.go/tomorrow                    "Yarının günlüğüne git"
 :command.go/next-journal                "Sonraki günlüğe git"
 :command.go/prev-journal                "Önceki günlüğe git"
 :command.go/flashcards                  "Bilgi kartlarına git"
 :command.ui/toggle-document-mode        "Belge modunu aç/kapat"
 :command.ui/toggle-settings             "Ayarları aç/kapat"
 :command.ui/toggle-right-sidebar        "Sağ kenar çubuğunu aç/kapat"
 :command.ui/toggle-left-sidebar         "Sol kenar çubuğunu aç/kapat"
 :command.ui/toggle-help                 "Yardımı aç/kapat"
 :command.ui/toggle-theme                "Koyu ve açık tema arasında geçiş yap"
 :command.ui/toggle-contents             "Kenar çubuğundaki içeriği aç/kapat"
 :command.command/toggle-favorite        "Sık kullanılanlara ekle/çıkar"
 :command.editor/copy-page-url           "Sayfa url'sini kopyala"
 :command.ui/toggle-wide-mode             "Geniş modu aç/kapat"
 :command.ui/select-theme-color           "Kullanılabilir tema renklerini seçin"
 :command.ui/goto-plugins                 "Eklentiler panosuna git"
 :command.ui/install-plugins-from-file    "Eklentileri plugins.edn dosyasından yükleyin"
 :command.editor/toggle-open-blocks       "Açık blokları kapat/aç (tüm blokları daralt veya genişlet)"
 :command.ui/clear-all-notifications      "Tüm bildirimleri temizle"
 :command.editor/select-parent            "Üst bloğu seçin"
 :command.dev/show-block-data             "(Dev) Blok verilerini göster"
 :command.dev/show-block-ast              "(Dev) Blok AST'sini göster"
 :command.dev/show-page-data              "(Dev) Sayfa verilerini göster"
 :command.window/close                    "Pencereyi kapat"}
