{:accessibility/skip-to-main-content "Перейти до головної"
 :on-boarding/welcome-whiteboard-modal-title "Нове полотно для ваших думок."
 :on-boarding/welcome-whiteboard-modal-description "Дошки — чудовий інструмент для мозкового штурму та організації. Тепер ви можете розмістити будь-які свої думки з бази знань або нові на просторовому полотні, щоб об’єднати, асоціювати та зрозуміти по-новому."
 :on-boarding/welcome-whiteboard-modal-skip "Пропустити"
 :on-boarding/welcome-whiteboard-modal-start "Почніть роботу з дошкою"
 :on-boarding/tour-whiteboard-home "{1} Дім для ваших дошок"
 :on-boarding/tour-whiteboard-home-description "Дошки мають власний розділ у додатку, де їх можна швидко переглянути, створити нові або легко видалити."
 :on-boarding/tour-whiteboard-new "{1} Створити нову дошку"
 :on-boarding/tour-whiteboard-new-description "Існує кілька способів створення нової дошки. Один із них завжди тут, на інформаційній панелі."
 :help/start "Починаємо"
 :help/about "Про Logseq"
 :help/roadmap "План розробки"
 :help/bug "Повідомлення про помилку"
 :help/feature "Запит функції"
 :help/changelog "Список змін"
 :help/blog "Блог Logseq"
 :help/docs "Документація"
 :help/privacy "Політика приватності"
 :help/terms "Умови"
 :help/forum-community "Форумна спільнота"
 :help/awesome-logseq "Прекрасний Logseq"
 :help/shortcuts "Гарячі кнопки"
 :help/shortcuts-triggers "Тригер"
 :help/shortcut "Ярлик"
 :help/slash-autocomplete "Автозаповнення слешу"
 :help/reference-autocomplete "Автозаповнення посилання на сторінку"
 :help/block-reference "Посилання на блок"
 :help/open-link-in-sidebar "Відкрити посилання у бічній панелі"
 :search-item/whiteboard "Дошка"
 :search-item/page "Сторінка"
 :help/context-menu "Контекстне меню блоку"
 :help/markdown-syntax "Синтаксис Markdown"
 :help/org-mode-syntax "Синтаксис Org-режиму"
 :bold "Жирний"
 :italics "Курсив"
 :highlight "Виділення"
 :strikethrough "Закреслення"
 :code "Код"
 :untitled "Без назви"
 :right-side-bar/help "Допомога"
 :right-side-bar/switch-theme "Режим теми"
 :right-side-bar/contents "Зміст"
 :right-side-bar/page-graph "Графік сторінки"
 :right-side-bar/block-ref "Посилання на блоки"
 :right-side-bar/graph-view "Вигляд графіка"
 :right-side-bar/all-pages "Всі сторінки"
 :right-side-bar/whiteboards "Дошки"
 :right-side-bar/flashcards "Флеш-картки"
 :right-side-bar/show-journals "Показати журнали"
 :right-side-bar/separator "Обробник зміни розміру правої бічної панелі"
 :left-side-bar/journals "Журнали"
 :left-side-bar/nav-favorites "Обране"
 :left-side-bar/nav-recent-pages "Останні"
 :page/something-went-wrong "Щось не так"
 :page/logseq-is-having-a-problem "У Logseq виникла проблема. Щоб спробувати повернути його до робочого стану, виконайте такі безпечні кроки по порядку:"
 :page/step "Крок {1}"
 :page/try "Спробувати"
 :page/delete-confirmation "Ви впевнені, що хочете видалити цю сторінку та її файл?"
 :page/open-in-finder "Відкрити у директорії"
 :page/open-with-default-app "Відкрити за допомогою програми за умовчанням"
 :page/make-public "Зробіти загальнодоступним для публікації"
 :page/version-history "Переглянути історію сторінки"
 :page/open-backup-directory "Відкрити каталог резервних копій сторінок"
 :page/make-private "Зробити приватним"
 :page/delete "Видалити сторінку"
 :page/add-to-favorites "Додати до обраного"
 :page/unfavorite "Вилучити сторінку з обраного"
 :block/name "Назва сторінки"
 :page/copy-page-url "Скопіювати URL сторінки"
 :file/name "Назва файлу"
 :file/last-modified-at "Останнє модифіковано у "
 :file/no-data "Немає даних"
 :file/format-not-supported "Формат .{1} не підтримується."
 :file/validate-existing-file-error "Сторінка вже існує з іншим файлом: {1}, поточний файл: {2}. Будь ласка, збережіть лише один із них і повторно індексуйте свій графік."
  :page/created-at "Створенно у"
 :page/updated-at "Оновлено у"
 :page/backlinks "Зворотні посилання"
 :linked-references/filter-search "Пошук на пов’язаних сторінках"
 :editor/block-search "Пошук блоку"
 :text/image "зображення"
 :asset/show-in-folder "Показати зображення у папці"
 :asset/open-in-browser "Відкрити зображення у браузері"
 :asset/delete "Видалити зображення"
 :asset/copy "Копіювати зображення"
 :asset/maximize "Розгорнути зображення"
 :asset/confirm-delete "Ви впевнені, що хочете видалити {1}?"
 :asset/physical-delete "Також видаліть файл (зверніть увагу, що його не можна відновити)"
 :color/gray "Сірий"
 :color/red "Червоний"
 :color/yellow "Жовтий"
 :color/green "Зелений"
 :color/blue "Синій"
 :color/purple "Фіолетовий"
 :color/pink "Рожевий"
 :editor/copy "Копіювати"
 :editor/cut "Вирізати"
 :editor/expand-block-children "Розгорнути все"
 :editor/collapse-block-children "Згорнути все"
 :editor/delete-selection "Видалити вибрані блоки"
 :editor/cycle-todo "Змінити статус TODO для поточного елемента"
 :dev/show-page-data "(Dev) Показати дані сторінки"
 :dev/show-block-data "(Dev) Показати дані блоку"
 :dev/show-block-ast "(Dev) Показати блок AST"
 :dev/show-page-ast "(Dev) Показати сторінку AST"
 :content/copy-export-as "Копіювати / Експортувати як.."
 :content/copy-block-url "Копіювати URL блоку"
 :content/copy-block-ref "Копіювати посилання блоку"
 :content/copy-block-emebed "Копіювати вбудовування блоку"
 :content/copy-ref "Копіювати це посилання"
 :content/delete-ref "Видалити це посилання"
 :content/replace-with-text "Замінити на текст"
 :content/replace-with-embed "Замінити на вбудованний елемент"
 :content/open-in-sidebar "Відкрити у боковій панелі"
 :content/click-to-edit "Натисніть для редагування"
 :context-menu/make-a-flashcard "Зробити Картку"
 :context-menu/toggle-number-list "Переключити номерний список"
 :context-menu/preview-flashcard "Попередній перегляд Картки"
 :context-menu/make-a-template "Зробити шаблон"
 :context-menu/input-template-name "Як назвемо шаблон?"
 :context-menu/template-include-parent-block "Включити батьківський блок у шаблон?"
 :context-menu/template-exists-warning "Шаблон вже існує!"
 :settings-page/git-switcher-label "Увімкнути Git авто commit"
 :settings-page/git-commit-delay "Секунди Git авто commit"
 :settings-page/edit-config-edn "Редагувати config.edn"
 :settings-page/edit-global-config-edn "Редагувати глобальний config.edn"
 :settings-page/edit-custom-css "Редагувати custom.css"
 :settings-page/edit-export-css "Редагувати export.css"
 :settings-page/custom-configuration "Користувацька конфігурація"
 :settings-page/custom-global-configuration "Користувацька глобальна конфігурація"
 :settings-page/custom-theme "Користувацька тема"
 :settings-page/export-theme "Експортувати тему"
 :settings-page/show-brackets "Показати дужки"
 :settings-page/spell-checker "Перевірка правопису"
 :settings-page/auto-updater "Авто-оновлювач"
 :settings-page/disable-sentry "Надсилати дані про використання та діагностику в Logseq"
 :settings-page/disable-sentry-desc "Logseq ніколи не збиратиме вашу локальну базу даних графів і не відправлятиме ваші дані."
 :settings-page/preferred-outdenting "Логічне видалення відступів"
 :settings-page/show-full-blocks "Показати всі рядки посилання на блок"
 :settings-page/auto-expand-block-refs "Автоматично розгортайти посилання на блоки під час збільшення"
 :settings-page/custom-date-format "Бажаний формат дати"
 :settings-page/custom-date-format-warning "Потрібна повторна індексація! Існуючі посилання на журнали будуть порушені!"
 :settings-page/preferred-file-format "Віддавати перевагу формату файлу"
 :settings-page/preferred-workflow "Віддавати перевагу робочому процесу"
 :settings-page/preferred-pasting-file "Віддавати перевагу вставці файлу"
 :settings-page/enable-shortcut-tooltip "Увімкнути спливаючу підказку"
 :settings-page/enable-timetracking "Відстеження часу"
 :settings-page/enable-tooltip "Підказки"
 :settings-page/enable-journals "Журнали"
 :settings-page/enable-all-pages-public "Усі сторінки є відкритими під час публікації"
 :settings-page/home-default-page "Встановити домашню сторінку за умовчанням"
 :settings-page/clear-cache "Очистити кеш"
 :settings-page/clear "Очистити"
 :settings-page/clear-cache-warning "Очищення кешу призведе до видалення відкритих графіків. Ви втратите незбережені зміни."
 :settings-page/developer-mode "Режим розробника"
 :settings-page/developer-mode-desc "Режим розробника допомагає учасникам і розробникам розширень ефективніше тестувати свою інтеграцію з Logseq."
 :settings-page/current-version "Поточна версія"
 :settings-page/tab-general "Головна"
 :settings-page/tab-editor "Редактор"
 :settings-page/tab-version-control "Контроль версій"
 :settings-page/tab-advanced "Розширення"
 :settings-page/tab-assets "Ассети"
 :settings-page/tab-features "Функції"
 :settings-page/plugin-system "Плагіни"
 :settings-page/enable-flashcards "Картки"
 :settings-page/network-proxy "Мережевий проксі"
 :settings-page/alpha-features "Альфа-функції"
 :settings-page/beta-features "Бета-функції"
 :settings-page/login-prompt "Щоб отримати доступ до нових функцій раніше за інших, ви повинні бути відкритим колективним спонсором або спонсором Logseq і, отже, спершу увійти."
 :settings-page/sync "Синхронізація"
 :settings-page/enable-whiteboards "Дошки"
 :yes "Так"

 :submit "Відправити"
 :cancel "Відміна"
 :close "Закрити"
 :delete "Видалити"
 :save "Зберегти"
 :type "Тип"
 :host "Хост"
 :port "Порт"
 :re-index "Переіндексація"
 :re-index-detail "Перебудувати графік"
 :re-index-multiple-windows-warning "Вам потрібно закрити онші вікна перед переіндексацією цього графіку."
 :re-index-discard-unsaved-changes-warning "Повторне індексування скине поточний графік, а потім знову обробить всі файли, оскільки вони зараз зберігаються на диску. Ви втратите незбережені зміни, і це може зайняти деякий час. Продовжити?"
 :sync-from-local-files "Оновити"
 :sync-from-local-files-detail "Імпортувати зміни із локальних файлів"
 :sync-from-local-changes-detected "Оновлення виявило та обробило файли, змінені на вашому диску, які розійшлися з поточним вмістом сторінки Logseq. Продовжити?"

 :new-graph "Додати новий графік"
 :graph "Графік"
 :graph/all-graphs "Всі графіки"
 :export "Експортувати"
 :export-graph "Експортувати графік"
 :export-page "Експортувати сторінку"
 :export-markdown "Експортувати як звичайний Markdown (без налаштувань блоків)"
 :export-opml "Експортувати як OPML"
 :export-public-pages "Експортувати публічні сторінки"
 :export-json "Експортувати як JSON"
 :export-roam-json "Експортувати як Roam JSON"
 :export-edn "Експортувати як EDN"
 :all-graphs "Всі графіки"
 :all-pages "Всі сторінки"
 :all-whiteboards "Всі дошки"
 :all-files "Всі файли"
 :all-journals "Всі журнали"
 :settings "Налаштування"
 :settings-of-plugins "Плагіни"
 :plugins "Плагіни"
 :themes "Теми"
 :relaunch-confirm-to-work "Потрібно перезагрузити застосунок. Хочете перезагрузити зараз?"
 :import "Імпорт"
 :importing "Імпортування"
 :join-community "Приєднатися до нас"
 :discourse-title "Наш форум!"
 :help-shortcut-title "Клацніть, щоб перевірити комбінації і інші підказки"
 :parsing-files "Розбір файлів"
 :loading-files "Загрузка файлів"
 :login "Увіти"
 :logout "Вийти"
 :download "Завантажити"
 :language "Мова"
 :remove-background "Видалити фон"
 :remove-heading "Видалити заголовок"
 :heading "Заголовок {1}"
 :auto-heading "Авто заголовок"
 :open-a-directory "Відкрити локальку директорію"

 :help/shortcut-page-title "Кобмінації клавіш"

 :plugin/installed "Встановленно"
 :plugin/not-installed "Не встановленно"
 :plugin/installing "Встановлення"
 :plugin/install "Встановити"
 :plugin/reload "Перезавантажити"
 :plugin/update "Оновити"
 :plugin/check-update "Перевірити оновлення"
 :plugin/check-all-updates "Перевірити всі оновлення"
 :plugin/found-updates "Нові оновлення"
 :plugin/found-n-updates "Знайдено оновлень {1}"
 :plugin/update-all-selected "Оновити всі вибрані"
 :plugin/updates-downloading "Завантаження оновлень"
 :plugin/refresh-lists "Оновити списки"
 :plugin/enabled "Ввімкнено"
 :plugin/disabled "Вимкнено"
 :plugin/update-available "Доступне оновлення"
 :plugin/updating "Оновлення"
 :plugin/uninstall "Видалити"
 :plugin/marketplace "Маркетплейс"
 :plugin/downloads "Завантаження"
 :plugin/stars "Оцінка"
 :plugin/all "Все"
 :plugin/unpacked "Розпаковано"
 :plugin/delete-alert "Ви впевнені, що хочете видалити плагін [{1}]?"
 :plugin/open-settings "Відкрити налаштування"
 :plugin/open-package "Відкрити пакунок"
 :plugin/load-unpacked "Завантажити розпакований плагін"
 :plugin/restart "Перезапустити додаток"
 :plugin/unpacked-tips "Виберіть директорію із плагінами"
 :plugin/contribute "✨ Написати і відправити новий плагін"
 :plugin/custom-js-alert "Знайденно custom.js файл, це дозволенно до запуску? (Якщо ви не розумієте що знаходитья у файлі, це не рекомедовано до запуску, як може мати певні проблеми із безпекою.)"
 :plugin.install-from-file/menu-title "Встановити з plugins.edn"
 :plugin.install-from-file/title "Встановити плагіни з plugins.edn"
 :plugin.install-from-file/notice "Наступні плагіни замінять ці:"
 :plugin.install-from-file/success "Всі плагіни встановлено!"

 :pdf/copy-ref "Скопіювати посилання"
 :pdf/copy-text "Скопіювати текст"
 :pdf/linked-ref "Зв'язані посилання"
 :pdf/toggle-dashed "Пунктирний стиль для виділення області"
 :pdf/hl-block-colored "Кольорова позначка для виділеного блоку"
 :pdf/doc-metadata "Метадані документу"

 :updater/new-version-install "Нова версія була завантажена."
 :updater/quit-and-install "Перезапустіть щоб встановити"

 :select/default-prompt "Виберіть один"
 :select/default-select-multiple "Виберіть один або кілька"
 :select.graph/prompt "Виберіть графік"
 :select.graph/empty-placeholder-description "Не знайденно графіків. Чи бажаєте додати один?"
 :select.graph/add-graph "Так, додати інший графік"

 :file-sync/other-user-graph "Поточний локальний графік зв'язаний з графіком іншого користувача. Тому неможливо почати синхронізацію."
 :file-sync/graph-deleted "Поточний дистанційний графік був видалений"
 :file-sync/rsapi-cannot-upload-err "Неможливо розпочати синхронізацію, будь ласка, перевірте чи місцевий час встановлено коректно."

 :notification/clear-all "Очистити все"

 :shortcut.category/formatting                             "Форматування"
 :shortcut.category/basics                                 "Основи"
 :shortcut.category/navigating                             "Навігація"
 :shortcut.category/block-editing                          "Загальне редагування блоку"
 :shortcut.category/block-command-editing                  "Редагування команди блоку"
 :shortcut.category/block-selection                        "Вибір блоку (натисніть Esc щоб вийти із вибірки)"
 :shortcut.category/toggle                                 "Перемкнути"
 :shortcut.category/whiteboard                             "Дошка"
 :shortcut.category/others                                 "Інші"
 :command.pdf/previous-page                                "PDF: Попередня сторінка поточного документа PDF"
 :command.pdf/next-page                                    "PDF: Наступна сторінка поточного документа PDF"
 :command.pdf/close                                        "PDF: Закрити поточний документ PDF"
 :command.pdf/find                                         "PDF: Пошук тексту в поточному pdf-документі"
 :command.auto-complete/complete                           "Автозаповнення: підтвердити вибраний елемент"
 :command.auto-complete/prev                               "Автозаповнення: попередній елемент"
 :command.auto-complete/next                               "Автозаповнення: наступний елемент"
 :command.auto-complete/shift-complete                     "Автозаповнення: відкрити вибраний елемент на бічній панелі"
 :command.cards/toggle-answers                             "Вкладки: Показати/Сховати відповіді"
 :command.cards/next-card                                  "Карти: ще одна картка"
 :command.cards/forgotten                                  "Карти: забуті"
 :command.cards/remembered                                 "Карти: запам'ятовані"
 :command.cards/recall                                     "Карти: знадобиться деякий час, щоб згадати"
 :command.editor/escape-editing                            "Скасувати редагування"
 :command.editor/backspace                                 "Видалити в зворотному напрямку"
 :command.editor/delete                                    "Видалити"
 :command.editor/new-block                                 "Створити новоий блок"
 :command.editor/new-line                                  "Новий рядок у поточному блоці"
 :command.editor/new-whiteboard                            "Нова дошка"
 :command.editor/follow-link                               "Перейдіть за посиланням"
 :command.editor/open-link-in-sidebar                      "Відкрити посилання на бічній панелі"
 :command.editor/bold                                      "Жирний"
 :command.editor/italics                                   "Курсив"
 :command.editor/highlight                                 "Виділення"
 :command.editor/strike-through                            "Закреслений"
 :command.editor/clear-block                               "Видалити весь вміст блоку"
 :command.editor/kill-line-before                          "Видалити рядок перед позицією курсору"
 :command.editor/copy-embed                                "Скопіювати вставлений блок, вказуючи на поточний блок"
 :command.editor/kill-line-after                           "Видалити рядок після позиції курсора"
 :command.editor/beginning-of-block                        "Перемістіть курсор на початок блоку"
 :command.editor/end-of-block                              "Перемістіть курсор у кінець блоку"
 :command.editor/forward-word                              "Перемістіть курсор на одне слово вперед"
 :command.editor/backward-word                             "Перемістіть курсор на одне слово назад"
 :command.editor/forward-kill-word                         "Видалити слово вперед"
 :command.editor/backward-kill-word                        "Видалити слово назад"
 :command.editor/replace-block-reference-at-point          "Замініть посилання на блок його вмістом у точці"
 :command.editor/paste-text-in-one-block-at-point          "Вставити текст в один блок за точкою"
 :command.editor/insert-youtube-timestamp                  "Вставити мітку часу YouTube"
 :command.editor/cycle-todo                                "Змінити статус TODO для поточного елемента"
 :command.editor/up                                        "Перемістити курсор вгору/Вибрати вгору"
 :command.editor/down                                      "Перемістіть курсор вниз/Виберіть вниз"
 :command.editor/left                                      "Перемістити курсор ліворуч/Відкрити виділений блок на початку"
 :command.editor/right                                     "Перемістити курсор вправо/Відкрити вибраний блок у кінці"
 :command.editor/select-up                                 "Вибрати вміст вище"
 :command.editor/select-down                               "Вибрати вміст нище"
 :command.editor/move-block-up                             "Перемістити блок нагору"
 :command.editor/move-block-down                           "Перемістити блок вниз"
 :command.editor/open-edit                                 "Редагувати виділений блок"
 :command.editor/select-block-up                           "Вибрати блок вище"
 :command.editor/select-block-down                         "Вибрати блок нище"
 :command.editor/delete-selection                          "Видалити вибрані блоки"
 :command.editor/expand-block-children                     "Розкрити"
 :command.editor/collapse-block-children                   "Сховати"
 :command.editor/indent                                    "Зсув блоку"
 :command.editor/outdent                                   "Скасувати зсув блоку"
 :command.editor/copy                                      "Копіювати (копіює виділення або посилання на блок)"
 :command.editor/copy-text                                 "Копіювати виділення як текст"
 :command.editor/cut                                       "Вирізати"
 :command.editor/undo                                      "Скасувати зміни"
 :command.editor/redo                                      "Повторити"
 :command.editor/insert-link                               "HTML посилання"
 :command.editor/select-all-blocks                         "Вибрати всі блоки"
 :command.editor/select-parent                             "Вибрати батьківський блок"
 :command.editor/zoom-in                                   "Збільшити"
 :command.editor/zoom-out                                  "Зменшити"
 :command.editor/toggle-number-list                        "Переключити номерний список"
 :command.whiteboard/select                                "Вибрати інструмент"
 :command.whiteboard/pan                                   "Прокрутка"
 :command.whiteboard/portal                                "Додати блок або сторінку"
 :command.whiteboard/pencil                                "Олівець"
 :command.whiteboard/highlighter                           "Маркер"
 :command.whiteboard/eraser                                "Гумка"
 :command.whiteboard/connector                             "З'єднувач"
 :command.whiteboard/text                                  "Текст"
 :command.whiteboard/rectangle                             "Прямокутник"
 :command.whiteboard/ellipse                               "Еліпс"
 :command.whiteboard/reset-zoom                            "Скинути масштаб"
 :command.whiteboard/zoom-to-fit                           "Показати всі елементи"
 :command.whiteboard/zoom-to-selection                     "Показати елемент"
 :command.whiteboard/zoom-out                              "Зменшити"
 :command.whiteboard/zoom-in                               "Збільшити"
 :command.whiteboard/send-backward                         "Перемістити назад"
 :command.whiteboard/send-to-back                          "На задній план"
 :command.whiteboard/bring-forward                         "Перемістити вперед"
 :command.whiteboard/bring-to-front                        "На передній план"
 :command.whiteboard/lock                                  "Блокувати"
 :command.whiteboard/unlock                                "Розблокувати"
 :command.whiteboard/group                                 "Групувати"
 :command.whiteboard/ungroup                               "Розгрупувати"
 :command.whiteboard/toggle-grid                           "Переключити відображення сітки"
 :command.ui/toggle-brackets                               "Показати/Сховати квадратні дужки"
 :command.go/electron-find-in-page                         "Знайти текст на сторінці"
 :command.go/electron-jump-to-the-next                     "Шукати далі"
 :command.go/electron-jump-to-the-previous                 "Шукати назад"
 :command.go/search                                        "Пошук сторінок і блоків"
 :command.go/journals                                      "Перейти до журналів"
 :command.go/backward                                      "Назад"
 :command.go/forward                                       "Вперед"
 :command.search/re-index                                  "Оновити індекс пошуку"
 :command.sidebar/open-today-page                          "Відкрити сторінку сьогоднішнього дня на правій бічній панелі"
 :command.sidebar/close-top                                "Закрити верхній елемент на правій бічній панелі"
 :command.sidebar/clear                                    "Очистити усе на правій бічній панелі"
 :command.misc/copy                                        "Копіювати"
 :command.graph/export-as-html                             "Експортувати загальнодоступні сторінки графіків у форматі HTML"
 :command.graph/open                                       "Виберіть графік, яку потрібно відкрити"
 :command.graph/remove                                     "Видалити графік"
 :command.graph/add                                        "Додати графік"
 :command.graph/re-index                                   "Переіндексувати поточний графік"
 :command.command/run                                      "Виконати команду GIT"
 :command.go/home                                          "Перейти на головну сторінку"
 :command.go/all-graphs                                    "Перейти до всіх діаграм"
 :command.go/whiteboards                                   "Перейти до дошок"
 :command.go/all-pages                                     "Перейти на всі сторінки"
 :command.go/graph-view                                    "Перейти до перегляду графіка"
 :command.go/keyboard-shortcuts                            "Перейти до комбінацій клавіш"
 :command.go/tomorrow                                      "Перейти до завтрашнього щоденника"
 :command.go/next-journal                                  "Перейти до наступного журналу"
 :command.go/prev-journal                                  "Перейти до попереднього журналу"
 :command.go/flashcards                                    "Показати/Сховати картки"
 :command.ui/toggle-document-mode                          "Показати/Сховати режим документа"
 :command.ui/toggle-settings                               "Налаштування перемикача"
 :command.ui/toggle-right-sidebar                          "Показати/Сховати праву бічну панель"
 :command.ui/toggle-left-sidebar                           "Показати/Сховати ліву бічну панель"
 :command.ui/toggle-help                                   "Показати/Сховати помічника"
 :command.ui/toggle-theme                                  "Перемикання між темною та світлою темою"
 :command.ui/toggle-contents                               "Показати/Приховати вміст бічної панелі"
  ;;  :command.ui/open-new-window                               "Відкрити інше вікно"
 :command.command/toggle-favorite                          "Додати/Видалити з вибраного"
 :command.editor/open-file-in-default-app                  "Відкрити файл у програмі за замовчуванням"
 :command.editor/open-file-in-directory                    "Відкрити файл у папці"
 :command.editor/copy-current-file                         "Копіювати поточний файл"
 :command.editor/copy-page-url                             "Копіювати URL-адресу сторінки"
 :command.ui/toggle-wide-mode                              "Перейти у ширококутний режим"
 :command.ui/select-theme-color                            "Вибрати доступні кольори теми"
 :command.ui/goto-plugins                                  "Перейти до списку плагінів"
 :command.ui/install-plugins-from-file                     "Встановити плагіни з plugins.edn"
 :command.editor/toggle-open-blocks                        "Згорнути/Розгорнути всі блоки"
 :command.git/commit                                       "Виконати команду git commit із повідомленням"
 :command.ui/clear-all-notifications                       "Очистити всі сповіщення"
 :command.dev/show-block-ast                               "(Dev) Показати блок AST"
 :command.dev/show-block-data                              "(Dev) Показати дані блоку"
 :command.dev/show-page-ast                                "(Dev) Показати сторінку AST"
 :command.dev/show-page-data                               "(Dev) Показати дані сторінки"}
