{:accessibility/skip-to-main-content "跳转到主内容"
 :bug-report/main-title "BUG 上报"
 :bug-report/main-desc "你可以帮助我们提交一个错误报告吗？我们会尽快解决。"
 :bug-report/clipboard-inspector-title "剪贴板数据查看器"
 :bug-report/section-clipboard-title "你遇到的错误是否与这些功能有关？"
 :bug-report/section-clipboard-desc "你可以使用这些便利的工具来提供给我们额外的信息。"
 :bug-report/section-clipboard-btn-title "剪贴板助手"
 :bug-report/section-clipboard-btn-desc "检查和收集剪贴板数据"
 :bug-report/section-issues-title "或..."
 :bug-report/section-issues-desc "如果没有可用的工具供您收集额外的信息，请直接报告错误。"
 :bug-report/section-issues-btn-title "提交错误报告"
 :bug-report/section-issues-btn-desc "帮助改进 Logseq!"
 :bug-report/inspector-page-desc-1 "按下 Ctrl+V / ⌘+V 键来检查您的剪贴板数据"
 :bug-report/inspector-page-desc-2 "如果您正在使用移动版本，请点击此处粘贴"
 :bug-report/inspector-page-placeholder "如果您在手机上，请长按此处进行粘贴"
 :bug-report/inspector-page-tip "出了点问题？没关系，点击返回到上一步。"
 :bug-report/inspector-page-btn-back "返回"
 :bug-report/inspector-page-btn-copy "复制结果"
 :bug-report/inspector-page-copy-notif "已复制到剪贴板！"
 :bug-report/inspector-page-btn-create-issue "创建一个 issue"
 :bug-report/inspector-page-desc-clipboard "这是从剪贴板读取的数据。"
 :bug-report/inspector-page-desc-copy "如果可以共享，请点击复制按钮。"
 :bug-report/inspector-page-desc-create-issue "现在您可以报告粘贴到剪贴板的结果了。请将结果粘贴到“附加上下文”部分，并说明您从哪里复制了原始内容。谢谢！"

 :help/start "入门"
 :help/roadmap "路线图"
 :help/about "关于 Logseq"
 :help/bug "Bug 反馈"
 :help/feature "功能建议"
 :help/changelog "更新日志"
 :help/blog "Logseq 博客"
 :help/docs "文档"
 :help/privacy "隐私声明"
 :help/terms "服务条款"
 :help/shortcuts "快捷键"
 :help/shortcuts-triggers "触发"
 :help/shortcut "快捷键"
 :help/shortcut-page-title "完整快捷键"
 :help/slash-autocomplete "Slash 自动提示"
 :help/reference-autocomplete "页面引用自动补全"
 :help/block-reference "块引用"
 :help/open-link-in-sidebar "在侧边栏打开"
 :text/image "图片"
 :asset/confirm-delete "确定要删除{1}吗？"
 :asset/physical-delete "同时删除本地文件（目前不可撤销）"
 :search-item/page "页面"
 :search-item/no-result "未找到匹配项"
 :help/context-menu "右键菜单"
 :help/markdown-syntax "Markdown 语法"
 :bold "粗体"
 :italics "斜体"
 :highlight "高亮"
 :strikethrough "删除线"
 :code "代码"
 :untitled "未命名"
 :export-public-pages "导出公开页"
 :export-transparent-background "透明背景"
 :export-copy-to-clipboard "复制到剪贴板"
 :export-copied-to-clipboard "已复制到剪贴板"
 :export-save-to-file "保存到文件"
 :help/awesome-logseq "绝妙的 Logseq"
 :help/forum-community "论坛讨论"
 :help/title-usage "使用说明"
 :help/title-community "社区"
 :help/title-development "开发"
 :help/title-about "关于"
 :help/title-terms "条款"
 :linked-references/filter-search "在链接的页面内搜索"
 :page/copy-page-url "复制页面 URL"
 :plugin/contribute "✨编写和提交新插件"
 :right-side-bar/show-journals "显示日记"
 :select/default-prompt "请选择"
 :select.graph/add-graph "再添加一份图谱"
 :select.graph/empty-placeholder-description "没有匹配的图谱。你想再添加一份图谱吗？"
 :select.graph/prompt "请选择一份图谱"
 :settings-page/edit-export-css "修改导出样式 export.css"
 :settings-page/enable-flashcards "记忆卡片"
 :settings-page/enable-shortcut-tooltip "启用快捷键提示"
 :settings-page/export-theme "导出主题"
 :settings-page/check-for-updates "检查更新"
 :settings-page/checking "正在检查更新..."
 :settings-page/app-updated "应用已是最新版本 🎉"
 :settings-page/update-available "发现新版本 "
 :right-side-bar/help "帮助"
 :right-side-bar/switch-theme "主题模式"
 :right-side-bar/contents "目录"
 :right-side-bar/page-graph "页面图谱"
 :right-side-bar/block-ref "块引用"
 :right-side-bar/graph-view "图谱视角"
 :right-side-bar/flashcards "记忆卡片"
 :right-side-bar/separator "调整右侧边栏大小"
 :left-side-bar/switch "切换到："
 :left-side-bar/journals "日志"
 :left-side-bar/nav-favorites "收藏页面"
 :left-side-bar/nav-recent-pages "最近使用"
 :page/make-public "导出 HTML 时发布本页面"
 :page/make-private "导出 HTML 时取消发布本页面"
 :page/delete "删除本页"
 :page/add-to-favorites "添加收藏"
 :page/unfavorite "取消收藏"
 :block/name "页面名称"
 :file/name "文件名"
 :file/last-modified-at "最后更改于"
 :file/no-data "没有数据"
 :page/created-at "创建日期"
 :page/updated-at "更新日期"
 :page/backlinks "双向链接"
 :file/format-not-supported "格式 .{1} 目前不支持。"
 :editor/block-search "搜索块"
 :editor/delete-selection "删除选定块"
 :editor/copy "复制"
 :editor/cut "剪切"
 :editor/expand-block-children "展开所有子块"
 :editor/collapse-block-children "折叠所有子块"
 :editor/cycle-todo "切换当前事项的待办状态"
 :content/copy-export-as "复制/导出为..."
 :context-menu/toggle-number-list "切换编号列表"
 :content/copy-block-ref "复制块引用"
 :content/open-in-sidebar "在侧边栏打开"
 :content/click-to-edit "点击以编辑"
 :settings-page/edit-config-edn "编辑 config.edn （当前库）"
 :settings-page/edit-custom-css "编辑 custom.css （当前库）"
 :settings-page/custom-configuration "自定义配置"
 :settings-page/custom-theme "自定义主题"
 :settings-page/preferred-outdenting "逻辑缩进"
 :settings-page/show-brackets "显示括号 [[]]"
 :settings-page/wide-mode "宽屏模式"
 :settings-page/editor-font "编辑器字体"
 :settings-page/accent-color "高亮色"
 :settings-page/accent-color-alert "选择高亮色可能会影响您选择的自定义主题。"
 :settings-page/spell-checker "单词拼写检查"
 :settings-page/auto-updater "自动更新"
 :settings-page/disable-sentry "向 Logseq 提供使用情况和诊断信息"
 :settings-page/disable-sentry-desc "Logseq 从来不会收集或出售你的图谱数据。"
 :settings-page/custom-date-format "首选日期页面格式"
 :settings-page/preferred-pasting-file "保存链接为文件"
 :settings-page/auto-expand-block-refs "自动展开聚焦 block 的引用"
 :settings-page/enable-tooltip "开启提示框"
 :settings-page/enable-journals "开启日记"
 :settings-page/enable-all-pages-public "发布所有页面"
 :settings-page/native-titlebar "原生标题栏"
 :settings-page/native-titlebar-desc "在Windows和Linux上启用系统原生风格的窗口标题栏。"
 :settings-page/home-default-page "设置首页默认页面"
 :settings-page/clear-cache "清除缓存"
 :settings-page/clear "清除"
 :settings-page/clear-cache-warning "清除缓存将关闭当前打开的图谱。你将丢失未保存的更改。"
 :settings-page/developer-mode "开发者模式"
 :settings-page/developer-mode-desc "开发者模式帮助贡献者和扩展开发者更有效地测试他们与 Logseq 的集成。"
 :settings-page/current-version "当前版本"
 :settings-page/changelog "更新内容"
 :settings-page/theme-light "浅色模式"
 :settings-page/theme-dark "深色模式"
 :settings-page/theme-system "跟随系统"
 :settings-page/show-full-blocks "显示块引用的所有行"
 :settings-page/tab-general "常规"
 :settings-page/tab-editor "编辑器"
 :settings-page/tab-keymap "快捷键"
 :settings-page/tab-advanced "高级设置"
 :settings-page/tab-features "更多功能"
 :settings-page/plugin-system "插件系统"
 :settings-page/network-proxy "网络代理"
 :settings-page/login-prompt "你必须是 Logseq 的 Open Collective Sponsor 或者 Backer 才能提前使用新功能（仍在测试中），因此需要登录。"
 :settings-page/custom-global-configuration "自定义全局配置"
 :settings-page/edit-global-config-edn "编辑全局 config.edn"
 :settings-page/auto-chmod "自动更改文件权限"
 :settings-page/auto-chmod-desc "禁用此功能可以允许多个用户在拥有用户组权限的情况下编辑文件。"
 :yes "是"
 :cancel "取消"
 :export-graph "导出图谱"
 :export-page "导出当前页面"
 :export-markdown "以 Markdown 格式导出"
 :graph "图谱"
 :graph/all-graphs "所有图谱"
 :all-journals "日记"
 :export "导出"
 :all-graphs "所有图谱"
 :all-files "所有文件"
 :settings "设置"
 :settings-of-plugins "插件设置"
 :plugins "插件"
 :themes "主题"
 :appearance "界面"
 :relaunch-confirm-to-work "如果希望立刻生效, 请重启应用。是否现在重启？"
 :import "导入"
 :importing "导入中"
 :help-shortcut-title "点此查看快捷方式和更多有用帮助"
 :close "关闭"
 :delete "删除"
 :save "保存"
 :type "类型"
 :host "主机"
 :port "端口"
 :loading "加载中..."
 :login "登录"
 :logout "登出"
 :download "下载"
 :language "语言"
 :remove-background "去除背景"
 :remove-heading "移除 heading"
 :auto-heading "自动转为 heading"
 :plugin/installed "已安装"
 :plugin/not-installed "未安装"
 :plugin/installing "安装中"
 :plugin/install "安装"
 :plugin/reload "重载"
 :plugin/update "更新"
 :plugin/check-update "检查更新"
 :plugin/check-all-updates "一键检查更新"
 :plugin/found-updates "有更新"
 :plugin/found-n-updates "发现 {1} 个插件待更新"
 :plugin/update-all-selected "更新已选插件"
 :plugin/updates-downloading "正在下载更新"
 :plugin/refresh-lists "刷新插件列表"
 :plugin/delete-alert "确定删除插件 [{1}]？"
 :plugin/enabled "已开启"
 :plugin/disabled "未开启"
 :plugin/update-available "待更新"
 :plugin/updating "更新中"
 :plugin/uninstall "卸载"
 :plugin/marketplace "插件市场"
 :plugin/downloads "下载量"
 :plugin/stars "收藏数"
 :plugin/all "全部"
 :plugin/unpacked "未打包"
 :plugin/open-settings "打开配置项"
 :plugin/open-package "打开包目录"
 :plugin/load-unpacked "手动载入插件"
 :plugin/restart "重启应用"
 :plugin/unpacked-tips "用于开发目的或者从本地磁盘载入可信的社区插件。"
 :plugin/custom-js-alert "发现 custom.js 自定义脚本，是否允许执行？（如果您对该文件的内容不了解 或 来源不可靠，建议不要允许执行）"

 :plugin/search-plugin "搜索插件"
 :plugin/open-preferences "打开插件偏好设置"
 :plugin/open-logseq-dir "打开"
 :plugin/remote-error "远端错误: "
 :plugin/checking-for-updates "正在检查插件更新 ..."
 :plugin/list-of-updates "可用的插件更新: "
 :plugin/auto-check-for-updates "是否自动检查更新"
 :plugin/load-from-web-url "通过URL载入插件"
 :plugin.install-from-file/menu-title "从 plugins.edn 安装"
 :plugin.install-from-file/title "从 plugins.edn 配置中安装插件"
 :plugin.install-from-file/notice "以下插件会替换已安装的插件:"
 :plugin.install-from-file/success "插件全部安装完毕!"

 :pdf/copy-ref "复制引用"
 :pdf/copy-text "复制文本"
 :pdf/linked-ref "转到注解"
 :pdf/toggle-dashed "区域选取为虚线"
 :pdf/hl-block-colored "颜色标识高亮块"
 :pdf/auto-open-context-menu "为选中文本自动打开上下文菜单"
 :pdf/doc-metadata "查看文档元数据"

 :asset/open-in-browser "在浏览器打开"
 :asset/show-in-folder "在文件夹中显示图片"
 :asset/copy "复制图片"
 :asset/delete "删除图片"
 :asset/maximize "最大化显示图片"
 :asset/ref-block "资源块引用"
 :color/blue "蓝色"
 :color/gray "灰色"
 :color/green "绿色"
 :color/pink "粉色"
 :color/purple "紫色"
 :color/red "红色"
 :color/yellow "黄色"

 :updater/new-version-install "新版本已经准备就绪，重启应用即可更新。"
 :updater/quit-and-install "现在安装"

 :notification/clear-all "清除全部通知"

 :shortcut.category/formatting            "格式化"
 :shortcut.category/basics                "基础操作"
 :shortcut.category/navigating            "移动"
 :shortcut.category/block-editing         "块编辑基本"
 :shortcut.category/block-command-editing "块编辑文本操作"
 :shortcut.category/block-selection       "块选择操作"
 :shortcut.category/toggle                "切换"
 :shortcut.category/others                "其他"
 :shortcut.category/plugins               "插件"
 :keymap/all "全部"
 :keymap/disabled "已禁用"
 :keymap/unset "未设置"
 :keymap/custom "自定义"
 :keymap/keystroke-filter "按键过滤"
 :command.auto-complete/complete          "自动完成：选择当前项"
 :command.auto-complete/next              "自动完成：选择下一项"
 :command.auto-complete/prev              "自动完成：选择上一项"
 :command.auto-complete/shift-complete    "自动完成：在侧边栏打开"
 :command.cards/toggle-answers            "卡片：显示/隐藏 答案/填空"
 :command.command/run                     "运行 git 命令"
 :command.command/toggle-favorite         "切换收藏"
 :command.editor/copy-embed               "复制指向当前块的嵌入块"
 :command.editor/copy-text                "复制选中的文本"
 :command.editor/escape-editing           "转义编辑"
 :command.editor/insert-youtube-timestamp "插入 Youtube 时间戳"
 :command.editor/paste-text-in-one-block-at-point  "粘贴文本到块的点"
 :command.editor/select-down              "选择下面内容"
 :command.editor/select-up                "选择上面的内容"
 :command.editor/strike-through           "删除线"
 :command.go/all-graphs                   "所有图谱"
 :command.go/all-pages                    "全部页面"
 :command.go/electron-jump-to-the-next    "跳转到查找栏搜索的下一个匹配项"
 :command.go/electron-jump-to-the-previous "跳转到查找栏搜索的上一个匹配项"
 :command.go/flashcards                   "记忆卡片"
 :command.go/graph-view                   "记忆图谱"
 :command.go/home                         "首页"
 :command.go/keyboard-shortcuts           "快捷键"
 :command.go/next-journal                 "下一篇日记"
 :command.go/prev-journal                 "上一篇日记"
 :command.go/tomorrow                     "明天"
 :command.graph/add                       "添加图谱"
 :command.graph/export-as-html            "将公共图谱导出为 html"
 :command.graph/open                      "打开图谱"
 :command.graph/remove                    "移除图谱"
 :command.sidebar/open-today-page         "在侧边栏打开今日"
 :command.ui/goto-plugins                 "插件"
 :command.ui/select-theme-color           "选择皮肤颜色"
 :command.ui/toggle-left-sidebar          "切换左侧边栏"
 :command.editor/indent                   "缩进块标签"
 :command.editor/outdent                  "取消缩进块"
 :command.editor/move-block-up            "向上移动块"
 :command.editor/move-block-down          "向下移动块"
 :command.editor/new-block                "创建块"
 :command.editor/new-line                 "块中新建行"
 :command.editor/zoom-in                  "聚焦"
 :command.editor/zoom-out                 "退出聚焦"
 :command.editor/follow-link              "跟随光标下的链接"
 :command.editor/open-link-in-sidebar     "在侧边栏打开"
 :command.editor/expand-block-children    "展开"
 :command.editor/collapse-block-children  "折叠"
 :command.editor/select-block-up          "选择上方的块"
 :command.editor/select-block-down        "选择下方的块"
 :command.editor/select-all-blocks        "选择所有块"
 :command.pdf/find                        "Pdf: 查找当前 pdf 文档的文本"
 :command.pdf/previous-page               "上一页PDF文档"
 :command.pdf/next-page                   "下一页PDF文档"
 :command.pdf/close                       "关闭当前PDF文档"
 :command.ui/toggle-help                  "显示/关闭帮助"
 :command.go/search                       "搜索页面和块"
 :command.go/backward                     "回退"
 :command.go/forward                      "前进"
 :command.go/electron-find-in-page        "在当前页面查找文本"
 :command.ui/toggle-document-mode         "切换文档模式"
 :command.ui/toggle-contents              "打开/关闭目录"
 :command.ui/toggle-theme                 "在暗色/亮色主题之间切换"
 :command.ui/toggle-right-sidebar         "启用/关闭右侧栏"
 :command.ui/toggle-settings              "显示/关闭设置"
 :command.go/journals                     "跳转到日记"
 :command.ui/toggle-wide-mode             "切换宽屏模式"
 :command.ui/toggle-brackets              "切换是否显示括号"
 :command.search/re-index                 "重新建立搜索索引"
 :command.editor/bold                     "粗体"
 :command.editor/italics                  "斜体"
 :command.editor/insert-link              "Html 链接"
 :command.editor/highlight                "高亮"
 :command.editor/undo                     "撤销"
 :command.editor/redo                     "重做"
 :command.editor/copy                     "复制"
 :command.editor/cut                      "剪切"
 :command.editor/up                       "向上移动光标 / 向上选择"
 :command.editor/down                     "向下移动光标 / 向下选择"
 :command.editor/left                     "向左移动光标 / 向左选择"
 :command.editor/right                    "向右移动光标 / 向右选择"
 :command.editor/backspace                "向左删除"
 :command.editor/delete                   "向右删除"
 :command.editor/cycle-todo               "切换TODO状态"
 :command.editor/clear-block              "清除块内容"
 :command.editor/kill-line-before         "删除光标左侧行"
 :command.editor/kill-line-after          "删除光标右侧行"
 :command.editor/beginning-of-block       "移动光标到块开始位置"
 :command.editor/end-of-block             "移动光标到块末尾"
 :command.editor/forward-word             "光标向后移动一个单词"
 :command.editor/backward-word            "光标向前移动一个单词"
 :command.editor/forward-kill-word        "向后删除一个单词"
 :command.editor/backward-kill-word       "向前删除一个单词"
 :command.editor/open-edit                "编辑选中块"
 :command.editor/delete-selection         "删除选中块"
 :command.editor/toggle-open-blocks       "切换折叠/展开所有块（非编辑状态）"}
