{:source-aliases #{:cljs}
 :paths-ignore-regex ["src/resources", "target", ".nbb", ".shadow-cljs", ".clj-kondo/.cache", "clj-e2e", "cli-e2e"]
 :linters {:clojure-lsp/unused-public-var {:level :off}
           :clj-kondo/unused-namespace    {:level :off}}
 :clean {:ns-inner-blocks-indentation :same-line}
 :additional-snippets [{:name "profile"
                        :detail "Insert profile-fn"
                        :snippet
                        "
(comment
(require '[logseq.common.profile :as c.p])
(do (vreset! c.p/*key->call-count {})
    (vreset! c.p/*key->time-sum {}))
(c.p/profile-fn! $1) )"}]}
