name = "logseq-sync"
main = "dist/worker/main.js"
compatibility_date = "2025-05-05"
compatibility_flags = [ "nodejs_compat" ]

[observability]
enabled = true

[limits]
cpu_ms = 120_000

[[durable_objects.bindings]]
name = "LOGSEQ_SYNC_DO"
class_name = "SyncDO"

[[r2_buckets]]
binding = "LOGSEQ_SYNC_ASSETS"
bucket_name = "logseq-sync-assets-dev"

[[d1_databases]]
binding = "DB"
database_name = "logseq-sync-graph-meta-dev"
database_id = "c020574a-5623-407b-be0c-cd192bab9545"

[[migrations]]
tag = "v1"
new_sqlite_classes = [ "SyncDO" ]

[[migrations]]
tag = "v2"
deleted_classes = ["SyncIndexDO"]

[vars]
COGNITO_JWKS_URL = "https://cognito-idp.us-east-1.amazonaws.com/us-east-1_dtagLnju8/.well-known/jwks.json"
COGNITO_ISSUER = "https://cognito-idp.us-east-1.amazonaws.com/us-east-1_dtagLnju8"
COGNITO_CLIENT_ID = "69cs1lgme7p8kbgld8n5kseii6"

[env.staging]
name = "logseq-sync"

[env.staging.vars]
COGNITO_JWKS_URL = "https://cognito-idp.us-east-1.amazonaws.com/us-east-1_dtagLnju8/.well-known/jwks.json"
COGNITO_ISSUER = "https://cognito-idp.us-east-1.amazonaws.com/us-east-1_dtagLnju8"
COGNITO_CLIENT_ID = "69cs1lgme7p8kbgld8n5kseii6"
ENABLE_DB_SYNC_LOCAL = "true"

[[env.staging.durable_objects.bindings]]
name = "LOGSEQ_SYNC_DO"
class_name = "SyncDO"

[[env.staging.migrations]]
tag = "v1"
new_sqlite_classes = [ "SyncDO" ]

[[env.staging.migrations]]
tag = "v2"
deleted_classes = ["SyncIndexDO"]

[[env.staging.r2_buckets]]
binding = "LOGSEQ_SYNC_ASSETS"
bucket_name = "logseq-sync-assets-dev"

[[env.staging.d1_databases]]
binding = "DB"
database_name = "logseq-sync-graph-meta-staging"
database_id = "00325aa2-c805-4693-b599-900a25dcde42"
