name = "logseq-sync"
main = "dist/worker/main.js"
compatibility_date = "2025-05-05"
compatibility_flags = ["nodejs_compat"]

[observability]
enabled = true

[[durable_objects.bindings]]
name = "LOGSEQ_SYNC_DO"
class_name = "SyncDO"

[[r2_buckets]]
binding = "LOGSEQ_SYNC_ASSETS"
bucket_name = "logseq-sync-assets"

[[durable_objects.bindings]]
name = "LOGSEQ_SYNC_INDEX_DO"
class_name = "SyncIndexDO"

[[migrations]]
tag = "v1"
new_sqlite_classes = ["SyncDO", "SyncIndexDO"]
