.SheetWithDetent-view {
  /* SELF-LAYOUT */
  z-index: 1;
  top: 0;
  bottom: initial;
  /* Adding 60px to make it fully visible below iOS Safari's
    bottom UI */
  height: calc(var(--silk-100-lvh-dvh-pct) + 60px);
}

.SheetWithDetent-content {
  /* SELF-LAYOUT */
  box-sizing: border-box;
  height: calc(100% - max(env(safe-area-inset-top), 6px));
  max-width: 800px;

  /* APPEARANCE */
  border-radius: 24px 24px 0 0;
  overflow: hidden;
  background-color: white;
}
@media (min-width: 800px) {
  .SheetWithDetent-content {
    /* SELF-LAYOUT */
    height: calc(100% - max(env(safe-area-inset-top), 5vh));

    /* APPEARANCE */
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: 24px;
  }
}

.SheetWithDetent-handle {
  /* SELF-LAYOUT */
  width: 50px;
  height: 6px;

  /* APPEARANCE */
  border: 0;
  border-radius: 9999px;
  background-color: rgb(209, 213, 219);

  /* INTERACTIVITY */
  cursor: pointer;
}
