.Toast-container {
  /* SELF-LAYOUT */
  position: fixed;
  z-index: 2;
}

.Toast-view {
  --padding-x: 0.75rem;
  --padding-top: 0.75rem;
  --padding-bottom: 2.75rem;
  --max-height: 90px;
  --contentHeight: calc(
    max(env(safe-area-inset-top, 0px), var(--padding-top)) + var(--max-height) +
      var(--padding-bottom)
  );
}
@media (min-width: 1000px) {
  .Toast-view {
    --padding-x: 0.875rem;
    --padding-top: 0.875rem;

    /* SELF-LAYOUT */
    height: var(--contentHeight);
  }
}

.Toast-content {
  /* SELF-LAYOUT */
  box-sizing: border-box;
  width: 100%;
  max-width: 560px;
  height: var(--contentHeight);

  /* APPEARANCE */
  background-color: transparent;

  /* INNER-LAYOUT */
  padding: var(--padding-x);
  padding-top: max(env(safe-area-inset-top), var(--padding-top));
  padding-bottom: var(--padding-bottom);
  display: grid;
}
@media (min-width: 1000px) {
  .Toast-content {
    /* SELF-LAYOUT */
    max-width: 400px;

    /* INNER-LAYOUT */
    padding-top: var(--padding-top);
  }
}

.Toast-innerContent {
  /* SELF-LAYOUT */
  max-height: var(--max-height);

  /* APPEARANCE */
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 24px;
  border: 1px solid rgb(240, 240, 240);
  background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: saturate(5) blur(20px);
}
