@import "_viewer.css";

:root {
  --ph-highlight-color-blue: #55b8fe;
  --ph-highlight-color-green: #46da48;
  --ph-highlight-color-red: #fd709a;
  --ph-highlight-color-purple: #ac8cf1;
  --ph-highlight-color-yellow: #fcd713;

  --ph-highlight-scroll-into-color: rgba(255, 75, 93, 0.67);
}

.extensions__pdf {
  &-loader {
    position: relative;
    min-height: 90vh;
  }

  &-viewer {
    position: absolute;
    overflow: auto;
    width: 100%;
    height: 100%;

    > .viewer-container {
    }
  }

  &-hls-text-region {
    position: absolute;
    opacity: 1;
  }

  .Highlight__popup {
    background-color: #3d464d;
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    max-width: 300px;
    max-height: 100px;
    overflow-y: scroll;
  }

  .Highlight--scrolledTo .hls-text-region-item {
    background: var(--ph-highlight-scroll-into-color);
  }
}

.hls-text-region-item {
  cursor: pointer;
  position: absolute;
  transition: background 0.3s;
  border:1px solid red;

  background-color: rgba(252, 219, 97, 0.7);
}

.hls-text-region-item[data-color=yellow] {
  background-color: var(--ph-highlight-color-yellow);
  opacity: .5;
}

.hls-text-region-item[data-color=blue] {
  background-color: var(--ph-highlight-color-blue);
}

.hls-text-region-item[data-color=green] {
  background-color: var(--ph-highlight-color-green);
}

.hls-text-region-item[data-color=red] {
  background-color: var(--ph-highlight-color-red);
}

.hls-text-region-item[data-color=purple] {
  background-color: var(--ph-highlight-color-purple);
}


body[data-page=home] {
  #main-content-container {
    margin: 0 !important;
    padding: 0 !important;
  }

  .cp__sidebar-main-content {
    > .pb-24 {
      max-width: unset;
    }
  }

  .extensions__pdf-loader {
    width: 100%;
  }

  .extensions__pdf {
    &-viewer {
      left: 0;
      width: 900px;
    }

    &-viewer-cnt {
      display: flex;
      padding-left: 950px;
      border-top: 1px solid #eee;
    }

    &-highlights {
      padding-right: 40px;

      pre {
        white-space: pre-wrap;
        font-size: 12px;
      }
    }
  }
}

/* overrides for pdf_viewer.css from PDF.JS web viewer */

.textLayer {
  z-index: 2;
  opacity: 1;
  mix-blend-mode: multiply;
}

.annotationLayer {
  position: absolute;
  top: 0;

  z-index: 3;
}

.textLayer > div:not(.PdfHighlighter__highlight-layer):not(.Highlight):not(.Highlight-emoji) {
  opacity: 1;
  mix-blend-mode: multiply;
}

.textLayer ::selection {
  background: rgba(252, 232, 151, 1);
  mix-blend-mode: multiply;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .textLayer {
    opacity: 0.5;
  }
}

/* Internet Explorer support method */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .textLayer {
    opacity: 0.5
  }
}

/* Microsoft Edge Browser 12+ (All) - @supports method */
@supports (-ms-ime-align:auto) {
  .textLayer {
    opacity: 0.5
  }
}
