{;; Currently, we support either "Markdown" or "Org".
 ;; This can overwrite your global preference so that
 ;; maybe your personal preferred format is Org but you'd
 ;; need to use Markdown for some projects.
 ;; :preferred-format ""

 ;; Preferred workflow style.
 ;; Value is either ":now" for NOW/LATER style,
 ;; or ":todo" for TODO/DOING style.
 :preferred-workflow :now

 ;; The app will ignore those directories or files.
 ;; E.g. "/archived" "/test.md"
 :hidden []

 ;; When creating the new journal page, the app will use your template if there is one.
 ;; You only need to input your template name here.
 :default-templates
 {:journals ""}

 ;; Whether to enable hover on tooltip preview feature
 ;; Default is true, you can also toggle this via setting page
 :ui/enable-tooltip? true

 :feature/enable-block-timestamps? false

 ;; Specify a custom CSS import
 ;; This option take precedence over your local `logseq/custom.css` file
 ;; You may find a list of awesome logseq themes here:
 ;; https://github.com/logseq/awesome-logseq#css-themes
 ;; Example:
 ;; :custom-css-url "@import url('https://cdn.jsdelivr.net/gh/dracula/logseq@master/custom.css');"

 ;; When :all-pages-public? true, export repo would export all pages within that repo.
 ;; Regardless of whether you've set any page to public or not.
 ;; Example:
 ;; :publishing/all-pages-public? true

 ;; Specify default home page and sidebar status for Logseq
 ;; If not specified, Logseq default opens journals page on startup
 ;; value for `:page` is name of page
 ;; Possible options for `:sidebar` are
 ;; 1. `"Contents"` to open up `Favorites` in sidebar by default
 ;; 2. `page name` to open up some page in sidebar
 ;; 3. Or multiple pages in an array ["Contents" "Page A" "Page B"]
 ;; If `:sidebar` is not set, sidebar will be hidden
 ;; Example:
 ;; 1. Setup page "Changelog" as home page and "Favorites" in sidebar
 ;; :default-home {:page "Changelog", :sidebar "Contents"}
 ;; 2. Setup page "Jun 3rd, 2021" as home page without sidebar
 ;; :default-home {:page "Jun 3rd, 2021"}
 ;; 3. Setup page "home" as home page with multiple pages in sidebar
 ;; :default-home {:page "home" :sidebar ["page a" "page b"]}

 ;; Tell logseq to use a specific folder in the repo as a default location for notes
 ;; if not specified, notes are stored in `pages` directory
 ;; :pages-directory "your-directory"

 ;; Tell logseq to use a specific folder in the repo as a default location for journals
 ;; if not specified, journals are stored in `journals` directory
 ;; :journals-directory "your-directory"

 ;; Set this to true will convert
 ;; `[[Grant Ideas]]` to `[[file:./grant_ideas.org][Grant Ideas]]` for org-mode
 ;; For more, see https://github.com/logseq/logseq/issues/672
 ;; :org-mode/insert-file-link? true

 ;; If you prefer to use the file name as the page title
 ;; instead of the first heading's title
 ;; the only option for now is `file`
 ;; :page-name-order "file"

 ;; Setup custom shortcuts under `:shortcuts` key
 ;; Syntax:
 ;; 1. `+` means keys pressing simultaneously. eg: `ctrl+shift+a`
 ;; 2. ` ` empty space between keys represents key chords. eg: `t s` means press `s` follow by `t`
 ;; 3. `mod` means `Ctrl` for Windows/Linux  and `Command` for Mac
 ;; 4. use `false` to disable particular shortcut
 ;; 4. you can define multiple bindings for one action, eg `["ctrl+j" "down"]`
 ;; full list of configurable shortcuts are available below:
 ;; https://github.com/logseq/logseq/blob/master/src/main/frontend/modules/shortcut/config.cljs
 ;; Example:
 ;; :shortcuts
 ;; {:editor/new-block       "enter"
 ;;  :editor/new-line        "shift+enter"
 ;;  :editor/insert-link     "mod+shift+k"
 ;;  :editor/hightlight       false
 ;;  :ui/toggle-settings     "t s"
 ;;  :editor/up              ["ctrl+k" "up"]
 ;;  :editor/down            ["ctrl+j" "down"]
 ;;  :editor/left            ["ctrl+h" "left"]
 ;;  :editor/right           ["ctrl+l" "right"]}
 :shortcuts {}

 ;; By default, pressing `Enter` in the document mode will create a new line.
 ;; Set this to `true` so that it's the same behaviour as the usual outliner mode.
 :shortcut/doc-mode-enter-for-new-block? false

 ;; Whether to show command doc on hover
 :ui/show-command-doc? true

 ;; Whether to show empty bullets for non-document mode (the default mode)
 :ui/show-empty-bullets? false

 ;; The app will show those queries in today's journal page,
 ;; the "NOW" query asks the tasks which need to be finished "now",
 ;; the "NEXT" query asks the future tasks.
 :default-queries
 {:journals
  [{:title            "🔨 NOW"
    :query            [:find (pull ?h [*])
                       :in $ ?start ?today
                       :where
                       [?h :block/marker ?marker]
                       [(contains? #{"NOW" "DOING"} ?marker)]
                       [?h :block/page ?p]
                       [?p :block/journal? true]
                       [?p :block/journal-day ?d]
                       [(>= ?d ?start)]
                       [(<= ?d ?today)]]
    :inputs           [:14d :today]
    :result-transform (fn [result]
                        (sort-by (fn [h]
                                   (get h :block/priority "Z")) result))
    :collapsed?       false}
   {:title      "📅 NEXT"
    :query      [:find (pull ?h [*])
                 :in $ ?start ?next
                 :where
                 [?h :block/marker ?marker]
                 [(contains? #{"NOW" "LATER" "TODO"} ?marker)]
                 [?h :block/ref-pages ?p]
                 [?p :block/journal? true]
                 [?p :block/journal-day ?d]
                 [(> ?d ?start)]
                 [(< ?d ?next)]]
    :inputs     [:today :7d-after]
    :collapsed? false}]}

 ;; Add your own commands to speedup.
 ;; E.g. [["js" "Javascript"]]
 :commands
 []

 ;; Macros replace texts and will make you more productive.
 ;; For example:
 ;; Add this to the macros below:
 ;; {"poem" "Rose is $1, violet's $2. Life's ordered: Org assists you."}
 ;; input "{{{poem red,blue}}}"
 ;; becomes
 ;; Rose is red, violet's blue. Life's ordered: Org assists you.
 :macros {}

 :markdown/version 2

 ;; The default level to be opened for the linked references.
 ;; For example, if we have some example blocks like this:
 ;; - a [[page]] (level 1)
 ;;   - b        (level 2)
 ;;     - c      (level 3)
 ;;       - d    (level 4)
 ;;
 ;; With the default value of level 2, `b` will be collapsed.
 ;; If we set the level's value to 3, `b` will be opened and `c` will be collapsed.
 :ref/default-open-blocks-level 2

 :ref/linked-references-collapsed-threshold 50

 ;; any number between 0 and 1 (the greater it is the faster the changes of the next-interval of card reviews) (default 0.5)
 ;; :srs/learning-fraction 0.5

 ;; the initial interval after the first successful review of a card (default 4)
 ;; :srs/initial-interval 4

 ;; hide specific properties for blocks
 ;; E.g. #{:created-at :updated-at}
 ;; :block-hidden-properties #{}
 }
