#ui__ac {
  &-inner {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;

    > .menu-link {
      padding: 6px 8px;
    }
  }
}

.ui__notifications {
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 3.2em;

  &-content {
    @apply inset-0 flex items-end justify-center px-4 py-3
    pointer-events-none sm:px-6 sm:py-3 sm:items-start
    sm:justify-end;
  }

  .notification-area {
    background-color: var(--ls-tertiary-background-color, #fff);
    color: var(--ls-primary-text-color);
  }
}

.ui__toggle {
  .wrapper {
    @apply relative inline-block flex-shrink-0
    h-6 w-11 border-2 border-transparent flex
    rounded-full cursor-pointer focus:outline-none focus:shadow-outline;
  }

  .switcher {
    @apply inline-block h-5 w-5 rounded-full bg-white shadow;
  }

  &.is-small {
    .wrapper {
      @apply h-4 w-8;
    }

    .switcher {
      @apply h-3 w-3;
    }
  }
}

.ui__modal {
  @apply fixed bottom-0 inset-x-0
  sm:inset-0 sm:flex sm:items-center sm:justify-center
  px-4 pb-4;

  &-overlay {
    @apply fixed inset-0 transition-opacity;
  }

  &-overlay div {
    background: var(--ls-quaternary-background-color);
  }

  &-panel {
    @apply relative bg-white rounded-md px-4 pt-5
    pb-4 shadow-xl;
  }

  &-close {
    @apply text-gray-400 hover:text-gray-500
    focus:outline-none focus:text-gray-500
    transition ease-in-out duration-150;
  }
}

.ui__confirm-modal {
  .sublabel {
    display: flex;
    padding: 2px 0;
    align-items: center;
    font-size: 14px;

    input[type=checkbox] {
      margin-right: 8px;
    }
  }
}

.ui__button_base {
  @apply inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4
  font-medium rounded-md text-white
  bg-gray-500 hover:bg-gray-700 active:bg-gray-700
  focus:border-gray-700 focus:shadow-outline-gray
  focus:outline-none transition
  ease-in-out duration-150 mt-1;

  &.is-logseq {
    @apply focus:border-gray-500;

    color: var(--ls-primary-text-color);
    background: var(--ls-secondary-background-color);
  }

  &.is-primary {
    @apply bg-indigo-600 hover:bg-indigo-700 active:bg-indigo-700
    focus:border-indigo-700 focus:shadow-outline-indigo;
  }
}

.dropdown-wrapper {
  background-color: var(--ls-primary-background-color, #fff);
  min-width: 12rem;
}

.dropdown-caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  content: "";
  border-top-style: solid;
  border-top-width: 4px;
  border-right: 4px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 4px solid transparent;
}

.form-select {
  @apply block w-full pl-3 pr-10 py-2 text-base leading-6
  border-gray-300 focus:outline-none focus:shadow-outline-blue sm:text-sm sm:leading-5;

  background-color: var(--ls-primary-background-color, transparent);
  background-repeat: no-repeat;
  border-width: 1px;
  border-color: var(--ls-border-color);

  &.is-small {
    @apply pl-2 py-1.5 sm:leading-4 sm:text-xs;
  }
}

.form-input {
  @apply block w-full pl-2
  sm:text-sm sm:leading-5;

  border-width: 1px;
  border-color: var(--ls-border-color);

  &:focus {
    box-shadow: 0 0 0 2px rgba(164, 202, 254, 0.45);
  }

  &.is-small {
    @apply py-1.5 sm:leading-4 sm:text-xs;
  }
}
