{:up ["CREATE TABLE tokens (
  id uuid DEFAULT uuid_generate_v4() NOT NULL UNIQUE,
  user_id uuid NOT NULL,
  oauth_type text NOT NULL,
  oauth_id text NOT NULL UNIQUE,
  oauth_token text NOT NULL UNIQUE,
  created_at timestamp with time zone DEFAULT timezone('UTC'::text, now()) NOT NULL,
  CONSTRAINT created_at_chk CHECK ((date_part('timezone'::text, created_at) = '0'::double precision))
);"
      ]
 :down ["drop table tokens"]}
