{:up ["CREATE TABLE repos (
  id uuid DEFAULT uuid_generate_v4() NOT NULL UNIQUE,
  user_id uuid NOT NULL,
  url text NOT NULL,
  created_at timestamp with time zone DEFAULT timezone('UTC'::text, now()) NOT NULL,
  CONSTRAINT created_at_chk CHECK ((date_part('timezone'::text, created_at) = '0'::double precision))
);"
      "CREATE UNIQUE INDEX idx_repos_user_repo ON repos(user_id, url);"]
 :down ["drop table repos"]}
