.page-inner {
  @apply w-full md:max-w-screen-xl;

  &-full-wrap {
    @apply w-full;
  }
}

.app-head-showcase {
  @apply overflow-hidden;

  height: 790px;
  -webkit-font-smoothing: antialiased;

  > .inner {
    padding-top: 60px;
  }

  .item-wrap {
  }

  .text-1 {
    padding-top: 75px;
    line-height: 4.25rem;
  }

  .image-2 {
    background-image: url("./assets/header_bg.png");
    background-size: contain;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: 570px;
    background-position-y: -110px;
    background-position-x: -12px;
  }

  .cards-3 {
    @apply absolute;

    width: 500px;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);

    .glass-card {
      &.a {
      }

      &.b, &.c {
        flex-basis: 220px;

        .glass-card-inner {
          @apply flex text-sm;
          min-height: 110px;
        }

        .avatar {
          &-img {
            width: 60px;
            height: 60px;
            border-radius: 100%;
            overflow: hidden;
            background-image: url("./assets/avatar.png");
            background-size: contain;
            text-indent: -999px;
          }
        }

        .info {

        }
      }

      &.c {
        flex: 1;

        .glass-card-inner {
          min-height: 110px;
        }

        .avatar {
          &-img {
            width: 60px;
            height: 84px;
            border-radius: unset;
            overflow: hidden;
            background-image: url("./assets/cover.png");
            background-size: contain;
            text-indent: -999px;
          }
        }

      }
    }
  }

  .actions-4 {
    @apply absolute w-full flex justify-center pt-20 pb-5;

    bottom: 0;

    &:before {
      @apply absolute top-0 left-0 w-full bg-gradient-to-t h-16 from-logseq-800 via-logseq-800;

      content: " ";
    }

    > button {
      position: relative;
      top: -10px;
    }
  }
}

.outliner-list {
  &-demo {

  }

  &-item {
    @apply relative text-sm;

    padding-left: 18px;

    &:before {
      content: "•";
      position: absolute;
      font-size: 26px;
      font-weight: bold;
      left: 0;
      top: 0;
      opacity: .4;
    }

    > .content {
      @apply flex items-center text-logseq-50/90 py-0.5;

      marker {
        @apply font-bold text-gray-500 text-xs inline-block pr-1 opacity-80;
      }

      &.is-todo {
        &:before {
          @apply border border-logseq-100/50 inline-block mr-1 rounded;

          content: " ";
          width: 14px;
          height: 14px;
        }
      }
    }

    > .subs {
      @apply relative pl-0.5 mt-0.5;

      &:before {
        @apply bg-logseq-50 absolute -top-0.5 -bottom-1 rounded opacity-20;

        content: " ";
        width: 4px;
        left: -14px;
      }
    }

    .ref {
      &:before {
        @apply text-gray-200 opacity-20 inline-block pr-0.5;
        content: "[[";
      }

      &:after {
        @apply text-gray-200 opacity-20 inline-block pl-0.5;
        content: "]]";
      }
    }
  }
}

.app-tutorial-showcase {
  min-height: 100vh;

  > .hd {
    letter-spacing: 1px;

    h1, h2 {
      line-height: 3.8rem;
    }

    h3, h4 {
      line-height: 2rem;
    }
  }

  > .sub-hd {
    @apply -mt-8 px-80;

    > li {
      @apply flex flex-col text-xl items-center flex-1 tracking-wide text-center;

      &:before {
        content: " ";
        width: 80px;
        height: 80px;
        background-color: beige;
        margin-bottom: 8px;
        background-image: url("./assets/features_sp.png");
        background-size: 560px;
        background-repeat: no-repeat;
        background-position-x: -32px;
      }

      &:nth-child(2):before {
        background-position-x: -255px;
      }

      &:nth-child(3):before {
        background-position-x: -464px;
      }
    }
  }
}

.app-tutorial-features-slide {
  @apply py-14 px-10;

  ul.tabs {
    li {
      @apply flex flex-col items-center bg-logseq-600/90 rounded-xl
      flex-1 py-3 px-2 justify-center select-none cursor-pointer
      active:opacity-80 border-2 border-transparent transition-all;

      &:hover, &.active {
        @apply border-gradient-br-yellow-purple-red-logseq-900;
      }

      > span {
        font-size: 36px;
      }

      > strong {
        @apply text-lg font-normal opacity-70 text-center;
      }
    }
  }

  article.panels {
    @apply border mt-8 rounded-2xl border-logseq-500 bg-logseq-700/90 overflow-hidden;

    min-height: 300px;

    > .hd {
      > strong {
        @apply flex space-x-2 px-3 py-2;

        > i {
          @apply flex-1 bg-logseq-100/10 rounded-md h-[6px] overflow-hidden;
        }
      }

      > h1 {
        @apply mt-4 my-2;
      }

      @apply flex flex-col px-2 py-4;
    }
  }
}

.app-tutorial-tips {
  @apply mx-16 my-8;

  > .hd {
    h1, h2 {
      font-size: 60px;
      line-height: 1.2em;
    }

    h1, h3 {
      @apply opacity-60;
    }

    h2 {
      @apply font-bold mb-6;
    }

    h3, h4 {
      font-size: 38px;
      line-height: 1.2em;
    }
  }

  > .bd {
    @apply my-16 -mx-10;

    > .bd-slides {
      @apply flex flex-col items-center justify-center px-6;

      flex-basis: 486px;
      width: 0;

      .items {
        @apply border bg-logseq-500 w-full border-gray-400/50 rounded-3xl;

        height: 240px;

        > .item {
          @apply flex flex-col w-full py-4 px-6;

          > h1 {
            @apply flex items-center py-2;

            button {
              @apply py-2 px-5 font-bold opacity-80 text-gray-300/60 uppercase;
            }
          }

          .progress {
            @apply flex space-x-2 my-4;

            > i {
              @apply flex-1 h-[4px] bg-gray-500/30 rounded-md overflow-hidden;

              &:first-child:before {
                @apply flex h-[4px] w-1/6 bg-logseq-200/80;

                content: " ";
              }
            }
          }
        }
      }

      .actions {
        @apply w-full justify-between px-2 py-2 mt-3;

        .prev, .next {
          @apply opacity-80 cursor-pointer select-none hover:opacity-90;
        }
      }
    }

    > .bd-info {
      @apply border flex-1 border-logseq-400 rounded-2xl overflow-hidden ml-4 relative;
    }
  }
}

.page-home {
  @apply flex flex-col items-center;

  .page-inner-full-wrap {
    @apply bg-[#001419] flex items-center justify-center;

    &.a {
      position: relative;
      min-height: 220px;
      background-image: url("./assets/full-bg-a.png");
      background-size: contain;
      background-position-y: -60px;
      background-repeat: no-repeat;
      padding-top: 160px;
      z-index: 2;

      &:before {
        @apply absolute bottom-0 left-0 w-full;
        content: " ";
        height: 200px;
        background-image: url("./assets/full-bg-c-gradient.png");
        background-repeat: repeat-x;
        z-index: 1;
        background-position: bottom;
      }
    }
  }
}

.glass-btn {
  @apply backdrop-blur-sm bg-logseq-500/20 px-3 py-2 rounded-md border border-gray-500/20
  select-none active:opacity-70 cursor-pointer hover:border-gray-500/50;
}
