.page-inner {
  @apply w-full md:max-w-screen-xl;

  &-full-wrap {
    @apply w-full;
  }

  &.footer-desc {
    max-width: 1440px;

    background-image: url("./assets/light_spots_full_bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: bottom;
  }

  &.footer-nav {
    @apply flex justify-center pt-16;

    max-width: unset !important;
    width: 100%;
    background-color: #011b22;
  }
}

.app-head-showcase {
  height: 790px;
  -webkit-font-smoothing: antialiased;

  > .inner {
    padding-top: 60px;
  }

  .item-wrap {
  }

  .text-1 {
    padding-top: 75px;
    line-height: 4.25rem;
  }

  .image-2 {
    background-image: url("./assets/header_bg.png");
    background-size: contain;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: 570px;
    background-position-y: -110px;
    background-position-x: -12px;
  }

  .cards-3 {
    @apply absolute;

    width: 500px;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);

    .glass-card {
      &.a {
      }

      &.b, &.c {
        flex-basis: 220px;

        .glass-card-inner {
          @apply flex text-sm;
          min-height: 110px;
        }

        .avatar {
          &-img {
            width: 60px;
            height: 60px;
            border-radius: 100%;
            overflow: hidden;
            background-image: url("./assets/avatar.png");
            background-size: contain;
            text-indent: -999px;
          }
        }

        .info {

        }
      }

      &.c {
        flex: 1;

        .glass-card-inner {
          min-height: 110px;
        }

        .avatar {
          &-img {
            width: 60px;
            height: 84px;
            border-radius: unset;
            overflow: hidden;
            background-image: url("./assets/cover.png");
            background-size: contain;
            text-indent: -999px;
          }
        }

      }
    }
  }

  .actions-4 {
    @apply absolute w-full flex justify-center pt-20 pb-5;

    bottom: 0;

    &:before {
      @apply absolute top-0 left-0 w-full bg-gradient-to-t h-16 from-logseq-800 via-logseq-800;

      content: " ";
    }

    > button {
      position: relative;
    }
  }
}

.outliner-list {
  &-demo {

  }

  &-item {
    @apply relative text-sm;

    padding-left: 18px;

    &:before {
      content: "•";
      position: absolute;
      font-size: 26px;
      font-weight: bold;
      left: 0;
      top: 0;
      opacity: .4;
    }

    > .content {
      @apply flex items-center text-logseq-50/90 py-0.5;

      .marker {
        @apply font-bold text-gray-500 text-xs inline-block pr-1 opacity-80;
      }

      &.is-todo {
        &:before {
          @apply border border-logseq-100/50 inline-block mr-1 rounded;

          content: " ";
          width: 14px;
          height: 14px;
        }
      }
    }

    > .subs {
      @apply relative pl-0.5 mt-0.5;

      &:before {
        @apply bg-logseq-50 absolute -top-0.5 -bottom-1 rounded opacity-20;

        content: " ";
        width: 4px;
        left: -14px;
      }
    }

    .ref {
      &:before {
        @apply text-gray-200 opacity-20 inline-block pr-0.5;
        content: "[[";
      }

      &:after {
        @apply text-gray-200 opacity-20 inline-block pl-0.5;
        content: "]]";
      }
    }
  }
}

.app-tutorial-showcase {
  min-height: 100vh;

  > .hd {
    letter-spacing: 1px;

    h1, h2 {
      line-height: 3.8rem;
    }

    h3, h4 {
      line-height: 2rem;
    }
  }

  > .sub-hd {
    @apply -mt-8 px-80;

    > li {
      @apply flex flex-col text-xl items-center flex-1 tracking-wide text-center;

      &:before {
        content: " ";
        width: 80px;
        height: 80px;
        background-color: beige;
        margin-bottom: 8px;
        background-image: url("./assets/features_sp.png");
        background-size: 560px;
        background-repeat: no-repeat;
        background-position-x: -32px;
      }

      &:nth-child(2):before {
        background-position-x: -255px;
      }

      &:nth-child(3):before {
        background-position-x: -464px;
      }
    }
  }
}

.app-tutorial-features-slide {
  @apply py-14 px-10;

  ul.tabs {
    li {
      @apply flex flex-col items-center bg-logseq-600/90 rounded-xl
      flex-1 py-3 px-2 justify-center select-none cursor-pointer
      active:opacity-80 border-2 border-transparent transition-all;

      &:hover, &.active {
        @apply border-gradient-br-yellow-purple-red-logseq-900;
      }

      > span {
        font-size: 36px;
      }

      > strong {
        @apply text-lg font-normal opacity-70 text-center;
      }
    }
  }

  article.panels {
    @apply border mt-8 rounded-2xl border-logseq-500 bg-logseq-700/90 overflow-hidden;

    min-height: 300px;

    > .hd {
      > strong {
        @apply flex space-x-2 px-3 py-2;

        > i {
          @apply flex-1 bg-logseq-100/10 rounded-md h-[6px] overflow-hidden;
        }
      }

      > h1 {
        @apply mt-4 my-2;
      }

      @apply flex flex-col px-2 py-4;
    }
  }
}

.app-tutorial-tips {
  @apply mx-16 my-8;

  > .hd {
    h1, h2 {
      font-size: 60px;
      line-height: 1.2em;
    }

    h3 {
      @apply opacity-60;
    }

    h2 {
      @apply font-bold mb-6;
    }

    h3, h4 {
      font-size: 38px;
      line-height: 1.2em;
    }
  }

  > .bd {
    @apply my-16 -mx-10 relative;

    > .bd-slides {
      @apply flex flex-col items-center justify-center px-6
      border bg-logseq-500 border-gray-400/50 rounded-3xl relative;

      flex-basis: 486px;
      width: 0;
      height: 240px;

      .items {
        @apply w-full;

        height: 240px;

        > .item {
          @apply flex flex-col w-full py-4 px-6;

          > h1 {
            @apply flex items-center py-2;

            button {
              @apply py-2 px-5 font-bold opacity-80 text-gray-300/60 uppercase;
            }
          }

          .progress {
            @apply flex space-x-2 my-4;

            > i {
              @apply flex-1 h-[4px] bg-gray-500/30 rounded-md overflow-hidden;

              > small {
                @apply flex h-[4px] bg-logseq-200/80 transition-all;
              }
            }
          }
        }
      }
    }

    > .bd-actions {
      @apply justify-between px-2 py-2 mt-3 absolute;

      width: 482px;
      top: 240px;

      .prev, .next {
        @apply opacity-80 cursor-pointer select-none hover:opacity-90 active:opacity-90;
      }
    }

    > .bd-info {
      @apply border flex-1 border-logseq-400 rounded-2xl overflow-hidden ml-4 relative;
    }
  }
}

.app-landing-footer {
  &-desc {
    @apply -translate-y-6;

    > .cards {
      @apply flex-wrap mx-[5.5rem] my-12 translate-y-5;

      > .item {
        @apply basis-1/4;

        > .inner {
          @apply bg-logseq-600/90 p-4 rounded-lg;
        }
      }
    }

    > .actions {
      @apply rounded-3xl mx-10 mt-24 flex flex-col items-center py-16;
    }
  }

  &-navs {
    @apply flex justify-between pt-6 pb-14 pl-5 pr-12 items-center;
  }
}

.app-page {
  @apply flex flex-col items-center;

  .page-inner-full-wrap {
    @apply flex items-center justify-center flex-col;

    &.a {
      @apply bg-[#001419] relative;

      min-height: 220px;
      background-image: url("./assets/full-bg-a.png");
      background-size: contain;
      background-position-y: -60px;
      background-repeat: no-repeat;
      padding-top: 160px;

      .page-inner {
        z-index: 2;

        @screen lg {
          max-width: 1440px;
        }
      }

      .text-slogan {
        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 -mt-16 tracking-wide;

        > h1 {
          line-height: 1.2em;
        }
      }

      &:before {
        @apply absolute bottom-0 left-0 w-full;
        content: " ";
        height: 525px;
        background-image: url("./assets/full-bg-c-gradient.png");
        background-repeat: repeat-x;
        z-index: 1;
        background-position: bottom;
      }
    }

    &.b {
      background-image: url("./assets/light_spots_bg.png");
    }
  }
}

.app-daily-showcase {
  @apply -mt-2 relative mb-10;

  z-index: 3;

  > .tabs {

    > .it {
      @apply items-center py-6
      bg-logseq-700 rounded-xl cursor-pointer select-none border-2 border-transparent
      transition-all active:opacity-80;

      &:hover, &.active {
        @apply border-gradient-b-blue-white-green-logseq-900;
      }

      &.active strong {
        @apply opacity-80 font-semibold;
      }
    }
  }

  > .panels {
    @apply px-5;

    .desc {
      opacity: .8;
      height: 140px;

      > span {
        @apply opacity-60;
      }
    }

    .card {
      @apply pt-10 pb-20;

      > .l {
        @apply flex flex-1 border rounded-xl border-logseq-500 overflow-hidden;
      }

      > .r {
        @apply pl-6 flex;

        width: 500px;

        > .inner {
          @apply border p-6 w-full rounded-xl border-gray-700/80 bg-logseq-800/10
          flex flex-col justify-between;

          > .t {
          }

          > .b {
            font-size: 26px;

            -webkit-font-smoothing: antialiased;

            > .fd {
              line-height: 35px;
              padding-bottom: 12px;

              span {
                @apply opacity-60;
              }
            }

            > .ft {
              @apply flex justify-between pt-3 pb-2;

              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

.particles-bg {
  @apply absolute top-8 left-0 bottom-0 right-0 opacity-50;
}
