:root {
  --ls-page-title-size: 26px;
  --silk-topbar-height: 48px;
}

html.is-native-ios {
  --safe-area-inset-top: 59px;
  --safe-area-inset-bottom: 16px;
}

html.is-native-android {
  --safe-area-inset-top: 46px;
  --safe-area-inset-bottom: 16px;
}

html.plt-capacitor.plt-android {
  --ion-safe-area-top: 42px;
  --ion-safe-area-bottom: 16px;

  ion-button, ion-tab-button {
    --ripple-color: rgba(0, 0, 0, .3); /* 设置涟漪颜色为透明 */
  }

  ion-app {
    margin-top: 0;
  }

  .header-md {
    box-shadow: 0 2px 8px #eee;
    border-bottom: .5px solid rgba(0, 0, 0, .15);
  }

  .searchbar-input.sc-ion-searchbar-md {
    @apply shadow-none;
  }

  ion-modal {
    ion-content {
      #app-container-wrapper {
        @apply pt-0;
      }
    }
  }

  .pswp__top-bar {
    @apply relative top-8;
  }
}

html.plt-mobile {
  button {
    /* fix ionic default style */
    border-style: solid;
  }
}

html.has-mobile-keyboard {
  .ion-page:not(.ion-page-hidden) {
    & > ion-content::part(scroll) {
      padding-bottom: 512px !important;
    }
  }
}

html {
  &[data-theme=dark] {
    &[data-color=logseq] {
      --background: var(--ls-primary-background-color);
      --ion-item-background: var(--ls-primary-background-color);
      --ion-text-color: var(--ls-primary-text-color);
      --ion-toolbar-color: var(--ls-link-text-color);
      --ion-item-color: var(--ls-primary-text-color);
      --ion-item-border-color: var(--ls-border-color);

      input, textarea {
        caret-color: var(--ls-primary-text-color);
      }

      ion-toolbar::part(background), ion-tab-bar,
      ion-tab-button, ion-header {
        background-color: var(--lx-gray-01);
      }

      ion-modal {
        --background: var(--lx-gray-01);
        --backdrop-color: var(--ls-secondary-background-color);
      }

      #mobile-editor-toolbar {
        background: var(--ls-secondary-background-color);
      }

      .action-sheet-group.sc-ion-action-sheet-ios,
      .alert-wrapper.sc-ion-alert-ios {
        --background: var(--ls-primary-background-color);
        --button-background: var(--ls-primary-background-color);
        --button-color: var(--ls-primary-text-color);
      }

      .header-md {
        box-shadow: 0 2px 8px var(--ls-secondary-background-color);
      }

      .sc-ion-buttons-ios, .sc-ion-buttons-md {
        &.text-muted-foreground {
          color: var(--lx-gray-02);
        }
      }
    }
  }
}

ul {
  @apply !list-disc ml-1 mt-2 list-inside;

  li {
    @apply pl-0;
  }
}

.bg-background {
  @apply bg-gray-01;
}

ion-textarea {
  textarea {
    @apply !p-1 min-h-[120px];
  }
}

ion-buttons {
  &:has(.app-graph-select) {
    @apply max-w-[60%] overflow-hidden;
  }
}

.pswp__top-bar {
  @apply top-8;
}

#journals {
  .ls-view-body {
    .block-main-container {
      @apply pr-10;
    }

    .ls-block .block-control {
      @apply !right-5 !top-1;
    }
  }
}

.app-graph-select {
  ion-button {
    &::part(native) {
      @apply whitespace-nowrap overflow-hidden font-semibold active:opacity-80 pr-8;
    }
  }
}

.sc-ion-buttons-md {
  &.text-muted-foreground {
    @apply text-gray-600;
  }
}

.app-login-modal {
  @apply mx-8 p-0;
}

.ui__notifications {
  @apply fixed top-8 pointer-events-none w-full;

  z-index: 9999;

  &-content {
    @apply inset-0 flex items-end justify-center px-4 py-2
    pointer-events-none sm:px-6 sm:py-2 sm:items-start sm:justify-end;
  }

  .notification-area {
    @apply border;

    background-color: var(--ion-color-light-tint);
  }
}

.block-modal-page {
  &-header {
    @apply pt-5 pb-1 px-4 flex justify-between bg-gray-01
    sticky top-0 left-0 w-full z-[1];
  }

  &-content {
    #app-container-wrapper {
      @apply relative px-6;
    }

    .ls-view-body {
      @apply max-w-[90vw];
    }
  }
}

.block-content-or-editor-inner {
  @apply min-h-[25px];
}

ion-tab-bar {
  box-shadow: 0 0 1px #999999;
  padding-top: 4px;

  ion-tab-button {
    @apply opacity-70;

    &.tab-selected {
      @apply opacity-100 text-accent-11 font-semibold;
    }
  }
}

.app-silk-popup-sheet-view {
  .property-select {
    .cp__select-main {
      @apply w-auto;
    }
  }

  .cp__emoji-icon-picker {
    @apply w-full;
  }
}

.blocks-container {
  .block-main-container {
    &[data-has-heading] {
      > .block-control-wrap {
        @apply static;
      }
    }

    &[data-has-heading="1"], &:has(textarea.h1) {
      > .block-control-wrap, > .block-control-wrap > .block-control {
        @apply mt-[18px];
      }
    }

    &[data-has-heading="2"], &:has(textarea.h2) {
      > .block-control-wrap, > .block-control-wrap > .block-control {
        @apply mt-3;
      }
    }
  }
}

.latex.initial {
  @apply pt-1;

  .katex-html {
    &[aria-hidden="true"] {
      @apply hidden;
    }
  }
}

[type='text']:focus, [type='email']:focus, [type='url']:focus,
[type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus,
[type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus,
[multiple]:focus, textarea:focus, select:focus {
  box-shadow: none;
}

.ui__popover-content, .ui__dropdown-menu-content {
  &[data-editor-popup-ref=page-search],
  &[data-editor-popup-ref=page-search-hashtag],
  &[data-editor-popup-ref=commands] {
    min-width: 61.8vw;
    max-width: calc(100vw - 40px);

    &[data-side=top] {
      max-height: var(--top-popup-content-max-height, 50vh);
    }

    &[data-side=bottom] {
      max-height: var(--bottom-popup-content-max-height, 50vh);
    }
  }
}

html[data-color=logseq] {
  &[data-theme=light] {
    --ion-color-primary: var(--rx-logseq-11);
  }
}

.graph-switcher .action-sheet-button {
  font-size: 1.125em;
}

@container ls-block (max-width: 430px) {
  .block-modal-page .ls-properties-area {
    display: initial;
  }
}

.property-key {
  min-width: 0px;
}

.property-block-container {
  margin-left: 0px;
}

.ls-page-title .ls-page-icon svg, .ls-page-title .ls-page-icon button {
  width: 26px;
  height: 26px;
}

.ls-page-title .ls-page-icon button {
  margin-top: 6px;
}

.ls-page-title {
  margin-left: -8px;
}

.ls-block[draggable="true"] {
  &.dragging {
    @apply bg-gray-02;
  }
}

/* silk styles */
.app-silk-index-scroll-content {
  @apply bg-gray-01 min-h-[100svh];
}

.app-silk-sheet-scroll-content {
  @apply flex flex-col items-center;


}

.BottomSheet-bleedingBackground,
.SheetWithDepth-bleedingBackground {
  @apply bg-gray-01;
}

.app-silk-scroll-view {
  grid-area: 1 / 1;
  min-height: 0;
  width: 100%;
  overflow: clip;
  border-radius: 24px 24px 0 0;
  position: relative;
}

.app-silk-scroll-content {
  overflow: hidden;
  overflow: clip;
  position: relative;
  display: grid;
}

.app-silk-index-container {
  @apply p-4 flex flex-col gap-3 bg-gray-01;

  padding-top: calc(var(--safe-area-inset-top, 0px) + var(--silk-topbar-height) + 10px);
}

.app-silk-topbar {
  @apply fixed top-0 left-0 w-full border-b bg-gray-02 dark:bg-gray-01
  justify-between items-center overflow-hidden px-2 grid grid-cols-8 gap-4;

  padding-bottom: 10px;
  padding-top: calc(var(--safe-area-inset-top, 0px) + 10px);
  height: 48px;

  &.search {
    @apply hidden;
  }

  > .as-left, .as-right {
    @apply flex items-center col-span-2 gap-2;

    .ui__button {
      @apply opacity-50 px-1;

      &:active {
        @apply opacity-80;
      }
    }
  }

  > .as-right {
    @apply justify-end px-1;
  }

  > .title {
    @apply font-semibold overflow-hidden text-ellipsis whitespace-nowrap col-span-4
    block text-center;
  }
}

.app-silk-tabs {
  @apply flex items-center h-[54px] border-t overflow-hidden
  bg-gray-02 fixed left-0 bottom-0 w-full z-[1] dark:bg-gray-01;

  > .as-item {
    @apply flex flex-1 flex-col items-center pb-1 transition-opacity;
    @apply opacity-40 active:opacity-70;

    &.active {
      @apply text-accent-10 opacity-100;

      > small {
        @apply font-semibold;
      }
    }

    > small {
      @apply text-[9px] -mt-2;
    }
  }
}

.app-silk-search-page {
  > .hd {
    @apply relative;

    .ls-icon-search {
      @apply absolute left-3 top-3 opacity-60;
    }

    .ui__input {
      @apply border-none bg-gray-04 pl-10 outline-none ring-0;

      outline-offset: 0;
      box-shadow: none;
    }

    > .x {
      @apply absolute top-3 right-2.5 w-[18px] h-[18px] bg-gray-10 overflow-hidden
      rounded-full flex items-center justify-center text-gray-02 opacity-80;
    }
  }

  > .bd {
    @apply -mx-4 pt-2;
  }
}


