{;; Only lint production namespaces as most dev
 ;; namespaces are unused
 :paths ["src/main" "src/electron" "src/test"]
 :api-namespaces [
                  ;; Ignore b/c too many false positives
                  frontend.db
                  ;; Used for debugging
                  frontend.db.debug]
 :report {:format :ignore}}
