on:
  workflow_dispatch:
    inputs:
      age_key:
        description: 'Enter a public age key'
        required: true
        type: string
jobs:
  dump-and-encrypt-secrets:
    runs-on: ubuntu-latest
    steps:
      - name: Install age
        run: |
          sudo apt-get update
          sudo apt-get install -y age
      - env: ${{ secrets }}
        run: |
          env | age -a -e -r "${{ inputs.age_key }}" > env.age
      - uses: actions/upload-artifact@v4
        with:
          name: env.age
          path: env.age
          retention-days: 1
