{:env #or [#env ENVIRONMENT "dev"]
 :port #or [#env PORT 8080]
 :oauth {:github {:app-key #env GITHUB_APP_KEY
                  :app-secret #env GITHUB_APP_SECRET
                  :redirect-uri #env GITHUB_REDIRECT_URI}}
 :jwt-secret #env JWT_SECRET
 :cookie-secret #env COOKIE_SECRET
 :log-path #or [#env LOG_PATH "/tmp/gitnotes"]
 :hikari-spec {:auto-commit        true
               :read-only          false
               :connection-timeout 30000
               :validation-timeout 5000
               :idle-timeout       600000
               :max-lifetime       1800000
               :minimum-idle       10
               :maximum-pool-size  48
               :pool-name          "gitnotes-clj-db-pool"
               :adapter            "postgresql"
               :username           #env PG_USERNAME
               :password           #env PG_PASSWORD
               :database-name      "gitnotes"
               :server-name        "localhost"
               :port-number        5432
               :register-mbeans    false}}
