node_modules/
public/static/js/cljs-runtime
public/static/js/main.js
public/static/js/manifest.edn

/.cpcache
/target
/checkouts
/src/gen

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/
