;; shadow-cljs configuration
{:deps     true
 :nrepl        {:port 8701}

 :builds
 {:app
  {:target :browser
   :modules {:main {:init-fn frontend.core/init}}

   :output-dir "../resources/static/js"
   :asset-path "/static/js"

   :compiler-options {:infer-externs :auto
                      :externs ["datascript/externs.js"]}
   ;; TODO: purge-css not working properly
   ;; :build-hooks [(shadow.hooks/purge-css
   ;;                {:css-source "node_modules/@tailwindcss/ui/dist/tailwind-ui.min.css"
   ;;                 :js-globs   ["resources/static/js/*.js"]
   ;;                 :public-dir    "resources/static/css"})]
   :devtools
   ;; before live-reloading any code call this function
   {:before-load frontend.core/stop
    ;; after live-reloading finishes call this function
    :after-load frontend.core/start
    :preloads     [devtools.preload]}}}}
